container_commands:
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python ctstem_site/manage.py migrate --fake --noinput"
    leader_only: true

  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python ctstem_site/manage.py createsu"
    leader_only: true

  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python ctstem_site/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "ctstem_site.settings"
    "PYTHONPATH": "/opt/python/current/app/ctstem_site:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: ctstem_site/ctstem_site/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
