{% extends "ctstem_app/base.html" %}

{% block content %}
  {{block.super}}

  <div class="content">
    <h2>About Us</h2>

    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header">Principal Investigators</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="http://ct-stem.northwestern.edu/assets/MichaelHorn.jpg" alt="">
        </a>
        <h4>
          Dr. Mike Horn
        </h4>
        <p>Assistant Professor of Learning Sciences and Computer Science; Director of the Tangible Interaction Design and Learning Lab</p>
      </div>
      <div class="col-md-2 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage150200-kjona2.png" alt="">
        </a>
        <h4>
          <a href="#">Dr. Kemi Jona</a>
        </h4>
        <p>Professor of Learning Sciences and Computer Science; Director of the Office of STEM Education Partnerships</p>
      </div>
      <div class="col-md-2 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage150200-vkalogera.png" alt="">
        </a>
        <h4>
          <a href="#">Dr. Vicky Kalogera</a>
        </h4>
        <p>Professor of Physics and Astronomy; Co-Director of the NU Center for Interdisciplinary Exploration and Research in Astrophysics</p>
      </div>
      <div class="col-md-2 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage150200-ltrouille2.png" alt="">
        </a>
        <h4>
          <a href="#">Dr. Laura Trouille</a>
        </h4>
        <p>CIERA astrophysics Postdoctoral Fellow</p>
      </div>
      <div class="col-md-2 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="http://ct-stem.northwestern.edu/assets/uwilensky2.png" alt="">
        </a>
        <h4>
          <a href="#">Dr. Uri Wilensky</a>
        </h4>
        <p>Professor of Learning Sciences and Computer Science; Director of the Center for Connected Learning and Computer Based Modeling</p>
      </div>
    </div>

    <h2>About Us</h2>
    <h3>&nbsp; Principal Investigators</h3>
    <table style="width: 836px; height: 335px;" border="0">
      <tbody>
        <tr>
          <td align="center" valign="middle">
            <img class="left" src="assets/MichaelHorn.jpg" width="150" height="200" alt="" title="">
          </td>
          <td align="center" valign="middle">
            <img class="left" src="assets/_resampled/resizedimage150200-kjona2.png" width="150" height="200" alt="" title=""><br>
          </td>
          <td align="center" valign="middle">
            <img class="left" src="assets/_resampled/resizedimage150200-vkalogera.png" width="150" height="200" alt="" title="">
          </td>
          <td align="center" valign="middle">
            <img class="left" src="assets/_resampled/resizedimage150200-ltrouille2.png" width="150" height="200" alt="" title=""><br>
          </td>
          <td align="center" valign="middle">
            <img class="left" src="assets/uwilensky2.png" width="150" height="200" alt="" title="">
          </td>
        </tr>
        <tr style="text-align: center;">
          <td align="center" valign="top">
            <p><strong>Dr. Mike Horn</strong></p>
            <address>Assistant Professor </address>
            <address>of Learning Sciences</address>
            <address> and Computer Science; Director of the Tangible Interaction Design and Learning Lab<br>
            </address>

          </td>
          <td align="center" valign="top">
            <p style="text-align: center;"><strong>Dr. Kemi Jona</strong></p>
            <address style="text-align: center;">Professor of Learning Sciences and Computer Science; Director of the Office of STEM Education Partnerships<br></address>
          </td>
          <td align="center" valign="top">
            <p style="text-align: center;"><strong>Dr. Vicky Kalogera</strong></p>
            <address style="text-align: center;">Professor of Physics and Astronomy; Co-Director of the NU Center for Interdisciplinary Exploration and  Research in Astrophysics<br></address>
          </td>
          <td align="center" valign="top">
            <p><strong>Dr. Laura Trouille</strong></p>
            <address><strong>&nbsp;</strong>CIERA astrophysics Postdoctoral Fellow</address>
          </td>
          <td align="center" valign="top">
            <p><strong>Dr. Uri Wilensky</strong></p>
            <address>Professor of Learning Sciences and Computer Science; Director of the Center for Connected Learning and Computer Based  Modeling</address>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>&nbsp;</h3>
    <h3>&nbsp; Research Faculty&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Graduate Research Assistants</h3>
    <table style="width: 693px; height: 305px;" border="0">
      <tbody>
        <tr>
          <td>
            <img class="left" src="assets/_resampled/resizedimage168200-korton2.png" width="168" height="200" alt="" title=""><br>
          </td>
          <td style="width: 100px;">&nbsp;</td>
          <td>&nbsp;</td>
          <td><img class="left" src="assets/_resampled/resizedimage150200-ebehesthi.png" width="150" height="200" alt="" title=""></td>
          <td><img class="left" src="assets/_resampled/resizedimage150200-dweintorp.png" width="150" height="200" alt="" title=""></td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <p><strong>Dr. Kai Orton</strong></p>
            <address>Research Assistant Professor</address>
          </td>
          <td align="center" valign="top">&nbsp;</td>
          <td align="center" valign="top">&nbsp;</td>
          <td align="center" valign="top">
            <p><strong>Elham Beheshti</strong></p>
            <address>Graduate Assistant</address><address>Tangible Interaction Design and Learning Lab<strong><br></strong></address>
          </td>
          <td align="center" valign="top">
            <p><strong>David Weintrop</strong></p>
            <address>Graduate Assistant</address><address>Center for Connected Learning and Computer Based Modeling<strong><br></strong></address>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>&nbsp; Lead Teachers and Professional Development Providers</h3>
    <table style="width: 542px; height: 305px;" border="0">
      <tbody>
        <tr>
          <td>
            <img class="left" src="assets/_resampled/resizedimage162200-markV.png" width="162" height="200" alt="" title=""><br>
          </td>
          <td style="width: 100px;"><img class="left" src="assets/_resampled/resizedimage168200-Screen-Shot-2014-02-04-at-4.46.08-PM.png" width="168" height="200" alt="" title="">
          </td>
          <td><img class="left" src="assets/_resampled/resizedimage155200-MeganM.png" width="155" height="200" alt="" title=""></td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <p><strong>Mark Vondracek<br></strong></p>
            <address>Physics Teacher and</address><address>Researcher Advisor,</address><address>Evanston Township High School<br></address>
          </td>
          <td align="center" valign="top">
            <p><strong>Ami Lefevre</strong></p>
            <address>Chemistry Teacher,</address><address>Niles West High School<strong><br></strong></address>
          </td>
          <td align="center" valign="top">
            <p><strong>Meagan Morscher<br></strong></p>
            <address>Doctoral Candidate in </address><address>Physics and Astronomy,</address><address>Northwestern University<br></address>
          </td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <div style="width: 853px; text-align: center;">
      <p style="text-align: center;"><a href="http://tidal.sesp.northwestern.edu"><img src="assets/tidal.png" width="98" height="101" alt="" title=""></a><a href="http://osep.northwestern.edu/">&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="http://osep.northwestern.edu/">&nbsp;&nbsp; <img src="assets/osep.png" width="194" height="91" alt="" title=""></a><a href="http://ciera.northwestern.edu/">&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/ciera.png" width="263" height="83" alt="" title=""></a><br><br><a href="http://www.adlerplanetarium.org/">&nbsp; <img src="assets/adler.png" width="106" height="109" alt="" title="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a><a href="http://ccl.northwestern.edu/"><img src="assets/ccl.png" width="291" height="107" alt="" title=""></a></p>
    </div>
  </div>

{% endblock %}
