{% extends "ctstem_app/base.html" %}

{% block content %}
  {{block.super}}

  <div class="content">
    <h2>About Us</h2>

    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header">Principal Investigators</h3>
      </div>
    </div>
    <div class="row portfolio">
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/MichaelHorn.jpg" alt="">
        </a>
        <h4>
         <a href="#"> Dr. Mike Horn </a>
        </h4>
        <p>Assistant Professor of Learning Sciences and Computer Science; Director of the Tangible Interaction Design and Learning Lab</p>
      </div>
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage150200-kjona2.png" alt="">
        </a>
        <h4>
          <a href="#">Dr. Kemi Jona</a>
        </h4>
        <p>Professor of Learning Sciences and Computer Science; Director of the Office of STEM Education Partnerships</p>
      </div>
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage150200-vkalogera.png" alt="">
        </a>
        <h4>
          <a href="#">Dr. Vicky Kalogera</a>
        </h4>
        <p>Professor of Physics and Astronomy; Co-Director of the NU Center for Interdisciplinary Exploration and Research in Astrophysics</p>
      </div>
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage150200-ltrouille2.png" alt="">
        </a>
        <h4>
          <a href="#">Dr. Laura Trouille</a>
        </h4>
        <p>CIERA astrophysics Postdoctoral Fellow</p>
      </div>
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/uwilensky2.png" alt="">
        </a>
        <h4>
          <a href="#">Dr. Uri Wilensky</a>
        </h4>
        <p>Professor of Learning Sciences and Computer Science; Director of the Center for Connected Learning and Computer Based Modeling</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header">Research Faculty</h3>
      </div>
    </div>
    <div class="row portfolio">
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage168200-korton2.png" alt="">
        </a>
        <h4>
         <a href="#"> Dr. Kai Orton </a>
        </h4>
        <p>Research Assistant Professor</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header">Graduate Research Assistants</h3>
      </div>
    </div>

    <div class="row portfolio">
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage150200-ebehesthi.png" alt="">
        </a>
        <h4>
         <a href="#"> Elham Beheshti </a>
        </h4>
        <p>Graduate Assistant</p>
        <p>Tangible Interaction Design and Learning Lab</p>
      </div>
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage150200-dweintorp.png" alt="">
        </a>
        <h4>
         <a href="#"> David Weintrop </a>
        </h4>
        <p>Graduate Assistant</p>
        <p>Center for Connected Learning and Computer Based Modeling</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header">Lead Teachers and Professional Development Providers</h3>
      </div>
    </div>

    <div class="row portfolio">
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage162200-markV.png" alt="">
        </a>
        <h4>
         <a href="#"> Mark Vondracek </a>
        </h4>
        <p>Physics Teacher and Researcher Advisor </p>
        <p>Evanston Township High School</p>
      </div>
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage168200-Screen-Shot-2014-02-04-at-4.46.08-PM.png" alt="">
        </a>
        <h4>
         <a href="#"> Ami Lefevre </a>
        </h4>
        <p>Chemistry Teacher</p>
        <p>Niles West High School</p>
      </div>
      <div class="table portfolio-item">
        <a href="#">
          <img src="http://ct-stem.northwestern.edu/assets/_resampled/resizedimage155200-MeganM.png" alt="">
        </a>
        <h4>
         <a href="#"> Meagan Morscher </a>
        </h4>
        <p>Doctoral Candidate in Physics and Astronomy</p>
        <p>Northwestern University</p>
      </div>
    </div>


    <!--div style="width: 853px; text-align: center;">
      <p style="text-align: center;"><a href="http://tidal.sesp.northwestern.edu"><img src="assets/tidal.png" width="98" height="101" alt="" title=""></a><a href="http://osep.northwestern.edu/">&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="http://osep.northwestern.edu/">&nbsp;&nbsp; <img src="assets/osep.png" width="194" height="91" alt="" title=""></a><a href="http://ciera.northwestern.edu/">&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/ciera.png" width="263" height="83" alt="" title=""></a><br><br><a href="http://www.adlerplanetarium.org/">&nbsp; <img src="assets/adler.png" width="106" height="109" alt="" title="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a><a href="http://ccl.northwestern.edu/"><img src="assets/ccl.png" width="291" height="107" alt="" title=""></a></p>
    </div-->
  </div>

{% endblock %}
