{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block title %}Assessment Preview |{% endblock %}

{% block media %}
  {{block.super}}
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#dataTable3').dataTable({
        "ajax": '/static/data/warbler_table_data_with_errs.json'
      });
    });
  </script>
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2>Assessment Preview</h2>
    <form>
      {% csrf_token %}
      <div class="table" id="assessmentPreview">
        {{form.management_form}}
        <h3>{{form.title.value}}</h3>
        <hr>
        <div class="meta">
          <label>{{form.time.label}}</label>
          <div>{{form.time.value}}</div>
        </div>
        <div class="meta">
          <label>{{form.overview.label}}</label>
          <div>{{form.overview.value}}</div>
        </div>
        <div class="meta">
          <label>{{form.taxonomy.label}}</label>
          <ul class="standard">
            {% for standard, categories in form|getSelectedTaxonomy:"taxonomy" %}
              <li>{{standard}}</li>
              <ul class="category">
                {% for category, taxonomies in categories.items %}
                  <li>{{category}}</li>
                  <ul class="taxonomy">
                  {% for taxonomy in taxonomies %}
                    <li>{{taxonomy}} </li>
                  {% endfor %}
                  </ul>
                {% endfor %}
              </ul>
            {% endfor %}
          </ul>
        </div>
        <hr>
      </div>
      {% for step in formset %}
        <div class="table stepPreview">
          <div class="row header">
            <div class="col-md-3 back">
              {% if forloop.counter > 1 %}
                <a type="button" class="btn btn-primary" title="Previous Step" href="">
                  <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous
                </a>
              {% endif %}
            </div>
            <div class="col-md-6 title">
              <div class="assessment_title">
                {{form.title.value|title}}
              </div>
              <div class="assessment_step_title">
                <span>{{step.title.value}}</span>
                <span>({{forloop.counter}}/{{formset|length}})</span>
              </div>
            </div>
            <div class="col-md-3 next">
              {% if forloop.last %}
                <button type="submit" class="btn btn-success" title="Submit Assignment">
                  Submit
                </button>
              {% else %}
                <button type="submit" class="btn btn-primary" title="Next Step" >
                  Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </button>
              {% endif %}
            </div>
          </div>
          <hr>
          <div>{{step.content.value|inline_style|safe}}</div>
          <div class="question_container">
            {% for questionForm in step.nested %}
              {% with questionObj=questionForm.instance.question %}
              <div class="question">
                <div class="question_text">
                  <span> Q{{forloop.counter}}.</span>
                  <span> {{questionObj.question_text|safe}} </span>
                  <input type="hidden" name="{{questionForm.assessment_question.html_name}}" id="{{questionForm.assessment_question.auto_id}}" value="{{questionForm.assessment_question.value}}"/>
                </div>
                <div class="answer_field">
                  {% with field_type=questionObj.answer_field_type %}
                    {% if field_type == 'TA' %}
                      <textarea placeholder="Enter your response" class="form-control" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" required>{{questionForm.response.value}}</textarea>
                    {% elif field_type == 'TF' %}
                      <input type="text" placeholder="Enter your response" class="form-control" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" required value="{{questionForm.response.value}}" />
                    {% elif field_type == 'DD' %}
                      <select class="form-control" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" required>
                        {% for option in questionObj.options|split:','%}
                          <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                      </select>
                    {% elif field_type == 'MC' %}
                      <div class="note"> Note: Select one answer </div>
                      {% for option in questionObj.options|split:','%}
                        <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}"/>  {{option}}<br>
                      {% endfor %}
                    {% elif field_type == 'MS' %}
                      <div class="note"> Note: Select all that apply </div>
                      {% for option in questionObj.options|split:','%}
                        <input type="checkbox" name="{{questionForm.response.html_name}}_cb" id="{{questionForm.response.auto_id}}_cb" value="{{option}}"/>  {{option}}<br>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                </div>
              </div>
              {% endwith %}
            {% endfor %}
          </div>
          <hr>
          <div class="row footer">
            <div class="col-md-6 back">
              {% if forloop.counter > 1 %}
                <a type="button" class="btn btn-primary" title="Previous Step" href="">
                  <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous
                </a>
              {% endif %}
            </div>
            <div class="col-md-6 next">
              {% if forloop.last %}
                <button type="submit" class="btn btn-success" title="Submit Assignment">
                  Submit
                </button>
              {% else %}
                <button type="submit" class="btn btn-primary" title="Next Step" >
                  Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}

    </form>
  </div>

{% endblock %}

