{% extends "ctstem_app/base.html" %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Assessments |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2> Assessments </h2>
    {% if user.administrator %}
      <div class="btn-group">
        <a type="button" class="btn btn-primary" href="{% url 'ctstem:newAssessment' %}" title="Create new assessment plan">Create Assessment</a>
      </div>
    {% endif %}
    {% if assessments %}
      <table class="table table-striped dt" id="assessments">
        <thead>
          <tr>
            <th> Assessment Title </th>
            <th> Status </th>
            <th> Subject </th>
            <th> CT-STEM Practices </th>
            <th> NGSS Practices </th>
            <th> Notes </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th> Assessment Title </th>
            <th> Status </th>
            <th> Subject </th>
            <th> CT-STEM Practices </th>
            <th> NGSS Practices </th>
            <th> Notes </th>
          </tr>
        </tfoot>
        <tbody>
          {% for assessment in assessments %}
            <tr>
              <td class="title">{{assessment.title}}
                <div class="controls">
                  <a type="button" class="btn btn-primary" aria-label="Preview Assessment" title="Preview Assessment" href="{% url 'ctstem:previewAssessment' assessment.id %}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  </a>
                  {% if user.administrator %}
                    <a type="button" class="btn btn-success" aria-label="Edit Assessment" title="Edit Assessment" href="{% url 'ctstem:assessment' assessment.id %}">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <a type="button" class="btn btn-warning delete" aria-label="Delete Assessment" title="Delete Assessment" href="{% url 'ctstem:deleteAssessment' assessment.id %}" onclick="return confirm('Are you sure you want to delete {{assessment.title}}?')">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                </div>
              </td>
              <td>
                {{ assessment.get_status_display }}
              </td>
              <td>
                {% if assessment.subject.all %}
                  {% for subject in assessment.subject.all %}
                    {{ subject }} <br>
                  {% endfor %}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                {% if assessment.ct_stem_practices.all %}
                  {% for practice in assessment.ct_stem_practices.all %}
                    {{ practice }} <br>
                  {% endfor %}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                {% if assessment.ngss_standards.all %}
                  {% for standard in assessment.ngss_standards.all %}
                    {{ standard }} <br>
                  {% endfor %}
                {% else %}
                  -
                {% endif %}
              </td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No assessments have been published.</p>
    {% endif %}

  </div>

{% endblock %}


