{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Assessments |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2> Assessments </h2>
    {% if user.administrator or user.researcher or user.author%}
      <div class="btn-group">
        <a type="button" class="btn btn-primary" href="{% url 'ctstem:newAssessment' %}" title="Create new assessment plan">Create Assessment</a>
      </div>
    {% endif %}
    {% if assessments %}
      <table class="table table-striped table-bordered table-condensed dt" id="assessments">
        <thead>
          <tr>
            <th> Assessment Title </th>
            <th> Status </th>
            <th> Subject </th>
            <th> Standards </th>
            <th> Notes </th>
          </tr>
          <tr id="filterrow">
            <th> Assessment Title </th>
            <th> Status </th>
            <th> Subject </th>
            <th> Standards </th>
            <th> Notes </th>
          </tr>
        </thead>
        <tbody>
          {% for assessment in assessments %}
            <tr>
              <td class="title">{{assessment.title}} - v{{assessment.version}}.
                <div class="controls">
                  <a type="button" class="btn btn-primary" aria-label="Preview Assessment" title="Preview Assessment" href="{% url 'ctstem:previewAssessment' assessment.id %}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  </a>
                  {% if user.administrator or assessment.author == user %}
                    <a type="button" class="btn btn-success" aria-label="Edit Assessment" title="Edit Assessment" href="{% url 'ctstem:assessment' assessment.id %}">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <a type="button" class="btn btn-warning delete" aria-label="Delete Assessment" title="Delete Assessment" href="{% url 'ctstem:deleteAssessment' assessment.id %}" onclick="return confirm('Are you sure you want to delete {{assessment.title}}?')">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                </div>
              </td>
              <td>
                {{ assessment.get_status_display }}
              </td>
              <td>
                {% if assessment.subject.all %}
                  {% for subject in assessment.subject.all %}
                    {{ subject }} <br>
                  {% endfor %}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                <ul class="standard">
                  {% for standard, categories in assessment.taxonomy.all|taxonomyHelper %}
                    <li>{{standard}}
                      <span class="ec">
                        <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-collapse-up" aria-hidden="true" style="display:none;"></span>
                      </span>
                    </li>
                    <ul class="category" style="display:none;">
                      {% for category, taxonomies in categories.items %}
                        <li>{{category}}
                          <span class="ec">
                            <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-collapse-up" aria-hidden="true" style="display:none;"></span>
                          </span>
                        </li>
                        <ul class="taxonomy" style="display:none;">
                        {% for taxonomy in taxonomies %}
                          <li>{{taxonomy}} </li>
                        {% endfor %}
                        </ul>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                </ul>
              </td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No assessments have been published.</p>
    {% endif %}

  </div>

{% endblock %}


