{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
  <script src="https://code.highcharts.com/highcharts.js"></script>

{% endblock %}
{% block title %}Assignment Progress Dashboard |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content teacher_detailed_dashboard" id="assignment_progress_dashboard">
    <h2> Assignment Progress </h2>
    <div id="dashboard_header">
      <div class="navigation">
        {% with status=assignment.group.is_active|yesno:"active,inactive"%}
        <h5 class="left"><a href="{% url 'ctstem:teacherDashboard' teacher_id status %}"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i> Back to Teacher Dashboard</a></h5>
        &nbsp; &nbsp;&nbsp; &nbsp;
        <h5 class="left"><a href="{% url 'ctstem:teacherAssignmentDashboard' teacher_id status %}"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i> Back to All Assignments </a></h5>
        {% endwith %}
      </div>
      <div class="quick_links">
          <h5><a href="{% url 'ctstem:help' %}"><i class="far fa-question-circle"></i> Help </a></h5>
          <h5><a href="{% url 'ctstem:curriculatiles' %}?bucket=my_curricula">My Curricula</a></h5>
          <h5><a href="{% url 'ctstem:curriculatiles' %}?bucket=favorite_curricula"><i class="far fa-star"></i> Favorites</a></h5>
      </div>
    </div>
    <div class="legends_and_settings">
      <div class="legends_container">
        <h5 class="left">Legends</h5>
        <div class="legends">
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fas fa-comment-dots"></i> </a>
            <div>Feedback Given</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="far fa-comment-dots"></i> </a>
            <div>Feedback Pending</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fas fa-file-download"></i> </a>
            <div>Download Student Response</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fa fa-unlock" aria-hidden="true"></i> </a>
            <div>Unlock Assignment</div>
          </div>
          <div class="legend">
            <i class="far fa-window-minimize"></i>
            <div>Not Yet Started</div>
          </div>
          <div class="legend">
            <div class="crossed"></div>
            <div>No Question</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fas fa-pencil-alt" aria-hidden="true"></i> </a>
            <div>Edit Class Details</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
            <div>Curriculum Preview</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fa fa-link" aria-hidden="true"></i> </a>
            <div>Assignment Link</div>
          </div>
        </div>
      </div>
      <div class="settings_container">
        <h5 class="left">Assignment Settings</h5>
        <div class="settings">
          {% include "ctstem_app/AnonymizeStudentSwitch.html" with anonymize_student=assignment.anonymize_student assignment_id=assignment.id is_class_active=assignment.group.is_active %}
          {% include "ctstem_app/LockOnCompletionSwitch.html" with lock_on_completion=assignment.lock_on_completion assignment_id=assignment.id is_class_active=assignment.group.is_active %}
          {% include "ctstem_app/RealtimeFeedbackSwitch.html" with realtime_feedback=assignment.realtime_feedback assignment_id=assignment.id is_class_active=assignment.group.is_active %}
        </div>
      </div>
      <div class="shortcut_container">
        <h5 class="left">Assignment Metadata</h5>
        <div class="shortcuts">
          <div class="shortcut">
            <label>Class:</label>
            {% if assignment %}
              <div class="title">
                {{assignment.group.title}}
              </div>
              <div class="buttons">
                <a type="button" class="btn blue" href="{% url 'ctstem:group' assignment.group.id %}" title="Edit Class">
                  <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </a>
              </div>
            {% endif %}
          </div>
          <div class="shortcut">
            <label>Lesson:</label>

            {% if assignment %}
              <div class="title">
                {{assignment.curriculum.title}}
              </div>
              <div class="buttons">
                <a type="button" class="btn blue" href="{% url 'ctstem:previewCurriculum' assignment.curriculum.id %}" title="Preview Curriculum">
                  <i class="fas fa-eye" aria-hidden="true"></i>
                </a>
                <a class="btn blue assignment_link" href="#" data-toggle="modal" data-target="#assignmentLinkModal" data-invite-link="https://{{domain}}/?next=/login?next=/assignments?assignment={{assignment.id}}" data-title="Direct Student Assignment Link" title="Direct Assignment Link">
                  <i class="fa fa-link"></i>
                </a>
                <a type="button" class="btn blue" href="{% url 'ctstem:export_all_response' assignment.curriculum.id %}" title="Export Student Response">
                  <i class="fas fa-file-download"></i>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
    <form method="post" action="{% url 'ctstem:assignmentProgressDashboard' teacher_id %}" id="progress_search_form">
      {% csrf_token %}
      <div class="progress_filter">
        <div class="form-group">
          <label>{{filter_form.group.label|title}}</label>
          <div>{{filter_form.group}}</div>
        </div>
        <div class="form-group">
          <label>{{filter_form.assignment.label|title}}</label>
          <div>{{filter_form.assignment}}</div>
        </div>
        <div class="form-group">
          <label>{{filter_form.sort_by.label|title}}</label>
          <div>{{filter_form.sort_by}}</div>
        </div>
      </div>
    </form>
    {% if students_progress %}
    <div class="dashboard_container">
      <table class="table table-striped table-bordered table-condensed" id="assignment_progress">
        <thead>
          <tr>
            <th class="student_col" rowspan="2">
              Student
            </th>
            {% for step in header %}
              {% with questions=step|get_item:'questions' %}
                <th colspan={{questions|length}} class="info" rel="popover" data-title="Page {{step.order}}" data-content="{{step|get_item:'title'}}" data-trigger="hover">
                  P{{step|get_item:'order'}}
                </th>
              {% endwith %}
            {% endfor %}
            <th rowspan="2">Lesson % Complete</th>
            <th rowspan="2">Time Spent <br> hh:mm:ss</th>
            <th rowspan="2">Last Worked On</th>
          </tr>
          <tr>
            {% for step in header %}
              {% with questions=step|get_item:'questions' %}
                {% if questions %}
                  {% for question in questions %}
                    <th>
                      <div class="info" rel="popover" data-title="Question {{step.order}}.{{question.order}}" data-content="{{question.question.question_text}}" data-trigger="hover">
                        Q{{step.order}}.{{question.order}}
                      </div>
                      <a class="btn blue" href="{% url 'ctstem:assignmentQuestionFeedback' teacher_id %}?group={{assignment.group.id}}&assignment={{assignment.curriculum.id}}&question={{question.id}}" title="Review student responses for question {{step.order}}.{{question.order}}"> <span class="far fa-comment-dots" aria-hidden="true"></span> </a>
                    </th>
                  {% endfor %}
                {% else %}
                  <th>
                    <div class="crossed">
                    </div>
                  </th>
                {% endif %}
              {% endwith %}
            {% endfor %}

          </tr>
        </thead>
        <tbody>
          {% for details in students_progress %}
          {% with student=details|get_item:'student' progress=details|get_item:'progress' percent_complete=details|get_item:'percent_complete' instance=details|get_item:'instance' time_spent=details|get_item:'time_spent' modified_date=details|get_item:'modified_date' %}
          <tr>
            <td class="student_col">
              <div class="student_name">
                {% if user.researcher %}
                  <b>{{student.user.id}}</b><br>
                {% else %}
                  {% if filter_form.sort_by.value == 'student_first_last' %}
                    <b>{{student.user.get_full_name}}</b><br>
                  {% else %}
                    <b>{{student}}</b><br>
                  {% endif %}
                {% endif %}
              </div>
              <div class="student_mask">
                xxxxxxxxxxx
              </div>

              {% if instance %}
              <div class="controls">
                <a class="btn blue" href="{% url 'ctstem:assignmentStudentFeedback' teacher_id %}?group={{assignment.group.id}}&assignment={{assignment.curriculum.id}}&student={{student.user.id}}" title="Review student's response"> <span class="far fa-comment-dots" aria-hidden="true"></span> </a>

                {% if instance.status == 'S' and assignment.curriculum.curriculum_type == 'L' %}
                  <a type="button" class="btn blue" href="{% url 'ctstem:unlockAssignment' assignment.id  instance.id %}" title="Unlock Assignment" onclick="return confirm('Are you sure you want to unlock this assignment? Unlocking the assignment will allow the student to edit his/her responses and resubmit.');"> <i class="fa fa-unlock" aria-hidden="true"></i> </a>
                {% endif %}
              </div>
              {% endif %}
            </td>
            {% for question_progress in progress %}
              <td class="question">
                {% if question_progress == 1 %}
                  <i class="far fa-window-minimize"></i>
                {% elif question_progress == 0 %}
                    <div class="crossed"></div>
                {% else %}
                  {% with response=question_progress|get_item:'response' feedback=question_progress|get_item:'feedback' %}
                    {% if response %}
                      <a type="button" class="btn add_feedback blue" data-form="{% url 'ctstem:assignmentStudentQuestionFeedback' response.id %}" title="{% if feedback and feedback.feedback %} Review response and feedback {% else %} Review response and give feedback {% endif %}">
                        {% if feedback and feedback.feedback %}
                          <span class="fas fa-comment-dots" aria-hidden="true"></span>
                        {% else %}
                          <span class="far fa-comment-dots" aria-hidden="true"></span>
                        {% endif %}

                      </a>
                    {% endif %}
                  {% endwith %}
                {% endif %}
              </td>
            {% endfor %}
            <td class="percent_complete">
              <div class="assignment_status_chart">
                <div id="chart_{{student.id}}" class="donut_chart" data-percent-complete="{{percent_complete}}"></div>
              </div>
            </td>
            <td class="time_spent">{{time_spent|format_time}}</td>
            <td class="last_modified">
              {% if modified_date %}
                {{modified_date|date}}
              {% endif %}
            </td>
          </tr>
          {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>

  <script type="text/javascript">

    $(function() {
      $(".donut_chart").each(function(){
        render_donut_chart($(this));
      });

      $(".add_feedback").click(function(e){
        e.preventDefault();
        var url = $(this).data("form");
        $("#feedbackModal").load(url, function() {
          $(this).modal('show');
        });

        return false;
      });

      var timeout = null;
      $('#progress_search_form select, \
         #progress_search_form input[type=radio], \
         #progress_search_form input[type=checkbox]').on('change', function(){

        if($(this).attr('id') == 'id_group'){
          $('select#id_assignment').val('');
        }

        $('#progress_search_form').submit();
      });

      $(".info").click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(".info").not(this).popover('hide');
      });

      $(document).click(function (e) {
        if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
          $(".info").popover('hide');
        }
      });
      $(".info").popover({
        placement: 'bottom',
        html: true,
        container: 'body',
      });


    });
  </script>

{% endblock %}


