{% load base_extras %}
{% block custom_media %}
  <link rel="stylesheet" href="{% staticfile 'css/sketch.css' %}">
  <script type="text/javascript" src="{% staticfile 'js/sketch.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/sketch_custom.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/assignment.js' %}"></script>
{% endblock %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title left">Feedback for Question {{curriculum_question.step.order}}.{{curriculum_question.order}}</h3>
    </div>
    <div id="questionFeedbackMsg" class="msg">
      <ul class="errorlist">
        <li></li>
      </ul>
    </div>
    <form class="form" id="questionFeedbackForm" method="post" action="{% url 'ctstem:assignmentStudentQuestionFeedback' question_response.id %}">
      {% csrf_token %}
      {{form.media}}
      <div class="modal-body">
        <div class="form-group">
          <label>
            Question {% include 'ctstem_app/QuestionCategoryDisplay.html' with question=curriculum_question.question %}
            {% if curriculum_question.optional %}
              <span class="optional">(optional)</span>
            {% else %}
              <span class="mandatory">*</span>
            {% endif %}
            :
          </label>
          <div class="question"> {{curriculum_question.question|safe}}</div>
        </div>
        <div class="form-group">
          <label>Student Response:</label>
          <div class="response">
            {% if question_response %}
              {% if question_response.response %}
                {% if curriculum_question.question.answer_field_type == 'MI' %}
                  <img src="{{question_response.response}}" class="image_option"/>
                {% elif curriculum_question.question.answer_field_type == 'SK' %}
                  <canvas id="{{question_response.id}}_sketch" width="900" height="500" class="assignment_sketch" style="{% if curriculum_question.question.sketch_background %} background: url({{curriculum_question.question.sketch_background.url}}) no-repeat;{% endif %}"></canvas>
                  <input type="hidden" name="{{question_response.id}}_sketch_response" id="{{question_response.id}}_sketch_response" value="{{question_response.response}}" disabled/>
                {% elif curriculum_question.question.answer_field_type == 'DT' %}
                  <div class="dt_input" id="dt_input_{{forloop.counter}}">
                    <input type="hidden" name="{{question_response.id}}_dt_response" id="{{question_response.id}}_dt_response" value='{{question_response.response}}' disabled/>
                    <input type="hidden" name="column_headers" id="dt_col_headers_{{question_response.id}}" value="{{curriculum_question.question.options}}" disabled/>
                    <table class="table table-condensed table-bordered inner_table" id="dt_table_{{question_response.id}}">
                      <thead>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                {% elif curriculum_question.question.answer_field_type == 'TA' %}
                  {{question_response.response|safe}}
                {% else %}
                  <p>{{question_response.response}}</p>
                {% endif %}
              {% elif question_response.response_file.all %}
                <p>Uploaded file(s):</p>
                <ul>
                {% for response_file in question_response.response_file.all %}
                  <li><a href="{{response_file.file.url}}" target="_blank"><p>Click here to view file {{forloop.counter}}</p></a></li>
                {% endfor %}
                </ul>
              {% else %}
                <span style="font-style: italic;">No response yet</span>
              {% endif %}
            {% else %}
              <span style="font-style: italic;">No response yet</span>
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label>Feedback</label>
          <div class="feedback">
            {{form.feedback}}
          </div>
        </div>
        <div class="form-group">
          <a class="emoji-modal" href="#">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
          </a>
        </div>

        <div class="form-group emoji_container">
           {% include "ctstem_app/Emojis.html" %}
        </div>

        <div id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="submit" id="saveFeedback" class="btn inbetween yellow">
            Save Feedback
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
$(function (){

  loadCanvasData();
  loadDataTable(false);

  $("#questionFeedbackForm").submit(function(e) {

    e.preventDefault();
    var feedback = $('.feedback textarea').val();
    var response_id = '{{question_response.id}}';
    var question_id = '{{curriculum_question.id}}';
    var student_id =  '{{question_response.step_response.instance.student.id}}';

    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: $(this).serialize(),
      context: this,
      beforeSend: function(){
        $('#questionFeedbackForm #spinner').show();
      },
      complete: function(){
        $('#questionFeedbackForm #spinner').hide();
      },
      success: function(data, status){
        if(data['success'] == true){
          $("#questionFeedbackForm")[0].reset();
          //update feedback button
          if(feedback.trim() == ''){
            $('a#feedback_for_response_'+response_id+' span.fa-comment-dots').removeClass('fas').addClass('far');
          }
          else{
            $('a#feedback_for_response_'+response_id+' span.fa-comment-dots').removeClass('far').addClass('fas');
          }
          //update question feedback button
          $.ajax({
            type: 'GET',
            url: "{% url 'ctstem:is_question_assignment_feedback_complete' question_response.step_response.instance.assignment.id curriculum_question.id %}",
            context: this,
            success: function(data, status){
              if(data['success'] == true){
                if(data['feedback_complete'] == true){
                  $('a.question_feedback_'+question_id+' span.fa-comment-dots').removeClass('far').addClass('fas');
                }
                else {
                  $('a.question_feedback_'+question_id+' span.fa-comment-dots').removeClass('fas').addClass('far');
                }
              }
            },
            error: function(xhr, ajaxOptions, thrownError){
              alert(thrownError);
            },
          });
          //update student feedback button
          $.ajax({
            type: 'GET',
            url: "{% url 'ctstem:is_student_assignment_feedback_complete' question_response.step_response.instance.assignment.id  question_response.step_response.instance.student.id %}",
            context: this,
            success: function(data, status){
              if(data['success'] == true){
                if(data['feedback_complete'] == true){
                  $('a.student_feedback_'+student_id+' span.fa-comment-dots').removeClass('far').addClass('fas');
                }
                else {
                  $('a.student_feedback_'+student_id+' span.fa-comment-dots').removeClass('fas').addClass('far');
                }
              }
            },
            error: function(xhr, ajaxOptions, thrownError){
              alert(thrownError);
            },
          });
          $("#feedbackModal").modal('toggle');
        }
        else{
          $('#feedbackModal').html(data['html']);
          $('#questionFeedbackMsg .errorlist li:first-child').addClass('error').html(data['error']);
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        alert(thrownError);
      },
    });
  });


  //for each error message highlight the field causing the error
  $('div.error').each(function(){
    var error_length = $.trim($(this).text()).length;
    if(error_length > 0) {
      $(this).closest('.form-group').find('label, .question_input .form-control:input, .question_input .django-ckeditor-widget').addClass('input_error');
    }
  });

  $('a.emoji-modal').click(function(){
    $('.form-group.emoji_container').toggle();
  })
  $('div.emoji').click(function(){
    var id = $('.feedback textarea').attr('id');
    var val = $('.feedback textarea').val();
    $('.feedback textarea').val(val + $(this).html());
  });

});

</script>
