{% load ctstem_extras %}
{% block media %}
  {{ form.media }}
{% endblock %}
{% if curricula %}
  <table class="table table-bordered table-striped table-condensed inner_table">
    <thead>
      <tr>
        <th>Curriculum Type</th>
        <th>Curriculum Title</th>
        <th>Assign</th>
      </tr>
    </thead>
    <tbody>
      {% for curriculum in curricula %}
        {% if curriculum.curriculum_type|slugify == 'Unit'|slugify %}
          <tr class="unit unit_{{curriculum.id}} {% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}" id="curr_{{curriculum.id}}">
            <td rowspan="{{curriculum.underlying_curriculum|length|add:1}}">Unit</td>
            <td>
              {{curriculum.title}}
              &nbsp;&nbsp;
              <span class="ec_lessons" id="unit_{{curriculum.id}}">
                <span><a href="#">(Expand Underlying Lessons)</a></span>
                <span style="display:none;"><a href="#">(Collapse Underlying Lessons)</a></span>
              </span>
            </td>
            <td style="text-align:center;">
              {% if curriculum.underlying_curriculum_assigned == curriculum.underlying_curriculum_count %}
                <div class="assignment_status">Unit Assigned</div>
              {% elif curriculum.underlying_curriculum_assigned < curriculum.underlying_curriculum_count %}
                {% if curriculum.underlying_curriculum_assigned > 0 %}
                  <div class="assignment_status">{{curriculum.underlying_curriculum_assigned}}/{{curriculum.underlying_curriculum_count}} Curricula Assigned</div>
                {% endif %}
                <button class="btn small blue select_assignment unit" id="{{curriculum.id}}" name="{{curriculum.title}}">
                  Assign Unit</button>
              {% endif %}
            </td>
          </tr>
          {% for curr in curriculum.underlying_curriculum %}
            <tr class="lesson unit_{{curriculum.id}} {% if forloop.parentloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}" id="curr_{{curr.id}}" >
              <!--td style="display:none;">&emsp;&emsp;&emsp;&emsp;{{curr.curriculum_type}}</td-->
              <td style="display:none; padding-left: 3em;">{{curr.order}}. {{curr.title}}</td>
              <td style="display:none; text-align:center;">
                {% if curr.assigned|slugify == 'False'|slugify %}
                  <button class="btn small blue select_assignment lesson" id="{{curr.id}}" name="{{curr.title}}">Assign {{curr.curriculum_type}}</button>
                {% else %}
                  <div class="assignment_status">{{curr.curriculum_type}} Assigned</div>
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        {% else %}
          <tr class="{% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}" id="curr_{{curriculum.id}}">
            <td>{{curriculum.curriculum_type}}</td>
            <td>{{curriculum.title}}</td>
            <td style="text-align:center;">
              {% if curriculum.assigned|slugify == 'False'|slugify %}
                <button class="btn small blue select_assignment" id="{{curriculum.id}}" name="{{curriculum.title}}">Assign {{curriculum.curriculum_type|title}}</button>
              {% else %}
                <div class="assignment_status">{{curriculum.curriculum_type|title}} Assigned</div>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<script type="text/javascript">

$(function (){

  //expand/collapse the underlying lessons
  $(".ec_lessons").click(function(){
    var id = $(this).attr('id');
    $(this).children().each(function(){
      $(this).toggle();
    });
    $('tr.lesson.'+id).children('td').each(function(){
      $(this).toggle();
    });
  });

  $("button.select_assignment").click(function(){
    //if assigning a Unit get and assign all the underlying published lessons
    var selected_assignment = $(this);
    var curriculum_name = $(this).attr('name');
    var group_class_id = "{{group_id}}";
    var curr_id = $(this).attr('id');
    var unit_id = null;
    $('input#assign_id').val();
    var keep_open_id = null;
    if($(this).hasClass('lesson')){
      var lesson_tr = $(this).closest('tr.lesson');
      keep_open_id = $(lesson_tr).prevAll('tr.unit:first').attr('id');
    }
    else if($(this).hasClass('unit')){
      keep_open_id = $(this).closest('tr.unit').attr('id');
      unit_id = $(this).attr('id');
    }
    data = {}
    data['csrfmiddlewaretoken'] = $('#assignmentForm').find('input:hidden').eq(0).val();;
    var data = $.param(data);
    if(group_class_id){
      $.ajax({
        type: 'POST',
        url: '/assignment/add/'+curr_id+'/'+group_class_id+'/',
        data: data,
        success: function(data){
          $('#assignmentMsg .errorlist li').removeClass('error').addClass('success').html("Curriculum "+curriculum_name+" has been assigned.");
          //save the id of the clicked button row in a hidden input so the row can be expanded on reload
          if(keep_open_id){
            $('input#assign_id').val(keep_open_id);
          }
          $(selected_assignment).attr('disabled', 'disabled');
          if(unit_id){
            $('tr.lesson.unit_'+unit_id+' button.select_assignment').attr('disabled', 'disabled');
          }

          //$("#assignmentForm").submit();
        },
        error: function(xhr, ajaxOptions, thrownError){
          $('#assignmentMsg .errorlist li').removeClass('success').addClass('error').html("Something went wrong...");
        },
      });
    }
    else{
      alert('Select a class to assign this curriculum to');
    }
  });
});

</script>
