{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% load base_extras %}

{% block title %}Feedback |{% endblock %}

{% block custom_media %}
  <link rel="stylesheet" href="{% staticfile 'css/sketch.css' %}">
  <script type="text/javascript" src="{% staticfile 'js/sketch.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/sketch_custom.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/assignment.js' %}"></script>
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content assignment_feedback" id="assignment_question_feedback">
    <h2> Assignment Question Review </h2>
    <div id="dashboard_header">
      <div class="navigation">
        {% with status=assignment.group.is_active|yesno:"active,inactive"%}
          <h5 class="left"><a href="{% url 'ctstem:teacherDashboard' teacher_id status %}">
            <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i> Back to Teacher Dashboard</a>
          </h5>
          &nbsp; &nbsp;&nbsp; &nbsp;
          <h5 class="left"><a href="{% url 'ctstem:teacherAssignmentDashboard' teacher_id status %}">
            <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i> Back to All Assignments </a>
          </h5>
           &nbsp; &nbsp;&nbsp; &nbsp;
          <h5 class="left"><a href="{% url 'ctstem:assignmentProgressDashboard' teacher_id %}?group={{assignment.group.id}}&assignment={{assignment.curriculum.id}}">
            <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i> Back to Assignment Progress Dashboard </a>
          </h5>
        {% endwith %}
      </div>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="search_filter">
        <div class="form-group">
          <label>{{filter_form.group.label|title}}</label>
          <div>{{filter_form.group}}</div>
        </div>
        <div class="form-group">
          <label>{{filter_form.assignment.label|title}}</label>
          <div>{{filter_form.assignment}}</div>
        </div>
        <div class="form-group">
          <label>{{filter_form.question.label|title}}</label>
          <div>{{filter_form.question}}</div>
        </div>
      </div>

      {% if curriculum_question %}

        <div class="form-group button-group-sticky">
          {% if prevQuestion %}
            <a type="button" class="btn blue inbetween" id="prev" href="{% url 'ctstem:assignmentQuestionFeedback' teacher_id %}?group={{assignment.group.id}}&assignment={{assignment.curriculum.id}}&question={{prevQuestion.id}}"> Previous Question </a>
          {% endif %}
          {% if nextQuestion %}
            <a type="button" class="btn blue inbetween" id="prev" href="{% url 'ctstem:assignmentQuestionFeedback' teacher_id %}?group={{assignment.group.id}}&assignment={{assignment.curriculum.id}}&question={{nextQuestion.id}}"> Next Question </a>
          {% endif %}
          {% if allow_save %}
            <input type="submit" class="btn yellow inbetween" id="save" value="Save Feedback"/>
          {% endif %}
        </div>
        <table class="table table-striped table-bordered table-condensed inner_table" id="question_header">
          <thead>
            <tr>
              <th>Question No.</th>
              <th>Research Categories</th>
              <th>Question</th>
              <th>Options</th>
              <th>Correct Answer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;">{{curriculum_question.step.order}}.{{curriculum_question.order}}</td>
              <td>
                {% for category in curriculum_question.question.get_flagged_categories %}
                  {% if category.abbrevation %}
                    {{category.abbrevation}} <br>
                  {% endif %}
                {% endfor %}
              </td>
              <td>{{curriculum_question.question.question_text|safe}}</td>
              <td>
                {% with field_type=curriculum_question.question.answer_field_type %}
                {%  if field_type == 'DD' %}
                  <select class="form-control assignment_input" name="{{forloop.counter}}" id="{{forloop.counter}}">
                    {% for option in curriculum_question.question.options|splitlines%}
                    <option value="{{option}}">{{option}}</option>
                    {% endfor %}
                    {% if question.display_other_option %}
                      <option value="{{option}}" class="other">Other</option>
                      <input type="text" placeholder="Enter your response" class="form-control assignment_input other" disabled/>
                    {% endif %}
                  </select>
                {% elif field_type == 'MC' %}
                  {% for option in curriculum_question.question.options|splitlines%}
                    <input type="radio" name="{{question.id}}_mc" id="{{question.id}}_mc" value="{{option}}" />  {{option}}<br>
                  {% endfor %}
                  {% if curriculum_question.question.display_other_option %}
                    <input type="radio" name="{{question.id}}_mc" id="{{question.id}}_mc" value="{{option}}" class="other" />  Other<br>
                    <input type="text" placeholder="Enter your response" class="form-control assignment_input" name="{{question.id}}_mc" id="{{question.id}}_mc" disabled/>
                  {% endif %}
                {% elif field_type == 'MI' %}
                  <div class="help warning">You may click the images below to view a larger version</div>
                  {% for option in curriculum_question.question.options|splitlines%}
                    <input type="radio" name="{{question.id}}_mi" id="{{question.id}}_mi" value="{{option}}"/>
                    <span>{{forloop.counter0|get_ascii_char}}.</span>
                    <a data-toggle="modal" data-target="#imageModal" data-href="{{option}}" class="image_option"><img src="{{option}}" class="image_option"/></a><br><br>
                  {% endfor %}
                {% elif field_type == 'MS' %}
                  {% for option in curriculum_question.question.options|splitlines%}
                    <input type="checkbox" name="{{question.id}}_cb" id="{{question.id}}_cb" value="{{option}}"/>  {{option}}<br>
                  {% endfor %}
                {% endif %}
                {% endwith %}
              </td>
              <td>{{curriculum_question.question.answer}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped table-bordered table-condensed inner_table">
          <thead>
            <tr>
              <th width="10%">
                <div>Student/Teammates</div>
                {% if not user.researcher %}
                  {% include "ctstem_app/AnonymizeStudentSwitch.html" with anonymize_student=assignment.anonymize_student assignment_id=assignment.id is_class_active=assignment.group.is_active %}
                {% endif %}
              </th>
              <th>Response</th>
              <th width="27%">Feedback</th>
            </tr>
          </thead>
          <tbody>
            {% for resp_feed in response_feedback %}
              <tr>
                <td>
                  <div class="student_name">
                    {% if user.researcher %}
                      <b>{{resp_feed.student.user.id}}</b> <br>
                    {% else %}
                      <b>{{resp_feed.student}}</b> <br>
                    {% endif %}
                    {% for teammate in resp_feed.question_response.step_response.instance.teammates.all %}
                      {% if user.researcher %}
                        {{teammate.user.id}} (T) <br>
                      {% else %}
                        {{teammate}} (T) <br>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="student_mask">
                    xxxxxxxxxxx
                  </div>
                  <a class="btn blue" href="{% url 'ctstem:assignmentStudentFeedback' teacher_id %}?group={{assignment.group.id}}&assignment={{assignment.curriculum.id}}&student={{resp_feed.student.user.id}}" title="Review all the responses of this student in this assignment">
                    {% is_student_assignment_feedback_complete assignment.id resp_feed.student.id as student_feedback_complete %}
                    {% if student_feedback_complete %}
                      <span class="fas fa-comment-dots" aria-hidden="true"></span>
                    {% else %}
                      <span class="far fa-comment-dots" aria-hidden="true"></span>
                    {% endif %}
                  </a>
                </td>
                <td>
                  <div class="response">
                    {% with question_response=resp_feed.question_response %}
                    {% if question_response %}
                      {% if question_response.response %}
                        {% if curriculum_question.question.answer_field_type == 'MI' %}
                          <img src="{{question_response.response}}" class="image_option"/>
                        {% elif curriculum_question.question.answer_field_type == 'SK' %}
                          <canvas id="{{question_response.id}}_sketch" width="900" height="500" class="assignment_sketch" style="{% if curriculum_question.question.sketch_background %} background: url({{curriculum_question.question.sketch_background.url}}) no-repeat;{% endif %}"></canvas>
                          <input type="hidden" name="{{question_response.id}}_sketch_response" id="{{question_response.id}}_sketch_response" value="{{question_response.response}}" disabled/>
                        {% elif curriculum_question.question.answer_field_type == 'DT' %}
                          <div class="dt_input" id="dt_input_{{forloop.counter}}">
                            <input type="hidden" name="{{question_response.id}}_dt_response" id="{{question_response.id}}_dt_response" value='{{question_response.response}}' disabled/>
                            <input type="hidden" name="column_headers" id="dt_col_headers_{{question_response.id}}" value="{{curriculum_question.question.options}}" disabled/>
                            <table class="table table-condensed table-bordered inner_table" id="dt_table_{{question_response.id}}">
                              <thead>
                              </thead>
                              <tbody>
                              </tbody>
                            </table>
                          </div>
                        {% elif curriculum_question.question.answer_field_type == 'TA' %}
                          {{question_response.response|safe}}
                        {% else %}
                          {{question_response.response}}
                        {% endif %}
                      {% elif question_response.response_file.all %}
                        Uploaded file(s):
                        <ul>
                        {% for response_file in question_response.response_file.all %}
                          <li><a href="{{response_file.file.url}}" target="_blank">Click here to view file {{forloop.counter}}</a></li>
                        {% endfor %}
                        </ul>
                      {% else %}
                        <span style="font-style: italic;">No response yet</span>
                      {% endif %}
                    {% else %}
                      <span style="font-style: italic;">No response yet</span>
                    {% endif %}
                    {% endwith %}
                  </div>
                </td>
                <td>
                  <div class="feedback">
                    {% if resp_feed.status == 'P' or resp_feed.status == 'S' or resp_feed.status == 'F' or resp_feed.status == 'A'%}
                      {% if resp_feed.question_feedback_form %}
                        {{resp_feed.question_feedback_form.id}}
                        {{resp_feed.question_feedback_form.feedback}}
                        <a data-toggle="modal" data-target="#emojiModal" class="emoji-modal" href="#" data-id="{{resp_feed.question_feedback_form.feedback.auto_id}}">
                          <i class="fa fa-smile-o" aria-hidden="true"></i>
                        </a>
                      {% endif %}
                    {% else %}
                      Assignment not yet started.
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </form>

    {% include "ctstem_app/EmojiModal.html" %}

  </div>
  <script type="text/javascript">
    $(function(){
      $('#close').click(function(){
        $("input#save_and_close").val('true');
        this.form.submit();
      });
      $('.search_filter select, \
         .search_filter input[type=radio], \
         .search_filter input[type=checkbox]').on('change', function(){

        if($(this).attr('id') == 'id_group'){
          var group_id = $(this).val();
          window.location = "/assignment/question/feedback/{{teacher_id}}/?group="+group_id;
        }
        if($(this).attr('id') == 'id_assignment'){
          var group_id = $('#id_group').val();
          var assignment_id = $(this).val();
          window.location = "/assignment/question/feedback/{{teacher_id}}/?group="+group_id+"&assignment="+assignment_id;
        }
        if($(this).attr('id') == 'id_question'){
          var group_id = $('#id_group').val();
          var assignment_id = $('#id_assignment').val();
          var question_id = $(this).val();
          window.location = "/assignment/question/feedback/{{teacher_id}}/?group="+group_id+"&assignment="+assignment_id+"&question="+question_id;
        }
      });

      loadCanvasData();
      loadDataTable(false);

    });

  </script>
{% endblock %}
