{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% block title %}Assignment |{% endblock %}
{% block media %}
  {{block.super}}
{% endblock %}

{% block content %}
  {{block.super}}

  <div class="content">
    <form method="post">
      {% csrf_token %}
      <div class="table" id="assignment">
        {{form.management_form}}
        <div class="row header">
          <div class="col-md-3 back">
            {% if form.instance.assessment_step.order > 1 %}
              <a type="button" class="btn btn-primary" title="Previous Step" href="{% url 'ctstem:resumeAssignment'  form.instance.instance.assignment.id form.instance.instance.id form.instance.assessment_step.order|add:'-1' %}">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous
              </a>
            {% endif %}
          </div>
          <div class="col-md-6 title">
            <div class="assessment_title">
              {{form.instance.assessment_step.assessment.title|title}}
            </div>
            <div class="assessment_step_title">
              <span>{{form.instance.assessment_step.title}}</span>
              <span>({{form.instance.assessment_step.order}}/{{total_steps}})</span>
            </div>
          </div>
          <div class="col-md-3 next">
            {% if form.instance.assessment_step.order != total_steps %}
              {% if form.instance.instance.status == 'S' %}
                 <a type="button" class="btn btn-primary" title="Next Step" href="{% url 'ctstem:resumeAssignment'  form.instance.instance.assignment.id form.instance.instance.id form.instance.assessment_step.order|add:'1' %}">
                  Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </a>
              {% else %}
                <button type="submit" class="btn btn-primary" title="Next Step" >
                  Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </button>
              {% endif %}
            {% else %}
              {% if form.instance.instance.status == 'S' %}
                <a type="button" class="btn btn-danger" title="Next Step" href="{% url 'ctstem:assignments' %}">
                  Exit
                </a>
              {% else %}
                <button type="submit" class="btn btn-success" title="Submit Assignment">
                  Submit
                </button>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <input type="hidden" name="step_order" value="{{step.order}}"/>
        <hr>
        <div class="assessment_content">
          <div class="assessment_context">{{form.instance.assessment_step.content|safe}}</div>
          <hr>
          <div class="question_container">
            {{formset.management_form}}

            {% for questionForm in formset %}
              {% with questionObj=questionForm.assessment_question.value|get_assessment_question %}
              <div class="question">
                <div class="question_text">
                  {{questionForm.id}}
                  <span> Q{{forloop.counter}}.</span>
                  <span> {{questionObj.question_text|safe}} </span>
                  <input type="hidden" name="{{questionForm.assessment_question.html_name}}" id="{{questionForm.assessment_question.auto_id}}" value="{{questionForm.assessment_question.value}}"/>
                </div>
                <div class="answer_field">
                  {% with field_type=questionObj.answer_field_type %}
                    {% if field_type == 'TA' %}
                      <textarea placeholder="Enter your response" class="form-control" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" required>{{questionForm.response.value}}</textarea>
                    {% elif field_type == 'TF' %}
                      <input type="text" placeholder="Enter your response" class="form-control" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" required value="{{questionForm.response.value}}" />
                    {% elif field_type == 'DD' %}
                      <select class="form-control" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" required>
                        {% for option in questionObj.options|split:','%}
                          {% if option == questionForm.response.value %}
                            <option value="{{option}}" selected>{{option}}</option>
                          {% else %}
                            <option value="{{option}}">{{option}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    {% elif field_type == 'MC' %}
                      <div class="note"> Note: Select one answer </div>
                      {% for option in questionObj.options|split:','%}
                        {% if forloop.counter == 1 %}
                          {% if option|slugify == questionForm.response.value|slugify %}
                            <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" required checked="true"/>  {{option}}<br>
                          {% else %}
                            <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" required/>  {{option}}<br>
                          {% endif %}
                        {% else %}
                          {% if option|slugify == questionForm.response.value|slugify %}
                            <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" checked="true" />  {{option}}<br>
                          {% else %}
                            <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}"/>  {{option}}<br>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% elif field_type == 'MS' %}
                      <div class="note"> Note: Select all that apply </div>
                      <input type="hidden" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{questionForm.response.value}}"/>
                      {% with chosen=questionForm.response.value|split:',' %}
                      {% for option in questionObj.options|split:','%}
                        {% if option|is_in:chosen %}
                          <input type="checkbox" name="{{questionForm.response.html_name}}_cb" id="{{questionForm.response.auto_id}}_cb" value="{{option}}" checked/>  {{option}}<br>
                        {% else %}
                          <input type="checkbox" name="{{questionForm.response.html_name}}_cb" id="{{questionForm.response.auto_id}}_cb" value="{{option}}"/>  {{option}}<br>
                        {% endif %}
                      {% endfor %}
                      {% endwith %}
                    {% endif %}
                  {% endwith %}
                  <div class="error">{{questionForm.response.errors}}</div>
                </div>
              </div>
              {% endwith %}
            {% endfor %}
          </div>
        </div>
        <hr>
        <div class="row footer">
          <div class="col-md-6 back">
            {% if form.instance.assessment_step.order > 1 %}
              <a type="button" class="btn btn-primary" title="Previous Step" href="{% url 'ctstem:resumeAssignment'  form.instance.instance.assignment.id form.instance.instance.id form.instance.assessment_step.order|add:'-1' %}">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous
              </a>
            {% endif %}
          </div>
          <div class="col-md-6 next">
            {% if form.instance.assessment_step.order != total_steps %}
              {% if form.instance.instance.status == 'S' %}
                 <a type="button" class="btn btn-primary" title="Next Step" href="{% url 'ctstem:resumeAssignment'  form.instance.instance.assignment.id form.instance.instance.id form.instance.assessment_step.order|add:'1' %}">
                  Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </a>
              {% else %}
                <button type="submit" class="btn btn-primary" title="Next Step" >
                  Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </button>
              {% endif %}
            {% else %}
              {% if form.instance.instance.status == 'S' %}
                <a type="button" class="btn btn-danger" title="Next Step" href="{% url 'ctstem:assignments' %}">
                  Exit
                </a>
              {% else %}
                <button type="submit" class="btn btn-success" title="Submit Assignment">
                  Submit
                </button>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </form>

    <script type="text/javascript">
      $(".content input:checkbox").change(function(){
        var selectedValues = $("input[id="+$(this).attr('id')+"]:checked").map(function() {return this.value;}).get().join(',')
        var hiddenVar = $(this).prevAll('input:hidden');
        $(hiddenVar).val(selectedValues);
      });

      $(document).ready(function(){
        var status = "{{form.instance.instance.status}}";
        if(status == "S"){
          $(':input').attr('disabled', 'disabled');
        }
      });

    </script>
  </div>
{% endblock %}
