{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% block title %}Assignment |{% endblock %}
{% block media %}
  {{block.super}}
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <script type="text/javascript" src="/static/js/jquery.form.min.js"></script>
  <link href="/static/css/progress-wizard.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content" id="assignment">
    <form method="post" enctype="multipart/form-data" id="assignmentForm">
      {% csrf_token %}
      <div class="table" id="assignment">
        {{form.management_form}}
        <div class="row header">
          <div class="col-md-12 title">
            <div class="curriculum_title">
              {{form.instance.step.curriculum.title|title}}
            </div>
            <div class="step_title">
              <span>{{form.instance.step.title}}</span>
              <span>({{form.instance.step.order}}/{{total_steps}})</span>
            </div>
            <div>
              <ul class="progress-indicator">
                {% for i in total_steps|iterate %}
                  {% if i < form.instance.step.order %}
                    <li>
                      <a href="{% url 'ctstem:resumeAssignment'  form.instance.instance.assignment.id form.instance.instance.id i %}">
                        <span class="bubble"></span> Step {{i}}.
                      </a>
                    </li>
                  {% elif i == form.instance.step.order %}
                    <li class="active"> <span class="bubble"></span> Step {{i}}. </li>
                  {% else %}
                    {% if form.instance.instance.status == 'S' or form.instance.instance.status == 'F' or form.instance.instance.status == 'A' %}
                      <li>
                        <a href="{% url 'ctstem:resumeAssignment'  form.instance.instance.assignment.id form.instance.instance.id i %}">
                          <span class="bubble"></span> Step {{i}}.
                        </a>
                      </li>
                    {% else %}
                      <li> <span class="bubble"></span> Step {{i}}. </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <input type="hidden" name="step_order" value="{{step.order}}"/>
        <hr>
        <div class="curriculum_content">
          <div class="curriculum_context">{{form.instance.step.content|safe}}</div>
          <div class="question_container">
            {{formset.management_form}}
            {% if formset|length %}
              <hr>
            {% endif %}
            <div class="question_table">
              {% for questionForm in formset %}
                {% with questionObj=questionForm.curriculum_question.value|get_curriculum_question %}
                {% with field_type=questionObj.answer_field_type %}

                <div class="question_text">
                  <label> Question: </label>
                  <div class="question">
                    {{questionForm.id}}
                    {{questionObj.question_text|inline_style|safe}}
                    {{questionForm.curriculum_question.as_hidden}}
                    {{questionForm.save.as_hidden}}
                  </div>
                </div>
                <div class="answer_field">
                  <label>Response:</label>
                  <div class="response">
                    {% if form.instance.instance.status == 'F' or form.instance.instance.status == 'S' or form.instance.instance.status == 'A' %}
                      <div class="readonly">
                      {% if field_type == 'FI' %}
                        <div class="file">
                        Uploaded file: <a href="{{questionForm.responseFile.value.url}}" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
                        </div>
                      {% else %}
                        <div class="text">
                          {{questionForm.response.value}}
                        </div>
                      {% endif %}
                      </div>
                    {% else %}
                      {% if field_type == 'TA' %}
                        <textarea placeholder="Enter your response" class="form-control" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" >{{questionForm.response.value}}</textarea>
                      {% elif field_type == 'TF' %}
                        <input type="text" placeholder="Enter your response" class="form-control" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{questionForm.response.value}}" />
                      {% elif field_type == 'DD' %}
                        <select class="form-control" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}">
                          {% for option in questionObj.options|split:','%}
                            {% if option == questionForm.response.value %}
                              <option value="{{option}}" selected>{{option}}</option>
                            {% else %}
                              <option value="{{option}}">{{option}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      {% elif field_type == 'MC' %}
                        <div class="note"> Note: Select one answer </div>
                        {% for option in questionObj.options|split:','%}
                          {% if forloop.counter == 1 %}
                            {% if option|slugify == questionForm.response.value|slugify %}
                              <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}"  checked="true"/>  {{option}}<br>
                            {% else %}
                              <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" />  {{option}}<br>
                            {% endif %}
                          {% else %}
                            {% if option|slugify == questionForm.response.value|slugify %}
                              <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" checked="true" />  {{option}}<br>
                            {% else %}
                              <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}"/>  {{option}}<br>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      {% elif field_type == 'MS' %}
                        <div class="note"> Note: Select all that apply </div>
                        <input type="hidden" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{questionForm.response.value}}"/>
                        {% with chosen=questionForm.response.value|split:',' %}
                        {% for option in questionObj.options|split:','%}
                          {% if option|is_in:chosen %}
                            <input type="checkbox" name="{{questionForm.response.html_name}}_cb" id="{{questionForm.response.auto_id}}_cb" value="{{option}}" checked/>  {{option}}<br>
                          {% else %}
                            <input type="checkbox" name="{{questionForm.response.html_name}}_cb" id="{{questionForm.response.auto_id}}_cb" value="{{option}}"/>  {{option}}<br>
                          {% endif %}
                        {% endfor %}
                        {% endwith %}
                      {% elif field_type == 'FI' %}
                        <div class="note"> Note: Upload a file </div>
                       {{questionForm.responseFile}}
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
                <div class="error">
                  {% if field_type == 'FI' %}
                    {{questionForm.responseFile.errors}}
                  {% else %}
                    {{questionForm.response.errors}}
                  {% endif %}
                </div>

                {% if form.instance.instance.status == 'F' or form.instance.instance.status == 'A' %}
                  <div class="feedback">
                    <label>Feedback:</label>
                    <div class="feedback">{{questionForm.instance.id|getFeedback}}</div>
                  </div>
                {% endif %}
                {% if forloop.last %}
                  <hr>
                {% else %}
                  <hr class="light">
                {% endif %}
              {% endwith %}
              {% endwith %}
            {% endfor %}
          </div>
        </div>

        <div class="row footer">
          <div class="col-md-6 back">
            {% if form.instance.step.order > 1 %}
              <a type="button" class="btn btn-warning" title="Previous Step" href="{% url 'ctstem:resumeAssignment'  form.instance.instance.assignment.id form.instance.instance.id form.instance.step.order|add:'-1' %}">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Back
              </a>
            {% endif %}
          </div>
          <div class="col-md-6 next">
            {% if form.instance.step.order != total_steps %}
              {% if form.instance.instance.status == 'S' or form.instance.instance.status == 'F' or form.instance.instance.status == 'A' %}
                 <a type="button" class="btn btn-info" title="Next Step" href="{% url 'ctstem:resumeAssignment'  form.instance.instance.assignment.id form.instance.instance.id form.instance.step.order|add:'1' %}">
                  Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </a>
              {% else %}
                <button type="button" class="btn btn-info save" title="Save" >
                  Save
                </button>
                <button type="button" class="btn btn-success submit" title="Next Step" >
                  Save &amp; Continue <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </button>
              {% endif %}
            {% else %}
              {% if form.instance.instance.status == 'S' or form.instance.instance.status == 'F' or form.instance.instance.status == 'A' %}
                <a type="button" class="btn btn-danger" title="Next Step" href="{% url 'ctstem:assignments' 'inbox' %}">
                  Exit
                </a>
              {% else %}
                <button type="button" class="btn btn-info save" title="Save" >
                  Save
                </button>
                <button type="button" class="btn btn-success submit" title="Submit Assignment">
                  Submit
                </button>
              {% endif %}
            {% endif %}
          </div>
          <input type="hidden" id="save" name="save" value="0"/>
        </div>
      </div>
    </form>

    <script type="text/javascript">
      $(".content input:checkbox").change(function(){
        var selectedValues = $("input[id="+$(this).attr('id')+"]:checked").map(function() {return this.value;}).get().join(',')
        var hiddenVar = $(this).prevAll('input:hidden');
        $(hiddenVar).val(selectedValues);
      });

      $(document).ready(function(){
        var status = "{{form.instance.instance.status}}";
        var closedStatus = ['S', 'F', 'A'];
        if(closedStatus.indexOf(status) >= 0){
          $(':input').attr('disabled', 'disabled');
        }
      });

      $('button.save').click(function(){
        $('input:hidden[id="save"]').val(1);
        $('input:hidden[id*="save"][id*="form"]').val('on');
        $('form#assignmentForm').submit();
      });

      $('button.submit').click(function(){
        $('input:hidden[id="save"]').val(0);
        $('input:hidden[id*="save"][id*="form"]').val('');
        $('form#assignmentForm').submit();
      });

      //auto submit form every 60 seconds
      $(function(){
        {% if form.instance.instance.status != 'S' and form.instance.instance.status != 'F' and form.instance.instance.status != 'A' %}
        setInterval(function(){
          $('input:hidden[id="save"]').val(1);
          $('input:hidden[id*="save"][id*="form"]').val('on');
          $('#assignmentForm').ajaxSubmit({
            dataType : 'json',
            success: function(data){
              //message at the top of the page stating responses auto saved
              $("ul.messages li").remove();
              $("ul.messages").html('<li class="success">'+data.message+'</li>');
              //change the url in the browser if new assignment
              if (history.pushState) {
                var newurl = document.location.protocol +'//'+ document.location.host + data.url;
                history.replaceState({},'',newurl);
              }
              //update question response ids for new assignment
              $('input:hidden[id^="id_form-"][id$="-id"]').each(function(){
                var id = $(this).attr('id');
                if(!($(this).val())){
                  $(this).val(data.questionResponses[id]);
                }
              });
              $('input:hidden[id="id_form-INITIAL_FORMS"]').val(data.questionCount);
            },
            error: function(data) {
              $("ul.messages li").remove();
              $("ul.messages").html('<li class="error">The responses could not auto saved. Please click the Save or Save and Continue button at the bottom of the page.</li>');
            }
          });
          $('ul.messages').show();
          $('ul.messages').delay(10000).fadeOut('slow');
          return false;
        }, 60000)
        {% endif %}
      });



    </script>
  </div>
{% endblock %}
