{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block title %} {{curriculum.title}} Preview {%endblock %}

{% block bootstrap_css %}{% endblock %}
{% block datatable %}{% endblock %}
{% block django_admin %}{% endblock %}
{% block misc %}{% endblock %}
{% block agency %}{% endblock %}
{% block ctstem %}
  <script type="text/javascript" src="/static/js/session.js"></script>
{% endblock %}

{% block custom_media %}
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Maitree:400,700|Roboto+Condensed:300,400,700italic" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="http://canvasjs.com//assets/script/canvasjs.min.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap-modal.css">
  <link rel="stylesheet" href="/static/css/table.css">
  <link rel="stylesheet" href="/static/css/messages.css">
  <link rel="stylesheet" href="/static/css/assignment.css">
  <script type="text/javascript" src="/static/js/jquery.form.min.js"></script>
  <link rel="stylesheet" href="/static/css/sketch.css">
  <script type="text/javascript" src="/static/js/sketch.min.js"></script>
  <script type="text/javascript" src="/static/js/sketch_custom.js"></script>

{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <header>
    <div class="header-box">
      <h1>CT-STEM</h1>
      {{curriculum.title|title}}
      <nav>
        Page &nbsp;
        {% if step_order|add:0  == 0 %}
          <a class="page-link selected" href="#">{{1}}</a>
        {% else %}
          <a class="page-link" href="{% url 'ctstem:previewCurriculum'  curriculum.id 0 %}">{{1}}</a>
        {% endif %}
        {% for i in total_steps|iterate %}
          {% if i|add:0 == step_order|add:0 %}
            <a class="page-link selected" href="{% url 'ctstem:previewCurriculum'  curriculum.id i %}">{{i|add:1}}</a>
          {% else %}
            <a class="page-link" href="{% url 'ctstem:previewCurriculum'  curriculum.id i %}">{{i|add:1}}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </header>
  {{block.super}}
  <main>
    <div class="page">
      {% if step_order|add:0 == 0 %}
        <h2>Computational Thinking in Science and Math</h2>
        <h1>{{curriculum.title}}</h1>
        <hr>
        <p class="item">
          {% if curriculum.curriculum_type == 'S' %}
            Thanks for taking this survey about computational thinking!
            There are no right or wrong answers to these questions, we just want to know what you think.
          {% elif curriculum.curriculum_type == 'A' %}
            Thank you for taking this assessment!
            Please do the best that you can, and don't worry if you don't know all of the answers.
          {% elif curriculum.curriculum_type == 'L' %}
            {{curriculum.overview}}
          {% endif %}
        </p>
        <div class="save-buttons" style="text-align: center; margin-bottom: 150px; margin-top: 80px;">
          <a href="{% url 'ctstem:previewCurriculum'  curriculum.id 1 %}">
            <button class="continue">
              Start!
            </button>
          </a>
        </div>
      {% else %}
        <h2>{{step.title}}</h2>
        <hr>
        <form method="post" enctype="multipart/form-data" id="assignmentForm">
          <input type="hidden" name="step_order" value="{{step.order}}"/>
          {% if instanceform %}
            <div class="teammates">
              {{instanceform.management_form}}
              <label>If you worked in a team, select your teammates from the list below:</label>
              {{instanceform.teammates}}
              <div class="warning">{{instanceform.teammates.help_text}}</div>
            </div>
          {% endif %}
          <div class="step_context">
            {% if step.content %}
              {{step.content|safe}}
              <hr>
            {% endif %}
          </div>
          <div class="question_container">
            <div class="question_table">
              {% for curriculumquestion in step.curriculumquestion_set.all %}
                {% with question=curriculumquestion.question %}
                {% with field_type=question.answer_field_type %}
                {% if field_type != 'MH' %}
                  <div class="question_text">
                    <div class="question">
                      {{question|safe}}
                    </div>
                  </div>
                  <div class="answer_field">
                    <div class="response">

                      {% if field_type == 'TA' %}
                        <textarea placeholder="Enter your response" class="form-control assignment_textarea" name="{{forloop.counter}}" id="{{forloop.counter}}" ></textarea>
                      {% elif field_type == 'TF' %}
                        <input type="text" placeholder="Enter your response" class="form-control" name="{{forloop.counter}}" id="{{forloop.counter}}"/>
                      {% elif field_type == 'DD' %}
                        <select class="form-control" name="{{forloop.counter}}" id="{{forloop.counter}}">
                          {% for option in question.options|splitlines%}
                            <option value="{{option}}">{{option}}</option>
                          {% endfor %}
                        </select>
                      {% elif field_type == 'MC' %}
                        {% for option in question.options|splitlines%}
                          <input type="radio" name="{{question.id}}_mc" id="{{question.id}}_mc" value="{{option}}" />  {{option}}<br>
                        {% endfor %}
                      {% elif field_type == 'MI' %}
                        {% for option in question.options|splitlines%}
                          <input type="radio" name="{{question.id}}_mi" id="{{question.id}}_mi" value="{{option}}"/>
                          <span>{{forloop.counter0|get_ascii_char}}.</span>
                          <img src="{{option}}" class="image_option"/><br><br>
                        {% endfor %}
                      {% elif field_type == 'MS' %}
                        {% for option in question.options|splitlines%}
                          <input type="checkbox" name="{{question.id}}_cb" id="{{question.id}}_cb" value="{{option}}"/>  {{option}}<br>
                        {% endfor %}
                      {% elif field_type == 'FI' %}
                        <div class="note"> Note: Upload a file </div>
                        <input type="file" name="{{question.id}}_file" id="{{question.id}}_file"/> <br>
                      {% elif field_type == 'SK' %}
                        <div class="note"> Note: Draw your sketch in the sketchpad below </div>
                        <div id="{{question.id}}_sketch_tools" class="sketch_tools"></div>
                        <canvas id="{{question.id}}_sketch" width="800" height="500" class="assignment_sketch" style="{% if question.sketch_background %} background: url({{question.sketch_background.url}}) no-repeat;{% endif %}"></canvas>
                        <input type="hidden" id="{{question.id}}_sketch_object"/>
                        <!--input type="file" name="{{question.id}}_file" id="{{question.id}}_file"/--> <br>
                      {% endif %}
                    </div>
                  </div>
                  {% if forloop.last %}
                    <hr>
                  {% endif %}
                {% else %}
                  <table class="likert">
                    <tbody>
                      <tr class="likert-item">
                        <td class="likert-number">
                          {{forloop.counter}}.
                        </td>
                        <td class="likert-prompt">
                          {{question.question_text|inline_style|safe}}
                        </td>
                        {% for option in question.options|splitlines%}
                          <td class="likert-option">
                              <input type="radio" name="{{question.id}}_s" id="{{question.id}}_s" value="{{option}}" />
                          </td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                {% endif %}
              {% endwith %}
              {% endwith %}
            {% endfor %}
          </div>
        </div>

        <div class="save-buttons">
          {% if step_order|add:0 > 1 %}
            <a href="{% url 'ctstem:previewCurriculum'  curriculum.id step_order|add:'-1' %}">
              <button type="button" class="light back">Back</button>
            </a>
          {% endif %}
          <button type="button" class="light save" title="Save" >
            Save
          </button>
          {% if step_order|add:0 != total_steps %}
            <a href="{% url 'ctstem:previewCurriculum'  curriculum.id step_order|add:'1' %}">
              <button type="button" class="bright submit" title="Next Step" >
                Save &amp; Continue
              </button>
            </a>
          {% else %}
            <a href="{% url 'ctstem:previewCurriculum'  curriculum.id step_order|add:'0' %}">
              <button type="button" class="bright save" title="Submit Assignment">
                Submit
              </button>
            </a>
          {% endif %}
        </div>
        </form>
      {% endif %}
    </div>
  </main>
  <!-- FOOTER -->
  <footer>
    <p>
      <!-- TODO: Come up with terms of use page! -->
      <a data-toggle="modal" data-target="#terms" class="terms" href="#">
      <span class="fa fa-creative-commons fa-2x" style="position: relative; top: 5px; margin-right: 2px;"></span> 2016.
      Some Rights Reserved</a>.
    </p>
    <p>
      This material was developed by the <a href="{% url 'ctstem:home' %}"> CT-STEM Project</a> at Northwestern University. <br>
      To inquire about using our material in your school or as part of research, please contact
      <a href="mailto:ct-stem@ccl.northwestern.edu">ct-stem@ccl.northwestern.edu</a>.
    </p>
    <p>
      This work was made possible through generous support from the National Science Foundation (grants CNS-1138461 and CNS 1441041) and the Spencer Foundation (Award #201600069). Any opinions, findings, or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the funding organizations.
    </p>
  </footer>

{% endblock %}

{% block footer %} {% endblock %}

