{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% load base_extras %}

{% block title %} {{curriculum.title}} {%endblock %}

{% block bootstrap_css %}
  <link rel="stylesheet" href="{% staticfile 'css/bootstrap-modal.css' %}">
{% endblock %}
{% block datatable %}{% endblock %}
{% block django_admin %}{% endblock %}
{% block misc %}
 <script src="https://canvasjs.com//assets/script/canvasjs.min.js"></script>
 <script src="{% staticfile 'js/highlight.pack.js' %}"></script>
 <script type="text/javascript" src="{% staticfile 'ckeditor/ckeditor-init.js' %}"></script>
 <script type="text/javascript" src="{% staticfile 'ckeditor/ckeditor/ckeditor.js' %}"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
{% endblock %}
{% block agency %}{% endblock %}
{% block ctstem %}
  <script type="text/javascript" src="{% staticfile 'js/session.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/clone_more.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/assignment.js' %}"></script>
{% endblock %}

{% block custom_media %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Maitree:400,700|Roboto+Condensed:300,400,700italic" rel="stylesheet">
  <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script-->
  <link rel="stylesheet" href="{% staticfile 'css/table.css' %}">
  <link rel="stylesheet" href="{% staticfile 'css/messages.css' %}">
  <link rel="stylesheet" href="{% staticfile 'css/assignment.css' %}">
  <script type="text/javascript" src="{% staticfile 'js/jquery.form.min.js' %}"></script>
  <link rel="stylesheet" href="{% staticfile 'css/sketch.css' %}">
  <script type="text/javascript" src="{% staticfile 'js/sketch.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/sketch_custom.js' %}"></script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <header>
    <div><a class="navbar-brand" href="{% url 'ctstem:home' %}"><img src="/static/img/logo/svg/light/wide.svg"></a></div>
    <div class="title">{{curriculum.title|title}}</div>
    <div id="page_numbers">
      <nav id="numbers">
        Page &nbsp;
        {% if step_order|add:0  == 0 %}
          <a class="page-link selected">{{0}}</a>
        {% else %}
          <a class="page-link linked" href="{% url 'ctstem:resumeAssignment'  instance.assignment.id instance.id 0 %}">{{0}}</a>
        {% endif %}
        {% for i in total_steps|iterate %}
          {% if instance.status == 'S' or instance.status == 'F' or instance.status == 'A' %}
            {% if i|add:0 == step_order|add:0 %}
              <a class="page-link selected linked" href="{% url 'ctstem:resumeAssignment'  instance.assignment.id instance.id i %}">{{i}}</a>
            {% else %}
              <a class="page-link linked" href="{% url 'ctstem:resumeAssignment'  instance.assignment.id instance.id i %}">{{i}}</a>
            {% endif %}
          {% else %}
            {% if i|add:0 < step_order|add:0 %}
              <a class="page-link linked" href="javascript:waitForSave('{% url 'ctstem:resumeAssignment'  instance.assignment.id instance.id i %}')" onclick="return saveStep('{{form.instance.instance.status}}');">{{i}}</a>
            {% elif i|add:0 == step_order|add:0 %}
              <a class="page-link selected">{{i}}</a>
            {% else %}
              <a class="page-link">{{i}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </header>
  {{block.super}}
  <main>
    <div class="page">
      {% if step_order|add:0 == 0 %}
        <h2>Computational Thinking in Science and Math</h2>
        <h1>{{curriculum.title}}</h1>
        <hr>
        <p class="item">
          {% if curriculum.curriculum_type == 'A' %}
            {% if curriculum.student_overview %}
              {{curriculum.student_overview|safe}}
            {% endif %}
            Thank you for taking this assessment!
            Please do the best that you can, and don't worry if you don't know all of the answers.
          {% elif curriculum.curriculum_type == 'L' %}
            {% if curriculum.student_overview %}
              {{curriculum.student_overview|safe}}
            {% elif curriculum.unit and curriculum.unit.student_overview %}
              {{curriculum.unit.student_overview|safe}}
            {% endif %}
          {% endif %}

          {% if attachments %}
            <div>You will need additional resources to complete this assignment.  Please download them from this link <a href="{% url 'ctstem:downloadAttachments' curriculum.id%}" target="_blank">Download Attachment(s) <span class="fa fa-paperclip"></span></a></div>
          {% endif %}
        </p>
        <div class="save-buttons" style="text-align: center; margin-bottom: 150px; margin-top: 80px;">
          <a href="{% url 'ctstem:resumeAssignment'  instance.assignment.id instance.id 1 %}">
            <button class="continue" {% if total_steps == 0 %} disabled {% endif %}>
              {% if instance.status == 'N' %}
                Start!
              {% else %}
                Continue
              {% endif %}
            </button>
          </a>
        </div>
      {% else %}

        <h2>{{form.instance.step.title}}</h2>
        <hr>
        <form method="post" enctype="multipart/form-data" id="assignmentForm">
          {% csrf_token %}
          {{form.management_form}}
          <input type="hidden" name="step_order" value="{{step.order}}"/>
          {% if instanceform %}
            <div class="teammates">
              {{instanceform.management_form}}
              <label>If you are working in a team, select your teammates from the list below:</label>
              {{instanceform.teammates}}
              <div class="warning">{{instanceform.teammates.help_text}}</div>
            </div>
          {% endif %}
          <div class="step_context">
            {% if form.instance.step.content %}
              {{form.instance.step.content|safe}}
              <hr>
            {% endif %}
          </div>
          <div class="referenced_question_container">
          {% if form.instance.step|get_referenced_questions:form.instance.instance %}
            {% with referenced_questions=form.instance.step|get_referenced_questions:form.instance.instance %}
              <h3> Referenced Questions </h3>
              <div class="help">These questions were answered in the previous steps.  They are provided here for your reference.</div>
              {% for curr_question, response in referenced_questions %}
              {% with question=curr_question.question field_type=curr_question.question.answer_field_type  %}
                <div class="referenced_question_response">
                  <div class="question">
                    <label>Question {{curr_question.step.order}}.{{curr_question.order}}</label>
                    <div class="text">
                      {{question.question_text|inline_style|safe}}
                    </div>
                  </div>
                  <div class="response">
                    <label>Response:</label>
                    <div class="readonly text">
                      {% if field_type == 'FI' %}
                        <div class="file">
                          Uploaded file(s):
                          {% for response_file in response.response_file.all %}
                            {% if response_file.file %}
                              <div>
                                <a href="{{response_file.file.url}}" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true">{{response_file.file}}</span>
                                </a>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% elif field_type == 'MI' %}
                        <a data-toggle="modal" data-target="#imageModal" data-href="{{response.response}}" class="image_option">
                          <img src="{{response.response}}" class="image_option"/>
                        </a><br>
                      {% elif field_type == 'SK' %}
                        <canvas id="{{response.id}}_sketch" width="900" height="500" class="assignment_sketch" style="{% if question.sketch_background %} background: url({{question.sketch_background.url}}) no-repeat;{% endif %}"></canvas>
                        <input type="hidden" name="{{response.id}}_sketch_input" id="{{response.id}}_sketch_input" value='{{response.response}}'/>
                      {% elif field_type == 'DT' %}
                        <div class="assignment_input dt_input closed" id="dt_input_{{forloop.counter}}">
                          <input type="hidden" name="{{response.id}}_dt_input" id="{{response.id}}_dt_input" value='{{response.response}}'/>
                          <input type="hidden" name="column_headers" id="dt_col_headers_{{forloop.counter}}" value="{{question.options}}"/>
                          <table class="table table-condensed table-bordered inner_table" id="dt_table_{{forloop.counter}}">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                      {% else %}
                        <div>
                          {{response.response|safe}}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% if forloop.last == False %}
                  <hr class="light">
                {% endif %}
              {% endwith %}
              {% endfor %}
            {% endwith %}
          {% endif %}
          </div>
          <div class="question_container">
            {{formset.management_form}}
            {% if formset|length > 0 %}
              <h3>Questions</h3>
              <div class="help">Please answer the questions below.</div>
              <div class="question_table">
                {% for questionForm in formset %}
                  {% with questionObj=questionForm.curriculum_question.value|get_question %}
                  {% with field_type=questionObj.answer_field_type %}
                  {% if field_type != 'MH' %}
                    <div class="question_response_feedback {% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}">
                      <div class="question">
                        <label>Question {{step_order}}.{{forloop.counter}}</label>
                        <div class="text">
                          {{questionForm.id}}
                          {{questionObj.question_text|inline_style|safe}}
                          {{questionForm.curriculum_question.as_hidden}}
                          {{questionForm.save.as_hidden}}
                          {{questionForm.save_exit.as_hidden}}
                          {{questionForm.nested.management_form}}
                          {{questionForm.nested.id}}
                        </div>
                      </div>

                      <div class="response">
                        {% if instance.status == 'F' or instance.status == 'S' or instance.status == 'A' %}
                         <!-- completed assignment -->
                          <label>Response:</label>
                          <div class="readonly text">
                            {% if field_type == 'FI' %}
                              <div class="file">
                              Uploaded file(s):
                              {% for fileform in questionForm.nested %}
                                {% if fileform.file.value %}
                                  <div>
                                    <a href="{{fileform.file.value.url}}" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true">{{fileform.file.value}}</span>
                                    </a>
                                  </div>
                                {% endif %}
                              {% endfor %}
                              </div>
                            {% elif field_type == 'MI' %}
                              <a data-toggle="modal" data-target="#imageModal" data-href="{{questionForm.response.value}}" class="image_option">
                                <img src="{{questionForm.response.value}}" class="image_option"/>
                              </a><br>
                            {% elif field_type == 'SK' %}
                              <canvas id="{{questionForm.response.auto_id}}_sketch" width="900" height="500" class="assignment_sketch" style="{% if questionObj.sketch_background %} background: url({{questionObj.sketch_background.url}}) no-repeat;{% endif %}"></canvas>
                              <input type="hidden" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value='{{questionForm.response.value}}'/>
                            {% elif field_type == 'DT' %}
                              <div class="assignment_input dt_input" id="dt_input_{{forloop.counter}}">
                                <input type="hidden" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value='{{questionForm.response.value}}'/>
                                <input type="hidden" name="column_headers" id="dt_col_headers_{{forloop.counter}}" value="{{questionObj.options}}"/>
                                <table class="table table-condensed table-bordered inner_table" id="dt_table_{{forloop.counter}}">
                                  <thead>
                                  </thead>
                                  <tbody>
                                  </tbody>
                                </table>
                              </div>
                            {% elif field_type == 'TA' %}
                              <div>
                                {{questionForm.response.value|safe}}
                              </div>
                            {% else %}
                              <div>
                                {{questionForm.response.value}}
                              </div>
                            {% endif %}
                          </div>
                        {% else %}
                         <!-- New and In Progress assignment -->
                          <div class="text">
                          {% if field_type == 'TA' %}
                            {{questionForm.response}}
                            <!--textarea placeholder="Enter your response" class="form-control assignment_textarea assignment_input" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" >{{questionForm.response.value}}</textarea-->
                          {% elif field_type == 'TF' %}
                            <input type="text" placeholder="Enter your response" class="form-control assignment_input" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{questionForm.response.value}}" />
                          {% elif field_type == 'DD' %}
                            <select class="form-control assignment_input" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}">
                              <option value="">--------</option>
                              {% for option in questionObj.options|splitlines%}
                                {% if option|slugify == questionForm.response.value|slugify %}
                                  <option value="{{option}}" selected>{{option}}</option>
                                {% else %}
                                  <option value="{{option}}">{{option}}</option>
                                {% endif %}
                              {% endfor %}
                              <!-- the OTHER option -->
                              {% if questionObj.display_other_option %}
                                {% with options=questionObj.options|splitlines%}
                                {% if questionForm.response.value %}
                                  {% if questionForm.response.value|is_in:options %}
                                    <option value="{{option}}" class="other">Other</option>
                                    <input type="text" placeholder="Enter your response" class="form-control assignment_input other" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="" disabled/>
                                  {% else %}
                                    <option value="{{option}}" selected class="other">Other</option>
                                    <input type="text" placeholder="Enter your response" class="form-control assignment_input other" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{questionForm.response.value}}"/>
                                  {% endif %}
                                {% else %}
                                  <option value="{{option}}" class="other">Other</option>
                                  <input type="text" placeholder="Enter your response" class="form-control assignment_input other" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{questionForm.response.value}}" disabled/>
                                {% endif %}
                                {% endwith %}
                              {% endif %}
                            </select>
                          {% elif field_type == 'MC' %}
                            <div class="assignment_input" tabindex="-1">
                              {% for option in questionObj.options|splitlines%}
                                {% if option|slugify == questionForm.response.value|slugify %}
                                  <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}"  checked="true"/>  {{option}}<br>
                                {% else %}
                                  <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" />  {{option}}<br>
                                {% endif %}
                              {% endfor %}
                              <!-- the OTHER option -->
                              {% if questionObj.display_other_option %}
                                {% with options=questionObj.options|splitlines%}
                                {% if questionForm.response.value %}
                                  {% if questionForm.response.value|is_in:options %}
                                    <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" class="other" />  Other<br>
                                    <input type="text" placeholder="Enter your response" class="form-control assignment_input other" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="" disabled/>
                                  {% else %}
                                    <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" checked="true" class="other"/>  Other<br>
                                    <input type="text" placeholder="Enter your response" class="form-control assignment_input other" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{questionForm.response.value}}"/>
                                  {% endif %}
                                {% else %}
                                  <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" class="other" />  Other<br>
                                  <input type="text" placeholder="Enter your response" class="form-control assignment_input other" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{questionForm.response.value}}" disabled/>
                                {% endif %}
                                {% endwith %}
                              {% endif %}
                            </div>
                          {% elif field_type == 'MI' %}
                            <div class="assignment_input" tabindex="-1">
                              {% for option in questionObj.options|splitlines%}
                                {% if option|slugify == questionForm.response.value|slugify %}
                                  <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" checked="true" />
                                {% else %}
                                  <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}"/>
                                {% endif %}
                                <span>{{forloop.counter0|get_ascii_char}}.</span>
                                 <a data-toggle="modal" data-target="#imageModal" data-href="{{option}}" data-option="{{forloop.counter0|get_ascii_char}}" class="image_option"><img src="{{option}}" class="image_option"/></a><br><br>
                              {% endfor %}
                            </div>
                          {% elif field_type == 'MS' %}
                            <div class="assignment_input" tabindex="-1">
                              <input type="hidden" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{questionForm.response.value}}"/>
                              {% with chosen=questionForm.response.value|split:',' %}
                              {% for option in questionObj.options|splitlines%}
                                {% if option|is_in:chosen %}
                                  <input type="checkbox" name="{{questionForm.response.html_name}}_cb" id="{{questionForm.response.auto_id}}_cb" value="{{option}}" checked/>  {{option}}<br>
                                {% else %}
                                  <input type="checkbox" name="{{questionForm.response.html_name}}_cb" id="{{questionForm.response.auto_id}}_cb" value="{{option}}"/>  {{option}}<br>
                                {% endif %}
                              {% endfor %}
                              {% endwith %}
                            </div>
                          {% elif field_type == 'FI' %}
                            <div  tabindex="-1">
                              <table class="table table-striped table-condensed table-bordered inner_table collapsible_content">
                                <caption>Upload files that are less than 5MB in size.</caption>
                                <thead>
                                  <tr>
                                    <th>File</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for fileform in questionForm.nested %}
                                    <tr style="{% if forloop.last %} display:none; {% endif %}">
                                      <td class="attached_file">
                                        {{fileform.id}}
                                        {% if fileform.instance.file %}
                                          <a href="{{fileform.instance.file.url}}">{{fileform.file.value}}</a>
                                          {{fileform.file.as_hidden}}
                                        {% else %}
                                          <div class="assignment_input">
                                            {{fileform.file}}
                                          </div>
                                        {% endif %}
                                          <div class="error">
                                            {{fileform.file.errors}}
                                          </div>
                                      </td>

                                      <td class="attachment_edit">
                                        <button type="button" class="delete_attachment" name="delete_attachment" aria-label="Delete Attachment" title="Delete Attachment">
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                        {{fileform.DELETE.as_hidden}}
                                      </td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                              <button type="button" class="add_attachment" id="form-{{forloop.counter0}}-response_file" title="Add New Attachment">
                                  Upload more
                              </button>
                            </div>
                          {% elif field_type == 'SK' %}
                            <div class="assignment_input" tabindex="-1">
                              <div class="note"> Note: Draw your sketch in the sketchpad below </div>
                              <div id="{{questionForm.response.auto_id}}_sketch_tools" class="sketch_tools"></div>
                              <canvas id="{{questionForm.response.auto_id}}_sketch" width="900" height="500" class="assignment_sketch" style="{% if questionObj.sketch_background %} background: url({{questionObj.sketch_background.url}}) no-repeat;{% endif %}"></canvas>
                              <input type="hidden" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value='{{questionForm.response.value}}'/>
                            </div>
                           <br>
                          <!-- Data table -->
                          {% elif field_type == 'DT' %}
                            <div class="assignment_input dt_input" id="dt_input_{{forloop.counter}}">
                              <input type="hidden" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value='{{questionForm.response.value}}'/>
                              <input type="hidden" name="column_headers" id="dt_col_headers_{{forloop.counter}}" value="{{questionObj.options}}"/>
                              <table class="table table-condensed table-bordered inner_table" id="dt_table_{{forloop.counter}}">
                                <thead>
                                </thead>
                                <tbody>
                                </tbody>
                              </table>
                            </div>
                          {% endif %}
                        </div>
                        {% endif %}
                      </div>

                      <div class="error">
                        {% if field_type != 'FI' %}
                          {{questionForm.response.errors}}
                        {% endif %}
                      </div>

                      {% if instance.status == 'P' or instance.status == 'S' or instance.status == 'F' or instance.status == 'A' %}
                        {% with feedback=questionForm.instance.id|getFeedback %}
                          {% if feedback %}
                          <div class="feedback">
                            <label>Feedback:</label>
                            <div class="text">{{feedback}}</div>
                          </div>
                          {% endif %}
                        {% endwith %}
                      {% endif %}
                    </div>
                    {% if forloop.last == False %}
                      <hr class="light">
                    {% endif %}

                  {% else %}
                  <!-- SURVEY SECTION -->
                    <table class="likert">
                      <tbody>
                        <tr class="likert-item" tabindex="-1">
                          <td class="likert-number">
                            {{questionForm.id}}
                            {{questionForm.nested.management_form}}
                            {{questionForm.nested.id}}
                            {{step_order}}.{{forloop.counter}}.
                          </td>
                          <td class="likert-prompt">
                              {{questionObj.question_text|inline_style|safe}}
                              {{questionForm.curriculum_question.as_hidden}}
                              {{questionForm.save.as_hidden}}
                              <div class="error" style="display:none;">
                                {{questionForm.response.errors}}
                              </div>
                          </td>
                          {% for option in questionObj.options|splitlines%}
                            <td class="likert-option">
                              {% if option|slugify == questionForm.response.value|slugify %}
                                <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}"  checked="true" title="{{option}}"/>
                              {% else %}
                                <input type="radio" name="{{questionForm.response.html_name}}" id="{{questionForm.response.auto_id}}" value="{{option}}" title="{{option}}" />
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  {% endif %}
                {% endwith %}
                {% endwith %}
              {% endfor %}
            </div>
            <hr>
          {% endif %}
        </div>

        <div>
          {% if curriculum.curriculum_type != 'S' and curriculum.curriculum_type != 'A' %}
            <h3>Notes</h3>
            {{notesform.management_form}}
            <div class="assignment_input">
              {% if instance.status == 'F' or instance.status == 'S' or instance.status == 'A' %}
                {% if notesform.note.value %}
                  {{notesform.note.value|safe}}
                {% endif %}
              {% else %}
                <div class="help">These notes will appear on every page in this lesson so feel free to put anything here you'd like to keep track of.</div>
                {{notesform.note}}
              {% endif %}
            </div>
            <hr>
          {% endif %}
        </div>

        <div class="save-buttons">
          {% if form and form.instance.step.order > 0 %}
            <a class="back" href="javascript:waitForSave('{% url 'ctstem:resumeAssignment'  form.instance.instance.assignment.id form.instance.instance.id form.instance.step.order|add:'-1' %}')" onclick="return saveStep('{{form.instance.instance.status}}');">
              <button type="button" class="light back" id="bk">Back</button>
            </a>
          {% endif %}

          {% if form and form.instance.step.order != total_steps %}
            {% if instance.status == 'S' or instance.status == 'F' or instance.status == 'A' %}
              <a href="{% url 'ctstem:resumeAssignment' form.instance.instance.assignment.id form.instance.instance.id form.instance.step.order|add:'1' %}">
                <button type="button" class="bright next">Next</button>
              </a>
            {% else %}
              <button type="button" class="light save" id="sv" title="Save" >
                Save
              </button>
              <button type="button" class="bright submit" id="sc" title="Next Step" >
                Save &amp; Continue
              </button>
            {% endif %}
          {% else %}
            {% if instance.status == 'S' or instance.status == 'F' or instance.status == 'A' %}
              <a title="Next Step" href="{% url 'ctstem:home' %}">
                <button type="button" class="bright">Exit</button>
              </a>
            {% else %}
              <button class="light save" id="sv" title="Save" >
                Save
              </button>
              <button class="bright confirm_submit" id="sc" title="Save and Submit">
                Save &amp; Submit
              </button>
            {% endif %}
          {% endif %}
          <input type="hidden" id="save" name="save" value="0"/>
        </div>

        </form>
      {% endif %}
    </div>
    <div class="modal fade" id="imageModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title"></h3>
          </div>
          <div class="modal-body">
            <img src="" class="popup_image"/>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="confirmModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Submit Assignment</h3>
          </div>
          <div class="modal-body">
            <p>You are about to submit this assignment.  After submission, you will not be able to change/update your answers.</p>
          </div>
          <div class="modal-footer">
            <div class="form-group button-row">
              <button type="button" class="btn btn-danger" id="modal_exit" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-success" id="modal_submit" data-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- FOOTER -->
  {% include 'ctstem_app/CurriculumFooter.html' %}
  <script type="text/javascript">

    var evt;
    document.onmousemove = function (e) {
      e = e || window.event;
      evt = e;
    }


    $(function(){

      var allowPrompt = true;
      var status = "{{form.instance.instance.status}}";
      var closedStatus = ['S', 'F', 'A'];
      var closed = closedStatus.indexOf(status) >= 0;
      if(closed){
        $(':input:not(:button)').attr('disabled', 'disabled');
      }
      else{
        window.onbeforeunload = function (e) {
          if(allowPrompt){
            var message = 'Important: Please click on \'Save\' button to leave this page.';
            return message;
          }
          else{
            allowPrompt = true;
          }
        };
        /* Disable Auto Save
        //auto saving on ckeditor focusout
        for ( instance in CKEDITOR.instances ) {
          CKEDITOR.instances[instance].on('blur', function(e){
            autoSave();
          });
        }
        */
      }

      /*
     * iframe save/restore functions
     * iframes that implement save/restore state must have a unique id across the page and also have class receiver
     */
      window.onload = function() {
        //var myStorage = window.localStorage;
        // Get the window displayed in the iframe.
        //display iframe after page is fully loaded

        /*$('iframe').each(function(){
          $(this).css('position', 'static');
          $(this).css('visibility', 'visible');
        });*/


        //iterate for each iframe
        //iframe state can be restored regardless of the assignment status
        $('iframe.receiver').each(function(){
          var iframe = $(this);
          var id = $(this).attr('id');
          var iframe_url = $(iframe).attr('src');
          var iframe_domain = get_url(iframe_url);
          console.log('iframe '+id);
          var receiver = document.getElementById(id).contentWindow;
          //make an ajax call to get iframe state
          var data = {}
          data['iframe_url'] = iframe_url;
          $.ajax({
            url: "/iframe_state/{{instance.id}}/"+id+"/",
            method: "GET",
            dataType: "json",
            data: $.param(data),
            success: function(data){
              if(data["result"] == "Success") {
                var state = data['state'];
                var payload = JSON.stringify({'id': id, 'data': state});
                receiver.postMessage(payload, iframe_domain);
                console.log('iframe state sent to url => '+payload);
              }
              console.log(data['message']);
            },
            error: function (request, status, error) {
              console.log(request.responseText);
            },
          });
          //if there is saved form data, send it to the child iframe

        });

        // A function to process messages received by the window.
        function receiveMessage(e) {
          // Check to make sure that this message came from the correct domain.
          //also only make updates on open assignments
          if(e.data && !closed){
            var origin = e.origin;
            console.log(e.data);
            var payload = JSON.parse(e.data);
            var id = payload.id;
            var iframe_url = $('iframe#'+id).attr('src');
            var iframe_domain = get_url(iframe_url);
            if(origin == iframe_domain){
              //save the iframe state data
              //make an ajax call to get iframe state
              var data = {}
              data['csrfmiddlewaretoken'] = $("input[name='csrfmiddlewaretoken']").val();
              data['state'] = JSON.stringify(payload.data);
              data['iframe_url'] = iframe_url;
              data = $.param(data);
              $.ajax({
                url: "/iframe_state/{{instance.id}}/"+id+"/",
                method: "POST",
                dataType: "json",
                data: data,
                success: function(data){
                  console.log(data['message']);
                },
                error: function (request, status, error) {
                  console.log(request.responseText);
                },
              });
              //.setItem(id, JSON.stringify(payload.data));
            }
          }
        }

        function get_url(src) {
          var url_arr = src.split('/');
          var url = url_arr[0] + '//' + url_arr[2];
          return url;
        }

        // Setup an event listener that calls receiveMessage() when the window
        // receives a new MessageEvent.
        window.addEventListener('message', receiveMessage);
      };
      /***** End of  window.onload = function() { ****/

      loadCanvasData();
      loadDataTable(!closed);
      //Disable Auto Save
      //bindFocusOutSave(!closed);

      $("#assignmentForm input:checkbox").change(function(){
        var selectedValues = $("input[id="+$(this).attr('id')+"]:checked").map(function() {return this.value;}).get().join(',')
        var hiddenVar = $(this).prevAll('input:hidden');
        $(hiddenVar).val(selectedValues);
      });

      $('a.page-link.linked').click(function(){
        allowPrompt = false;
      });
      $('div.save-buttons button').click(function(){
        allowPrompt = false;
      });

      //Save button click
      $('button.save').click(function(){
        submit_assignment(1);
      });

      //Save and Continue button click
      $('button.submit').click(function(){
        submit_assignment(0);
      });

      //Save and Submit button click
      $('button.confirm_submit').click(function(){
        $('#confirmModal').modal('show');
        return false;
      });

      //Submit button click on confirmation modal
      $('button#modal_submit').click(function(){
        submit_assignment(0);
      });


      $('button.add_attachment').click(function() {
        var tr = $("tr:last", $(this).prev());
        cloneMore($(tr), $(this).attr('id'));
        //var new_row = $('div.attachment_table table.table tr:nth-last-child(2)');
        $(tr).toggle();
      });

      $('input[type="file"][id="selectedFile"]').change(function(){
        $("ul.messages li").remove();
        $("ul.messages").html('<li class="warning">Click the Save button below to Save the uploaded files</li>');
      })

      $('button.delete_attachment').click(function(){
        var r = confirm("Are you sure you want to delete this attachment?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('tr').hide();
          $("ul.messages li").remove();
          $("ul.messages").html('<li class="warning">Click the Save button below to Delete the uploaded files</li>');
        }
      });

      //hide disabled Other text field
      $('input[type="radio"]').on('change', function(){
        if($(this).is(':checked')){
          if($(this).hasClass('other')){
            $(this).siblings('input[type="text"]').prop('disabled', false);
          }
          else{
            $(this).siblings('input[type="text"]').prop('disabled', true);
            $(this).siblings('input[type="text"]').val('');
          }
        }
      });

      $('select.assignment_input').on('change', function(){
        var selected = $(this).find('option:selected');
        if($(selected).hasClass('other')){
          $(this).siblings('input[type="text"]').prop('disabled', false);
        }
        else{
          $(this).siblings('input[type="text"]').prop('disabled', true);
          $(this).siblings('input[type="text"]').val('');
        }
      });

      $('a.image_option').click(function(){
        var url = $(this).data("href");
        var option = $(this).data("option");
        $('#imageModal').find('img.popup_image').attr('src', url);
        $('#imageModal').find('h3.modal-title').html(option);
        $('#imageModal').modal('show');
        return false;
      });

      $('ul.messages').delay(5000).fadeOut('slow');

      //for each error message highlight the field causing the error
      $('div.error').each(function(){
        var error_length = $.trim($(this).text()).length;
        if(error_length > 0) {
          $(this).closest('.question_response_feedback').find('.assignment_input, .django-ckeditor-widget').addClass('input_error');
          $(this).closest('.likert-item').addClass('input_error');
        }
      });
      /******************************************************/
      page_numbers_position();

      $(window).on('resize', function(){
        page_numbers_position();
      });

    });

    //manual save on clicking Save or Save and Continue
    function submit_assignment(save){
      if(save == 1) {
        $('input:hidden[id="save"]').val(1);
        $('input:hidden[id*="save"][id*="form"]').val('on');
      }
      else {
        $('input:hidden[id="save"]').val(0);
        $('input:hidden[id*="save"][id*="form"]').val('');
      }
      setCanvasData();
      setDataTable();
      $('form#assignmentForm').submit();
    }

    function waitForSave(URL){
      setTimeout( function() { window.location = URL }, 1000 );
    }
    //ajax save on clicking the Back button or Page number
    function saveStep(status){
      if(status != 'S' && status != 'F' && status != 'A'){
        $('input:hidden[id="save"]').val(1);
        $('input:hidden[id*="save"][id*="form"]').val('on');
        for ( instance in CKEDITOR.instances ) {
          CKEDITOR.instances[instance].updateElement();
        }
        setCanvasData();
        setDataTable();
        $('#assignmentForm').ajaxSubmit({
           dataType : 'json',
           success: function(data){
            return false;
           },
        });
      }
      return true;
    }
    /* Disable Auto Save
    //auto saving on focusout of form elements other than ckeditor
    function bindFocusOutSave(status) {
      if (status) {
        $('.assignment_input').focusout(function(e){
          if(evt.target.id == 'sv' ||  evt.target.id == 'sc' || evt.target.id == 'bk'){
            console.log('manual save');
            return false;
          }
          else{
            autoSave();
          }
        });
      }
      else {
        $('canvas').each(function(){
          $(this)[0].removeEventListener('click');
        });
      }
    }
    */
    /* Disable Auto Save
    // ajax submit assignment step form
    function autoSave(){
      $('input:hidden[id="save"]').val(1);
      $('input:hidden[id*="save"][id*="form"]').val('on');
      for ( instance in CKEDITOR.instances ) {
        CKEDITOR.instances[instance].updateElement();
      }
      setCanvasData();
      setDataTable();
      $('#assignmentForm').ajaxSubmit({
        dataType : 'json',
        success: function(data){
          //message at the top of the page stating responses auto saved
          $("ul.messages li").remove();
          $("ul.messages").html('<li class="success">'+data.message+'</li>');
          //change the url in the browser if new assignment
          if (history.pushState) {
            var newurl = document.location.protocol +'//'+ document.location.host + data.url;
            history.replaceState({},'',newurl);
          }
          //update question response ids for new assignment
          $('input:hidden[id^="id_form-"][id$="-id"]').each(function(){
            var id = $(this).attr('id');
            if(!($(this).val())){
              $(this).val(data.questionResponses[id]);
            }
          });
          $('input:hidden[id="id_form-INITIAL_FORMS"]').val(data.questionCount);

        },
        error: function(data) {
          $("ul.messages li").remove();
          $("ul.messages").html('<li class="error">The responses could not auto saved. Please click the Save or Save and Continue button at the bottom of the page.</li>');
        }
      });
      $('ul.messages').show();
      $('ul.messages').delay(30000).fadeOut('slow');
      return false;
    }
    */
  </script>

{% endblock %}

{% block footer %} {% endblock %}
