{% load base_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {% block title %} {%endblock %} CT-STEM  </title>
    {% block media %}
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
      <!-- admin widget for multi select -->
      <link rel="stylesheet" href="/static/css/django-admin-widgets.css"/>
      <!-- jQuery library -->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

      <!-- DataTables library -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
      <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

      <script type="text/javascript" src="/static/js/django-admin.multiselect.js"></script>
      <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

      <script type="text/javascript" src="/static/js/ctstem.js"></script>


      <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/static/css/agency.css">
      <link rel="stylesheet" href="/static/css/ctstem.css" media="screen"/>
      <!-- Plugin JavaScript -->

      <script type="text/javascript">
        $(function (){
          $("#formLogin").submit(function(e) {
            e.preventDefault();
            var data = $(this).serialize();
            var url = "{% url 'ctstem:login' %}";
            $.ajax({
              type: "POST",
              url: url,
              data: data,
              dataType: 'json',
              success: function(data){
                if(data['result'] == 'Success'){
                  window.location = "{% url 'ctstem:home' %}";
                }
                else{
                  $('#loginMsg').html(data['message']);
                  $('#password').val('');
                }
              },
              error: function(xhr, ajaxOptions, thrownError){
                $('#loginMsg').html("Something went wrong.  Try again later!");
                $('#password').val('');
              },
            });
          });
          //check student session every 60 seconds
          {% if user.student %}
          setInterval(check_session, 60000);
          {% endif %}

        });
      </script>
    {% endblock %}
  </head>

  <body id="page-top" class="index">
    {% block header %}
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'ctstem:home' %}">CT<span>STEM</span></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% if not user.student %}
                {% if user.is_authenticated %}
                  <li class="{% navactive request 'ctstem:curricula' 'lessons' %}"><a href="{% url 'ctstem:curricula' 'lessons' %}">Lessons</a></li>
                  <li class="{% navactive request 'ctstem:curricula' 'assessments' %}"><a href="{% url 'ctstem:curricula' 'assessments' %}">Assessments</a></li>
                  <li class="{% navactive request 'ctstem:events' %}"><a href="{% url 'ctstem:events' %}">Workshops</a></li>
                  <li class="{% navactive request 'ctstem:publications' %}"><a href="{% url 'ctstem:publications' %}">Research</a></li>
                  <li class="{% navactive request 'ctstem:standards' %}"><a href="{% url 'ctstem:standards' %}">Standards</a></li>
                {% else %}
                  <li><a class="page-scroll" href="#lessons">Lessons</a></li>
                  <li><a class="page-scroll" href="#assessments">Assessments</a></li>
                  <li><a class="page-scroll" href="#workshops">Workshops</a></li>
                  <li><a class="page-scroll" href="#research">Research</a></li>
                  <li><a class="page-scroll" href="#practices">Standards</a></li>
                  <li><a class="page-scroll" href="#team">Team</a></li>
                {% endif %}
              {% endif %}
              {% if user.student %}
                <li class="{% navactive request 'ctstem:assignments' 'inbox' %}"><a href="{% url 'ctstem:assignments' 'inbox' %}">My Assignments</a></li>
              {% endif %}

              {% if user.administrator or user.researcher or user.teacher %}
                <li class="dropdown {% navactive request 'ctstem:users' 'students' %} {% navactive request 'ctstem:users' 'teachers' %} {% navactive request 'ctstem:users' 'admins' %} {% navactive request 'ctstem:users' 'researchers' %} {% navactive request 'ctstem:users' 'authors' %} {% navactive request 'ctstem:groups' %}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="users">Users  <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    {% if user.administrator %}
                      <li class="{% navactive request 'ctstem:users' 'admins' %}"><a href="{% url 'ctstem:users' 'admins' %}">Site Admins</a></li>
                      <li class="{% navactive request 'ctstem:users' 'researchers' %}"><a href="{% url 'ctstem:users' 'researchers' %}">Researchers/School Admins</a></li>
                      <li class="{% navactive request 'ctstem:users' 'authors' %}"><a href="{% url 'ctstem:users' 'authors' %}">Content Authors</a></li>
                    {% endif %}
                    {% if user.administrator or user.researcher %}
                      <li class="{% navactive request 'ctstem:users' 'teachers' %}"><a href="{% url 'ctstem:users' 'teachers' %}">Teachers</a></li>
                    {% endif %}
                    {% if user.administrator or user.researcher or user.teacher %}
                      <li class="{% navactive request 'ctstem:users' 'students' %}"><a href="{% url 'ctstem:users' 'students' %}">Students</a></li>
                      <li class="divider"></li>
                      <li class="{% navactive request 'ctstem:groups' %}"><a href="{% url 'ctstem:groups' %}">Student Groups</a></li>
                    {% endif %}
                  </ul>
                </li>
              {% endif %}

              {% if user.administrator or user.researcher %}
                <li class="dropdown {% navactive request 'ctstem:subjects' %} {% navactive request 'ctstem:schools' %}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="metadata">Metadata<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="{% navactive request 'ctstem:subjects' %}"><a href="{% url 'ctstem:subjects' %}">Subjects</a></li>
                    <li class="{% navactive request 'ctstem:schools' %}"><a href="{% url 'ctstem:schools' %}">Schools</a></li>
                    <li class="{% navactive request 'ctstem:teamMembers' %}"><a href="{% url 'ctstem:teamMembers' %}">Team</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% block profile %}
                {% if user.is_authenticated %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="welcome">
                      <span class="glyphicon glyphicon-user"></span>
                      <strong>{{ user.get_full_name}}</strong>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="navbar-login">
                          <div class="row">
                            <div class="col-lg-4">
                              <p class="text-center">
                                <span class="glyphicon glyphicon-user icon-size"></span>
                              </p>
                            </div>
                            <div class="col-lg-8">
                              <p class="text-left"><a>{{user.get_full_name|title}}</a></p>
                              <p class="text-left small"><a>{{user.email}}</a></p>
                              <p class="text-left">
                                <a href="{% url 'ctstem:userProfile' user.id %}" class="btn btn-success btn-block btn-sm">Edit Profile</a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <div class="navbar-login navbar-login-session">
                          <div class="row">
                            <div class="col-lg-12">
                              <p>
                                <a href="{% url 'ctstem:logout' %}" class="btn btn-danger btn-block">Logout</a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                {% else %}
                  <li>
                    <a data-toggle="modal" data-target="#login">Login</a>
                  </li>
                {% endif %}
              {% endblock %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    {% endblock %}

    {% block content %}
      <ul class="messages bg-light-gray">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endblock %}
    {% block login %}
      <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">Login</h3>
            </div>
            <div id="loginMsg">
            </div>
            <form class="form" id="formLogin" method="post">
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-group">
                  <label for="id_username">Username*</label>
                  <input name="username" id="username" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="id_password">Password*</label>
                  <input name="password" id="password" type="password" class="form-control">
                </div>
              </div>
              <div class="modal-footer">
                <div class="form-group button-row">
                  <button type="submit" id="btnLogin" class="btn btn-success">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    Login
                  </button>
                  <a type="button" href="{% url 'ctstem:register' %}" class="btn btn-info">Register</a>
                </div>
                <div class="form-group button-row">
                  <a href="{% url 'password_reset_recover' %}">Forgot Password</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endblock %}
    {% block session_expiry %}
      <div class="modal fade" id="session_expiry" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Session Expiring</h3>
            </div>
            <div id="sessionMsg">
            </div>
            <form class="form" id="formSession" method="post" action="{% url 'ctstem:check_session' %}">
              {% csrf_token %}
              <div class="modal-body">
                <h5>Your session is expiring in <span class="time"></span> second(s)</h5>
              </div>
              <div class="modal-footer">
                <div class="form-group button-row">
                  <button type="submit" id="btnSession" class="btn btn-success">
                    Keep Session
                  </button>
                  <a type="button" href="{% url 'ctstem:logout' %}" class="btn btn-warning">Logout</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endblock %}



    {% block modals %}
      <div class="modal fade" id="privacy" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">Privacy Policy</h3>
            </div>
            <div class="modal-body">
              <p>Privacy Policy Lorem ipsum</p>
            </div>
            <div class="modal-footer">
              <div class="form-group button-row">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="terms" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">Terms of Use</h3>
            </div>
            <div class="modal-body">
              <p>Terms of Use Lorem ipsum</p>
            </div>
            <div class="modal-footer">
              <div class="form-group button-row">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="funding" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">Funding Agencies</h3>
            </div>
            <div class="modal-body">
              <p>This work is supported by the National Science Foundation under NSF Grants CNS-1138461 and CNS-1441041 and by the Spencer Foundation. However, any opinions, findings, conclusions, and/or recommendations are those of the investigators and do not necessarily reflect the views of the funders.</p>
            </div>
            <div class="modal-footer">
              <div class="form-group button-row">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="curriculum" role="dialog">
      </div>
    {% endblock %}
  </body>

  <footer>
    {% block footer %}
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; CT-STEM 2016</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><a href="#privacy" data-toggle="modal">Privacy Policy</a>
            </li>
            <li><a href="#terms" data-toggle="modal">Terms of Use</a>
            </li>
            <li><a href="#funding" data-toggle="modal">Funding Agency</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}
  </footer>


</html>
