{% load base_extras %}
<html>
  <head>
    <title> {% block title %} {%endblock %} CT-STEM  </title>
    {% block media %}
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <!-- admin widget for multi select -->
      <link rel="stylesheet" href="/static/css/django-admin-widgets.css"/>
      <!-- jQuery library -->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <!-- DataTables library -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/ju/dt-1.10.9/datatables.min.css"/>
      <script type="text/javascript" src="https://cdn.datatables.net/r/ju/dt-1.10.9/datatables.min.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <script type="text/javascript" src="/static/js/django-admin.multiselect.js"></script>
      <script type="text/javascript" src="/static/js/ctstem.js"></script>
      <link rel="stylesheet" href="/static/css/ctstem.css" media="screen"/>

    {% endblock %}
  </head>

  <body>
    {% block header %}
      <div id="header">
        <div class="innerWrap">
          <div id="logo">
            <a href="http://ct-stem.northwestern.edu/">
              <img class="logo" src="/static/img/logo.png" alt="logo" width="191" height="115">
            </a>
          </div>
          <div id="banner">
            <h2 id="title">
              <a href="http://ct-stem.northwestern.edu/">
                Computational Thinking in STEM
              </a>
            </h2>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
              <li class="{% navactive request 'ctstem:home' %}"><a href="/">Home</a></li>
              <li class="{% navactive request 'ctstem:about_us' %}"><a href="{% url 'ctstem:about_us' %}" title="Go to the About Us page" class="link">About Us</a></li>
              <li class="{% navactive request 'ctstem:partners' %}"><a href="{% url 'ctstem:partners' %}" title="Go to the Partners page" class="link">Partners</a></li>
              <li class="dropdown {% navactive request 'ctstem:lessons' %} {% navactive request 'ctstem:assessments' %}"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="curriculum">Curriculum  <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="{% navactive request 'ctstem:lessons' %}"><a href="{% url 'ctstem:lessons' %}">Lesson Plans</a></li>
                  <li class="{% navactive request 'ctstem:assessments' %}"><a href="{% url 'ctstem:assessments' %}">Assessments</a></li>
                </ul>
              </li>

              <li class="{% navactive request 'ctstem:events' %}"><a href="{% url 'ctstem:events' %}">Events</a></li>
              <li class="{% navactive request 'ctstem:publications' %}"><a href="{% url 'ctstem:publications' %}">Publications</a></li>
              <li class="{% navactive request 'ctstem:taxonomy' %}"><a href="{% url 'ctstem:taxonomy' %}">Taxonomy</a></li>
              {% if user.administrator %}
                <li class="dropdown {% navactive request 'ctstem:users' 'students' %} {% navactive request 'ctstem:users' 'teachers' %} {% navactive request 'ctstem:users' 'admins' %} {% navactive request 'ctstem:users' 'researchers' %} {% navactive request 'ctstem:users' 'authors' %}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="curriculum">Users  <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="{% navactive request 'ctstem:users' 'admins' %}"><a href="{% url 'ctstem:users' 'admins' %}">Site Admins</a></li>
                    <li class="{% navactive request 'ctstem:users' 'researchers' %}"><a href="{% url 'ctstem:users' 'researchers' %}">Researchers/School Admins</a></li>
                    <li class="{% navactive request 'ctstem:users' 'authors' %}"><a href="{% url 'ctstem:users' 'authors' %}">Content Authors</a></li>
                    <li class="{% navactive request 'ctstem:users' 'teachers' %}"><a href="{% url 'ctstem:users' 'teachers' %}">Teachers</a></li>
                    <li class="{% navactive request 'ctstem:users' 'students' %}"><a href="{% url 'ctstem:users' 'students' %}">Students</a></li>
                  </ul>
                </li>
              {% endif %}

            </ul>
            {% block profile %}
              {% if user.is_authenticated %}
                <ul class="nav navbar-nav pull-right">
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="welcome">Welcome, {{ user.first_name }}  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'ctstem:userProfile' user.id %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit Profile</a></li>
                      <li><a href=""><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Account Settings</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'ctstem:logout' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Logout</a></li>
                    </ul>
                  </li>
                </ul>
              {% else %}
                <ul class="nav navbar-nav pull-right">
                  <li>
                    <a href="#" data-toggle="modal" data-target="#login">Login</a>
                  </li>
                </ul>
              {% endif %}
            {% endblock %}
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    {% endblock %}

    {% block content %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% block login %}
        <div class="modal fade" id="login" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Login</h3>
              </div>
              <form class="form" id="formLogin" action="/login/" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="form-group">
                    <label for="id_username">Username*</label>
                    <input name="username" id="id_username" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="id_password">Password*</label>
                    <input name="password" id="password" type="password" class="form-control">
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="form-group button-row">
                    <button type="submit" id="btnLogin" class="btn btn-success">
                      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                      Login
                    </button>
                    <a type="button" href="{% url 'ctstem:register' %}" class="btn btn-primary">Register</a>
                  </div>
                  <div class="form-group button-row">
                    <a href="{% url 'ctstem:register' %}">Forgot Password</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endblock %}

    {% endblock %}

    {% block footer %}
      <div id="Footer">
        <div class="innerWrap">
          <p></p>
          <div class="captionImage left" style="width: 100px;">
            <img class="left" src="/static/img/NSFLogo.png" alt="NSF Logo" title="NSF Logo" width="100" height="100">
          </div>
          This work is supported in part National Science Foundation under NSF grant CNS-1138461. However, any opinions, findings, conclusions, and/or recommendations are those of the investigators and do not necessarily reflect the views of&nbsp; the Foundation.
          <p>&nbsp;</p>
        </div>
        <div id="Copyright">
          <div class="innerWrap">
            <p style="text-align:center">Copyright © 2015 Northwestern University</p>
          </div>
        </div>
      </div>
    {% endblock %}

  </body>
</html>
