
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      {% if parent == 'profile' %}
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      {% endif %}
      <h3 class="modal-title">Welcome to CT-STEM!</h3>

    </div>
    <div id="consentMsg" class="msg">
    </div>
    <form class="form" id="consentForm" method="post" action="{% url 'ctstem:consent' %}">
      {% csrf_token %}
      <div class="modal-body">
        <div class="body">
          This website was developed by Northwestern University with funding from the National Science Foundation and the Spencer Foundation. As part of a research study, we are collecting anonymous work from students like you through this site.
        </div>
        {% include 'ctstem_app/ConsentLanguage.html' %}
        <div class="body">
          If you wish to participate, please check the <b>“I Agree”</b> option. If you do not wish to participate in this study, please select <b>“I Disagree"</b>.  You may change your answer by clicking on the Edit Profile link.
        </div>
        {% if parent != 'profile' %}
          <div class="form-group">
           {{form.consent}}
          </div>
        {% endif %}
      </div>

      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="button" class="btn btn-default" id="print">Print</button>
          {% if parent != 'profile' %}
            <button type="submit" id="saveConsent" class="btn btn-success">
              Submit
            </button>
          {% else %}
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Close
            </button>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){

    $("#consentForm").submit(function(e) {
      e.preventDefault();
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        context: this,
        success: function(data){
          if(data['result'] == 'Success'){
            window.location.reload();
          }
          else{
            $('#consentMsg').html(data['message']);
          }
          return false;
        },
        error: function(xhr, ajaxOptions, thrownError){
          alert(thrownError);
        },
      });
    });

    $('button#print').on('click', function(){
      var mywindow = window.open('', 'Online Consent', 'height=1000,width=600');
      mywindow.document.write('<html><head><title>Online Consent</title>');
      mywindow.document.write('</head><body >');
      mywindow.document.write($(this).closest('.modal-content').html());
      mywindow.document.write('</body></html>');

      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10

      mywindow.print();
      mywindow.close();

      return true;
    });
  });
  </script>

