<div class="consent">
  <div class="header">Title of Research Study: Broadening Participation in a Computational Future: Casing a Wide Net</div>
  <div class="header">Principal Investigator: Mike Horn, PhD</div>
  <div class="header">Supported By: The Spencer Foundation</div>
  <div class="header">Why am I being asked to take part in this research study?</div>
  <div>We are asking you to take part in this research study because we are trying to learn more about how high school students develop computational thinking skills through their required sciences classes.</div>
  <div class="header">What should I know about a research study?</div>
  <ul>
    <li>Whether or not you take part is up to you.</li>
    <li>You can choose not to take part.</li>
    <li>You can agree to take part and later change your mind.</li>
    <li>Your decision will not be held against you.</li>
  </ul>
  <div class="header"> Who can I talk to?</div>
  <div>If you have questions, concerns, or complaints, or think the research has hurt you, talk to the Principal Investigator, Michael Horn, at (671) 803-5501, or the postdoctoral investigator, Hillary Swanson, at (847) 491-3726.</div>
  <div>This research has been reviewed and approved by an Institutional Review Board (“IRB”). You may talk to them at (312) 503-9338 or irb@northwestern.edu if:</div>
  <ul>
    <li> Your questions, concerns, or complaints are not being answered by the research team.</li>
    <li> You cannot reach the research team.</li>
    <li>You want to talk to someone besides the research team.</li>
    <li>You have questions about your rights as a research participant.</li>
    <li>You want to get information or provide input about this research.</li>
  </ul>
  <div class="header">Why is this research being done?</div>
  <div>The purpose of this research is to learn more about how high school students learn computational thinking skills through their science classes.</div>
  <div class="header">How long will the research last?</div>
  <div>Your participation in this study will last as long as your teacher and school use this web site and curriculum. </div>
  <div class="header">What happens if I say “Yes, I want to be in this research”?</div>
  <div>If you agree to participate, your answers to questions in the online lessons will be shared with the research team. Your answers will be anonymized.  </div>
  <div class="header">What happens if I do not want to be in this research?</div>
  <div>You can decide not to participate in this research and it will not be held against you.</div>
  <div class="header">What happens if I say “Yes”, but I change my mind later?</div>
  <div>You can leave the research at any time and it will not be held against you.  To do so, click on the “Edit Profile” link in the menu bar and select “I do not agree” option for this consent form. </div>
  <div class="header">Is there any way being in this study could be bad for me? </div>
  <div>The risk of being in the study is similar to that of being a student in school and using an online portal. There is a risk that your anonymized responses could somehow be identified based on your answers. </div>
  <div class="header">What happens to the information collected for the research? </div>
  <div>If you agree to be part of this research study, we will look at your anonymous responses to the curriculum and assessments hosted on this web site. Your responses will be stored on a secure web server maintained by Northwestern University’s School of Education and Social Policy.</div>

  <div class="header">Consent</div>

  <div>If you want a copy of this consent for your records, you can print it from the screen. </div>

  <div>If you wish to participate, please check the “I Agree” option. If you do not wish to participate in this study, please select “I Disagree .  You may change your answer by clicking on the Edit Profile link. </div>
</div>
