{% extends "ctstem_app/base.html" %}
{% block title %}CT-STEM Practice |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2>CT-STEM Practice</h2>
    <form method="post">
      {% csrf_token %}
      {{formset.management_form}}
      {% for form in formset %}
      <div class="table ngss">
        {{form.management_form}}
        {{form.id}}
        <div class="form-group">
          <label for="id_{{form.category.name}}">{{ form.category.label }}</label>
          <div>{{form.category}}</div>
          <div class="error">{{ form.category.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{form.title.name}}">{{ form.title.label }}</label>
          <div>{{form.title}}</div>
          <div class="error">{{ form.title.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{form.overview.name}}">{{ form.overview.label }}</label>
          <div>{{form.overview}}</div>
          <div class="error">{{ form.overview.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{form.order.name}}">{{ form.order.label }}</label>
          <div>{{form.order}}</div>
          <div class="error">{{ form.order.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{form.DELETE.name}}">{{ form.DELETE.label }}</label>
          <div>{{form.DELETE}}</div>
          <div class="error">{{ form.DELETE.errors }}</div>
        </div>
      </div>
      {% endfor %}
      <div class="form-group button-group-fixed">
        <input type="submit" class="btn btn-success" id="submit" value="Save"/>
        <input type="button" class="btn btn-primary" id="add" value="Add More"/>
      </div>
    </form>
  </div>
  <script type="text/javascript">
    $('#add').click(function() {
      cloneMore('div.table:last', 'form');
    });
  </script>
{% endblock %}
