<ul class="nav nav-tabs">
  {% if user.teacher %}
    <li {% if bucket == 'unit' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'unit' 'public' %}">Units</a></li>
    <li {% if bucket == 'lesson' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lesson' 'public' %}">Lessons</a></li>
    <li {% if bucket == 'assessment' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessment' 'public' %}">Assessment</a></li>
    <li {% if bucket == 'my' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'my' %}">My Curricula</a></li>
    <li {% if bucket == 'shared'%} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'shared' %}">Shared Curricula</a></li>
    <li {% if bucket == 'favorite' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'favorite' %}">Favorite Curricula</a></li>
  {% else %}
    <li {% if bucket == 'unit' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'unit' 'public' %}">Units</a></li>
    <li {% if bucket == 'lesson' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lesson' 'public' %}">Lessons</a></li>
    <li {% if bucket == 'assessment' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessment' 'public' %}">Assessment</a></li>
    {% if user.administrator or user.author %}
      <li {% if bucket == 'teacher_authored' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'teacher_authored' %}">Teacher Authored Curricula</a></li>
    {% endif %}
    {% if user.researcher %}
      <li {% if bucket == 'my' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'my' %}">My Curricula</a></li>
    {% endif %}
    {% if user.administrator %}
      <li {% if bucket == 'deleted' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'deleted' %}">Deleted Curricula</a></li>
    {% endif %}
  {% endif %}

  <div class="search">
    {{searchForm.search_criteria}}
    <input type="submit" class="btn btn-success" id="submit" value="Search"/>
    <input type="submit" class="btn btn-warning" id="clear" value="Clear"/>
  </div>
</ul>

{% if user.administrator or user.author %}
  {% if bucket == 'unit' %}
     <ul class="nav nav-tabs">
      <li {% if status == 'private' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'unit' 'private'%}">Private</a></li>
      <li {% if status == 'public' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'unit' 'public' %}">Public</a></li>
      <li {% if status == 'archived' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'unit' 'archived' %}">Archived</a></li>
    </ul>
  {% elif bucket == 'lesson' %}
    <ul class="nav nav-tabs">
      <li {% if status == 'private' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lesson' 'private' %}">Private</a></li>
      <li {% if status == 'public' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lesson' 'public' %}">Public</a></li>
      <li {% if status == 'archived' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lesson' 'archived' %}">Archived</a></li>
    </ul>
  {% elif bucket == 'assessment' %}
    <ul class="nav nav-tabs">
      <li {% if status == 'private' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessment' 'private' %}">Private</a></li>
      <li {% if status == 'public' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessment' 'public' %}">Public</a></li>
      <li {% if status == 'archived' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessment' 'archived' %}">Archived</a></li>
    </ul>
  {% endif %}
{% endif %}
