{% load ctstem_extras %}

<div class="modal-dialog {% if curriculum.curriculum_type|slugify == 'U'|slugify %} modal-xlg {% else %} modal-lg {% endif %}">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">Assign to Class</h3>
    </div>
    <div id="assignmentMsg" class="msg">
    </div>
    <form class="form" id="curriculumAssignmentForm" method="post" action="{% url 'ctstem:assignCurriculum' curriculum.id%}">
      {% csrf_token %}
      <div class="modal-body">
        <table class="table table-condensed table-bordered inner_table">
         <thead>
            <tr>
              <th width="20%">Group</th>
              {% if user.administrator or user.researcher %}
                <th width="15%">School</th>
              {% endif %}
              {% if user.administrator or user.researcher or user.school_administrator %}
                <th width="10%">Teacher</th>
              {% endif %}
              {% if curriculum.curriculum_type|slugify == 'U'|slugify %}
                <th width="20%">Curriculum</th>
              {% endif %}
              <th width="15%" class="date">Scheduled Start Date <i class="fa fa-info-circle" aria-hidden="true" title="The date when the assignment is first available to students"></i></th>
              <th width="15%" class="date">Due Date</th>
              <th width="5%">Clear</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
              <tr class="unit group_{{group.id}} {% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}" >
                <td rowspan="{% if curriculum_list|length > 1%} {{curriculum_list|length|add:1}} {% endif %}">{{group}}</td>
                {% if user.administrator or user.researcher %}
                  <td rowspan="{% if curriculum_list|length > 1%} {{curriculum_list|length|add:1}} {% endif %}">{{group.teacher.school}}</td>
                {% endif %}
                {% if user.administrator or user.researcher or user.school_administrator %}
                  <td rowspan="{% if curriculum_list|length > 1%} {{curriculum_list|length|add:1}} {% endif %}">{{group.teacher}}</td>
                {% endif %}
                {% if curriculum.curriculum_type|slugify == 'U'|slugify %}
                  <td>
                    {{curriculum.title}}
                    <span class="ec_lessons" id="group_{{group.id}}">
                      <span><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span>
                      <span style="display:none;"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i></span>
                    </span>
                  </td>
                {% endif %}
                <td>
                  <input type="text" class="datepicker assigned" id="assigned_{{group.id}}_{{curriculum.id}}" name="assigned_{{group.id}}_{{curriculum.id}}" readonly="true" value="{{assignment_dates|get_item:group.id|get_item:curriculum.id|get_item:'assigned_date'|date:'F j, Y'}}"/>

                  <input type="hidden" id="instance_{{group.id}}_{{curriculum.id}}" class="instance_count" value="{{instances|get_item:group.id|get_item:curriculum.id}}"/>
                </td>
                <td>
                  <input type="text" class="datepicker due" id="due_{{group.id}}_{{curriculum.id}}" name="due_{{group.id}}_{{curriculum.id}}" readonly="true" value="{{assignment_dates|get_item:group.id|get_item:curriculum.id|get_item:'due_date'|date:'F j, Y'}}"/></td>
                <td>
                  {% if instances|get_item:group.id|get_item:curriculum.id == 0 %}
                    <button type="button" class="btn btn-danger clear" id="clear_{{group.id}}_{{curriculum.id}}" name="clear_{{group.id}}_{{curriculum.id}}">Clear</button>
                  {% endif %}
                </td>
              </tr>
              {% if curriculum_list|length > 1 %}
                {% for curr in curriculum_list %}
                  <tr class="lesson group_{{group.id}} {% if forloop.parentloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}">
                    {% if curriculum.curriculum_type|slugify == 'U'|slugify %}
                      <td style="display:none;">&nbsp;&nbsp;&nbsp;&nbsp;{{curr.title}}</td>
                    {% endif %}
                    <td style="display:none;">
                      <input type="text" class="datepicker assigned" id="assigned_{{group.id}}_{{curr.id}}" name="assigned_{{group.id}}_{{curr.id}}" readonly="true" value="{{assignment_dates|get_item:group.id|get_item:curr.id|get_item:'assigned_date'|date:'F j, Y'}}"/>

                      <input type="hidden" id="instance_{{group.id}}_{{curr.id}}" class="instance_count" value="{{instances|get_item:group.id|get_item:curr.id}}"/>
                    </td>
                    <td style="display:none;">
                      <input type="text" class="datepicker due" id="due_{{group.id}}_{{curr.id}}" name="due_{{group.id}}_{{curr.id}}" readonly="true" value="{{assignment_dates|get_item:group.id|get_item:curr.id|get_item:'due_date'|date:'F j, Y'}}"/>
                    </td>
                    <td style="display:none;">
                      {% if instances|get_item:group.id|get_item:curr.id == 0 %}
                        <button type="button" class="btn btn-danger clear" id="clear_{{group.id}}_{{curr.id}}" name="clear_{{group.id}}_{{curr.id}}">Clear</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="submit" id="saveAssignment" class="btn btn-success">
            Assign
          </button>
          <a type="button" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    /*{% for assignment in assignments %}
      $('input#assigned_{{assignment.group.id}}_{{assignment.curriculum.id}}').val('{{assignment.assigned_date|date:"F j, Y"}}');
      $('input#due_{{assignment.group.id}}_{{assignment.curriculum.id}}').val('{{assignment.due_date|date:"F j, Y"}}');
    {% endfor %}*/

    $('.datepicker.due').datepicker({
      dateFormat: 'MM d, yy',
      onClose: function(selectedDate){
        if(selectedDate != ""){
          var assigned = $(this).closest('tr').find('input.assigned');
          if($(assigned).val() == ""){
            $(assigned).datepicker('show');
          }

          var class_names = $(this).closest('tr').attr('class').split(' ');
          if(class_names[0] == 'unit'){
            $('tr.lesson.'+class_names[1]+' input.datepicker.due').val(selectedDate);
          }
        }
      }
    });

    $('.datepicker.assigned').each(function(){
      var editable = true;
      //check if assignment has started
      //if assignment has started make the assigned date field uneditable
      var instance_count = $(this).closest('td').find('input.instance_count').val();
      if(parseInt(instance_count) > 0){
        editable = false;
        $(this).removeClass('hasDatepicker');
        $(this).removeClass('datepicker');
      }

      if(editable){
        $(this).datepicker({
          dateFormat: 'MM d, yy',
          onClose: function(selectedDate){
            if(selectedDate != ""){
              var due = $(this).closest('tr').find('input.due');
              if($(due).val() == ""){
                $(due).datepicker('show');
              }
              var class_names = $(this).closest('tr').attr('class').split(' ');
              if(class_names[0] == 'unit'){
                $('tr.lesson.'+class_names[1]+' input.datepicker.assigned').val(selectedDate);
              }
            }
          }
        });
      }
    });

    $('#curriculumAssignmentForm').submit(function(e){
      e.preventDefault();
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        context: this,
        success: function(data){
          if('error' in data){
            $('#assignmentMsg').html(data['error']);
          }
          else {
            $("#assignmentModal").modal('toggle');
            $('ul.messages').html('<li class="success">'+data['message']+'</li>');
            $('ul.messages').show();
            $('ul.messages').delay(30000).fadeOut('slow');
          }
          return false;
        },
        error: function(xhr, ajaxOptions, thrownError){
          alert(thrownError);
        },
      });
    });

    $('td').on('click', 'button[type="button"].clear', function(){
      var clear = confirm('Are you sure you want to clear the assignment dates?');
      if(clear){
        var id = $(this).attr('id');
        var due_date_id = id.replace('clear', 'due');
        var assigned_date_id = id.replace('clear', 'assigned');
        $('#'+due_date_id).val('');
        $('#'+assigned_date_id).val('');
      }
    });
    //expand/collapse the underlying lessons
    $(".ec_lessons").click(function(){
      var id = $(this).attr('id');
      $(this).children().each(function(){
        $(this).toggle();
      });
      $('tr.lesson.'+id).children('td').each(function(){
        $(this).toggle();
      });
    });
  });
</script>
