{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% load base_extras %}

{% block title %} {{curriculum.title}} Preview{%endblock %}

{% block bootstrap_css %}
  <link rel="stylesheet" href="/static/css/bootstrap-modal.css">
{% endblock %}
{% block datatable %}{% endblock %}
{% block django_admin %}{% endblock %}
{% block misc %}
 <script src="https://canvasjs.com//assets/script/canvasjs.min.js"></script>
 <script src="/static/js/highlight.pack.js"></script>
 <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>
 <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
{% endblock %}
{% block agency %}{% endblock %}
{% block ctstem %}
  <script type="text/javascript" src="/static/js/session.js"></script>
  <script type="text/javascript" src="/static/js/clone_more.js"></script>
  <script type="text/javascript" src="/static/js/assignment.js"></script>
{% endblock %}

{% block custom_media %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Maitree:400,700|Roboto+Condensed:300,400,700italic" rel="stylesheet">
  <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script-->
  <link rel="stylesheet" href="/static/css/table.css">
  <link rel="stylesheet" href="/static/css/messages.css">
  <link rel="stylesheet" href="/static/css/assignment.css">
  <script type="text/javascript" src="/static/js/jquery.form.min.js"></script>
  <link rel="stylesheet" href="/static/css/sketch.css">
  <script type="text/javascript" src="/static/js/sketch.js"></script>
  <script type="text/javascript" src="/static/js/sketch_custom.js"></script>
  <script type="text/javascript" src="/static/js/assignment.js"></script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
{% with curr_unit=curriculum.unit|default:curriculum %}
<!--if curriculum is a unit or a lesson inside a unit then curr_unit is the unit otherwise it is the curriculum  -->
  <div>
    {% if curr_unit.curriculum_type == 'L' or curr_unit.curriculum_type == 'U' %}
      <!-- Facebook share js -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <!-- Google Plus share js -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    {% endif %}
    <!-- TOP HEADER BAR -->
    <header>
      <h1><a class="navbar-brand" href="{% url 'ctstem:home' %}"><i class="fa fa-home" aria-hidden="true"></i>  CT-STEM</a></h1>
      {{curr_unit.title|title}} - Preview
      <nav>
        <span id="activity-nav">
        {% if step_order|add:0 >= 0 %}
          Page &nbsp;
          {% if step_order|add:0  == 0 %}
            <a class="page-link selected" href="#">{{1}}</a>
          {% else %}
            <a class="page-link" href="{% url 'ctstem:previewCurriculum'  curriculum.id 0 %}">{{1}}</a>
          {% endif %}
          {% for i in total_steps|iterate %}
            {% if i|add:0 == step_order|add:0 %}
              <a class="page-link selected" href="{% url 'ctstem:previewCurriculum'  curriculum.id i %}">{{i|add:1}}</a>
            {% else %}
              <a class="page-link" href="{% url 'ctstem:previewCurriculum'  curriculum.id i %}">{{i|add:1}}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
        </span>
        {% if curr_unit.curriculum_type == 'L' or curr_unit.curriculum_type == 'U' %}
          &nbsp;
          <button id="menu-button"><span class="fa fa-navicon"></span></button>
        {% endif %}
      </nav>
      {% if curr_unit.curriculum_type == 'L' or curr_unit.curriculum_type == 'U' %}
        <!-- SIDE MENU -->
        <nav id="side-nav">
          <ul>
            <li><a href="{% url 'ctstem:previewCurriculum'  curriculum.id %}" class="lesson">
              View
              {% if curr_unit.curriculum_type == 'U' %}
                Unit
              {% else %}
                Lesson
              {% endif %}
              Summary</a></li>
            {% if user.administrator or user.researcher or user.school_administrator or user.author or user.teacher %}
              <li><a href="#" class="notes">View Teacher Notes</a></li>
              {% if curr_unit.curriculum_type == 'L'%}
                <li>
                  <a href="{% url 'ctstem:previewCurriculum'  curriculum.id 0 %}" class="activity">View Student Activity</a>
                </li>
              {% else %}
                <li>
                  <a href="#" class="list_underlying_curriculum">Underlying Lessons</a>
                  <i class="fa fa-caret-square-o-down underlying_curriculum" aria-hidden="true"></i>
                  <i class="fa fa-caret-square-o-up underlying_curriculum" aria-hidden="true" style="display:none;"></i>
                  <ul class="underlying_curriculum" style="display:none;">
                    {% for curr in curr_unit|get_underlying_curriculum:user %}
                      <li><a href="{% url 'ctstem:previewCurriculum'  curr.id 0 %}" class="activity"> {{curr.title}}</a></li>
                    {% endfor %}
                   </ul>
                </li>
              {% endif %}
            {% elif user.is_anonymous %}
              <li><a data-toggle="modal" data-target="#login" class="login" href="#">View Teacher Notes</a></li>
              {% if curr_unit.curriculum_type == 'L' %}
                <li><a data-toggle="modal" data-target="#login" class="login" href="#">View Student Activity </a></li>
              {% else %}
                <li>
                  <a href="#" class="list_underlying_curriculum">
                    Underlying Lessons
                    <i class="fa fa-caret-square-o-down underlying_curriculum" aria-hidden="true"></i>
                    <i class="fa fa-caret-square-o-up underlying_curriculum" aria-hidden="true" style="display:none;"></i>
                  </a>
                  <ul class="underlying_curriculum" style="display:none;">
                    {% for curr in curr_unit|get_underlying_curriculum:user %}
                      <li><a data-toggle="modal" data-target="#login" class="login" href="#">{{curr.title}}</a></li>
                    {% endfor %}
                   </ul>
                </li>
              {% endif %}
            {% endif %}
            <!-- TODO: LINK TO ATTACHMENT -->
            {% if attachments %}
              <li><a href="{% url 'ctstem:downloadAttachments' curr_unit.id%}">Download Attachment(s) <span class="fa fa-paperclip"></span></a></li>
            {% endif %}
            <li class="divider"></li>
            {% if curr_unit.status == 'A' or curr_unit.status == 'P'%}
              {% if curr_unit.curriculum_type == 'L' or curr_unit|get_underlying_curriculum:request.user|get_curriculum_count:'P' > 0 %}
                {% if user.administrator or user.school_administrator %}
                  <li><a class="assign" href="#" data-form="{% url 'ctstem:assignCurriculum' curr_unit.id%}">Assign to Classes</a></li>
                {% elif user.teacher %}
                  <li><a class="assign" href="#" data-form="{% url 'ctstem:assignCurriculum' curr_unit.id%}">Assign to My Classes</a></li>
                {% endif %}
              {% endif %}

              {% if user.teacher and curr_unit.curriculum_type == 'L' %}
                {% if curr_unit.id|is_favorite:user.teacher.id %}
                  <li><a id="favorites-link" class="favorites">Remove from Favorites</a></li>
                {% else %}
                  <li><a id="favorites-link" class="favorites">Add to Favorites</a></li>
                {% endif %}
              {% endif %}
            {% endif %}
            <li><a class="print" href="{% url 'ctstem:previewCurriculum' curr_unit.id %}">Print This Curriculum <span class="fa fa-print "></span></a></li>
            <li class="divider"></li>
            <li><a href="#" class="faq"">View CT FAQ</a></li>
            {% if user.is_anonymous %}
              <li><a data-toggle="modal" data-target="#login" class="login" href="#">Login</a></li>
            {% else %}
              <li><a href="{% url 'ctstem:logout' %}">Logout</a></li>
            {% endif %}
            <!-- END IF -->
          </ul>
        </nav>
      {% endif %}
    </header>

    <!-- MAIN CONTENT -->
    <main>
      {% if curr_unit.curriculum_type == 'L' or curr_unit.curriculum_type == 'U' %}
        <lesson-summary style="{%if step_order|add:0 >= 0 %} display: none; {% endif %}">
          <div class="page">
            <h1>{{curr_unit.title|title}}</h1>
            <div class="byline">
              <!-- TODO: Need author URL field in database -->
              <!-- TODO: Byline might also say "Curriculum adapted from XYZ" -->
              <!--Original curriculum by
              {% for author in curriculum.authors.all %}
                <a href="#">{{author.get_full_name}}</a>
                {% if forloop.last == False %}
                  ,
                {% endif %}
              {% endfor %}
              -->
              <div class="credits">
                {% if curr_unit.credits %}
                  {{curr_unit.credits|safe}}
                {% endif %}
              </div>
              <!-- SOCIAL MEDIA SHARE BUTTONS -->
              <!-- TODO: Activate social media buttons -->
              <div class="share-box">
                <button class="share-button fa fa-twitter"></button>
                <button class="share-button fa fa-facebook"></button>
                <button class="share-button fa fa-pinterest-p"></button>
                <button class="share-button fa fa-google-plus"></button>
                <button class="share-button fa fa-envelope"></button>
              </div>
            </div>

            <!-- LESSON META DATA -->
            <p style="margin-bottom: 0.5rem;">
              <b>Subject:</b> {{curr_unit.subject.all|join:','}}<br>
              <b>Time:</b> {{curr_unit.time}}<br>
              <b>Level:</b> {{curr_unit.level|safe}}<br>
            </p>

            <!-- UTILITY BUTTONS -->
            <div class="utility">
              {% if curriculum.status == 'A' or curriculum.status == 'P'%}
                {% if user.teacher and curr_unit.curriculum_type == 'L' %}
                  {% if curr_unit.id|is_favorite:user.teacher.id %}
                    <a class="util-button fa fa-star favorites" id="favorites-icon" title="Remove from Favorites"></a>
                  {% else %}
                    <a class="util-button fa fa-star-o favorites" id="favorites-icon" title="Add to My Favorites"></a>
                  {% endif %}
                {% endif %}
              {% endif %}
              <a class="util-button fa fa-print" href="javascript:window.print();" title="Print"></a>
              {% if curr_unit.status == 'A' or curr_unit.status == 'P'%}
                {% if curr_unit.curriculum_type == 'L' or curr_unit|get_underlying_curriculum:request.user|get_curriculum_count:'P' > 0 %}
                  {% if user.administrator or user.school_administrator %}
                    <a class="assign util-button fa fa-calendar-check-o" aria-hidden="true" data-form="{% url 'ctstem:assignCurriculum' curr_unit.id%}" aria-label="Assign to Classes" title="Assign to Classes"></a>
                  {% elif user.teacher %}
                    <a class="assign util-button fa fa-calendar-check-o" aria-hidden="true" data-form="{% url 'ctstem:assignCurriculum' curr_unit.id%}" aria-label="Assign to Classes" title="Assign to My Classes"></a>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>

            <!-- MAIN IMAGE -->
            <!-- TODO: We might need to collect multiple resolution images for the main image and thumbnails -->
            <figure>
              {% if curr_unit.icon %}
                <img src="{{curr_unit.icon.url}}" class="preview"/>
              {% endif %}
              <figcaption></figcaption>
            </figure>

            <!-- TODO: Think about how to implement popup glossary -->

            <div class="overview">
              {% if curr_unit.curriculum_type == 'U' %}
                <h2>Unit Overview</h2>
              {% else %}
                <h2>Lesson Overview</h2>
              {% endif %}
              {{curr_unit.overview|safe}}
              {{curr_unit.content|safe}}

              {% if curr_unit.curriculum_type == 'U' %}
                <div class="underlying_lessons_overview">
                  {% with underlying_lessons=curr_unit|get_underlying_curriculum:request.user %}
                  {% if underlying_lessons %}
                    <h2>Lessons Overview</h2>
                    {% for lesson in underlying_lessons%}
                      <div class="lesson_overview">
                        {% if lesson.overview %}
                          <a class="lesson_overview_link">{{lesson.order}}. {{lesson.title}} Overview</a>
                          <div class="lesson_overview_content">{{lesson.overview|safe}}</div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  {% endif %}
                  {% endwith %}
                </div>
              {% endif %}
            </div>

            <!-- TODO: Should this be in the database?? -->
            <div class="compatibility">
              <h2>Compatible With</h2>
              {% for system in systems %}
                <div class="compatible-item {% if system not in curr_unit.compatible_system.all %} incompatible {% endif %}">
                  <span class="fa fa-{{system.icon}}"></span><br>
                  {{system.name}}
                </div>
              {% endfor %}
            </div>

            <!-- WHAT'S NEXT - This is the same for every lesson so it doesn't need to be dynamic -->
            <div class="next">
              <h2>What's Next?</h2>
              <ul>
                <li><a href="#" class="notes">Read the teacher notes</a></li>
                {% if curr_unit.curriculum_type != 'U' %}
                  <li><a href="{% url 'ctstem:previewCurriculum'  curriculum.id 0 %}" class="activity">Look at the student activity</a></li>
                {% endif %}
                {% if curr_unit.curriculum_type == 'L' or curr_unit|get_underlying_curriculum:request.user|get_curriculum_count:'P' > 0 %}
                  <li><a href="#" class="assign" data-form="{% url 'ctstem:assignCurriculum' curr_unit.id %}">Assign this to {% if user.teacher %}my{% endif %} classes</a></li>
                {% endif %}
              </ul>
            </div>


            <!-- STANDARDS BOX -->
            <!-- TODO: Figure out how to make the links work. Not sure what they should like to?? -->
            <h2>Standards</h2>
            <div class="standards">
              {% for standard, categories in curr_unit.taxonomy.all|taxonomyHelper %}
                <b>{{standard}}</b>
                <ul>
                  {% for category, taxonomies in categories.items %}
                    <li>{{category}}</li>
                    <ul>
                      {% for taxonomy in taxonomies %}
                        <li>{% if taxonomy.code %}<a href="#">[{{taxonomy.code}}]</a>{% endif %} {{taxonomy}}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                </ul>
                {% if not forloop.last %}
                  <hr>
                {% endif %}
              {% endfor %}
            </div>

            <!-- ACKNOWLEDGEMENT -->
            {% if curr_unit.acknowledgement %}
              <h2>Acknowledgement</h2>
              <div class="acknowledgement" id="acknowledgement">
                {{curr_unit.acknowledgement|safe}}
              </div>
            {% endif %}

            <!-- FACEBOOK MESSAGE BOARD -->
            <div class="comments">
              <h2>Comments, Feedback, and Questions</h2>
              <div class="fb-comments"  data-width="600" data-numposts="5"></div>
            </div>
          </div>
        </lesson-summary>

        <notes>
          <div class="page">
          {% if user.administrator or user.researcher or user.school_administrator or user.author or user.teacher %}
            <h2>Teacher Notes</h2>
            {{curr_unit.teacher_notes|safe}}
          {% endif %}
          </div>
        </notes>

        <faq>
          <div class="page">
            <h2>CT-STEM FAQ</h2>
          </div>
        </faq>
      {% endif %}

      {% if step_order >= 0 %}
        <activity>
          {% include 'ctstem_app/CurriculumActivityPreview.html' with step=step %}
        </activity>
      {% endif %}

      <div class="page print">
      {% if user.administrator or user.researcher or user.school_administrator or user.author or user.teacher %}
        {% if step_order|add:0 < 0 %}
          {% if curr_unit.curriculum_type != 'U' %}

            <h2> {{curr_unit.title|title}} Activities </h2>
            {% for st in curr_unit.steps.all %}
              <activity>
                {% include 'ctstem_app/CurriculumActivityPreview.html' with step=st %}
              </activity>
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endif %}
      </div>

    </main>

    <!-- FOOTER -->
    <footer>
      <p>
        <!-- TODO: Come up with terms of use page! -->
        <a data-toggle="modal" data-target="#terms" class="terms" href="#">
        <span class="fa fa-creative-commons fa-2x" style="position: relative; top: 5px; margin-right: 2px;"></span> 2016.
        Some Rights Reserved</a>.
      </p>
      <p>
        This material was developed by the <a href="{% url 'ctstem:home' %}"> CT-STEM Project</a> at Northwestern University. <br>
        To inquire about using our material in your school or as part of research, please contact
        <a href="mailto:ct-stem@ccl.northwestern.edu">ct-stem@ccl.northwestern.edu</a>.
      </p>
      <p>
        This work was made possible through generous support from the National Science Foundation (grants CNS-1138461 and CNS 1441041) and the Spencer Foundation (Award #201600069). Any opinions, findings, or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the funding organizations.
      </p>
    </footer>
  </div>

  <div>
    <div class="modal fade" id="assignmentModal" role="dialog"></div>

    <div class="modal fade" id="imageModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <img src="" class="popup_image"/>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function(){
      loadDataTable(true);

      $('.fb-comments').data('href', window.location.href);

      $('body').on('click', 'button.fa-facebook', function(){
        window.open('https://www.facebook.com/sharer/sharer.php?u='+window.location.href+'&title={{curr_unit.title}}', 'Facebook', 'width=640,height=300');
      });

      $('body').on('click', 'button.fa-google-plus', function(){
        window.open('https://plus.google.com/share?url='+window.location.href+'&title={{curr_unit.title}}', 'Google+', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
      });

      $('body').on('click', 'button.fa-twitter', function(){
        window.open('https://twitter.com/share?url='+window.location.href+'&text={{curr_unit.title}}', 'Twitter', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
      });

      $('body').on('click', 'button.fa-pinterest-p', function(){
        window.open('http://pinterest.com/pin/create/button/?url='+encodeURI(window.location.href)+'&media={% if curr_unit.icon %}{{curr_unit.icon.url}}{% endif %}&description={{curr_unit.title}}', 'Pinterest', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
      });
      $('body').on('click', 'button.fa-envelope', function(){
        window.location = 'mailto:?subject={{curr_unit.title}}&body='+window.location.href;
      });


      $('body').on('click', 'a.lesson', function(){
        $('lesson-summary').show();
        $('activity').hide();
        $('notes').hide();
        $('faq').hide();
        $('nav span#activity-nav').hide();
      });
      $('body').on('click', 'a.notes', function(){
        {% if user.is_anonymous %}
          alert('Please login to view teacher notes');
          return false;
        {% else %}
          $('lesson-summary').hide();
          $('activity').hide();
          $('notes').show();
          $('faq').hide();
          $('nav span#activity-nav').hide();
        {% endif %}
      });
      $('body').on('click', 'a.activity', function(){
        {% if user.is_anonymous %}
          alert('Please login to view student activity');
          return false;
        {% else %}
          $('main').hide();
          $('activity').show();
          $('notes').hide();
          $('faq').hide();
        {% endif %}
      });
      $('body').on('click', 'a.faq', function(){
        $('lesson-summary').hide();
        $('activity').hide();
        $('notes').hide();
        $('faq').show();
        $('nav span#activity-nav').hide();
      });
      $('body').on('click', 'a.list_underlying_curriculum', function(){
        $('.underlying_curriculum').toggle();
      });

      /*$('body').on('click', 'nav#side-nav ul li a', function(){
        $('nav#side-nav ul li a').removeClass('active');
        $(this).addClass('active');
      });*/
      $('a.activity').each(function(){
        var url = $(this).attr('href');
        var path = window.location.pathname;
        if(path == url) {
          $(this).addClass('active');
        }
      })
      //--------------------------------------------------------------------------
      // right menu box animation
      //--------------------------------------------------------------------------
      $('#menu-button').mousedown(function() {
        $('#side-nav').toggleClass('activated');
        //$('header nav').toggleClass('activated');
        //$('#side-nav').css('right', '0px');
      });

      //--------------------------------------------------------------------------
      // Toggle favorites
      // TODO -- needs to update the database in addition to updating the DOM
      //--------------------------------------------------------------------------
      $('.favorites').click(function(){
        var url ='';
        if ($('#favorites-icon').hasClass('fa-star')) {
          $('#favorites-icon').removeClass('fa-star');
          $('#favorites-icon').addClass('fa-star-o');
          $('#favorites-link').html('Add to Favorites');
          url = '/curriculum/removeBookmark/{{curr_unit.id}}';
        } else {
          $('#favorites-icon').removeClass('fa-star-o');
          $('#favorites-icon').addClass('fa-star');
          $('#favorites-link').html('Remove from Favorites');
          url = '/curriculum/bookmark/{{curr_unit.id}}';
        }

        $.ajax({
          type: "GET",
          url: url,
          success: function(data){
            return false;
          },
          error: function(xhr, ajaxOptions, thrownError){
            alert("Something went wrong.  Try again later!");
          },
        });
        return false;
      });

      $('body').on("click", "a.assign", function(e){
        e.preventDefault();
        {% if user.is_anonymous or user.author  or user.researcher %}
          alert('Please login as a teacher to assign this lesson');
        {% elif curr_unit.status == 'D' %}
          alert("This lesson hasn't been published and cannot be assigned");
        {% else %}
          var url = $(this).data('form');
          $("#assignmentModal").load(url, function() {
            $(this).modal('show');
          });
        {% endif %}
        return false;
      });

      $("body").on("click", 'a.print', function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        var W = window.open(url, "Print", "height=10, width=10");
        setTimeout(function () {
          W.window.print();
        }, 3000);
        W.window.onfocus = function() {
          setTimeout(function() {
              W.window.close();
            }, 3000);
        }
      });
      //hide disabled Other text field
      $('input[type="radio"]').on('change', function(){
        if($(this).is(':checked')){
          if($(this).hasClass('other')){
            $(this).siblings('input[type="text"]').prop('disabled', false);
          }
          else{
            $(this).siblings('input[type="text"]').prop('disabled', true);
            $(this).siblings('input[type="text"]').val('');
          }
        }
      });

      $('select.assignment_input').on('change', function(){
        var selected = $(this).find('option:selected');
        if($(selected).hasClass('other')){
          $(this).siblings('input[type="text"]').prop('disabled', false);
        }
        else{
          $(this).siblings('input[type="text"]').prop('disabled', true);
          $(this).siblings('input[type="text"]').val('');
        }
      });

      $('a.image_option').click(function(){
        var url = $(this).data("href");
        $('#imageModal').find('img.popup_image').attr('src', url);
        $('#imageModal').modal('show');
        return false;
      });

      $('textarea.assignment_textarea').each(function(){
        var id = $(this).attr('id');
        CKEDITOR.replace(id, {
            'removePlugins': 'stylesheetparser',
            'toolbar': [['Bold', 'Italic', 'Underline', 'Strike', 'Subscript','Superscript','-','SpellChecker', 'Scayt']],
            'height': '100',
            'extraPlugins': 'scayt',
            'scayt_autoStartup': true,
            'scayt_sLang': 'en_US',
            'disableNativeSpellChecker': false,
        });
      });

      $('body').on("click", "a.lesson_overview_link", function(e) {
        $(this).next().toggle();
      });

    });
  </script>
{% endwith %}
{% endblock %}

{% block footer %}
{% endblock %}
