{% load ctstem_extras %}
<div class="left-navigation">
  <div class="form-group unit-navigation">
    {% if unit_id %}
      {% if flag == "overview" and form.instance.id == unit_id %}
        <label class="current_curriculum">
          <strong>Unit</strong>
          &nbsp;&nbsp;
          <a class="fa fa-files-o" href="{% url 'ctstem:copyCurriculum' unit_id %}" title="Copy Unit"></a>
        </label>
      {% else %}
         <label>
          <a href="{% url 'ctstem:curriculumOverview' unit_id %}">Unit</a>
          &nbsp;&nbsp;
          <a class="fa fa-files-o" href="{% url 'ctstem:copyCurriculum' unit_id %}" title="Copy Unit"></a>
        </label>
      {% endif %}
      {% get_underlying_curriculum unit_id 'modify' as underlying_curriculum %}
      <ul>
        {% for lesson in underlying_curriculum %}
          <li>
            {% if curriculum.id != lesson.id %}
              <label>
                <a href="{% url 'ctstem:curriculumOverview' lesson.id %}">Lesson {{lesson.order}}</a>
                &nbsp;&nbsp;
                <a class="fa fa-files-o" href="{% url 'ctstem:copyCurriculum' lesson.id %}" title="Copy Lesson"></a>
              </label>
            {% else %}
             <label class="current_curriculum">
              <strong>Lesson {{forloop.counter}}</strong>
              &nbsp;&nbsp;
              <a class="fa fa-files-o" href="{% url 'ctstem:copyCurriculum' lesson.id %}" title="Copy Lesson"></a>
            </label>
            {% endif %}
          </li>
        {% endfor %}
        {% if curriculum.id is None %}
          <li>
          <label class="current_curriculum"><strong>Lesson {{underlying_curriculum|length|add:1}}</strong></label>
        </li>
        {% endif %}
        <li>
          <label><strong><a href="{% url 'ctstem:newCurriculumOverview' %}?unit_id={{unit_id}}">Add Lesson</a></strong></label>
        </li>
      </ul>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $('div.unit-navigation a').click(function(e){
      var link = $(this);
      e.preventDefault();
      bootbox.confirm({ title: 'Confirm',
                        message: "<p>If you haven't saved the current curriculum, click <strong>Close</strong> to dismiss this popup and then <strong>Save</strong> the curriculum before proceeding. Otherwise, click <strong>Proceed</strong> to proceed.</p>",
                        buttons: {
                          confirm: {
                              label: 'Proceed',
                              className: 'btn-normal-yellow'
                          },
                          cancel: {
                              label: 'Close',
                              className: 'btn-normal-red'
                          }
                        },
                        callback: function(result){
                          if (result == true) {
                            if($(link).hasClass('fa-files-o')) {
                              $('div#spinner').show();
                            }
                            window.location = $(link).attr("href");
                          }
                        },
                      });
    });
  });
</script>
