{% load ctstem_extras %}
<div class="button-container">
  <button type="submit" class="btn inbetween yellow" id="submit">Save</button>
  <button type="button" class="btn inbetween yellow" id="save_continue">Save & Continue </button>
  {% if curriculum.id %}
    <div class="dropdown">
      <button type="button"class="btn inbetween yellow dropdown-toggle" data-toggle="dropdown">More...</i></button>
      <ul class="dropdown-menu">
        {% if page >= 0 %}
          <li><a class="dropdown-item previewPage" href="#">Preview Page</a></li>
        {% endif %}
        <li><a class="dropdown-item previewLesson" href="#">Preview {{curriculum.get_curriculum_type_display}}</a></li>
        {% check_curriculum_permission curriculum.id 'modify' as has_modify_permission %}
        {% if has_modify_permission == True %}
          {% if form.instance.id %}
            {% if page > 0 %}
              <li>
                <a class="dropdown-item copy_step" href="{% url 'ctstem:copyStep' curriculum.id form.instance.id %}">Copy Page
                </a>
              </li>
              <li>
                <a class="dropdown-item delete_step" href="{% url 'ctstem:deleteStep' curriculum.id form.instance.id %}">Delete Page
                </a>
              </li>
            {% endif %}
            {% if curriculum.curriculum_type != 'U' and steps|length > 1 %}
              <li>
                <a class="dropdown-item reorder_steps" href="{% url 'ctstem:reorderSteps' curriculum.id %}" data-step_id="{% if page > 0 %}{{form.instance.id}}{% else %}0{% endif %}">Reorder Pages
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
        {% check_curriculum_permission curriculum.id 'delete' as has_delete_permission %}
        {% if has_delete_permission == True %}
          <li>
            <a class="dropdown-item delete_curriculum" href="{% url 'ctstem:deleteCurriculum' curriculum.id %}">
              Delete {{curriculum.get_curriculum_type_display}}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
</div>

<script type="text/javascript">
  $(function() {
    $('button#save_continue').click(function(){
      $('input#save_and_continue').val(1);
      $('#submit').click();
    });

    $('a.copy_step').click(function(e){
      e.preventDefault();
      var next = $(this).attr('href');
      $('input#next').val(next);
      $('#submit').click();
    });

  });
</script>
