<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">Search Collaborators</h3>
    </div>
    <div id="collaboratorMsg" class="msg">
      <ul class="errorlist">
        <li></li>
      </ul>
    </div>
    <form class="form" id="collaboratorForm" method="post" action="{% url 'ctstem:searchCollaborators' %}">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-inline">
          <div class="form-group">
            <label for="id_username">Username</label>
            <div>{{collaboratorSearchForm.username}}</div>
          </div>
          <div class="form-group">
            <label for="id_first_name">First Name</label>
            <div>{{collaboratorSearchForm.first_name}}</div>
          </div>
          <div class="form-group">
            <label for="id_last_name">Last Name</label>
            <div>{{collaboratorSearchForm.last_name}}</div>
          </div>
          <div class="form-group">
            <label for="id_email">Email</label>
            <div>{{collaboratorSearchForm.email}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="submit" id="search" class="btn normal yellow">
            Search
          </button>
        </div>
      </div>
    </form>
    <div id="collaboratorResults" style="display:none;" class="results">
      <table class="table table-bordered table-striped table-condensed inner_table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Share?</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
$(function (){

    $("#collaboratorForm").submit(function(e) {

    e.preventDefault();
    $("#collaboratorResults table tbody").empty();


    /*var url = "{% url 'ctstem:newQuestion' %}";*/
    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: $(this).serialize(),
      context: this,
      success: function(data){
        if('error' in data){
          $('#collaboratorMsg ul.errorlist li').addClass('error').html(data['error']);
        }
        else {
          var collaborator = "";
          $.each(data, function(key, value){
            if($('table.table#collaborators tr#user_'+value['user_id']).length == 0){
              collaborator += "<tr><td class='username'>"+value['username']+"</td><td class='full_name'>"+value['name']+"</td><td class='email'>"+value['email']+"</td><td><button type='button' class='btn small blue select_collaborator' id='"+value['user_id']+"'>Add</a></td></tr>";
            }
            else if($('table.table#collaborators tr#user_'+value['user_id']).is(':hidden')){
              collaborator += "<tr><td class='username'>"+value['username']+"</td><td class='full_name'>"+value['name']+"</td><td class='email'>"+value['email']+"</td><td><button type='button' class='btn small blue select_collaborator exists' id='"+value['user_id']+"'>Add</a></td></tr>";
            }
          });

          if(collaborator.length == 0){
            $('#collaboratorMsg ul.errorlist li').addClass('error').html('No matching collaborators found');
            $("#collaboratorResults").hide();
          }
          else{
            $('#collaboratorMsg ul.errorlist li').removeClass('error').html('');
            $("#collaboratorResults table tbody").append(collaborator);
            $("#collaboratorResults").show();
            $("#collaboratorResults button.select_collaborator").click(function(){
              var collaborator_table = $('table.table#collaborators');
              var user_id = $(this).attr('id');
              var current_user_id = '{{user.id}}';

              if($(this).hasClass('exists')) {
                var hidden_collaborator = $(collaborator_table).find('tr#user_'+user_id);
                $(hidden_collaborator).find('td.delete input[type="hidden"]').val('');
                $(hidden_collaborator).show();
              }
              else{

                var collaborator_result_row = $(this).closest('tr');
                var username = $(collaborator_result_row).find('td.username').html();
                var full_name = $(collaborator_result_row).find('td.full_name').html();
                var email = $(collaborator_result_row).find('td.email').html();
                var order = null;
                var privilege_code = 'V';
                var privilege_display = null;
                add_to_collaborator_table(collaborator_table, current_user_id, user_id, username, full_name, email, order, privilege_code, privilege_display);
              }
              rowAddorRemove($('table#collaborators'));
              $(this).attr('disabled', 'disabled');
            });
          }
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        alert(thrownError);
      },
    });
  });

});

</script>
