{% load ctstem_extras %}

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">Assign to Class</h3>
    </div>
    <div id="assignmentMsg" class="msg">
    </div>
    <form class="form" id="curriculumAssignmentForm" method="post" action="{% url 'ctstem:assignCurriculum' curriculum.id%}">
      {% csrf_token %}
      <div class="modal-body">
        <table class="table table-condensed table-bordered table-striped inner_table">
         <thead>
            <tr>
              <th>Group</th>
              {% if user.administrator or user.researcher %}
                <th>School</th>
              {% endif %}
              {% if user.administrator or user.researcher or user.school_administrator %}
                <th>Teacher</th>
              {% endif %}
              {% if curriculum.curriculum_type|slugify == 'U'|slugify %}
                <th>Curriculum</th>
              {% endif %}
              <th class="date">Scheduled Start Date <i class="fa fa-info-circle" aria-hidden="true" title="The date when the assignment is first available to students"></i></th>
              <th class="date">Due Date</th>
              <th>Clear</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
              <tr>
                <td rowspan="{{curriculum_list|length}}">{{group}}</td>
                {% if user.administrator or user.researcher %}
                  <td rowspan="{{curriculum_list|length}}">{{group.teacher.school}}</td>
                {% endif %}
                {% if user.administrator or user.researcher or user.school_administrator %}
                  <td rowspan="{{curriculum_list|length}}">{{group.teacher}}</td>
                {% endif %}
                {% if curriculum.curriculum_type|slugify == 'U'|slugify %}
                  <td>{{curriculum_list.first.title}}</td>
                {% endif %}
                <td>
                  <input type="text" class="datepicker assigned" id="assigned_{{group.id}}_{{curriculum_list.first.id}}" name="assigned_{{group.id}}_{{curriculum_list.first.id}}" readonly="true" /></td>
                <td>
                  <input type="text" class="datepicker due" id="due_{{group.id}}_{{curriculum_list.first.id}}" name="due_{{group.id}}_{{curriculum_list.first.id}}" readonly="true" /></td>
                <td>
                  {% if instances|get_item:group.id|get_item:curriculum_list.first.id == 0 %}
                    <input type="button" class="btn btn-danger clear" id="clear_{{group.id}}_{{curriculum_list.first.id}}" name="clear_{{group.id}}_{{curriculum_list.first.id}}" value="Clear"/>
                  {% endif %}
                </td>
              </tr>
              {% for curr in curriculum_list %}
                {% if forloop.counter > 1 %}
                <tr>
                  {% if curriculum.curriculum_type|slugify == 'U'|slugify %}
                    <td>{{curr.title}}</td>
                  {% endif %}
                  <td>
                    <input type="text" class="datepicker assigned" id="assigned_{{group.id}}_{{curr.id}}" name="assigned_{{group.id}}_{{curr.id}}" readonly="true" />
                  </td>
                  <td>
                    <input type="text" class="datepicker due" id="due_{{group.id}}_{{curr.id}}" name="due_{{group.id}}_{{curr.id}}" readonly="true" />
                  </td>
                  <td>
                    {% if instances|get_item:group.id|get_item:curr.id == 0 %}
                      <input type="button" class="btn btn-danger clear" id="clear_{{group.id}}_{{curr.id}}" name="clear_{{group.id}}_{{curr.id}}" value="Clear"/>
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="submit" id="saveAssignment" class="btn btn-success">
            Assign
          </button>
          <a type="button" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function(){

    {% for assignment in assignments %}
      $('input#assigned_{{assignment.group.id}}_{{assignment.curriculum.id}}').val('{{assignment.assigned_date|date:"F j, Y"}}');
      $('input#due_{{assignment.group.id}}_{{assignment.curriculum.id}}').val('{{assignment.due_date|date:"F j, Y"}}');
    {% endfor %}

    $('.datepicker.due').datepicker({
      dateFormat: 'MM d, yy',
      onClose: function(selectedDate){
        if(selectedDate != ""){
          var assigned = $(this).closest('tr').find('input.assigned');
          if($(assigned).val() == ""){
            $(assigned).datepicker('show');
          }
        }
      }
    });

    $('.datepicker.assigned').each(function(){
      var editable = true;
      var assigned_value = $(this).val();
      if(assigned_value){
        var assigned_date = new Date(assigned_value);
        var today = new Date();
        if(assigned_date < today){
          editable = false;
          $(this).removeClass('hasDatepicker');
          $(this).removeClass('datepicker');
        }
      }
      if(editable){
        $(this).datepicker({
          dateFormat: 'MM d, yy',
          onClose: function(selectedDate){
            if(selectedDate != ""){
              var due = $(this).closest('tr').find('input.due');
              if($(due).val() == ""){
                $(due).datepicker('show');
              }
            }
          }
        });
      }
    });

    $('#curriculumAssignmentForm').submit(function(e){
      e.preventDefault();
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        context: this,
        success: function(data){
          if('error' in data){
            $('#assignmentMsg').html(data['error']);
          }
          else {
            $("#assignmentModal").modal('toggle');
            $('ul.messages').html('<li class="success">'+data['message']+'</li>');
            $('ul.messages').show();
            $('ul.messages').delay(30000).fadeOut('slow');
          }
          return false;
        },
        error: function(xhr, ajaxOptions, thrownError){
          alert(thrownError);
        },
      });
    });

   $('td').on('click', 'input[type="button"].clear', function(){
      var clear = confirm('Are you sure you want to clear the assignment dates?');
      var id = $(this).attr('id');
      var due_date_id = id.replace('clear', 'due');
      var assigned_date_id = id.replace('clear', 'assigned');
      $('#'+due_date_id).val('');
      $('#'+assigned_date_id).val('');
    });

  });
</script>

