{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block title %}Curriculum Preview |{% endblock %}

{% block media %}
  {{block.super}}
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#dataTable3').dataTable({
        "ajax": '/static/data/warbler_table_data_with_errs.json'
      });
    });
  </script>
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    {% if curriculum.curriculum_type == 'A' %}
      <h2>Assessment Preview</h2>
    {% else %}
      <h2>Lesson Plan Preview</h2>
    {% endif %}
    <form>
      <div class="table" id="curriculumPreview">
        <h3>{{curriculum.title}}</h3>
        <hr>
        <div class="meta">
          <label>Time</label>
          <div>{{curriculum.time}}</div>
        </div>
        <div class="meta">
          <label>Overview</label>
          <div>{{curriculum.overview}}</div>
        </div>
        <div class="meta">
          <label>Standards</label>
          <ul class="standard">
            {% for standard, categories in curriculum.taxonomy.all|taxonomyHelper %}
              <li>{{standard}}</li>
              <ul class="category">
                {% for category, taxonomies in categories.items %}
                  <li>{{category}}</li>
                  <ul class="taxonomy">
                  {% for taxonomy in taxonomies %}
                    <li>{{taxonomy}} </li>
                  {% endfor %}
                  </ul>
                {% endfor %}
              </ul>
            {% endfor %}
          </ul>
        </div>
        {% if attachments %}
          <div class="meta">
            <label>Attachments</label>
            <ul>
              {% for attachment in attachments %}
                <li><a href="{{attachment.file_object.url}}" target="_blank">{{attachment.title}}</a> - ({{attachment.file_object.url}})</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if curriculum.content %}
          <div class="meta">
            <label>Content</label>
            <div>{{curriculum.content|safe}}</div>
          </div>
        {% endif %}
        <hr>
      </div>
      {% for step in steps %}
        <div class="table stepPreview">
          <div class="row header">
            <div class="col-md-3 back">
              {% if forloop.counter > 1 %}
                <a type="button" class="btn btn-primary" title="Previous Step" href="">
                  <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous
                </a>
              {% endif %}
            </div>
            <div class="col-md-6 title">
              <div class="assessment_title">
                {{curriculum.title|title}}
              </div>
              <div class="assessment_step_title">
                <span>{{step.title.value}}</span>
                <span>({{forloop.counter}}/{{steps|length}})</span>
              </div>
            </div>
            <div class="col-md-3 next">
              {% if forloop.last %}
                <button type="submit" class="btn btn-success" title="Submit Assignment">
                  Submit
                </button>
              {% else %}
                <button type="submit" class="btn btn-primary" title="Next Step" >
                  Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </button>
              {% endif %}
            </div>
          </div>
          <hr>
          <div>{{step.content|inline_style|safe}}</div>
          <div class="question_container">
            {% for question in step.questions.all %}
            <table class="question_table">
              <tr>
                <td width="5%" style="vertical-align: top;" class="question_no"> Q{{forloop.counter}}.</td>
                <td class="question_text"> {{question.question_text|inline_style|safe }} </td>
              </tr>
              <tr>
                <td></td>
                <td class="answer_field">
                  {% with field_type=question.answer_field_type %}
                    {% if field_type == 'TA' %}
                      <textarea placeholder="Enter your response" class="form-control" required></textarea>
                    {% elif field_type == 'TF' %}
                      <input type="text" placeholder="Enter your response" class="form-control"/>
                    {% elif field_type == 'DD' %}
                      <div class="multiplechoice">
                        <div class="note"> Note: Select one answer </p>
                        <select class="form-control" required>
                          {% for option in question.options|split:','%}
                            <option value="{{option}}">{{option}}</option>
                          {% endfor %}
                      </select>
                      </div>
                    {% elif field_type == 'MC' %}
                      <div class="note"> Note: Select one answer </div>
                      {% for option in question.options|split:','%}
                        <input type="radio" name="{{question.id}}" id="{{question.id}}" value="{{option}}"/>  {{option}}<br>
                      {% endfor %}
                    {% elif field_type == 'MS' %}
                      <div class="note"> Note: Select all that apply </div>
                      {% for option in question.options|split:','%}
                        <input type="checkbox" name="{{question.id}}_cb" id="{{question.id}}_cb" value="{{option}}"/>  {{option}}<br>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                </td>
              </tr>
              </table>
            {% endfor %}
          </div>
          <hr>
          <div class="row footer">
            <div class="col-md-6 back">
              {% if forloop.counter > 1 %}
                <a type="button" class="btn btn-primary" title="Previous Step" href="">
                  <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous
                </a>
              {% endif %}
            </div>
            <div class="col-md-6 next">
              {% if forloop.last %}
                <button type="submit" class="btn btn-success" title="Submit Assignment">
                  Submit
                </button>
              {% else %}
                <button type="submit" class="btn btn-primary" title="Next Step" >
                  Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}

    </form>
  </div>

{% endblock %}

