{% load ctstem_extras %}
{% if curricula %}
  {% for curriculum in curricula %}
    {% is_my_curriculum curriculum as my_curriculum %}
    {% is_curriculum_shared_with_me curriculum as shared_curriculum %}
    {% is_curriculum_assigned_by_me curriculum as assigned_curriculum %}
    <div class="col col-{{forloop.counter}}">
      <div class="tile
            {% if curriculum.curriculum_type == 'U' %}
              unit
            {% elif curriculum.curriculum_type == 'L' %}
              lesson
            {% else %}
              assessment
            {% endif %}
            {% if curriculum.status == 'A' %}
              archived
            {% endif %}
            {% if parent == 'preview' %}
              underlying
            {% endif %}
            ">
        {% if curriculum.unit|slugify == 'None'|slugify %}
          <a href="{% url 'ctstem:previewCurriculumNew' curriculum.id %}">
            <div class="icon">
              {% if curriculum.icon %}
                <img src="{{curriculum.icon.url}}"/>
              {% elif curriculum.curriculum_type == 'U' %}
                <img src="/static/img/unit.png">
              {% elif curriculum.curriculum_type == 'L' %}
                <img src="/static/img/lesson.png">
              {% elif curriculum.curriculum_type == 'A' %}
                <img src="/static/img/assessment.png">
              {% endif %}
            </div>
          </a>
          {% if curriculum.feature_rank %}
            <div class="shelf">
            </div>
            <div class="featured">
              <i class="fas fa-award"></i>
            </div>
           {% endif %}
          <div class="favorite">
            {% check_curriculum_permission curriculum.id 'favorite' as has_favorite_permission %}
            {% if has_favorite_permission == True %}
              <a class="bookmark util-button fa fa-star" href="{% url 'ctstem:removeBookmark' curriculum.id %}" style="{% if curriculum|is_bookmarked:user.teacher %} display: inline-block; {% else %} display: none; {% endif %}" title="Remove from Favorites"></a>

              <a class="bookmark util-button fa fa-star-o" href="{% url 'ctstem:bookmarkCurriculum' curriculum.id %}" style="{% if curriculum|is_bookmarked:user.teacher %} display: none; {% else %} display: inline-block; {% endif %}" title="Add to Favorites"></a>
            {% else %}
              <a class="bookmark util-button fa fa-star-o" data-title="You need to be logged in as a teacher to favorite this curriculum"></a>
            {% endif %}
          </div>
        {% endif %}
        <a href="{% url 'ctstem:previewCurriculumNew' curriculum.id %}">
          <div class="detail">

            <div class="type">
              {{curriculum.get_curriculum_type_display}}
              {% if curriculum.unit %}
                {{curriculum.order}}
              {% endif %}
              {% if curriculum.subject.all %}
                - {{curriculum.subject.all|join:", "}}
              {% endif %}
            </div>
            <div class="period">
              {% if curriculum.curriculum_type == 'U' %}
                {% get_underlying_curriculum curriculum.id as underlying_curriculum %}
                {{underlying_curriculum|length}} Lessons
              {% else %}
                {{curriculum.time}}
              {% endif %}
            </div>
            <div class="title">{{curriculum.title}}</div>
            <div class="others">
              <div class="author">
                {% if curriculum.authors.all %}
                  {% if curriculum.authors.all|length > 1 %}
                    {{curriculum.authors.all|length}} Authors
                  {% else %}
                    {% with curriculum.authors.all|first as author %}
                      by {{author.get_full_name}}
                    {% endwith %}
                  {% endif %}
                {% endif %}
              </div>
              <div class="standard">
                Standards: {{curriculum.taxonomy.all|getStandards|join:", " }}
              </div>
              <div class="used_by">
                Used by {{curriculum.usage_by_student}} Students
              </div>
            </div>
            <div class="tags">
              {% if my_curriculum %}
                <div class="my">
                  <i class="fas fa-user" title="My Curriculum"></i>
                </div>
              {% endif %}

              {% if shared_curriculum %}
                <div class="shared">
                  <i class="fas fa-user-friends" title="This curriculum has been shared with me"></i>
                </div>
              {% endif %}

              {% if assigned_curriculum %}
                <div class="assigned">
                  <i class="fas fa-check-square" title="This curriculum has been assigned"></i>
                </div>
              {% endif %}
              <div class="version title">
                v{{curriculum.version}}
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>
  {% endfor %}
  {% if parent == 'curricula' %}
    {% include "ctstem_app/LoadMore.html" with model=curricula %}
  {% endif %}

{% else %}
  <p>No curricula exists for the selected category.</p>
{% endif %}
