{% load ctstem_extras %}
<!-- Preview -->
{% check_curriculum_permission curriculum.id 'preview' as has_preview_permission %}
{% if has_preview_permission == True %}
  <a class="util-button fa fa-eye" aria-hidden="true" title="Preview Curriculum" href="{% url 'ctstem:previewCurriculum' curriculum.id %}" target="_blank">
{% endif %}

<!-- Edit -->
{% check_curriculum_permission curriculum.id 'modify' as has_modify_permission %}
{% if has_modify_permission == True %}
  {% if curriculum.status == 'A' %}
    <a class="util-button fa fa-pencil" aria-hidden="true" aria-label="Edit Curriculum" title="Edit Curriculum" href="{% url 'ctstem:curriculum' curriculum.id %}"
    onclick="return confirm('This curriculum has been archived.  Are you sure you want to edit this curriculum?');">
    </a>
  {% else %}
    <a class="util-button fa fa-pencil" aria-hidden="true" aria-label="Edit Curriculum" title="Edit Curriculum" href="{% url 'ctstem:curriculum' curriculum.id %}"></a>
  {% endif %}
{% endif %}
<!-- Delete -->
{% check_curriculum_permission curriculum.id 'delete' as has_delete_permission %}
{% if has_delete_permission == True %}
  <a class="util-button fa fa-trash delete_curriculum" aria-hidden="true" aria-label="Delete Curriculum" title="Delete Curriculum" href="{% url 'ctstem:deleteCurriculum' curriculum.id %}">
    </a>
{% endif %}
<!-- Copy -->
{% check_curriculum_permission curriculum.id 'copy' as has_copy_permission %}
{% if has_copy_permission == True %}
  <a class="util-button fa fa-files-o copy_curriculum" aria-hidden="true" aria-label="Create New Copy" title="Create New Copy" href="{% url 'ctstem:copyCurriculum' curriculum.id %}"></a>
{% endif %}

<!-- Assign -->
{% check_curriculum_permission curriculum.id 'assign' as has_assign_permission %}
{% if has_assign_permission == True %}
  <a class="assign util-button fas fa-tasks" aria-hidden="true" data-form="{% url 'ctstem:assignCurriculum' curriculum.id%}" aria-label="Assign Curriculum" title="Assign Curriculum"></a>
{% elif user.is_authenticated and not user.researcher and not user.author %}
  {% if curriculum.curriculum_type == 'U' %}
    {% with msg="This unit cannot be assigned because none of the underlying lessons are public.  If you need to assign this unit please ask the author to make them public" %}
    <a class="fas fa-tasks disabled" aria-hidden="true" data-title="{{msg}}"></a>
    {% endwith %}
  {% else %}
    {% with msg="This curriculum cannot be assigned because it not public.  If you need to assign this curriculum please ask the author to make it public" %}
    <a class="fas fa-tasks disabled" aria-hidden="true" data-title="{{msg}}"></a>
    {% endwith %}
  {% endif %}
{% endif %}

<!-- Favorite -->
{% check_curriculum_permission curriculum.id 'favorite' as has_favorite_permission %}
{% if has_favorite_permission == True %}
  <a class="bookmark util-button fa fa-star" href="{% url 'ctstem:removeBookmark' curriculum.id %}" style="{% if curriculum|is_bookmarked:user.teacher %} display: inline-block; {% else %} display: none; {% endif %}" title="Remove from Favorites"></a>
  <a class="bookmark util-button fa fa-star-o" href="{% url 'ctstem:bookmarkCurriculum' curriculum.id %}" style="{% if curriculum|is_bookmarked:user.teacher %} display: none; {% else %} display: inline-block; {% endif %}" title="Add to Favorites"></a>
{% endif %}

<!-- Download Student Data -->
{% check_curriculum_permission curriculum.id 'export_response' as has_export_permission %}
{% if has_export_permission == True %}
  {% if curriculum|has_response:request.user %}
    <a class="util-button fas fa-file-download" aria-hidden="true" aria-label="Download Student Response" title="Download Student Response" href="{% url 'ctstem:export_all_response' curriculum.id %}">
    </a>
  {% endif %}
{% endif %}
<!-- Restore deleted curriculum -->
{% check_curriculum_permission curriculum.id 'restore' as has_restore_permission %}
{% if has_restore_permission == True %}
  <a class="util-button fa fa-rotate-left" aria-hidden="true" aria-label="Restore" title="Restore" href="{% url 'ctstem:restoreCurriculum' curriculum.id %}">
  </a>
{% endif %}

