<footer>
  <div class="col-container">
    <div class="col">
      <p>
        This material was developed by the <a href="{% url 'ctstem:home' %}"> CT-STEM Project</a> at Northwestern University. To inquire about using our material in your school or as part of research, please contact
        <a href="mailto:ctstem@northwestern.edu">ctstem@northwestern.edu</a>.
      </p>
      <p>
        This work was made possible through generous support from the National Science Foundation (grants CNS-1138461, CNS-1441041, DRL-1020101, DRL-1640201 and DRL-1842374) and the Spencer Foundation (Award #201600069). Any opinions, findings, or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the funding organizations.
      </p>
      <hr>
      <p>
        <a data-toggle="modal" data-target="#terms" class="terms" href="#">
          © {% now "Y" %} CT-STEM Project. Some rights reserved.
        </a>
      </p>
    </div>
  </div>
</footer>
