{% load ctstem_extras %}
{% load base_extras %}

{% with curr_unit=curriculum.unit|default:curriculum %}
<!--if curriculum is a unit or a lesson inside a unit then curr_unit is the unit otherwise it is the curriculum  -->
  <div>
    <activity id="page0">
      <h3 class="left">
        {% if is_underlying_lesson %}
        {{curriculum.order}}.0.
        {% endif %}
        Student Directions and Resources</h3>

      <br>
      <div class="step_content">
        {% if curriculum.curriculum_type == 'A' %}
          {% if curriculum.student_overview %}
            {{curriculum.student_overview|safe}}
          {% endif %}
          Thank you for taking this assessment!
          Please do the best that you can, and don't worry if you don't know all of the answers.
        {% elif curriculum.curriculum_type == 'L' %}
          {% if curriculum.student_overview %}
            {{curriculum.student_overview|safe}}
          {% elif curriculum.unit and curriculum.unit.student_overview %}
            {{curriculum.unit.student_overview|safe}}
          {% endif %}
        {% endif %}
        {% if attachments %}
          <p>
            You will need the following resources to complete this assignment.  Please download them all from this link
            <a class="for_screen" href="{% url 'ctstem:downloadAttachments' curriculum.id 'S' %}" target="_blank">Download All <i class="fas fa-file-download"></i></a>
            <span class="for_print link">{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'ctstem:downloadAttachments' curriculum.id 'S' %}</span>
            or individually from the links below.
          </p>

          <ul>
            {% for attachment in attachments %}
              <li>
                 {{attachment.title}} -
                 <a class="for_screen" href="{{attachment.file_object.url}}"  download="{{attachment.title.split|join:'_'}}.{{attachment.extension}}" target="_blank"> Download <i class="fas fa-file-download"></i> </a>
                <span class="for_print link">{{attachment.file_object.url}}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </activity>
    {% for step in steps %}
      <activity id="page{{forloop.counter}}">
        <h3 class="left">
          {% if is_underlying_lesson %}{{curriculum.order}}.{% endif %}{{forloop.counter}}. {{step.title}}
        </h3>
        <br>
        <div class="step_content">
          {% if step.content %}
            {{step.content|safe}}
          {% endif %}
        </div>
        <br>
        <div class="question_container">
          {% if step.curriculumquestion_set.all|length > 0 %}
            <div class="question_table">
              {% for curriculumquestion in step.curriculumquestion_set.all %}
                {% with question=curriculumquestion.question %}
                {% with field_type=question.answer_field_type %}
                {% if field_type != 'MH' %}
                  <div class="question_response_feedback {% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}">
                    <div class="question">
                      <h5 class="left">
                        Question
                        {% if is_underlying_lesson %}{{curriculum.order}}.{% endif %}{{step.order}}.{{forloop.counter}}
                      </h5>
                      <div class="text">
                        {{question|safe}}
                      </div>
                    </div>
                    <div class="response">
                      <div class="text">
                        {% if field_type == 'TA' %}
                          <textarea class="form-control assignment_textarea" name="{{forloop.counter}}" id="{{forloop.counter}}" ></textarea>
                        {% elif field_type == 'TF' %}
                          <input type="text" class="form-control" name="{{forloop.counter}}" id="{{forloop.counter}}"/>
                        {% elif field_type == 'DD' %}
                          <div class="for_screen">
                            <select class="form-control assignment_input" name="{{forloop.counter}}" id="{{forloop.counter}}">
                              <option value="">--------</option>
                              {% for option in question.options|splitlines%}
                              <option value="{{option}}">{{option}}</option>
                              {% endfor %}
                              {% if question.display_other_option %}
                                <option value="{{option}}" class="other">Other</option>
                                <input type="text" placeholder="Enter your response" class="form-control assignment_input other" disabled/>
                              {% endif %}
                            </select>
                          </div>
                          <div class="for_print">
                            {% for option in question.options|splitlines%}
                              <input type="radio" name="{{question.id}}_mc" id="{{question.id}}_mc" value="{{option}}" />
                              &nbsp;
                              <span class="response_label">{{option}}</span>
                              <br>
                            {% endfor %}
                            {% if question.display_other_option %}
                              <input type="radio" name="{{question.id}}_mc" id="{{question.id}}_mc" value="{{option}}" class="other" />
                              &nbsp;
                              <span class="response_label">Other</span>
                              <input type="text" class="form-control assignment_input other_response for_print" name="{{question.id}}_mc" id="{{question.id}}_mc" disabled/>
                            {% endif %}
                          </div>
                        {% elif field_type == 'MC' %}
                          {% for option in question.options|splitlines%}
                            <input type="radio" name="{{question.id}}_mc" id="{{question.id}}_mc" value="{{option}}" />
                            &nbsp;
                            <span class="response_label">{{option}}</span>
                            <br>
                          {% endfor %}
                          {% if question.display_other_option %}
                            <input type="radio" name="{{question.id}}_mc" id="{{question.id}}_mc" value="{{option}}" class="other" />
                            &nbsp;
                            <span class="response_label">Other</span>
                            <input type="text" class="form-control assignment_input other_response for_print" name="{{question.id}}_mc" id="{{question.id}}_mc" disabled/>
                          {% endif %}
                        {% elif field_type == 'MI' %}
                          <div class="help warning">You may click the images below to view a larger version</div>
                          {% for option in question.options|splitlines%}
                            <input type="radio" name="{{question.id}}_mi" id="{{question.id}}_mi" value="{{option}}"/>
                            &nbsp;
                            <span class="response_label">{{forloop.counter0|get_ascii_char}}.</span>
                            <a data-toggle="modal" data-target="#imageModal" data-href="{{option}}" class="image_option"><img src="{{option}}" class="image_option"/></a>
                            <br>
                          {% endfor %}
                        {% elif field_type == 'MS' %}
                          {% for option in question.options|splitlines%}
                            <input type="checkbox" name="{{question.id}}_cb" id="{{question.id}}_cb" value="{{option}}"/>
                            &nbsp;
                            <span class="response_label">{{option}}</span>
                            <br>
                          {% endfor %}
                        {% elif field_type == 'FI' %}
                          <div class="for_screen">
                            <span class="response_label">Upload files that are less than 5MB in size.</span>
                            <table class="table table-striped table-condensed table-bordered inner_table collapsible_content">
                              <thead>
                                <tr>
                                  <th>File</th>
                                  <th>Delete</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="attached_file">
                                    <input type="file"/>
                                  </td>
                                  <td class="attachment_edit">
                                    <button type="button" class="btn red delete_attachment" name="delete_attachment" aria-label="Delete Attachment" title="Delete Attachment">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <button type="button" class="btn blue add_attachment" id="form-response_file" title="Add New Attachment">
                              Upload more
                            </button>
                          </div>
                          <div class="for_print">
                            <span class="response_label">Upload files to the space allocated by your teacher.</span>
                          </div>
                        {% elif field_type == 'SK' %}
                          <span class="response_label"> Note: Draw your sketch in the sketchpad below </span>
                          <div id="{{question.id}}_sketch_tools" class="sketch_tools for_screen"></div>
                          <canvas id="{{question.id}}_sketch" width="900" height="500" class="assignment_sketch {% if question.sketch_background %} for_screen {% endif %}" style="{% if question.sketch_background %} background: url({{question.sketch_background.url}}) no-repeat;{% endif %}">
                          </canvas>
                          {% if question.sketch_background %}
                            <img src="{{question.sketch_background.url}}" class="for_print"/>
                          {% endif %}
                        {% elif field_type == 'DT' %}
                          <div class="assignment_input dt_input" id="dt_input_{{question.id}}_{{forloop.counter}}">
                            <input type="hidden" name="dt_response_{{question.id}}_{{forloop.counter}}" id="dt_response_{{question.id}}_{{forloop.counter}}" value=''/>
                            <input type="hidden" name="column_headers" id="dt_col_headers_{{question.id}}_{{forloop.counter}}" value="{{question.options}}"/>
                            <table class="table table-condensed table-bordered inner_table" id="dt_table_{{question.id}}_{{forloop.counter}}">
                              <thead>
                              </thead>
                              <tbody>
                              </tbody>
                            </table>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <br><br>
                {% else %}
                  <table class="likert">
                    <tbody>
                      <tr class="likert-item">
                        <td class="likert-number">
                          <h5 class="left">
                            {% if is_underlying_lesson %}
                              {{curriculum.order}}.
                            {% endif %}
                            {{step.order}}.{{forloop.counter}}
                          </h5>
                        </td>
                        <td class="likert-prompt">
                          {{question.question_text|inline_style|safe}}
                        </td>
                        {% for option in question.options|splitlines%}
                        <td class="likert-option">
                          <input type="radio" name="{{question.id}}_s" id="{{question.id}}_s" value="{{option}}" title="{{option}}"/>
                        </td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                {% endif %}
                {% endwith %}
                {% endwith %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </activity>
    {% endfor %}
  </div>
{% endwith %}
