{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% load base_extras %}

{% block media %}
  {{ block.super }}

  <script type="text/javascript" src="{% staticfile 'js/assignment.js' %}"></script>
  <link rel="stylesheet" href="{% staticfile 'css/preview.css' %}">
  <link rel="stylesheet" href="{% staticfile 'css/sketch.css' %}">
  <script type="text/javascript" src="{% staticfile 'js/sketch.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/sketch_custom.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/assignment.js' %}"></script>
  <link rel="stylesheet" href="{% staticfile 'css/print.css' %}" media="print"/>
  {{ form.media }}
{% endblock %}

{% block content %}
  {{block.super}}

  <div class="content single_page_preview" id="preview">
    <div class="curriculum_container">
      <div class="left-navigation for_screen">
        <div class="preview-navigation form-group">
          <ul>
            <li>
              <label>
                <a href="#preview_head" class="page-scroll">
                  <strong>Curriculum Details</strong>
                </a>
              </label>
            </li>
            <li>
              <label>
                <a href="#overview" class="page-scroll">
                  <strong>Curriculum Overview</strong>
                </a>
              </label>
            </li>
            <li>
              <label>
                <a href="#standards" class="page-scroll">
                  <strong>Standards</strong>
                </a>
              </label>
            </li>
            {% if curriculum.credits or curriculum.unit and curriculum.unit.credits %}
              <li>
                <label>
                  <a href="#credits" class="page-scroll">
                    <strong>Credits</strong>
                  </a>
                </label>
              </li>
            {% endif %}
            {% if curriculum.acknowledgement or curriculum.unit and curriculum.unit.acknowledgement %}
              <li>
                <label>
                  <a href="#acknowledgement" class="page-scroll">
                    <strong>Acknowledgement</strong>
                  </a>
                </label>
              </li>
            {% endif %}
            {% if user.administrator or user.researcher or user.school_administrator or user.teacher or user.author %}
              {% if curriculum.teacher_notes %}
                <li>
                  <label>
                    <a href="#teacher_notes" class="page-scroll">
                     <strong>Teacher Notes</strong>
                    </a>
                  </label>
                </li>
              {% endif %}
              {% if teacher_attachments %}
                <li>
                  <label>
                    <a href="#teacher_attachments" class="page-scroll">
                      <strong>Teacher Attachments</strong>
                    </a>
                  </label>
                </li>
              {% endif %}
              {% if student_attachments %}
                <li>
                  <label>
                    <a href="#student_attachments" class="page-scroll">
                      <strong>Student Attachments</strong>
                    </a>
                  </label>
                </li>
              {% endif %}
            {% endif %}
            {% if lessons %}
              <li>
                <label>
                  <a href="#underlying_curriculum" class="page-scroll">
                    <strong>Underlying Curriculum</strong>
                  </a>
                </label>
              </li>
              <ul>
                {% for lesson in lessons %}
                  <li>
                    <label>
                      <a href="#lesson{{lesson.order}}" class="page-scroll">
                        <strong>Lesson {{lesson.order}}</strong>
                      </a>
                    </label>
                  </li>
                {% endfor %}
              </ul>
            {% elif pages %}
              <li>
                <label>
                  <a href="#page0" class="page-scroll">
                    <strong>Activities</strong>
                  </a>
                </label>
              </li>
              <ul>
                <li>
                  <label>
                    <a href="#page0" class="page-scroll">
                     <strong>Page 0</strong>
                    </a>
                  </label>
                </li>
                {% for page in pages %}
                  <li>
                    <label>
                      <a href="#page{{forloop.counter}}" class="page-scroll">
                        <strong>Page {{forloop.counter}}</strong>
                      </a>
                    </label>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}

          </ul>
        </div>
      </div>

      <div class="curriculum_components">
        {% for lesson_html in lessons_html %}
          {{lesson_html|safe}}
          <div class="page-break"></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="modal fade" id="imageModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <img src="" class="popup_image"/>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function(){
      bind_bookmark();
      loadCanvasData();
      loadDataTable(true);

      //hide disabled Other text field
      $('input[type="radio"]').on('change', function(){
        if($(this).is(':checked')){
          if($(this).hasClass('other')){
            $(this).siblings('input[type="text"]').prop('disabled', false);
          }
          else{
            $(this).siblings('input[type="text"]').prop('disabled', true);
            $(this).siblings('input[type="text"]').val('');
          }
        }
      });

      $('select.assignment_input').on('change', function(){
        var selected = $(this).find('option:selected');
        if($(selected).hasClass('other')){
          $(this).siblings('input[type="text"]').prop('disabled', false);
        }
        else{
          $(this).siblings('input[type="text"]').prop('disabled', true);
          $(this).siblings('input[type="text"]').val('');
        }
      });

      $('a.image_option').click(function(){
        var url = $(this).data("href");
        $('#imageModal').find('img.popup_image').attr('src', url);
        $('#imageModal').modal('show');
        return false;
      });

      $('ul.messages').clearQueue();

      window.onload = function() {
        $('ul.messages').hide();
        $('a.print').attr('disabled', false);
        $('a.print').click(function(){
          window.print();
          return false;
        })
        $('iframe, video').each(function(e){
          var src = $(this).attr('src');
          if(src) {
            var static_content = '<div class="embedded_url for_print">The embedded resource from above can be accessed via this link: <span class="link">'+src+'</span></div>';
            $(this).after(static_content);
          }
        });
        $('video').each(function(e){
          var video_element = $(this);
          var video_links = '';
          $(this).find('source').each(function(){
            var src = $(this).attr('src');
            video_links = video_links + '<div class="link">'+src+'</div>';
          });
          if(video_links != '') {
            var static_content = '<div class="embedded_url for_print">The embedded resource from above can be accessed via these links: '+video_links+'</div>';
            $(video_element).after(static_content);
          }
        });
      };

    });
  </script>
{% endblock %}

{% block footer %}
  {{block.super}}
  {% include 'ctstem_app/CurriculumFooter.html' %}
{% endblock %}

