<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">Search Authors</h3>
    </div>
    <div id="authorMsg" class="msg">
    </div>
    <form class="form" id="authorForm" method="post" action="{% url 'ctstem:searchAuthors' %}">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-inline">
          <div class="form-group">
            <label for="id_username">Username</label>
            <div>{{authorSearchForm.username}}</div>
          </div>
          <div class="form-group">
            <label for="id_first_name">First Name</label>
            <div>{{authorSearchForm.first_name}}</div>
          </div>
          <div class="form-group">
            <label for="id_last_name">Last Name</label>
            <div>{{authorSearchForm.last_name}}</div>
          </div>
          <div class="form-group">
            <label for="id_email">Email</label>
            <div>{{authorSearchForm.email}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="submit" id="search" class="btn btn-success">
            Search
          </button>
        </div>
      </div>
    </form>
    <div id="authorResults" style="display:none;" class="results">
      <table class="table table-bordered table-striped table-condensed inner_table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Share?</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
$(function (){

    $("#authorForm").submit(function(e) {

    e.preventDefault();
    $("#authorResults table tbody").empty();


    /*var url = "{% url 'ctstem:newQuestion' %}";*/
    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: $(this).serialize(),
      context: this,
      success: function(data){
        if('error' in data){
          $('#authorMsg').html(data['error']);
        }
        else {
          var author = "";
          var author_row = "";
          $.each(data, function(key, value){
            author += "<tr><td>"+value['username']+"</td><td>"+value['name']+"</td><<td>"+value['email']+"</td><td><button type='button' class='btn btn-info select_author' id='"+value['user_id']+"'>Add</a></td></tr>";
          });

          if(author.length == 0){
            $('#authorMsg').html('No matching authors found');
            $("#authorResults").hide();
          }
          else{
            $('#authorMsg').html('');
            $("#authorResults table tbody").append(author);
            $("#authorResults").show();
            $("#authorResults button.select_author").click(function(){
              if($('select[id^="id"][id$="authors"] option[value="'+$(this).attr('id')+'"]').prop('selected') == false){
               //select the teacher id in the hidden select field
                $('select[id^="id"][id$="authors"] option[value="'+$(this).attr('id')+'"]').prop('selected', true);
                console.log($('select[id^="id"][id$="authors"] option[value="'+$(this).attr('id')+'"]').prop('selected'));
                //add the selected teacher to the shared with table
                author_row = $(this).closest('tr');
                author = "<tr id='"+$(this).attr('id')+"'>";
                $(author_row).find('td:not(:last)').each(function(){
                  author += "<td>"+$(this).html()+"</td>";
                });
                author += "<td> <button type='button' class='btn btn-warning unshare' aria-label='Unshare resource with this teacher' title='Unshare resource with this teacher'> \
                            <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>\
                          </button></td>";
                $('table#authors tbody').append(author);
                rowAddorRemove($('table#authors'));

                //bind remove function
                $("button.remove").click(function(e){
                  var author_id = $(this).closest('tr').attr('id');
                  $('select[id^="id"][id$="authors"] option[value="'+author_id+'"]').prop('selected', false);
                  $('table#authors tbody tr#'+author_id).remove();
                  rowAddorRemove($('table#authors'));
                });
              }

              $(this).attr('disabled', 'disabled');
            });
          }
          //$("#teacherForm")[0].reset();
          //$("#teacherModal").modal('toggle');
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        alert(thrownError);
      },
    });
  });

});

</script>
