{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block title %}Curriculum |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2> Curriculum </h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.media}}
      <div class="table" id="curriculum">
        <h4>
          <span>&nbsp;</span>
          <span class="curriculum_title" style="font-weight: bold; text-decoration: underline;">{{form.title.value|default_if_none:"  "}}</span>
          <span>&nbsp;</span>
          <span class="controls">
            <span class="expand_collapse">
              <button type="button" class="btn btn-warning" name="collapse_curriculum" aria-label="Collapse Curriculum" title="Collapse Curriculum">
                <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-success" style="display:none;" name="expand_curriculum" aria-label="Expand Curriculum" title="Expand Curriculum">
                <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
              </button>
            </span>
          </span>
        </h4>
        <div class="curriculum_content collapsible_content">
          {{form.management_form}}
          {% for field in form %}
            {% if field.name == 'content' %}
              {% if form.curriculum_type.value == 'A' or form.curriculum_type.value == '' %}
                <div class="form-group" style="display:none;">
              {% else %}
                <div class="form-group">
              {% endif %}
            {% else %}
              <div class="form-group">
            {% endif %}
              <label for="id_{{field.name}}">{{ field.label|title }} {% if field.field.required %}(<span class="required">*</span>) {% endif %}</label>
              {% if field.name == 'taxonomy' %}
                <div style="display:none;">
                  {{field}}
                </div>
                <button class="btn btn-info search_taxonomy" name="search_taxonomy" data-form="{% url 'ctstem:searchTaxonomy' %}">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <span class="expand_collapse_other">
                  <button type="button" class="btn btn-warning" name="collapse_standards" aria-label="Collapse Standards" title="Collapse Standards">
                    <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-success" style="display:none;" name="expand_standards" aria-label="Expand Standards" title="Expand Standards">
                    <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                  </button>
                </span>
                <div id="taxonomy_div">
                  <table class="table table-bordered table-striped table-condensed inner_table" id="taxonomy">
                    <thead>
                      <tr>
                        <th>Standard</th>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Code</th>
                        <th>Remove?</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for x in field.value %}
                        {% with taxonomy=x|getTaxonomy %}
                        <tr id="{{taxonomy.id}}">
                          <td>{{taxonomy.category.standard.short_name}}</td>
                          <td>{{taxonomy.category.name}}</td>
                          <td>{{taxonomy.title}}</td>
                          <td>{{taxonomy.code}}</td>
                          <td>
                            <button type="button" class="btn btn-danger remove_taxonomy" title="Remove Taxonomy">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                          </td>
                        </tr>
                        {% endwith %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% elif field.name == 'teacher_notes'%}
                <span class="expand_collapse_other">
                  <button type="button" class="btn btn-warning" style="display:none;" name="collapse_notes" aria-label="Collapse Notes" title="Collapse Notes">
                    <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-success"  name="expand_notes" aria-label="Expand Notes" title="Expand Notes">
                    <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                  </button>
                </span>
                <div style="display:none; margin-top: 1em;">
                  {{field}}
                </div>
                <div class="error">{{ field.errors }}</div>
              {% elif field.name == 'shared_with' %}
                <button class="btn btn-info search_teachers" name="search_teachers" data-form="{% url 'ctstem:searchTeachers' %}">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <div class="controls table_container">
                  <div style="display:none;">
                    {{field}}
                  </div>
                  <table class="table table-striped table-bordered table-condensed inner_table" id="teachers">
                    <thead>
                      <tr>
                        <th> Username </th>
                        <th> Name </th>
                        <th> Email </th>
                        <th> Unshare </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for x in field.value %}
                        {% with teacher=x|getTeacherInfo %}
                        <tr id="{{teacher.id}}">
                          <td>{{teacher.user.username}}</td>
                          <td>{{teacher.user.get_full_name}}</td>
                          <td>{{teacher.user.email}}</td>
                          <td>
                            <button type="button" class="btn btn-warning unshare" aria-label="Unshare curriculum with this teacher" title="Unshare curriculum with this teacher" href="#">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                          </td>
                        </tr>
                        {% endwith %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <div>
                  {{field}}
                </div>
              {% endif %}
              {% if field.name == 'icon' or field.name == 'subject' or field.name == 'compatible_system' or field.name == 'shared_with' %}
                <div class="help warning">{{field.help_text|safe}}</div>
              {% endif %}
              <div class="error">{{ field.errors }}</div>
            </div>
          {% endfor %}
          <div class="form-group attachment_table">
            {{attachment_formset.management_form}}
            <label for="id_attachment_table">Attachment(s)</label>
            <a type="button" class="btn btn-info" id="add_attachment" title="Add New Attachment">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <span class="expand_collapse_other">
              <button type="button" class="btn btn-warning" name="collapse_attachment" aria-label="Collapse Attachments" title="Collapse Attachments">
                <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-success" style="display:none;" name="expand_attachment" aria-label="Expand Attachments" title="Expand Attachments">
                <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
              </button>
            </span>
            <table class="table table-striped table-condensed table-bordered attachment inner_table collapsible_content">
              <thead>
                <tr>
                  <th style="width:40%;">Title</th>
                  <th>File</th>
                  <th>Teacher Only?</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for attachmentForm in attachment_formset %}
                  <tr style="{% if forloop.last %} display:none; {% endif %}">
                    <td class="attachment_title">
                      {{attachmentForm.id}}
                      <div>
                        {{attachmentForm.title}}
                      </div>
                      <div class="error">{{ attachmentForm.title.errors }}</div>
                    </td>
                    <td class="attached_file">
                      <div>{{attachmentForm.file_object}}</div>
                      <div class="error">{{ attachmentForm.file_object.errors }}</div>
                    </td>
                     <td class="teacher_only">
                      <div>{{attachmentForm.teacher_only}}</div>
                      <div class="error">{{ attachmentForm.teacher_only.errors }}</div>
                    </td>
                    <td class="attachment_edit">
                      <button type="button" class="btn btn-danger delete_attachment" name="delete_attachment" aria-label="Delete Attachment" title="Delete Attachment">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                      </button>
                      {{attachmentForm.DELETE.as_hidden}}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {{formset.management_form}}
      {% for step in formset %}
        <div class="table step" style="{% if forloop.last %} display:none; {% endif %}">
          <h4>
            <span>&nbsp;</span>
            <span class="step_title" style="font-weight: bold; text-decoration: underline;">{{step.title.value|default_if_none:"  "}}</span>
            <span>{% if step.ORDER.value %}({{step.ORDER.value}}) {% endif %}</span>
            <span>&nbsp;</span>
            <span class="controls">
              <span>
                <button type="button" class="btn btn-danger delete_step" name="delete_step" aria-label="Delete Step" title="Delete Step">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                {{step.DELETE.as_hidden}}
              </span>
              <span class="expand_collapse">
                <button type="button" class="btn btn-warning" name="collapse_step" aria-label="Collapse Step" title="Collapse Step">
                  <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-success" style="display:none;" name="expand_step" aria-label="Expand Step" title="Expand Step">
                  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                </button>
              </span>
            </span>
          </h4>

          {{ step.management_form }}
          {{step.id}}
          <div class="curriculum_content collapsible_content">
            <div class="form-group order">
              <label for="id_{{step.ORDER.name}}"> Step #.</label>
              <div>{{step.ORDER}}</div>
              <div class="error">{{ step.ORDER.errors }}</div>
            </div>
            <div class="form-group step_title">
              <label for="id_{{step.title.name}}">{{ step.title.label }} {% if step.title.field.required %}(<span class="required">*</span>) {% endif %}</label>
              <div class="step_title">{{step.title}}</div>
              <div class="error">{{ step.title.errors }}</div>
            </div>
            <div class="form-group step_content">
              <label for="id_{{step.content.name}}">{{ step.content.label }} {% if step.content.field.required %}(<span class="required">*</span>) {% endif %}</label>
              <div>
                {{step.content}}
              </div>
              <div class="error">{{ step.content.errors }}</div>
            </div>
            <div class="form-group teacher_notes">
              <label for="id_{{step.teacher_notes.name}}">{{ step.teacher_notes.label|title }} {% if step.teacher_notes.field.required %}(<span class="required">*</span>) {% endif %}</label>
              <span class="expand_collapse_other">
                <button type="button" class="btn btn-warning" style="display:none;" name="collapse_notes" aria-label="Collapse Notes" title="Collapse Notes">
                  <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-success"  name="expand_notes" aria-label="Expand Notes" title="Expand Notes">
                  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                </button>
              </span>
              <div style="display:none; margin-top: 1em;">
                {{step.teacher_notes}}
              </div>
              <div class="error">{{ step.teacher_notes.errors }}</div>
            </div>

            <div class="form-group question_table">
              {{step.nested.management_form}}
              {{step.nested.id}}
              <label for="id_question_table">Step Question(s)</label>
              <button class="btn btn-info edit_question" name="add_question" data-form="{% url 'ctstem:newQuestion' %}" aria-label="Add New Question" title="Add New Question">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
              <span class="expand_collapse_other">
                <button type="button" class="btn btn-warning" name="collapse_notes" aria-label="Collapse Notes" title="Collapse Notes">
                  <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-success"  style="display:none;" name="expand_notes" aria-label="Expand Notes" title="Expand Notes">
                  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                </button>
              </span>
              <table class="table table-striped table-condensed table-bordered question inner_table">
                <thead>
                  <tr>
                    <th>Q#.</th>
                    <th style="width:70%;">Question</th>
                    <th>Delete/Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for questionForm in step.nested %}
                    <tr style="{% if forloop.last %} display:none; {% endif %}" id="question_row_{{questionForm.question.value}}">
                      <td class="order">
                        {{questionForm.id}}
                        {{questionForm.ORDER}}
                      </td>
                      <td class="question_text">
                        {% if questionForm.question.value and questionForm.question.value != 'None' %}
                          {{questionForm.question.as_hidden}}
                          <div> {{questionForm.question.value|selected_question|safe }} </div>
                        {% else %}
                          {{questionForm.question.as_hidden}}
                          <div></div>
                        {% endif %}
                      </td>
                      <td class="question_edit">
                        <button type="button" class="btn btn-danger delete_question" name="delete_question" aria-label="Delete Question" title="Delete Question">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        {{questionForm.DELETE.as_hidden}}
                        <button type="button" class="btn btn-success edit_question" name="edit_question" aria-label="Edit Question" title="Edit Question" data-form="{% url 'ctstem:question' questionForm.question.value|default:0 %}" >
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="form-group button-group-fixed">
        <input type="submit" class="btn btn-success" id="submit" value="Save"/>
        <br><br>
        <input type="button" class="btn btn-info" id="addStep" value="Add Step"/>
      </div>
    </form>
    <div class="modal fade" id="questionModal" role="dialog"></div>
    <div class="modal fade" id="taxonomyModal" role="dialog"></div>
    <div class="modal fade" id="teacherModal" role="dialog"></div>

  </div>
  <script type="text/javascript">
    $(function (){
      $("button.edit_question").click(function(e){
        e.preventDefault();
        var url = $(this).data("form");
        var step_div = $(this).closest('.step');
        var step_id = $(step_div).children(':hidden').first().attr('id');
        $("#questionModal").load(url, function() {
          $(this).modal('show');
          $("#questionModal input[id='id_step']").val(step_id);
        });

        return false;
      });

      $("button.search_taxonomy").click(function(e){
        e.preventDefault();
        var url = $(this).data("form");
        $("#taxonomyModal").load(url, function() {
          $(this).modal('show');
        });
        return false;
      });

      $("button.search_teachers").click(function(e){
        e.preventDefault();
        var url = $(this).data("form");
        $("#teacherModal").load(url, function() {
          $(this).modal('show');
        });
        return false;
      });

      $("button.remove_taxonomy").click(function(e){
        var taxonomy_id = $(this).closest('tr').attr('id');
        $('#id_curriculum-taxonomy option[value="'+taxonomy_id+'"]').prop('selected', false);
        $('div.curriculum_content div#taxonomy_div table#taxonomy tbody tr#'+taxonomy_id).remove();
      });
      //bind remove function
      $("button.unshare").click(function(e){
        var teacher_id = $(this).closest('tr').attr('id');
        $('select[id^="id"][id$="shared_with"] option[value="'+teacher_id+'"]').prop('selected', false);
        $('div.curriculum_content table#teachers tbody tr#'+teacher_id).remove();
      });

      $('#addStep').click(function() {
        cloneMore('div.table:last', 'form');
        var new_step_div = $('div.table:last').prev();
        $(new_step_div).toggle();

        $(new_step_div).find('textarea').each(function(){
          if($(this).attr('name') !== undefined && $(this).attr('data-config') !== undefined){
            var config = {
              removePlugins: 'stylesheetparser',
              toolbar: 'None',
              height: 100,
              width: '115%',
              allowedContent: true,
              filebrowserUploadUrl: "/ckeditor/upload/",
              filebrowserBrowseUrl: "/ckeditor/browse/",
              skin: "moono",
              codeSnippet_theme: 'monokai_sublime',
              mathJaxLib: '//cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML',
              extraPlugins: 'mathjax,codesnippet',
              scayt_autoStartup: true,
              scayt_sLang: 'en_US',
              disableNativeSpellChecker: false,
            }
            CKEDITOR.replace($(this).attr('name'), config);
          }
        });

        /*var step_order_div = $('div.table:last span.step_order');
        var step_order = parseInt($(step_order_div).html()) + 1;
        $(step_order_div).html(step_order);*/
      });

      $('input#id_curriculum-title').on('input', function(){
        $(this).closest('div.table').find('h4 span.curriculum_title').html($(this).val());
      });
      $('div.step_title input').on('input', function(){
        $(this).closest('div.table.step').find('h4 span.step_title').html($(this).val());
      });

      $('button.delete_step').click(function(){
        var r = confirm("Are you sure you want to delete this step?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('div.table.step').hide();
        }
      });
      $('button.delete_question').click(function(){
        var r = confirm("Are you sure you want to delete this question?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('tr').hide();
        }
      });

      $('a#add_attachment').click(function() {
        cloneMore('div.attachment_table table.table tr:last', 'attachment_form');
        var new_row = $('div.attachment_table table.table tr:nth-last-child(2)');
        $(new_row).toggle();
      });
      $('button.delete_attachment').click(function(){
        var r = confirm("Are you sure you want to delete this attachment?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('tr').hide();
        }
      });
      $('select#id_curriculum-curriculum_type').bind('change', (function(){

        if($(this).val() == 'L' || $(this).val() == 'A'){

          $('input#id_curriculum-time').closest('.form-group').show();
          $('input#id_curriculum-time').closest('.form-group').find('label:first').html('Time (<span class="required">*</span>)');

          $('textarea#id_curriculum-level').closest('.form-group').show();
          $('textarea#id_curriculum-level').closest('.form-group').find('label:first').html('Level (<span class="required">*</span>)');

          $('textarea#id_curriculum-overview').closest('.form-group').show();
          $('textarea#id_curriculum-overview').closest('.form-group').find('label:first').html('Overview (<span class="required">*</span>)');

          $('textarea#id_curriculum-purpose').closest('.form-group').show();
          $('textarea#id_curriculum-purpose').closest('.form-group').find('label:first').html('Purpose (<span class="required">*</span>)');

          $('select#id_curriculum-subject').closest('.form-group').show();

          $('select#id_curriculum-taxonomy').closest('.form-group').show();
          $('select#id_curriculum-taxonomy').closest('.form-group').find('label:first').html('Standards (<span class="required">*</span>)');

          $('textarea#id_curriculum-teacher_notes').closest('.form-group').show();

          $('select#id_curriculum-shared_with').closest('.form-group').show();

          $('div.form-group.attachment_table').show();

          if($(this).val() == 'L'){
            $('textarea#id_curriculum-content').closest('.form-group').show();
            $('textarea#id_curriculum-content').closest('.form-group').find('label:first').html('Content (<span class="required">*</span>)');

            $('select#id_curriculum-subject').closest('.form-group').find('label:first').html('Subject (<span class="required">*</span>)');
          }
          else{
            $('textarea#id_curriculum-content').closest('.form-group').hide();
            $('select#id_curriculum-subject').closest('.form-group').find('label:first').html('Subject');
          }

          $('div.table.step div.form-group.order').show();
          $('div.table.step div.form-group.step_title').show();
          $('div.table.step div.form-group.teacher_notes').show();
          $('div.table.step div.form-group.question_table').show();
        }
        else{
          //hide the metadata fields
          $('input#id_curriculum-time').closest('.form-group').hide();
          $('textarea#id_curriculum-level').closest('.form-group').hide();
          $('textarea#id_curriculum-overview').closest('.form-group').hide();
          $('textarea#id_curriculum-purpose').closest('.form-group').hide();
          $('select#id_curriculum-subject').closest('.form-group').hide();
          $('select#id_curriculum-taxonomy').closest('.form-group').hide();
          $('textarea#id_curriculum-content').closest('.form-group').hide();
          $('textarea#id_curriculum-teacher_notes').closest('.form-group').hide();
          $('select#id_curriculum-shared_with').closest('.form-group').hide();
          $('div.form-group.attachment_table').hide();

          //hide step order, teacher notes and questions
          //$('div.table.step div.form-group.order').hide();
          //$('div.table.step div.form-group.step_title').hide();
          $('div.table.step div.form-group.teacher_notes').hide();
          //$('div.table.step div.form-group.question_table').hide();
        }
      }));
      $('select#id_curriculum-curriculum_type').trigger('change');

    });
  </script>

{% endblock %}
