
{% load ctstem_extras %}
{% block media %}
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>

  <style type="text/css" media="screen, print">
    @page {
      size: letter;
      margin: 2cm, 1cm, 2cm, 1cm;

      @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 2cm;
      }
    }
    @font-face {
     font-family: Helvetica;
    }

    div#content {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      margin-top: 2em;
      font-size: 1em;
    }

    div.table#curriculumMeta {
      font-size: 1.2em;
    }
    div.table#curriculumMeta div.meta {
      margin-bottom: 1em;
    }
    div.table#curriculumMeta div.meta div.label{
      font-weight: 700;
      text-decoration: underline;
    }
    div.table#curriculumStep {
      font-size: 1.2em;
    }
    div.table#curriculumStep table.student_info {
      font-weight: 700;
      width: 100%;
    }
    div.table#curriculumStep table.question_table {
      font-size: 1em;
      page-break-inside: avoid;
    }

    div.table#curriculumStep table.question_table .question_no{
      font-weight: 700;
    }
    div.table#curriculumStep h3.step_title {
      text-decoration: underline;
    }
    div.table#curriculumStep .note {
      font-style: italic;
    }
    div.table#curriculumStep .answer_field  .input_container {
      margin-bottom: 10px;
    }
    div.table#curriculumStep .answer_field  .input_container span{
      vertical-align: top;
    }
    div.table#curriculumStep .answer_field .input_container .circle {
      border: 1px solid black;
      border-radius: 20px;
      height: 20px;
      width: 20px;
    }
    h2, h3 {
      text-align: center;
    }
    div#headerContent{
      text-align: center;
      margin-bottom: 3em;
    }
    div#headerContent img {
      vertical-align: middle;
      width: auto;
      margin-right: 30px;
    }
    ul {
      margin-top: 0;
      margin-bottom: 0;

    }
    ul.standard {
      list-style-type: disc;
      margin-bottom: 10px;
    }
    ul.category {
      list-style-type: lower-latin;
    }
    ul.taxonomy {
      list-style-type: lower-roman;
    }
    li {
      margin:0;
      padding:0;
    }

  </style>
{% endblock %}

{% block content %}
  <div id="headerContent">
    <img style="vertical-align: middle; height: 50px; width: auto;" src="https://s3-us-west-1.amazonaws.com/ct-stem/assets/images/images/logo.png"/> &nbsp;&nbsp;&nbsp;
    <img style="vertical-align: middle; height: 50px; width: auto;" src="https://s3-us-west-1.amazonaws.com/ct-stem/assets/images/images/ccl.png"/> &nbsp;&nbsp;&nbsp;
    <img style="vertical-align: middle; height: 50px; width: auto;" src="https://s3-us-west-1.amazonaws.com/ct-stem/assets/images/images/tidal.png"/> &nbsp;&nbsp;&nbsp;
    <img style="vertical-align: middle; height: 50px; width: auto;" src="https://s3-us-west-1.amazonaws.com/ct-stem/assets/images/images/osep.png"/> &nbsp;&nbsp;&nbsp;
    <img style="vertical-align: middle; height: 50px; width: auto;" src="https://s3-us-west-1.amazonaws.com/ct-stem/assets/images/images/adler.png"/> &nbsp;&nbsp;&nbsp;
  </div>
  <div id="content" style="font-size: 1em;">
    <form>
      <div class="table" id="curriculumMeta">
        <h2>{{curriculum.title|title}}</h2>
        <hr>
        <div class="meta">
          <div class="label">Time</div>
          {{curriculum.time}}
        </div>
        <div class="meta">
          <div class="label">Level</div>
          <div>{{curriculum.level}}</div>
        </div>
        <div class="meta">
          <div class="label">Purpose</div>
          <div>{{curriculum.purpose}}</div>
        </div>
        <div class="meta">
          <div class="label">Overview</div>
          <div>{{curriculum.overview}}</div>
        </div>
        <div class="meta">
          <div class="label">Standards</div>
          <ul class="standard">
            {% for standard, categories in curriculum.taxonomy.all|taxonomyHelper %}
              <li>{{standard}}</li>
              <ul class="category">
                {% for category, taxonomies in categories.items %}
                  <li>{{category}}</li>
                  <ul class="taxonomy">
                  {% for taxonomy in taxonomies %}
                    <li>{{taxonomy}} </li>
                  {% endfor %}
                  </ul>
                {% endfor %}
              </ul>
            {% endfor %}
          </ul>
        </div>
        <div class="meta">
          {% if attachments %}
            <div class="label">Attachments</div>
            <ul>
              {% for attachment in attachments %}
                <li><a href="{{attachment.file_object.url}}" target="_blank">{{attachment.title}}</a> - ({{attachment.file_object.url}})</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <div class="table" id="curriculumContent">
        <div class="label">Content</div>
        <div>{{curriculum.content|format_iframe|safe}}</div>
      </div>

      {% if steps %}
        <div class="table" id="curriculumStep">

          {% if curriculum.curriculum_type == 'A' %}
            <h3> Assessment </h3>
          {% else %}
            <h3> Activity </h3>
          {% endif %}
          <table class="student_info">
            <tr>
              <td width="40%">Name:_________________________</td>
              <td width="30%">Class:_________________</td>
              <td width="30%">Date:__________________</td>
            </tr>
          </table>

          {% for step in steps %}
            <h3 class="step_title" style="text-decoration: underline;"> {{ step.title }} </h3>

            <div class="step_content"> {{step.content|inline_style|safe}} </div>

              {% for question in step.questions.all %}
              <table class="question_table">
                <tr>
                  <td width="5%" style="vertical-align: top;" class="question_no"> Q{{forloop.counter}}.</td>
                  <td class="question_text"> {{question.question_text|inline_style|safe }} </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="answer_field">
                    {% with field_type=question.answer_field_type %}
                      {% if field_type == 'TA' %}
                        <br><br><br><br><br><br><br><br><br><br>
                      {% elif field_type == 'TF' %}
                        <br><br><br><br><br>
                      {% elif field_type == 'DD' or field_type == 'MC' %}
                        <div class="multiplechoice">
                          <p class="note"> Note: Select one answer </p>
                          {% for option in question.options|split:','%}
                            <div class="input_container">
                              <img src="https://s3-us-west-1.amazonaws.com/ct-stem/assets/images/Circle.gif" class="circle"><span>&nbsp;&nbsp;{{option}}</span>
                            </div>
                          {% endfor %}
                        </div>
                      {% elif field_type == 'MS' %}
                        <div class="multiselect">
                          <p class="note"> Note: Select all that apply </p>
                          {% for option in question.options|split:','%}
                            <div class="input_container">
                              <img src="https://s3-us-west-1.amazonaws.com/ct-stem/assets/images/Square.gif" class="square" style="width:25px;"><span>&nbsp;&nbsp;{{option}} </span>
                            </div>
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% endwith %}
                  </td>
                </tr>
                </table>
              {% endfor %}

            <div> &nbsp; </div>

          {% endfor %}
        </div>
      {% endif %}
    </form>
  </div>

  <div id="footerContent">
    <table style="text-align:center;">
      <tr>
        <td width="10%"><img style="vertical-align: middle; height: 40px; width: auto;" src="https://s3-us-west-1.amazonaws.com/ct-stem/assets/images/images/NSFLogo.png"/></td>
        <td>This work is supported by the National Science Foundation under NSF Grants CNS-1138461 and CNS-1441041 and by the Spencer Foundation. However, any opinions, findings, conclusions, and/or recommendations are those of the investigators and do not necessarily reflect the views of the funders.</td>
      </tr>
      <tr>
        <td></td>
        <td>Copyright © 2015 Northwestern University</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <pdf:pagenumber />
        </td>
      </tr>
    </table>
  </div>

{% endblock %}

