<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">Search Authors</h3>
    </div>
    <div id="authorMsg" class="msg">
    </div>
    <form class="form" id="authorForm" method="post" action="{% url 'ctstem:searchAuthors' %}">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-inline">
          <div class="form-group">
            <label for="id_username">Username</label>
            <div>{{authorSearchForm.username}}</div>
          </div>
          <div class="form-group">
            <label for="id_first_name">First Name</label>
            <div>{{authorSearchForm.first_name}}</div>
          </div>
          <div class="form-group">
            <label for="id_last_name">Last Name</label>
            <div>{{authorSearchForm.last_name}}</div>
          </div>
          <div class="form-group">
            <label for="id_email">Email</label>
            <div>{{authorSearchForm.email}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="submit" id="search" class="btn btn-success">
            Search
          </button>
        </div>
      </div>
    </form>
    <div id="authorResults" style="display:none;" class="results">
      <table class="table table-bordered table-striped table-condensed inner_table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Share?</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
$(function (){

    $("#authorForm").submit(function(e) {

    e.preventDefault();
    $("#authorResults table tbody").empty();


    /*var url = "{% url 'ctstem:newQuestion' %}";*/
    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: $(this).serialize(),
      context: this,
      success: function(data){
        if('error' in data){
          $('#authorMsg').html(data['error']);
        }
        else {
          var author = "";
          $.each(data, function(key, value){
            if($('table.table#authors tr#user_'+value['user_id']).length == 0){
              author += "<tr><td class='username'>"+value['username']+"</td><td class='full_name'>"+value['name']+"</td><<td class='email'>"+value['email']+"</td><td><button type='button' class='btn btn-info select_author' id='"+value['user_id']+"'>Add</a></td></tr>";
            }
          });

          if(author.length == 0){
            $('#authorMsg').html('No matching authors found');
            $("#authorResults").hide();
          }
          else{
            $('#authorMsg').html('');
            $("#authorResults table tbody").append(author);
            $("#authorResults").show();
            $("#authorResults button.select_author").click(function(){
              var author_table = $('table.table#authors');
              var author_result_row = $(this).closest('tr');
              var username = $(author_result_row).find('td.username').html();
              var full_name = $(author_result_row).find('td.full_name').html();
              var email = $(author_result_row).find('td.email').html();
              cloneMore($(author_table).find('tbody tr:last'), 'author_form');
              var author_row = $(author_table).find("tbody tr:nth-last-child(2)");

              $(author_row).find("td.username input[type=hidden]").val($(this).attr('id'));
              $(author_row).find("td.username div").html(username);
              $(author_row).find("td.full_name").html(full_name);
              $(author_row).find("td.email").html(email);
              $(author_row).attr("id", "user_"+$(this).attr('id'));
              var author_order = $(author_table).find("tbody > tr:visible").length + 1;
              $(author_row).find("td.order input[id$='ORDER']").val(author_order);
              $(author_row).show();

              rowAddorRemove($('table#authors'));

              $(this).attr('disabled', 'disabled');
            });
          }
          //$("#teacherForm")[0].reset();
          //$("#teacherModal").modal('toggle');
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        alert(thrownError);
      },
    });
  });

});

</script>
