{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% load base_extras %}
{% block media %}
  {{ block.super }}

  <script type="text/javascript" src="{% staticfile 'js/assignment.js' %}"></script>
  <link rel="stylesheet" href="{% staticfile 'css/preview.css' %}">
  <link rel="stylesheet" href="{% staticfile 'css/sketch.css' %}">
  <script type="text/javascript" src="{% staticfile 'js/sketch.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/sketch_custom.js' %}"></script>
  <script type="text/javascript" src="{% staticfile 'js/assignment.js' %}"></script>
  <link rel="stylesheet" href="{% staticfile 'css/print.css' %}" media="print"/>

  {{ form.media }}
{% endblock %}

{% block content %}
  {{block.super}}
  {% is_my_curriculum curriculum as my_curriculum %}
  {% is_curriculum_shared_with_me curriculum as shared_curriculum %}
  <div class="content single_page_preview" id="preview">

    <div class="curriculum_container">
      <div class="left-navigation for_screen">
        <div class="preview-navigation form-group">
          <ul>
            <li>
              <label>
                <a href="#preview_head" class="page-scroll">
                  <strong>Curriculum Details</strong>
                </a>
              </label>
            </li>
            <li>
              <label>
                <a href="#overview" class="page-scroll">
                  <strong>Curriculum Overview</strong>
                </a>
              </label>
            </li>
            <li>
              <label>
                <a href="#standards" class="page-scroll">
                  <strong>Standards</strong>
                </a>
              </label>
            </li>
            {% if curriculum.credits or curriculum.unit and curriculum.unit.credits %}
              <li>
                <label>
                  <a href="#credits" class="page-scroll">
                    <strong>Credits</strong>
                  </a>
                </label>
              </li>
            {% endif %}
            {% if curriculum.acknowledgement or curriculum.unit and curriculum.unit.acknowledgement %}
              <li>
                <label>
                  <a href="#acknowledgement" class="page-scroll">
                    <strong>Acknowledgement</strong>
                  </a>
                </label>
              </li>
            {% endif %}
            {% if user.administrator or user.researcher or user.school_administrator or user.teacher or user.author %}
              {% if curriculum.teacher_notes %}
                <li>
                  <label>
                    <a href="#teacher_notes" class="page-scroll">
                     <strong>Teacher Notes</strong>
                    </a>
                  </label>
                </li>
              {% endif %}
              {% if teacher_attachments %}
                <li>
                  <label>
                    <a href="#teacher_attachments" class="page-scroll">
                      <strong>Teacher Attachments</strong>
                    </a>
                  </label>
                </li>
              {% endif %}
              {% if student_attachments %}
                <li>
                  <label>
                    <a href="#student_attachments" class="page-scroll">
                      <strong>Student Attachments</strong>
                    </a>
                  </label>
                </li>
              {% endif %}
            {% endif %}
            {% if underlying_curriculum %}
              <li>
                <label>
                  <a href="#underlying_curriculum" class="page-scroll">
                    <strong>Underlying Curriculum</strong>
                  </a>
                </label>
              </li>
            {% endif %}
            {% if pages %}
              <li>
                <label>
                  <a href="#page0" class="page-scroll">
                    <strong>Activities</strong>
                  </a>
                </label>
              </li>
              <ul>
                <li>
                  <label>
                    <a href="#page0" class="page-scroll">
                     <strong>Page 0</strong>
                    </a>
                  </label>
                </li>
                {% for page in pages %}
                  <li>
                    <label>
                      <a href="#page{{forloop.counter}}" class="page-scroll">
                        <strong>Page {{forloop.counter}}</strong>
                      </a>
                    </label>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}

          </ul>
        </div>
      </div>

      <div class="curriculum_components">

        <div id="preview_head" class="row section
                {% if curriculum.curriculum_type == 'U' %}
                  unit
                {% elif curriculum.curriculum_type == 'L' %}
                  lesson
                {% else %}
                  assessment
                {% endif %}
                ">
          <div class="col">
            <div class="tile
                      {% if curriculum.status == 'A' %}
                        archived
                      {% elif curriculum.status == 'R' %}
                        removed
                      {% endif %}">
              <div class="icon">
                <img src="{{icon}}"/>
                {% if curriculum.status == 'R' %}
                  <i class="fas fa-trash-alt trash" title="Deleted"></i>
                {% elif curriculum.status == 'A' %}
                  <i class="fas fa-archive archive" title="Archived"></i>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="col meta">
            <h3 class="left">
              {% if curriculum.unit %}
                {{curriculum.order}}.
              {% endif %}
              {{curriculum.title}}
              <span class="for_screen">
                {% if curriculum.unit|slugify == 'None'|slugify %}
                  {% check_curriculum_permission curriculum.id 'favorite' as has_favorite_permission %}
                  &nbsp;&nbsp;
                  {% if has_favorite_permission == True %}
                    <a class="bookmark util-button fa fa-star" href="{% url 'ctstem:removeBookmark' curriculum.id %}" style="{% if curriculum|is_bookmarked:user.teacher %} display: inline-block; {% else %} display: none; {% endif %}" title="Remove from Favorites"></a>
                    <a class="bookmark util-button fa fa-star-o" href="{% url 'ctstem:bookmarkCurriculum' curriculum.id %}" style="{% if curriculum|is_bookmarked:user.teacher %} display: none; {% else %} display: inline-block; {% endif %}" title="Add to Favorites"></a>
                  {% else %}
                    <a class="bookmark util-button fa fa-star-o warning" data-message="You need to be logged in as a teacher to favorite this curriculum"></a>
                  {% endif %}
                {% endif %}
              </span>
            </h3>

            <div>
              <label>Author(s): </label>
              {% with curr_unit=curriculum.unit|default:curriculum %}
                {% for curriculum_author in curr_unit.curriculumcollaborator_set.all|get_authors|dictsort:"order" %}
                  {{curriculum_author.user.get_full_name}}{% if forloop.last == False %}, {% endif %}
                {% endfor %}
              {% endwith %}
            </div>
            <div>
              <label>Subject:  </label>
              {% if curriculum.subject.all %}
                {{curriculum.subject.all|join:", "}}
              {% elif curriculum.unit.subject.all %}
                {{curriculum.unit.subject.all|join:", "}}
              {% endif %}
            </div>
            <div>
              <label>Time:  </label>
              {{curriculum.time}}
            </div>
            <div>
              <label>Level:  </label>
              {% if curriculum.unit %}
                {{curriculum.unit.level}}
              {% else %}
                {{curriculum.level}}
              {% endif %}
            </div>
            <div>
              <label>Version:  </label>
              v{{curriculum.version}}
            </div>
          </div>
        </div>

        <div class="row buttons for_screen">
          <div class="col">
            <a type="button" class="btn normal blue" aria-hidden="true" href="{% url 'ctstem:previewCurriculum' curriculum.id %}" aria-label="Back" title="Back">Back</a>
          </div>
          <div class="col">
            <a type="button" class="btn normal blue" aria-hidden="true" href="#" aria-label="Print" title="Print" onclick="window.print(); return false;">Print</a>
          </div>
        </div>



          <div class="section" id="overview">
            <h3 class="left">Overview</h3>
            <div>{{curriculum.overview|safe}}</div>
          </div>

          <div class="section" id="standards">
            <h3 class="left">Standards</h3>
            <div class="row">
              {% with curr_unit=curriculum.unit|default:curriculum %}
              {% for standard, categories in curr_unit.taxonomy.all|taxonomyHelper %}
                <div class="col">
                  <h5 class="left">{{standard}}</h5>
                  <ul>
                    {% for category, taxonomies in categories.items %}
                      <li>
                        {{category}}
                      </li>
                      <ul>
                        {% for taxonomy in taxonomies %}
                          <li>{% if taxonomy.code %}<a href="#">[{{taxonomy.code}}]</a>{% endif %} {{taxonomy}}</li>
                        {% endfor %}
                      </ul>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
              {% endwith %}
            </div>
          </div>

          {% if curriculum.credits or curriculum.unit and curriculum.unit.credits %}
            <div class="section" id="credits">
              <h3 class="left">Credits</h3>
              <div>
                {% if curriculum.credits %}
                  {{curriculum.credits|safe}}
                {% else %}
                  {{curriculum.unit.credits|safe}}
                {% endif %}
              </div>
            </div>
          {% endif %}

          <!-- ACKNOWLEDGEMENT -->
          {% if curriculum.acknowledgement or curriculum.unit and curriculum.unit.acknowledgement %}
            <div class="section" id="acknowledgement">
              <h3 class="left">Acknowledgement</h3>
              <div>
                {% if curriculum.acknowledgement %}
                  {{curriculum.acknowledgement|safe}}
                {% else %}
                  {{curriculum.unit.acknowledgement|safe}}
                {% endif %}
              </div>
            </div>
          {% endif %}

        <!-- TEACHER NOTES AND ATTACHMENTS -->
        {% if curriculum.teacher_notes or teacher_attachments %}
          {% if curriculum.teacher_notes %}
            {% if user.administrator or user.researcher or user.school_administrator or user.teacher or user.author %}
              <div class="section" id="teacher_notes">
                <h3 class="left">Teacher Notes</h3>
                <div>{{curriculum.teacher_notes|safe}}</div>
              </div>
            {% endif %}
          {% endif %}
          {% if teacher_attachments %}
            {% if user.administrator or user.researcher or user.school_administrator or user.teacher or user.author %}
              <div class="section" id="teacher_attachments">
                <h3 class="left inline">Attached Teacher Resources  <i class="fa fa-paperclip"></i> - </h3>
                <h6 class="left inline">
                  <a class="for_screen" href="{% url 'ctstem:downloadAttachments' curriculum.id 'R' %}"> Download All <i class="fas fa-file-download"></i> </a>
                  <span class="for_print link">{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'ctstem:downloadAttachments' curriculum.id 'R' %}</span>
                </h6>
                <ul>
                {% for attachment in teacher_attachments %}
                  <li>
                    <h5 class="left inline">{{attachment.title}} -  </h5>
                    <h6 class="left inline">
                      <a class="for_screen" href="{{attachment.file_object.url}}" download="{{attachment.title.split|join:'_'}}.{{attachment.extension}}" target="_blank"> Download <i class="fas fa-file-download"></i></a>
                      <span class="for_print link">{{attachment.file_object.url}}</span>
                    </h6>
                  </li>
                {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
        <!-- STUDENT ATTACHMENTS -->
        {% if student_attachments %}
          {% if user.administrator or user.researcher or user.school_administrator or user.teacher or user.author %}
            <div class="section" id="student_attachments">
              <h3 class="left inline">Attached Student Resources  <i class="fa fa-paperclip"></i> - </h3>
              <h6 class="left inline">
                <a class="for_screen" href="{% url 'ctstem:downloadAttachments' curriculum.id 'S' %}"> Download All <i class="fas fa-file-download"></i> </a>
                <span class="for_print link">{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'ctstem:downloadAttachments' curriculum.id 'S' %}</span>
              </h6>
              <ul>
              {% for attachment in student_attachments %}
                <li>
                  <h5 class="left inline">{{attachment.title}} -  </h5>
                  <h6 class="left inline">
                    <a class="for_screen" href="{{attachment.file_object.url}}"  download="{{attachment.title.split|join:'_'}}.{{attachment.extension}}" target="_blank"> Download <i class="fas fa-file-download"></i></a>
                    <span class="for_print link">{{attachment.file_object.url}}</span>
                  </h6>
                </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endif %}
        <div class="page-break"></div>
        {% if curriculum.curriculum_type == 'U' %}
          {% if pem_code %}
            {% get_underlying_curriculum curriculum.id 'preview' pem_code as underlying_curriculum %}
          {% else %}
            {% get_underlying_curriculum curriculum.id 'preview' as underlying_curriculum %}
          {% endif %}
          <div class="section" id="underlying_curriculum">
            {% if underlying_curriculum %}
              <h3 class="left">Underlying Lessons</h3>
              <div class="row underlying_curricula" id="curricula_tiles">
                {% include "ctstem_app/CurriculaTilesPaging.html" with curricula=underlying_curriculum parent='preview' pem_code=pem_code %}
              </div>
            {% endif %}
          </div>
        {% else %}
        <!-- get underlying pages -->
          <div class="section">
            {{pages_html|safe}}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function(){
      bind_bookmark();
    });
  </script>
{% endblock %}

{% block footer %}
  {{block.super}}
  {% include 'ctstem_app/CurriculumFooter.html' %}
{% endblock %}
