{% load ctstem_extras %}
{% load base_extras %}

{% block content %}
{% with curr_unit=curriculum.unit|default:curriculum %}
<!--if curriculum is a unit or a lesson inside a unit then curr_unit is the unit otherwise it is the curriculum  -->
  <div>
    <hr>
    <activity id="page0">
      <h3 class="left">Page 0</h3>
      <br>
      <div class="step_content">
        {% if curriculum.curriculum_type == 'A' %}
          {% if curriculum.student_overview %}
            {{curriculum.student_overview|safe}}
          {% endif %}
          Thank you for taking this assessment!
          Please do the best that you can, and don't worry if you don't know all of the answers.
        {% elif curriculum.curriculum_type == 'L' %}
          {% if curriculum.student_overview %}
            {{curriculum.student_overview|safe}}
          {% elif curriculum.unit and curriculum.unit.student_overview %}
            {{curriculum.unit.student_overview|safe}}
          {% endif %}
        {% endif %}
        {% if attachments %}
          <div>You will need the following resources to complete this assignment.  Please download them all from this link <a href="{% url 'ctstem:downloadAttachments' curriculum.id 'S' %}" target="_blank">"{% url 'ctstem:downloadAttachments' curriculum.id 'S' %}"</a> or individually from the links below.</div>

          <ul>
            {% for attachment in attachments %}
              <li>{{attachment.title}} - <a href="{{attachment.file_object.url}}"  download="{{attachment.title.split|join:'_'}}.{{attachment.extension}}" target="_blank"> {{attachment.file_object.url}} </a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </activity>
    <hr>
    {% for step in steps %}
      <activity id="page{{forloop.counter}}">
        <h3 class="left">Page {{forloop.counter}}. {{step.title}}</h3>
        <br>
        <div class="step_content">
          {% if step.content %}
            {{step.content|safe}}
          {% endif %}
        </div>
        <br>
        <div class="question_container">
          {% if step.curriculumquestion_set.all|length > 0 %}
            <div class="question_table">
              {% for curriculumquestion in step.curriculumquestion_set.all %}
                {% with question=curriculumquestion.question %}
                {% with field_type=question.answer_field_type %}
                {% if field_type != 'MH' %}
                  <div class="question_response_feedback {% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}">
                    <div class="question">
                      <h5 class="left">
                        Question {{step.order}}.{{forloop.counter}}
                      </h5>
                      <div class="text">
                        {{question|safe}}
                      </div>
                    </div>
                    <div class="response">
                      <div class="text">
                        {% if field_type == 'TA' %}
                          <textarea class="form-control assignment_textarea" name="{{forloop.counter}}" id="{{forloop.counter}}" ></textarea>
                        {% elif field_type == 'TF' %}
                          <input type="text" class="form-control" name="{{forloop.counter}}" id="{{forloop.counter}}"/>
                        {% elif field_type == 'DD' %}
                          <select class="form-control assignment_input" name="{{forloop.counter}}" id="{{forloop.counter}}">
                            <option value="">--------</option>
                            {% for option in question.options|splitlines%}
                            <option value="{{option}}">{{option}}</option>
                            {% endfor %}
                            {% if question.display_other_option %}
                              <option value="{{option}}" class="other">Other</option>
                              <input type="text" class="form-control assignment_input other" disabled/>
                            {% endif %}
                          </select>
                        {% elif field_type == 'MC' %}
                          {% for option in question.options|splitlines%}
                            <input type="radio" name="{{question.id}}_mc" id="{{question.id}}_mc" value="{{option}}" />  {{option}}<br>
                          {% endfor %}
                          {% if question.display_other_option %}
                            <input type="radio" name="{{question.id}}_mc" id="{{question.id}}_mc" value="{{option}}" class="other" />  Other<br>
                            <input type="text" class="form-control assignment_input" name="{{question.id}}_mc" id="{{question.id}}_mc" disabled/>
                          {% endif %}
                        {% elif field_type == 'MI' %}
                          <div class="help warning">You may click the images below to view a larger version</div>
                          {% for option in question.options|splitlines%}
                            <input type="radio" name="{{question.id}}_mi" id="{{question.id}}_mi" value="{{option}}"/>
                            <span>{{forloop.counter0|get_ascii_char}}.</span>
                            <a data-toggle="modal" data-target="#imageModal" data-href="{{option}}" class="image_option"><img src="{{option}}" class="image_option"/></a><br><br>
                          {% endfor %}
                        {% elif field_type == 'MS' %}
                          {% for option in question.options|splitlines%}
                            <input type="checkbox" name="{{question.id}}_cb" id="{{question.id}}_cb" value="{{option}}"/>  {{option}}<br>
                          {% endfor %}
                        {% elif field_type == 'FI' %}
                          <div>
                            <table class="table table-striped table-condensed table-bordered inner_table collapsible_content">
                              <caption>Upload files that are less than 5MB in size.</caption>
                              <thead>
                                <tr>
                                  <th>File</th>
                                  <th>Delete</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="attached_file">
                                    <input type="file"/>
                                  </td>
                                  <td class="attachment_edit">
                                    <button type="button" class="btn red delete_attachment" name="delete_attachment" aria-label="Delete Attachment" title="Delete Attachment">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <button type="button" class="btn blue add_attachment" id="form-response_file" title="Add New Attachment">
                              Upload more
                            </button>
                          </div>
                        {% elif field_type == 'SK' %}
                          <div class="note"> Note: Draw your sketch in the sketchpad below </div>
                          <div id="{{question.id}}_sketch_tools" class="sketch_tools"></div>
                          <canvas id="{{question.id}}_sketch" width="900" height="500" class="assignment_sketch" style="{% if question.sketch_background %} background: url({{question.sketch_background.url}}) no-repeat;{% endif %}"></canvas>
                        {% elif field_type == 'DT' %}
                          <div class="assignment_input dt_input" id="dt_input_{{forloop.counter}}">
                            <input type="hidden" name="dt_response_{{forloop.counter}}" id="dt_response_{{forloop.counter}}" value=''/>
                            <input type="hidden" name="column_headers" id="dt_col_headers_{{forloop.counter}}" value="{{question.options}}"/>
                            <table class="table table-condensed table-bordered inner_table" id="dt_table_{{forloop.counter}}">
                              <thead>
                              </thead>
                              <tbody>
                              </tbody>
                            </table>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <br><br>
                {% else %}
                  <table class="likert">
                    <tbody>
                      <tr class="likert-item">
                        <td class="likert-number">
                          {{forloop.counter}}.
                        </td>
                        <td class="likert-prompt">
                          {{question.question_text|inline_style|safe}}
                        </td>
                        {% for option in question.options|splitlines%}
                        <td class="likert-option">
                          <input type="radio" name="{{question.id}}_s" id="{{question.id}}_s" value="{{option}}" title="{{option}}"/>
                        </td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                {% endif %}
                {% endwith %}
                {% endwith %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </activity>
      <hr>
    {% endfor %}
  </div>

  <div>
    <div class="modal fade" id="imageModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <img src="" class="popup_image"/>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function(){
      loadDataTable(true);

      //hide disabled Other text field
      $('input[type="radio"]').on('change', function(){
        if($(this).is(':checked')){
          if($(this).hasClass('other')){
            $(this).siblings('input[type="text"]').prop('disabled', false);
          }
          else{
            $(this).siblings('input[type="text"]').prop('disabled', true);
            $(this).siblings('input[type="text"]').val('');
          }
        }
      });

      $('select.assignment_input').on('change', function(){
        var selected = $(this).find('option:selected');
        if($(selected).hasClass('other')){
          $(this).siblings('input[type="text"]').prop('disabled', false);
        }
        else{
          $(this).siblings('input[type="text"]').prop('disabled', true);
          $(this).siblings('input[type="text"]').val('');
        }
      });

      $('a.image_option').click(function(){
        var url = $(this).data("href");
        $('#imageModal').find('img.popup_image').attr('src', url);
        $('#imageModal').modal('show');
        return false;
      });

      $('textarea.assignment_textarea').each(function(){
        var id = $(this).attr('id');
        CKEDITOR.replace(id, {
            'removePlugins': 'stylesheetparser',
            'toolbar': [['Bold', 'Italic', 'Underline', 'Strike', 'Subscript','Superscript','-','SpellChecker', 'Scayt']],
            'height': '100',
            'extraPlugins': 'scayt',
            'scayt_autoStartup': true,
            'scayt_sLang': 'en_US',
            'disableNativeSpellChecker': false,
        });
      });

      page_numbers_position();

      $(window).on('resize', function(){
        page_numbers_position();
      });
      $('#menu-button').mousedown(function() {
        $('#side-nav').toggleClass('activated');
        //$('header nav').toggleClass('activated');
        //$('#side-nav').css('right', '0px');
      });

    });
  </script>
{% endwith %}
{% endblock %}
