{% load ctstem_extras %}
  {% for step in curriculum.steps.all %}
    <div class="col">
      <div class="tile step {% if curriculum.status == 'A' %}
              archived
            {% endif %}">
        <a href="{% url 'ctstem:previewCurriculum' curriculum.id step.order %}" target="_blank" title="Preview">
          <div class="detail">
            <div class="title">{{step.order}}. {{step.title}}</div>
            <div class="others">
              <div class="questions">
                Questions: {{step.questions.all|length}}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}


