{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% load endless %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
  {{block.super}}
<div class="content">
  <div class="col-lg-12">
    {% if curriculum_type == 'L' or curriculum_type == 'U' %}
      {% if curriculum_type == 'L' %}
        <h2> Lessons </h2>
      {% else %}
        <h2> Units </h2>
      {% endif %}
      <p class="page-blurb">
      Our computational thinking lesson plans are designed to embed authentic CT practices into high school science and mathematics classrooms while enriching disciplinary content learning.
      </p>
    {% elif  curriculum_type == 'A' %}
      <h2> Assessments </h2>
    {% elif  curriculum_type == 'S' %}
      <h2> Surveys </h2>
    {% endif %}

    <div class="btn-group">
      {% if user.administrator or user.researcher or user.author %}
        <a type="button" class="btn btn-success" href="{% url 'ctstem:newCurriculum' %}" title="Create new curriculum">Create Curriculum</a>
      {% endif %}

      {% comment %}
      {% if user.administrator or user.researcher or user.author or user.teacher or user.school_administrator %}
        <label class="switch">
          <input class="switch-input" type="checkbox" />
          <span class="switch-label" data-on="Table" data-off="Tile"></span>
          <span class="switch-handle"></span>
        </label>
      {% endif %}
      {% endcomment %}
    </div>

    {% if user.teacher %}
      <ul class="nav nav-tabs">
        <li {% if curriculum_type == 'U' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'units' 'published' '0' %}">Units</a></li>
        <li {% if curriculum_type == 'L' and bookmark == '0' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lessons' 'published' '0' %}">All Lessons</a></li>
        <li {% if curriculum_type == 'L' and bookmark == '1' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lessons' 'published' '1' %}">Favorite Lessons</a></li>
        <li {% if curriculum_type == 'A' and bookmark == '0' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessments' 'published' '0' %}">All Assessments</a></li>
        <li {% if curriculum_type == 'A' and bookmark == '1' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessments' 'published' '1' %}">Favorite Assessments</a></li>
      </ul>
    {% else %}
      <ul class="nav nav-tabs">
        <li {% if curriculum_type == 'U' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'units' 'published' '0' %}">Units</a></li>
        <li {% if curriculum_type == 'L' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lessons' 'published' '0' %}">Lessons</a></li>
        <li {% if curriculum_type == 'A' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessments' 'published' '0' %}">Assessments</a></li>
      </ul>
      {% if user.administrator or user.researcher or user.author %}
        {% if curriculum_type == 'L' %}
          <ul class="nav nav-tabs">
            <li {% if status == 'draft' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lessons' 'draft' '0' %}">Draft</a></li>
            <li {% if status == 'published' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lessons' 'published' '0' %}">Published</a></li>
            <li {% if status == 'archived' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lessons' 'archived' '0' %}">Archived</a></li>
          </ul>
        {% elif curriculum_type == 'U' %}
           <ul class="nav nav-tabs">
            <li {% if status == 'draft' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'units' 'draft' '0' %}">Draft</a></li>
            <li {% if status == 'published' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'units' 'published' '0' %}">Published</a></li>
            <li {% if status == 'archived' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'units' 'archived' '0' %}">Archived</a></li>
          </ul>
        {% else %}
          <ul class="nav nav-tabs">
            <li {% if status == 'draft' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessments' 'draft' '0' %}">Draft</a></li>
            <li {% if status == 'published' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessments' 'published' '0' %}">Published</a></li>
            <li {% if status == 'archived' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessments' 'archived' '0' %}">Archived</a></li>
          </ul>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if curricula %}

        <div id="curricula_table">
          <table class="table table-striped dt" id="curricula">
            <thead>
              <tr id="filterrow">
                <th class="no-sort"> </th>
                <th width="50%" class="no-sort"> </th>
                <th width="20%" class="no-sort"> </th>
              </tr>
            </thead>
            <tbody>
              {% for curriculum in curricula %}
                <tr>
                  <td class="icon">
                    {% if curriculum.icon %}
                      <img class="big_icon" src="{{curriculum.icon.url}}"/>
                    {% elif curriculum.curriculum_type == 'L' %}
                      <img class="big_icon" src="/static/img/lesson.png">
                    {% elif curriculum.curriculum_type == 'A' %}
                      <img class="big_icon" src="/static/img/assessment.png">
                    {% elif curriculum.curriculum_type == 'S' %}
                      <img class="big_icon" src="/static/img/survey.svg">
                    {% endif %}
                  </td>
                  <td class="information">
                    <div class="title">
                      {{curriculum.title}} - v{{curriculum.version}}.
                      {% if curriculum.locked_by %}
                        {% if user.administrator or user.researcher or user.author %}
                          <i class="fa fa-lock" aria-hidden="true" title="Locked by {{curriculum.locked_by}}"></i>
                        {% endif %}
                      {% endif %}
                    </div>
                    {% if user.administrator or user.researcher or user.author %}
                      <div class="row">
                        <div class="col-md-2 title">Status:</div>
                        <div class="col-md-10">{{ curriculum.get_status_display }}</div>
                      </div>
                    {% endif %}
                    {% if curriculum.curriculum_type|is_in:"['U', L', 'A']" %}
                      <div class="row">
                        <div class="col-md-2 title">Subject(s):</div>
                        <div class="col-md-10">
                          {% if curriculum.subject.all %}
                            {{curriculum.subject.all|join:", "}}
                          {% else %}
                            -
                          {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2 title">Standards:</div>
                        <div class="col-md-10">
                          <ul class="standard">
                            {% for standard, categories in curriculum.taxonomy.all|taxonomyHelper %}
                              <li>{{standard}}
                                <span class="ec">
                                  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                                  <span class="glyphicon glyphicon-collapse-up" aria-hidden="true" style="display:none;"></span>
                                </span>
                              </li>
                              <ul class="category" style="display:none;">
                                {% for category, taxonomies in categories.items %}
                                  <li>{{category}}
                                    <span class="ec">
                                      <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                                      <span class="glyphicon glyphicon-collapse-up" aria-hidden="true" style="display:none;"></span>
                                    </span>
                                  </li>
                                  <ul class="taxonomy" style="display:none;">
                                  {% for taxonomy in taxonomies %}
                                    <li>{{taxonomy}} </li>
                                  {% endfor %}
                                  </ul>
                                {% endfor %}
                              </ul>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    {% endif %}
                    <div class="row">
                      <div class="col-md-2 title">Author(s):</div>
                      <div class="col-md-10">
                        {% for author in curriculum.authors.all %}
                          {{author.get_full_name}}{% if forloop.last == False %}, {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                    {% if curriculum.curriculum_type == 'U' and curriculum|get_underlying_curriculum:user %}
                      {% with underlying_curriculum=curriculum|get_underlying_curriculum:user %}
                      <div class="row">
                        <div class="col-md-2 title">Lessons:</div>
                        <div class="col-md-10">
                          {{underlying_curriculum|length}}
                          <span class="ec">
                            <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-collapse-up" aria-hidden="true" style="display:none;"></span>
                          </span>
                        </div>
                      </div>
                      <div class="row" style="display:none;">
                        <div class="col-md-12">
                          <table class="table table-condensed table-striped table-bordered unit_lesson">
                            <thead>
                              <tr>
                                <th>Order</th>
                                <th>Name</th>
                                {% if user.administrator or user.researcher or user.author %}
                                  <th>Status</th>
                                {% endif %}
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for curr in underlying_curriculum %}
                              <tr>
                                <td>{{curr.order}}</td>
                                <td class="title">
                                  {{curr.title}} - v{{curr.version}}.
                                  {% if curr.locked_by %}
                                    {% if user.administrator or user.researcher or user.author %}
                                      <i class="fa fa-lock" aria-hidden="true" title="Locked by {{curr.locked_by}}"></i>
                                    {% endif %}
                                  {% endif %}
                                </td>
                                {% if user.administrator or user.researcher or user.author %}
                                  <td>{{ curr.get_status_display }}</td>
                                {% endif %}
                                <td class="action">
                                  {% include "ctstem_app/CurriculaActions.html" with curriculum=curr %}
                                </td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                      {% endwith %}
                    {% endif %}
                  </td>
                  <td class="action">
                    {% include "ctstem_app/CurriculaActions.html" with curriculum=curriculum %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <p>No {{status}} curriculum available.</p>
    {% endif %}
  </div>

  <div class="modal fade" id="assignmentModal" role="dialog"></div>
</div>
  <script type="text/javascript">
    $(function(){

      $('.content').on("click", 'a.fa-print', function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        var W = window.open(url);
        W.window.print();
      });
      $('.portfolio-item').each(function(){
        var id = $(this).attr('id');
        var index = parseInt(id, 10);
        if(index > 8){
          $(this).hide();
        }
      });

      $('.content').on("click", "a.bookmark", function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        var tr = $(this).closest('tr');

        $.ajax({
          type: "GET",
          url: url,
          success: function(data){
            {% if bookmark == '1' %}
              $(tr).hide();
            {% else %}
              $(tr).find('a.bookmark').each(function(){
                $(this).toggle();
              });
            {% endif %}
            return false;
          },
          error: function(xhr, ajaxOptions, thrownError){
            alert("Something went wrong.  Try again later!");
          },
        });
      });
    });
  </script>

{% endblock %}


