{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% load endless %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
  {{block.super}}
<div class="content">
  <div class="col-lg-12">
    {% if curriculum_type == 'L' %}
      <h2> Lessons </h2>
      <p class="page-blurb">
      Our computational thinking lesson plans are designed to embed authentic CT practices into high school science and mathematics classrooms while enriching disciplinary content learning.
      </p>
    {% elif  curriculum_type == 'A' %}
      <h2> Assessments </h2>
    {% elif  curriculum_type == 'S' %}
      <h2> Surveys </h2>
    {% endif %}

    <div class="btn-group">
      {% if user.administrator or user.researcher or user.author %}
        <a type="button" class="btn btn-success" href="{% url 'ctstem:newCurriculum' %}" title="Create new curriculum">Create Curriculum</a>
      {% endif %}

      {% comment %}
      {% if user.administrator or user.researcher or user.author or user.teacher or user.school_administrator %}
        <label class="switch">
          <input class="switch-input" type="checkbox" />
          <span class="switch-label" data-on="Table" data-off="Tile"></span>
          <span class="switch-handle"></span>
        </label>
      {% endif %}
      {% endcomment %}
    </div>

    {% if user.teacher %}
      <ul class="nav nav-tabs">
        {% if curriculum_type == 'L' %}
          <li {% if bookmark == '0' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lessons' '0' %}">All Lessons</a></li>
          <li {% if bookmark == '1' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'lessons' '1' %}">Favorite Lessons</a></li>
        {% else %}
          <li {% if bookmark == '0' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessments' '0' %}">All Assessments</a></li>
          <li {% if bookmark == '1' %} class="active"{% endif %}><a href="{% url 'ctstem:curricula' 'assessments' '1' %}">Favorite Assessments</a></li>
        {% endif %}
      </ul>
    {% endif %}
    {% if curricula %}

        <div id="curricula_table">
          <table class="table table-striped dt" id="curricula">
            <thead>
              <tr id="filterrow">
                <th class="no-sort"> </th>
                <th width="50%" class="no-sort"> </th>
                <th width="20%" class="no-sort"> </th>
              </tr>
            </thead>
            <tbody>
              {% for curriculum in curricula %}
                <tr>
                  <td class="icon">
                    {% if curriculum.icon %}
                      <img class="big_icon" src="{{curriculum.icon.url}}"/>
                    {% elif curriculum.curriculum_type == 'L' %}
                      <img class="big_icon" src="/static/img/lesson.png">
                    {% elif curriculum.curriculum_type == 'A' %}
                      <img class="big_icon" src="/static/img/assessment.png">
                    {% elif curriculum.curriculum_type == 'S' %}
                      <img class="big_icon" src="/static/img/survey.svg">
                    {% endif %}
                  </td>
                  <td class="information">
                    <div class="title">{{curriculum.title}} - v{{curriculum.version}}. </div>
                    {% if user.administrator or user.researcher or user.author %}
                      <div class="row">
                        <div class="col-md-2 title">Status:</div>
                        <div class="col-md-10">{{ curriculum.get_status_display }}</div>
                      </div>
                    {% endif %}
                    {% if curriculum.curriculum_type|is_in:"['L', 'A']" %}
                      <div class="row">
                        <div class="col-md-2 title">Subject(s):</div>
                        <div class="col-md-10">
                          {% if curriculum.subject.all %}
                            {{curriculum.subject.all|join:", "}}
                          {% else %}
                            -
                          {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2 title">Standards:</div>
                        <div class="col-md-10">
                          <ul class="standard">
                            {% for standard, categories in curriculum.taxonomy.all|taxonomyHelper %}
                              <li>{{standard}}
                                <span class="ec">
                                  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                                  <span class="glyphicon glyphicon-collapse-up" aria-hidden="true" style="display:none;"></span>
                                </span>
                              </li>
                              <ul class="category" style="display:none;">
                                {% for category, taxonomies in categories.items %}
                                  <li>{{category}}
                                    <span class="ec">
                                      <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                                      <span class="glyphicon glyphicon-collapse-up" aria-hidden="true" style="display:none;"></span>
                                    </span>
                                  </li>
                                  <ul class="taxonomy" style="display:none;">
                                  {% for taxonomy in taxonomies %}
                                    <li>{{taxonomy}} </li>
                                  {% endfor %}
                                  </ul>
                                {% endfor %}
                              </ul>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    {% endif %}
                    <div class="row">
                      <div class="col-md-2 title">Author:</div>
                      <div class="col-md-10">
                        {{curriculum.author.get_full_name}}
                      </div>
                    </div>
                  </td>
                  <td class="action">
                    {% if curriculum.curriculum_type == 'L' %}
                      <a class="util-button fa fa-eye" aria-hidden="true" title="Preview Curriculum" href="{% url 'ctstem:previewCurriculum' curriculum.id %}" target="_blank">
                      </a>
                    {% elif user.administrator or user.researcher or user.author or user.school_administrator or user.teacher %}
                      <a class="util-button fa fa-eye" aria-hidden="true" title="Preview Curriculum" href="{% url 'ctstem:previewCurriculum' curriculum.id %}" target="_blank">
                    </a>
                    {% endif %}

                    {% if curriculum.curriculum_type == 'L' %}
                      <a class="util-button fa fa-print" aria-hidden="true" title="Print" href="{% url 'ctstem:previewCurriculum' curriculum.id %}"></a>
                      <!--a class="util-button fa fa-print" aria-hidden="true" title="Print" href="{% url 'ctstem:pdfCurriculum' curriculum.id %}"></a-->
                    {% endif %}
                    {% if user.administrator or user.researcher or user.author %}
                      {% if curriculum.status == 'D' or curriculum.status == 'P'%}
                        <a class="util-button fa fa-pencil" aria-hidden="true" aria-label="Edit Curriculum" title="Edit Curriculum" href="{% url 'ctstem:curriculum' curriculum.id %}"></a>
                        <a class="util-button fa fa-trash" aria-hidden="true" aria-label="Delete Curriculum" title="Delete Curriculum" href="{% url 'ctstem:deleteCurriculum' curriculum.id %}" onclick="return confirm('Are you sure you want to delete {{curriculum.title}}?')">
                        </a>
                      {% elif curriculum.status == 'A' and  user.administrator %}
                        <a class="util-button fa fa-pencil" aria-hidden="true" aria-label="Edit Curriculum" title="Edit Curriculum" href="{% url 'ctstem:curriculum' curriculum.id %}"
                        onclick="return confirm('This curriculum has been archived.  Are you sure you want to edit this curriculum?');">
                        </a>
                      {% endif %}

                      <a class="util-button fa fa-files-o" aria-hidden="true" aria-label="Create New Copy" title="Create New Copy" href="{% url 'ctstem:copyCurriculum' curriculum.id %}">
                      </a>
                    {% endif %}
                    {% if user.administrator or user.teacher or user.school_administrator %}
                      {% if curriculum.status == 'A' or curriculum.status == 'P'%}
                      <a class="assign util-button fa fa-calendar-check-o" aria-hidden="true" data-form="{% url 'ctstem:assignCurriculum' curriculum.id%}" aria-label="Assign Curriculum" title="Assign Curriculum">
                      </a>
                      {% endif %}
                    {% endif %}
                    {% if user.teacher %}
                      {% if curriculum.status == 'A' or curriculum.status == 'P'%}
                        <a class="bookmark util-button fa fa-star" href="{% url 'ctstem:removeBookmark' curriculum.id %}" style="{% if curriculum|is_bookmarked:bookmarked %} display: inline-block; {% else %} display: none; {% endif %}" title="Remove from Favorites"></a>
                        <a class="bookmark util-button fa fa-star-o" href="{% url 'ctstem:bookmarkCurriculum' curriculum.id %}" style="{% if curriculum|is_bookmarked:bookmarked %} display: none; {% else %} display: inline-block; {% endif %}" title="Add to Favorites"></a>
                      {% endif %}
                    {% endif %}
                    {% if user.administrator or user.researcher or user.teacher or user.school_administrator %}
                      {% if curriculum.status == 'A' or curriculum.status == 'P'%}
                        {% if curriculum|has_response:request.user %}
                          <a class="util-button fa fa-external-link" aria-hidden="true" aria-label="Export Student Response" title="Export Student Response" href="{% url 'ctstem:export_all_response' curriculum.id %}">
                          </a>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <p>No curriculums have been published.</p>
    {% endif %}
  </div>

  <div class="modal fade" id="assignmentModal" role="dialog"></div>
</div>
  <script type="text/javascript">
    $(function(){

      /*$("div#curricula_table").hide();
      $("div#curricula_tile").show();

      $('.switch-input').change(function() {
        $("div#curricula_table").toggle();
        $("div#curricula_tile").toggle();
      });*/

      $('.content').on("click", 'a.fa-print', function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        var W = window.open(url);
        W.window.print();
      });
      $('.portfolio-item').each(function(){
        var id = $(this).attr('id');
        var index = parseInt(id, 10);
        if(index > 8){
          $(this).hide();
        }
      });

      $('.content').on("click", "a.bookmark", function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        var tr = $(this).closest('tr');

        $.ajax({
          type: "GET",
          url: url,
          success: function(data){
            {% if bookmark == '1' %}
              $(tr).hide();
            {% else %}
              $(tr).find('a.bookmark').each(function(){
                $(this).toggle();
              });
            {% endif %}
            return false;
          },
          error: function(xhr, ajaxOptions, thrownError){
            alert("Something went wrong.  Try again later!");
          },
        });
      });

      /*$(window).scroll(function() {
        var hT = $('div#pagination').offset().top,
            hH = $('div#pagination').outerHeight(),
            wH = $(window).height(),
            wS = $(this).scrollTop();
        if (wS > (hT+hH-wH)){
          var portfolio = $('.portfolio-item:hidden:lt(4)');
          $(portfolio).each(function(i){
            $(this).delay(i*500).fadeIn(1000);
          });
        }
      });*/
    });
  </script>

{% endblock %}


