{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% load base_extras %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content" id="preview">

    <div id="preview_head" class="row section
            {% if curriculum.curriculum_type == 'U' %}
              unit
            {% elif curriculum.curriculum_type == 'L' %}
              lesson
            {% else %}
              assessment
            {% endif %}
            {% if curriculum.status == 'A' %}
              archived
            {% endif %}
            ">
      <div class="col">
        <div class="icon" style="background-image: url('{{icon}}');">
          {% if curriculum.unit|slugify == 'None'|slugify %}
            {% check_curriculum_permission curriculum.id 'favorite' as has_favorite_permission %}
            {% if has_favorite_permission == True %}
              <a class="bookmark util-button fa fa-star" href="{% url 'ctstem:removeBookmark' curriculum.id %}" style="{% if curriculum|is_bookmarked:user.teacher %} display: inline-block; {% else %} display: none; {% endif %}" title="Remove from Favorites"></a>
              <a class="bookmark util-button fa fa-star-o" href="{% url 'ctstem:bookmarkCurriculum' curriculum.id %}" style="{% if curriculum|is_bookmarked:user.teacher %} display: none; {% else %} display: inline-block; {% endif %}" title="Add to Favorites"></a>
            {% else %}
              <a class="bookmark util-button fa fa-star-o" data-title="You need to be logged in as a teacher to favorite this curriculum"></a>
            {% endif %}
        {% endif %}
        </div>
      </div>

      <div class="col meta">
        <h3 class="left">
          {% if curriculum.unit %}
            {{curriculum.order}}.
          {% endif %}
          {{curriculum.title}}
          {% if curriculum.locked_by %}
            {% if user.administrator or user.researcher or user.author %}
              <i class="fa fa-lock" aria-hidden="true" title="Locked by {{curriculum.locked_by}}"></i>
            {% elif user.teacher %}
              {% if user in curriculum.authors.all or user.teacher in curriculum.shared_with.all %}
                <i class="fa fa-lock" aria-hidden="true" title="Locked by {{curriculum.locked_by}}"></i>
              {% endif %}
            {% endif %}
          {% endif %}
        </h3>
        <div>
          Subject:
          {% if curriculum.subject.all %}
            {{curriculum.subject.all|join:", "}}
          {% endif %}
        </div>
        <div>
          Time: {{curriculum.time}}
        </div>
        <div>
          Level: {{curriculum.level}}
        </div>
        <div>
          Version: v{{curriculum.version}}
        </div>
      </div>
    </div>

    {% include "ctstem_app/CurriculumPreviewActions.html" with curriculum=curriculum %}

    <div class="preview">

      <div class="section" id="overview">
        <h3 class="left">Overview</h3>
        <div>{{curriculum.overview|safe}}</div>
      </div>

      {% if curriculum.curriculum_type == 'U' %}
        {% get_underlying_curriculum curriculum.id as underlying_curriculum %}
        <div class="section">
          {% if underlying_curriculum %}
            <h3 class="left">Underlying Lessons</h3>
            <div class="row underlying_curricula" id="curricula_tiles">
              {% include "ctstem_app/CurriculaTilePaging.html" with curricula=underlying_curriculum parent='preview' %}
            </div>
          {% endif %}
        </div>
      {% else %}
      <!-- get underlying pages -->
        <div class="section">
          <h3 class="left">Underlying Pages</h3>
          <ul class="page_links">
          {% for step in curriculum.steps.all %}
            <li>
              <a href="{% url 'ctstem:previewCurriculum' curriculum.id step.order %}" target="_blank" title="Preview">
                <h5 class="left">{{step.order}}. {{step.title}}</h5>
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if curriculum.unit %}
        <div class="row buttons">
          <div class="col">
            <a type="button" class="btn normal blue" aria-hidden="true" href="{% url 'ctstem:previewCurriculumNew' curriculum.unit.id %}" aria-label="Back to Unit" title="Back to Unit">Back to Unit</a>
          </div>
          <div class="col">
            {% with previous_curriculum=curriculum.id|get_previous_curriculum %}
              {% if previous_curriculum %}
                <a type="button" class="btn normal blue" aria-hidden="true" href="{% url 'ctstem:previewCurriculumNew' previous_curriculum.id %}" aria-label="Previous Lesson" title="Previous Lesson">Previous Lesson</a>
              {% endif %}
            {% endwith %}
          </div>
          <div class="col">
            {% with next_curriculum=curriculum.id|get_next_curriculum %}
              {% if next_curriculum %}
                <a type="button" class="btn normal blue" aria-hidden="true" href="{% url 'ctstem:previewCurriculumNew' next_curriculum.id %}" aria-label="Next Lesson" title="Next Lesson">Next Lesson</a>
              {% endif %}
            {% endwith %}
          </div>
        </div>
      {% endif %}
      <div class="section" id="standards">
        <h3 class="left">Standards</h3>
        <div class="row">
          {% for standard, categories in curriculum.taxonomy.all|taxonomyHelper %}
            <div class="col">
              <h5 class="left">{{standard}}</h5>
              <ul>
                {% for category, taxonomies in categories.items %}
                  <li>{{category}} <span class="fa fa-plus-circle"></span><span class="fa fa-minus-circle" style="display:none;"></span></li>
                  <ul style="display:none;">
                    {% for taxonomy in taxonomies %}
                      <li>{% if taxonomy.code %}<a href="#">[{{taxonomy.code}}]</a>{% endif %} {{taxonomy}}</li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="section" id="compatibility">
        <h3 class="left">Compatibility</h3>
        <div class="row">
          {% for system in systems %}
            <div class="col compatible-item {% if system not in curriculum.compatible_system.all %} incompatible {% endif %}">
              <span class="fa fa-{{system.icon}}"></span><br>
              {{system.name}}
            </div>
          {% endfor %}
        </div>
      </div>

      {% if curriculum.credits %}
        <div class="section" id="credits">
          <h3 class="left">Credits</h3>
          <div>{{curriculum.credits|safe}}</div>
        </div>
      {% endif %}

      <!-- ACKNOWLEDGEMENT -->
      {% if curriculum.acknowledgement %}
        <div class="section" id="acknowledgement">
          <h3 class="left">Acknowledgement</h3>
          <div>{{curriculum.acknowledgement|safe}}</div>
        </div>
      {% endif %}
    </div>
    {% if curriculum.teacher_notes %}
      {% if user.administrator or user.researcher or user.school_administrator or user.teacher or user.author %}
        <div class="section" id="teacher_notes">
          <h3 class="left">Teacher Notes</h3>
          <div>{{curriculum.teacher_notes|safe}}</div>
        </div>
      {% endif %}
    {% endif %}

    {% include "ctstem_app/CurriculumPreviewActions.html" with curriculum=curriculum %}
  </div>
  <script type="text/javascript">
    $(function(){
      $('#standards span.fa').click(function(){
        var li = $(this).closest('li');
        var next = $(li).next();
        $(li).find('span.fa').toggle();
        $(next).toggle();
      });

      $('#teacher_notes_link').click(function(){
        $('html, body').animate({
          scrollTop: $($(this).attr('href')).offset().top - 100,
        }, 1000,'swing');
      });

      bind_bookmark();
    });
  </script>
{% endblock %}
