{% load ctstem_extras %}

<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">{{curriculum.title}}</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Time</label>
        <div>
          {{curriculum.time}}
        </div>
      </div>
      <div class="form-group">
        <label>Subject</label>
        <div>
          {% for subject in curriculum.subject.all %}
            {{ subject }} <br>
          {% endfor %}
        </div>
      </div>
      <div class="form-group">
        <label>Overview</label>
        <div>
          {{curriculum.overview}}
        </div>
      </div>
      <div class="form-group">
        <label>Taxonomy</label>
        <ul class="standard">
          {% for standard, categories in curriculum.taxonomy.all|taxonomyHelper %}
            <li>{{standard}}</li>
            <ul class="category">
              {% for category, taxonomies in categories.items %}
                <li>{{category}}</li>
                <ul class="taxonomy">
                {% for taxonomy in taxonomies %}
                  <li>{{taxonomy}} </li>
                {% endfor %}
                </ul>
              {% endfor %}
            </ul>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>

