{% load ctstem_extras %}
<div class="row buttons">
  <!--div class="col">
    <a type="button" class="btn normal blue" href="#">Print</a>
  </div-->
  <div class="col">
    {% check_curriculum_permission curriculum.id 'assign' as has_assign_permission %}
    {% if has_assign_permission == True %}
      <a type="button" class="assign btn normal blue" aria-hidden="true" data-form="{% url 'ctstem:assignCurriculum' curriculum.id %}" aria-label="Assign Curriculum" title="Assign Curriculum">Assign</a>
    {% elif user.is_authenticated %}
      {% if curriculum.curriculum_type == 'U' %}
        {% with msg="This unit cannot be assigned because all the underlying lessons are private and not locked.  If you need to assign this unit please ask the author to lock one or more lessons or make them public" %}
        <a type="button" class="assign btn normal blue" aria-hidden="true" onclick="alert('{{msg}}');">Assign</a>
        {% endwith %}
      {% else %}
        {% with msg="This curriculum cannot be assigned because it is private and not locked.  If you need to assign this curriculum please ask the author to lock the curriculum or make it public" %}
        <a type="button" class="assign btn normal blue" aria-hidden="true" onclick="alert('{{msg}}');">Assign</a>
        {% endwith %}
      {% endif %}
    {% else %}
      {% with msg="Please login to assign this curriculum" %}
      <a type="button" class="assign btn normal blue" aria-hidden="true" onclick="alert('{{msg}}');">Assign</a>
      {% endwith %}
    {% endif %}
  </div>
  <div class="col">
    {% check_curriculum_permission curriculum.id 'copy' as has_copy_permission %}
    {% if has_copy_permission == True %}
      <a type="button" class="btn normal blue" aria-hidden="true" aria-label="Create New Copy" title="Create New Copy" href="{% url 'ctstem:copyCurriculum' curriculum.id %}">Make a Copy</a>
    {% else %}
      {% if user.is_authenticated %}
        {% with msg="You can only copy this curriculum at the unit level. Please go back to the unit overview page and copy from there." %}
          <a type="button" class="btn normal blue warning" data-message="{{msg}}" href="#">Make a Copy</a>
        {% endwith %}
      {% else %}
        {% with msg="Please login to make a copy of this curriculum" %}
          <a type="button" class="btn normal blue warning" data-message="{{msg}}" href="#">Make a Copy</a>
        {% endwith %}
      {% endif %}
    {% endif %}
  </div>

  <!-- Edit -->
  {% check_curriculum_permission curriculum.id 'modify' as has_modify_permission %}
  {% if has_modify_permission == True %}
    <div class="col">
      {% if curriculum.status == 'A' %}
        <a type="button" class="btn normal blue" aria-hidden="true" aria-label="Edit Curriculum" title="Edit Curriculum" href="{% url 'ctstem:curriculum' curriculum.id %}"
        onclick="return confirm('This curriculum has been archived.  Are you sure you want to edit this curriculum?');">
          Edit
        </a>
      {% else %}
        <a type="button" class="btn normal blue" aria-hidden="true" aria-label="Edit Curriculum" title="Edit Curriculum" href="{% url 'ctstem:curriculum' curriculum.id %}">Edit</a>
      {% endif %}
    </div>
  {% endif %}

  <!-- Delete -->
  {% check_curriculum_permission curriculum.id 'delete' as has_delete_permission %}
  {% if has_delete_permission == True %}
    <div class="col">
      <a type="button" class="btn normal blue delete_curriculum" aria-hidden="true" aria-label="Delete Curriculum" title="Delete Curriculum" href="{% url 'ctstem:deleteCurriculum' curriculum.id %}">
        Delete
      </a>
     </div>
  {% endif %}

  <!-- Lock -->
  {% check_curriculum_permission curriculum.id 'lock' as has_lock_permission %}
  {% if has_lock_permission == True %}
    <div class="col">
      <a type="button" class="btn normal blue" aria-hidden="true" aria-label="Lock Curriculum" title="Lock Curriculum" href="{% url 'ctstem:lockCurriculum' curriculum.id %}">Lock</a>
    </div>
  {% endif %}

  <!-- Unlock -->
  {% check_curriculum_permission curriculum.id 'unlock' as has_unlock_permission %}
  {% if has_unlock_permission == True %}
    <div class="col">
      <a type="button" class="btn normal blue" aria-hidden="true" aria-label="Unlock Curriculum" title="Unlock Curriculum" href="{% url 'ctstem:unlockCurriculum' curriculum.id %}">Unlock</a>
    </div>
  {% endif %}


  <!-- Export Student Data -->
  {% check_curriculum_permission curriculum.id 'export_response' as has_export_permission %}
  {% if has_export_permission == True %}
    {% if curriculum|has_response:request.user %}
      <div class="col">
        <a type="button" class="btn normal blue" aria-hidden="true" aria-label="Export Student Response" title="Export Student Response" href="{% url 'ctstem:export_all_response' curriculum.id %}">
          Export Student Responses
        </a>
      </div>
    {% endif %}
  {% endif %}
</div>
