{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% load base_extras %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content" id="curricula">
      <h2> Curricula </h2>
      <p class="page-blurb">
        Our computational thinking lesson plans are designed to embed authentic CT practices into high school science and mathematics classrooms while enriching disciplinary content learning.
      </p>
      <div class="btn-group">
        {% if user.administrator or user.researcher or user.author or user.teacher %}
          <a type="button" class="btn btn-success" href="{% url 'ctstem:newCurriculum' %}?back_url={{ request.path }}" title="Create new curriculum">Create Curriculum</a>
        {% endif %}
      </div>
      <div class="row_container">
        <form method="post" action="{% url 'ctstem:curriculatiles' %}" id="curricula_search">
          {% csrf_token %}
          <div class="form-group" id="curricula_filters_toggle">
            <label>Show Filters <span class="fa fa-plus-circle"></span></label>
            <label style="display:none;">Hide Filters <span class="fa fa-minus-circle"></span></label>
          </div>
          <div class="row" id="curricula_filters" style="display:none;">
            {% if searchForm.subjects %}
              <div class="col form-group">
                <label>{{searchForm.subjects.label|title}}</label>
                {% for subject in searchForm.subjects %}
                  <div>{{subject.tag}} &nbsp; <label for="{{subject.id_for_label}}">{{subject.choice_label}}</label></div>
                {% endfor %}
              </div>
            {% endif %}
            {% if searchForm.curricula_types %}
            <div class="col form-group">
              <label>{{searchForm.curricula_types.label|title}}</label>
              {% for curricula_type in searchForm.curricula_types %}
                <div>{{curricula_type.tag}} &nbsp; <label for="{{curricula_type.id_for_label}}">{{curricula_type.choice_label}}</label></div>
              {% endfor %}
            </div>
            {% endif %}
            {% if searchForm.buckets %}
            <div class="col form-group">
              <label>{{searchForm.buckets.label|title}}</label>
              {% for bucket in searchForm.buckets %}
                <div>{{bucket.tag}} &nbsp; <label for="{{bucket.id_for_label}}">{{bucket.choice_label}}</label></div>
              {% endfor %}
            </div>
            {% endif %}
            {% if searchForm.status %}
            <div class="col form-group">
              <label>{{searchForm.status.label|title}}</label>
              {% for stat in searchForm.status %}
                <div>{{stat.tag}} &nbsp; <label for="{{stat.id_for_label}}">{{stat.choice_label}}</label></div>
              {% endfor %}
            </div>
            {% endif %}
            {% if searchForm.keywords %}
            <div class="col form-group">
              <label>{{searchForm.keywords.label|title}}</label>
              <div>{{searchForm.keywords}}</div>
            </div>
            {% endif %}
            <div class="col form-group">
              <div class="search">
                <!--input type="submit" class="btn normal darkblue" id="submit" value="Search"/-->
                <input type="button" class="btn normal yellow" id="clear" value="Clear Filter"/>
              </div>
            </div>
          </div>
          <div class="row_container">
            <div class="row" id="curricula_tiles">
              {% include "ctstem_app/CurriculaTilePaging.html" with parent='curricula' %}
            </div>
          </div>
        </form>
      </div>
    </div>

  <div class="modal fade" id="assignmentModal" role="dialog"></div>

  <script type="text/javascript">
    $(function(){

      //add a class to checkbox and radio button in search form on Safari only
      if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
        $('#curricula_search :radio, #curricula_search :checkbox').addClass('safari');
      }

      $('input#clear').on("click", function(){
        $('#curricula_search').find(':radio, :checkbox').removeAttr('checked').end()
            .find('textarea, :text, select').val('');
        var url = $('form').attr('action');
        submit_search(url, null);
      });

      var timeout = null;
      $('#curricula_search :radio, #curricula_search :checkbox, #curricula_search select').on('change', function(){
        auto_submit_search();
      });

      $('#curricula_search textarea, #curricula_search :text').on('keyup', function(){
        auto_submit_search();
      });

      $('.content').on("click", 'a.fa-print', function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        var W = window.open(url, "Print", "height=50, width=50");
        setTimeout(function () {
          W.window.print();
        }, 3000);
        W.window.onfocus = function() {
          setTimeout(function() {
              W.window.close();
            }, 3000);
        }
      });
      $('.portfolio-item').each(function(){
        var id = $(this).attr('id');
        var index = parseInt(id, 10);
        if(index > 8){
          $(this).hide();
        }
      });

      $('#curricula_filters_toggle label').click(function(){
        $('#curricula_filters_toggle label').toggle();
        $('#curricula_filters').toggle();
      })

      function bind_paging() {
        $('a.page').on('click', function(e){
          e.preventDefault();
          var param = $(this).attr('href');
          var url = $('form').attr('action');
          submit_search(url, param);
        });
      }

      function auto_submit_search() {
        clearTimeout(timeout);
        timeout = setTimeout(function(){
          var url = $('form').attr('action');
          submit_search(url, null);
        }, 800);
      }

      function submit_search(url, param) {
        if(param) {
          url = url + param;
        }
        $.ajax({
          type: "POST",
          url: url,
          data: $('form').serialize(),
          beforeSend: function(){
            if(param){
              $('.step-links').replaceWith('<div id="spinner"> \
                                              <img src="/static/img/page-loader.gif" class="icon"/>\
                                            </div>');
            }
            else {
              $('#curricula_tiles').html('<div id="spinner"> \
                                              <img src="/static/img/page-loader.gif" class="icon"/>\
                                            </div>');
            }
            $('#spinner').show();
          },
          complete: function(){
            $('#spinner').hide();
          },
          success: function(data){
            if(param){
              $('.pagination').replaceWith(data);
            }
            else{
              $('#curricula_tiles').html(data);
            }
            bind_paging();
            bind_bookmark();
            return false;
          },
          error: function(xhr, ajaxOptions, thrownError){
            alert("Something went wrong.  Try again later!");
          },
        });
      }
      bind_paging();
      bind_bookmark();
    });
  </script>

{% endblock %}


