{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block title %}Curriculum |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2> Curriculum </h2>
    <form method="post" enctype="multipart/form-data" id='curriculumForm'>
      {% csrf_token %}
      {{form.media}}
      <div class="table" id="curriculum">
        <h4>
          <span>&nbsp;</span>
          <span class="curriculum_title" style="font-weight: bold; text-decoration: underline;">{{form.title.value|default_if_none:"  "}}</span>
          <span>&nbsp;</span>
          <span class="controls">
            <span class="expand_collapse">
              <button type="button" class="btn btn-warning" name="collapse_curriculum" aria-label="Collapse Curriculum" title="Collapse Curriculum">
                <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-success" style="display:none;" name="expand_curriculum" aria-label="Expand Curriculum" title="Expand Curriculum">
                <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
              </button>
            </span>
          </span>
        </h4>
        <div class="curriculum_content collapsible_content">
          {{form.management_form}}
          {% for field in form %}
            <div class="form-group">
            <label for="id_{{field.name}}">{{ field.label|title }} {% if field.field.required %}(<span class="required">*</span>) {% endif %}</label>
              {% if field.name == 'taxonomy' %}
                <div style="display:none;">
                  {{field}}
                </div>
                <button class="btn btn-info search_taxonomy" name="search_taxonomy" data-form="{% url 'ctstem:searchTaxonomy' %}">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <span class="expand_collapse_other">
                  <button type="button" class="btn btn-warning" name="collapse_standards" aria-label="Collapse Standards" title="Collapse Standards">
                    <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-success" style="display:none;" name="expand_standards" aria-label="Expand Standards" title="Expand Standards">
                    <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                  </button>
                </span>
                <div id="taxonomy_div">
                  <table class="table table-bordered table-striped table-condensed inner_table" id="taxonomy">
                    <thead>
                      <tr>
                        <th>Standard</th>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Code</th>
                        <th>Remove?</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for x in field.value %}
                        {% with taxonomy=x|getTaxonomy %}
                        <tr id="{{taxonomy.id}}">
                          <td>{{taxonomy.category.standard.short_name}}</td>
                          <td>{{taxonomy.category.name}}</td>
                          <td>{{taxonomy.title}}</td>
                          <td>{{taxonomy.code}}</td>
                          <td>
                            <button type="button" class="btn btn-danger remove_taxonomy" title="Remove Taxonomy">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                          </td>
                        </tr>
                        {% endwith %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% elif field.name == 'teacher_notes'%}
                  <span class="expand_collapse_other">
                    <button type="button" class="btn btn-warning" style="display:none;" name="collapse_notes" aria-label="Collapse Notes" title="Collapse Notes">
                      <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-success"  name="expand_notes" aria-label="Expand Notes" title="Expand Notes">
                      <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                    </button>
                  </span>
                  <div style="display:none; margin-top: 1em;">
                    {{field}}
                  </div>
                  <div class="error">{{ field.errors }}</div>
                {% elif field.name == 'shared_with' %}
                  {% include "ctstem_app/SharedTeachers.html" with resource='curriculum'%}
                {% else %}
                  <div>
                    {{field}}
                    {% if field.name == 'curriculum_type' and form.instance.id %}
                      {{field.as_hidden}}
                    {% endif %}
                  </div>
                {% endif %}
                {% if field.name == 'icon' or field.name == 'subject' or field.name == 'compatible_system' or field.name == 'unit' or field.name == 'shared_with' %}
                <div class="help warning">{{field.help_text|safe}}</div>
              {% endif %}
              <div class="error">{{ field.errors }}</div>
            </div>

          {% endfor %}
          <div class="form-group attachment_table">
            {{attachment_formset.management_form}}
            <label for="id_attachment_table">Attachment(s)</label>
            <a type="button" class="btn btn-info" id="add_attachment" title="Add New Attachment">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <span class="expand_collapse_other">
              <button type="button" class="btn btn-warning" name="collapse_attachment" aria-label="Collapse Attachments" title="Collapse Attachments">
                <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-success" style="display:none;" name="expand_attachment" aria-label="Expand Attachments" title="Expand Attachments">
                <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
              </button>
            </span>
            <table class="table table-striped table-condensed table-bordered attachment inner_table collapsible_content">
              <thead>
                <tr>
                  <th style="width:40%;">Title</th>
                  <th>File</th>
                  <th>Teacher Only?</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for attachmentForm in attachment_formset %}
                  <tr style="{% if forloop.last %} display:none; {% endif %}">
                    <td class="attachment_title">
                      {{attachmentForm.id}}
                      <div>
                        {{attachmentForm.title}}
                      </div>
                      <div class="error">{{ attachmentForm.title.errors }}</div>
                    </td>
                    <td class="attached_file">
                      <div>{{attachmentForm.file_object}}</div>
                      <div class="help warning">{{attachmentForm.file_object.help_text|safe}}</div>
                      <div class="error">{{ attachmentForm.file_object.errors }}</div>
                    </td>
                     <td class="teacher_only">
                      <div>{{attachmentForm.teacher_only}}</div>
                      <div class="error">{{ attachmentForm.teacher_only.errors }}</div>
                    </td>
                    <td class="attachment_edit">
                      <button type="button" class="btn btn-danger delete_attachment" name="delete_attachment" aria-label="Delete Attachment" title="Delete Attachment">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                      </button>
                      {{attachmentForm.DELETE.as_hidden}}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {{formset.management_form}}
      {% for step in formset %}
        <div class="table step" style="{% if forloop.last %} display:none; {% endif %}">
          <h4>
            <span>&nbsp;</span>
            <span class="step_title" style="font-weight: bold; text-decoration: underline;">{{step.title.value|default_if_none:"  "}}</span>
            <span>{% if step.ORDER.value %}({{step.ORDER.value}}) {% endif %}</span>
            <span>&nbsp;</span>
            <span class="controls">
              <span>
                <button type="button" class="btn btn-danger delete_step" name="delete_step" aria-label="Delete Step" title="Delete Step">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                {{step.DELETE.as_hidden}}
              </span>
              <span class="expand_collapse">
                <button type="button" class="btn btn-warning" name="collapse_step" aria-label="Collapse Step" title="Collapse Step">
                  <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-success" style="display:none;" name="expand_step" aria-label="Expand Step" title="Expand Step">
                  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                </button>
              </span>
            </span>
          </h4>

          {{ step.management_form }}
          {{step.id}}
          <div class="curriculum_content collapsible_content">
            <div class="form-group order">
              <label for="id_{{step.ORDER.name}}"> Step #.</label>
              <div>{{step.ORDER}}</div>
              <div class="error">{{ step.ORDER.errors }}</div>
            </div>
            <div class="form-group step_title">
              <label for="id_{{step.title.name}}">{{ step.title.label }} {% if step.title.field.required %}(<span class="required">*</span>) {% endif %}</label>
              <div class="step_title">{{step.title}}</div>
              <div class="error">{{ step.title.errors }}</div>
            </div>
            <div class="form-group step_content">
              <label for="id_{{step.content.name}}">{{ step.content.label }} {% if step.content.field.required %}(<span class="required">*</span>) {% endif %}</label>
              <div>
                {{step.content}}
              </div>
              <div class="error">{{ step.content.errors }}</div>
            </div>
            <div class="form-group teacher_notes">
              <label for="id_{{step.teacher_notes.name}}">{{ step.teacher_notes.label|title }} {% if step.teacher_notes.field.required %}(<span class="required">*</span>) {% endif %}</label>
              <span class="expand_collapse_other">
                <button type="button" class="btn btn-warning" style="display:none;" name="collapse_notes" aria-label="Collapse Notes" title="Collapse Notes">
                  <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-success"  name="expand_notes" aria-label="Expand Notes" title="Expand Notes">
                  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                </button>
              </span>
              <div style="display:none; margin-top: 1em;">
                {{step.teacher_notes}}
              </div>
              <div class="error">{{ step.teacher_notes.errors }}</div>
            </div>

            <div class="form-group question_table">
              {{step.nested.management_form}}
              {{step.nested.id}}
              <label for="id_question_table">Step Question(s)</label>
              <button class="btn btn-info edit_question" name="add_question" data-form="{% url 'ctstem:newQuestion' %}" aria-label="Add New Question" title="Add New Question">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
              <span class="expand_collapse_other">
                <button type="button" class="btn btn-warning" name="collapse_notes" aria-label="Collapse Notes" title="Collapse Notes">
                  <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-success"  style="display:none;" name="expand_notes" aria-label="Expand Notes" title="Expand Notes">
                  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                </button>
              </span>
              <table class="table table-striped table-condensed table-bordered question inner_table">
                <thead>
                  <tr>
                    <th class="order">Q No.</th>
                    <th class="question_text">Question</th>
                    <th class="referenced_by">
                      Referenced By
                      <span data-toggle="tooltip" data-placement="top" title="Provide a comma separated list of Step Numbers that will reference this question. This question will be available on those steps as readonly.">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                      </span>
                    </th>
                    <th class="optional">Optional?</th>
                    <th class="question_edit">Delete/Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for questionForm in step.nested %}
                    <tr style="{% if forloop.last %} display:none; {% endif %}" id="question_row_{{questionForm.question.value}}">
                      <td class="order">
                        {{questionForm.id}}
                        {{questionForm.ORDER}}
                      </td>
                      <td class="question_text">
                        {% if questionForm.question.value and questionForm.question.value != 'None' %}
                          {{questionForm.question.as_hidden}}
                          <div> {{questionForm.question.value|selected_question|safe }} </div>
                        {% else %}
                          {{questionForm.question.as_hidden}}
                          <div></div>
                        {% endif %}
                      </td>
                      <td class="referenced_by">{{questionForm.referenced_by}}</td>
                      <td class="optional">{{questionForm.optional}}</td>
                      <td class="question_edit">
                        <button type="button" class="btn btn-danger delete_question" name="delete_question" aria-label="Delete Question" title="Delete Question">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        {{questionForm.DELETE.as_hidden}}
                        <button type="button" class="btn btn-success edit_question" name="edit_question" aria-label="Edit Question" title="Edit Question" data-form="{% url 'ctstem:question' questionForm.question.value|default:0 %}" >
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="form-group button-group-fixed">
        {% if form.instance.id %}
          <input type="button" class="btn btn-warning" id="preview" value="Preview"/>
        {% else %}
          <input type="button" class="btn btn-warning" id="preview" value="Preview" title="Save this curriculum for the Preview button to be enabled" disabled/>
        {% endif %}
        <br><br>
        <input type="submit" class="btn btn-success" id="submit" value="Save"/>
        <br><br>
        <input type="button" class="btn btn-info" id="addStep" value="Add Step" style="display:none;"/>
      </div>
    </form>
    <div class="modal fade" id="questionModal" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    <div class="modal fade" id="taxonomyModal" role="dialog"></div>

  </div>
  <script type="text/javascript">
    $(function (){
      $("button.edit_question").click(function(e){
        e.preventDefault();
        var url = $(this).data("form");
        var step_div = $(this).closest('.step');
        var step_id = $(step_div).children(':hidden').first().attr('id');
        $("#questionModal").load(url, function() {
          $(this).modal('show');
          $("#questionModal input[id='id_step']").val(step_id);
        });

        return false;
      });

      $("button.search_taxonomy").click(function(e){
        e.preventDefault();
        var url = $(this).data("form");
        $("#taxonomyModal").load(url, function() {
          $(this).modal('show');
        });
        return false;
      });

      $("button.remove_taxonomy").click(function(e){
        var taxonomy_id = $(this).closest('tr').attr('id');
        $('#id_curriculum-taxonomy option[value="'+taxonomy_id+'"]').prop('selected', false);
        $('div.curriculum_content div#taxonomy_div table#taxonomy tbody tr#'+taxonomy_id).remove();
      });

      $('#addStep').click(function() {
        cloneMore('div.table:last', 'form');
        var new_step_div = $('div.table:last').prev();
        $(new_step_div).toggle();
        //set the step order
        var step_order = $('div.table.step:visible').length;
        $(new_step_div).find('div.order input[id$="ORDER"]').val(step_order);
        $(new_step_div).find('textarea').each(function(){
          if($(this).attr('name') !== undefined && $(this).attr('data-config') !== undefined){
            var config = {
              removePlugins: 'stylesheetparser',
              toolbar: 'None',
              height: 100,
              width: '115%',
              allowedContent: true,
              filebrowserUploadUrl: "/ckeditor/upload/",
              filebrowserBrowseUrl: "/ckeditor/browse/",
              skin: "moono",
              codeSnippet_theme: 'monokai_sublime',
              mathJaxLib: '//cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML',
              extraPlugins: 'mathjax,codesnippet',
              scayt_autoStartup: true,
              scayt_sLang: 'en_US',
              disableNativeSpellChecker: false,
            }
            CKEDITOR.replace($(this).attr('name'), config);
          }
        });
      });

      $('input#id_curriculum-title').on('input', function(){
        $(this).closest('div.table').find('h4 span.curriculum_title').html($(this).val());
      });
      $('div.step_title input').on('input', function(){
        $(this).closest('div.table.step').find('h4 span.step_title').html($(this).val());
      });

      $('button.delete_step').click(function(){
        var r = confirm("Are you sure you want to delete this step?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('div.table.step').hide();
        }
      });
      $('button.delete_question').click(function(){
        var r = confirm("Are you sure you want to delete this question?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('tr').hide();
          rowAddorRemove( $(this).closest('table.inner_table'));
        }
      });

      $('a#add_attachment').click(function() {
        cloneMore('div.attachment_table table.table tr:last', 'attachment_form');
        var new_row = $('div.attachment_table table.table tr:nth-last-child(2)');
        $(new_row).toggle();
        rowAddorRemove($('div.attachment_table table.inner_table'));

      });
      $('button.delete_attachment').click(function(){
        var r = confirm("Are you sure you want to delete this attachment?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('tr').hide();
          rowAddorRemove($(this).closest('table.inner_table'));

        }
      });

      reset_curriculum_metadata();

      $('select#id_curriculum-curriculum_type').bind('change', (function(){
        //reset field visibility
        reset_curriculum_metadata();

        //for all curriculum types, display author, title, status and icon
        if($(this).val() == 'U' || $(this).val() == 'L' || $(this).val() == 'A' || $(this).val() == 'S') {
          $('#id_curriculum-author').closest('.form-group').show();
          $('#id_curriculum-authors').closest('.form-group').show();
          $('#id_curriculum-title').closest('.form-group').show();
          $('#id_curriculum-status').closest('.form-group').show();
          $('#id_curriculum-icon').closest('.form-group').show();
        }
        //for unit, lesson and assessment, display time, teacher overview, student overview, acknowledgement and attachment table
        if($(this).val() == 'U' || $(this).val() == 'L' || $(this).val() == 'A') {
          $('#id_curriculum-time').closest('.form-group').show();
          $('#id_curriculum-time').closest('.form-group').find('label:first').html('Time (<span class="required">*</span>)');
          $('#id_curriculum-overview').closest('.form-group').show();
          $('#id_curriculum-overview').closest('.form-group').find('label:first').html('Teacher Overview (<span class="required">*</span>)');
          $('#id_curriculum-student_overview').closest('.form-group').show();
          $('#id_curriculum-student_overview').closest('.form-group').find('label:first').html('Student Overview (<span class="required">*</span>)');
          $('div.form-group.attachment_table').show();
          $('#id_curriculum-acknowledgement').closest('.form-group').show();
          $('#id_curriculum-credits').closest('.form-group').show();
        }

        //for unit, stand alone lesson and assessment display level, purpose and taxonomy
        if($(this).val() == 'U' || ($(this).val() == 'L' &&  $('select#id_curriculum-unit').val() == '' )|| $(this).val() == 'A') {
          $('#id_curriculum-level').closest('.form-group').show();
          $('#id_curriculum-level').closest('.form-group').find('label:first').html('Level (<span class="required">*</span>)');
          $('#id_curriculum-purpose').closest('.form-group').show();
          $('#id_curriculum-purpose').closest('.form-group').find('label:first').html('Purpose (<span class="required">*</span>)');
          $('#id_curriculum-taxonomy').closest('.form-group').show();
          $('#id_curriculum-taxonomy').closest('.form-group').find('label:first').html('Standards (<span class="required">*</span>)');
        }

        //for unit and stand alone lesson display subject, content, teacher notes and compatible systems
        if($(this).val() == 'U' || ($(this).val() == 'L' &&  $('select#id_curriculum-unit').val() == '' )) {
          $('#id_curriculum-subject').closest('.form-group').show();
          $('#id_curriculum-subject').closest('.form-group').find('label:first').html('Subject (<span class="required">*</span>)');
          $('#id_curriculum-content').closest('.form-group').show();
          $('#id_curriculum-content').closest('.form-group').find('label:first').html('Content (<span class="required">*</span>)');
          $('#id_curriculum-teacher_notes').closest('.form-group').show();
          $('#id_curriculum-compatible_system').closest('.form-group').show();
        }

        //for lesson, display unit and shared with table
        if($(this).val() == 'L') {
          $('#id_curriculum-unit').closest('.form-group').show();
          $('select#id_curriculum-shared_with').closest('.form-group').show();
        }
        else{
          //reset the unit field
          $('#id_curriculum-unit').prop('selectedIndex', 0);
        }

        //for lesson, assessment and survey show the steps and Add Step button
        if($(this).val() == 'L' || $(this).val() == 'A' || $(this).val() == 'S') {
          $('div.table.step div.form-group.order').show();
          $('div.table.step div.form-group.step_title').show();
          $('div.table.step div.form-group.step_content').show();
          $('div.table.step div.form-group.teacher_notes').show();
          $('div.table.step div.form-group.question_table').show();
          $('#addStep').show();
        }
        else {
          $('div.step').hide();
          $('#addStep').hide();
        }

      }));

      $('select#id_curriculum-curriculum_type').trigger('change');

      $('select#id_curriculum-unit').bind('change', (function(){
        $('select#id_curriculum-curriculum_type').trigger('change');
        if($('select#id_curriculum-unit').val() != '') {
          $('#id_curriculum-order').closest('.form-group').show();
        }
        else{
          $('#id_curriculum-order').closest('.form-group').hide();
        }
      }));
      $('select#id_curriculum-unit').trigger('change');

      function reset_curriculum_metadata(){
        //hide all curriculum metadata fields if curriculum type is not selected
        $('div.curriculum_content div.form-group').hide();
        //only show the curriculum type field
        $('#id_curriculum-curriculum_type').closest('.form-group').show();
      }

      //on click of preview, first save the curriculum and then generate the preview
      $('input#preview').on('click', function(){

        for ( instance in CKEDITOR.instances )
          CKEDITOR.instances[instance].updateElement();

        $('#curriculumForm').ajaxSubmit({
           dataType : 'json',
           success: function(data){
            if(data["status"]){
              setTimeout(function(){
                window.location.href = '/curriculum/{{form.instance.id}}';
                window.open('/curriculum/preview/{{form.instance.id}}', '_blank');
              }, 1000);
            }
            else{
              $('div#spinner').hide();
              $('ul.messages').html("<li class='error'>"+data['message']+"</li>");
            }
            return false;
           },
           error: function(){
            $('div#spinner').hide();
            $('ul.messages').html("<li class='error'>The curriculum could not be saved because there were errors.  Please manually save the curriculum to see specific errors.</li>");
           },
        });
      })

      CKEDITOR.on( 'instanceReady', function( evt ) {
        var editor = evt.editor;
        $('div#cke_'+editor.name).find('span.cke_top').addClass('blur');
        $('div#cke_'+editor.name).find('span.cke_bottom').addClass('blur');

        editor.on( 'focus', function() {
          $('div#cke_'+editor.name).find('span.cke_top').removeClass('blur').addClass('focus');
          $('div#cke_'+editor.name).find('span.cke_bottom').removeClass('blur').addClass('focus');
        });

        editor.on( 'blur', function() {
          $('div#cke_'+editor.name).find('span.cke_top').removeClass('focus').addClass('blur');
          $('div#cke_'+editor.name).find('span.cke_bottom').removeClass('focus').addClass('blur');
        });
      });

    });
  </script>

{% endblock %}
