{% load ctstem_extras %}
{% if curricula %}
  {% for curriculum in curricula %}
    {% is_my_curriculum curriculum as my_curriculum %}
    {% is_curriculum_shared_with_me curriculum as shared_curriculum %}
    {% is_curriculum_assigned_by_me curriculum as assigned_curriculum %}
    <div class="col col-{{forloop.counter}}">
      <div class="tile
            {% if curriculum.curriculum_type == 'U' %}
              unit
            {% elif curriculum.curriculum_type == 'L' %}
              lesson
            {% else %}
              assessment
            {% endif %}
            {% if curriculum.status == 'A' %}
              archived
            {% elif curriculum.status == 'R' %}
              removed
            {% endif %}
            {% if parent == 'preview' %}
              underlying
            {% endif %}
            ">
        {% if curriculum.unit|slugify == 'None'|slugify %}
          <a href="{% url 'ctstem:previewCurriculum' curriculum.id %}">
            <div class="icon">
              {% if curriculum.icon %}
                <img src="{{curriculum.icon.url}}"/>
              {% elif curriculum.curriculum_type == 'U' %}
                <img src="/static/img/unit.png">
              {% elif curriculum.curriculum_type == 'L' %}
                <img src="/static/img/lesson.png">
              {% elif curriculum.curriculum_type == 'A' %}
                <img src="/static/img/assessment.png">
              {% endif %}
            </div>
          </a>
          {% if curriculum.status == 'R' %}
            <div class="trash">
              <i class="fas fa-trash-alt"></i>
            </div>
          {% endif %}
          {% if curriculum.feature_rank %}
            <div class="shelf">
            </div>
            <div class="featured">
              <i class="fas fa-award" title="Featured Curriculum"></i>
            </div>
           {% endif %}

        {% endif %}
        <div class="details_container">
          {% if parent != 'preview' %}
            <div class="favorite">
              {% check_curriculum_permission curriculum.id 'favorite' as has_favorite_permission %}
              {% if has_favorite_permission == True %}
                <a class="bookmark util-button fa fa-star" href="{% url 'ctstem:removeBookmark' curriculum.id %}" style="{% if curriculum|is_bookmarked:user.teacher %} display: inline-block; {% else %} display: none; {% endif %}" title="Favorite Curriculum"></a>

                <a class="bookmark util-button fa fa-star-o" href="{% url 'ctstem:bookmarkCurriculum' curriculum.id %}" style="{% if curriculum|is_bookmarked:user.teacher %} display: none; {% else %} display: inline-block; {% endif %}" title="Mark as Favorite"></a>
              {% else %}
                <a class="bookmark util-button fa fa-star-o" data-title="You need to be logged in as a teacher to favorite this curriculum"></a>
              {% endif %}
            </div>
          {% endif %}
          <a href="{% url 'ctstem:previewCurriculum' curriculum.id %}">
            <div class="detail">
              <div class="type">
                {{curriculum.get_curriculum_type_display}}
                {% if curriculum.unit %}
                  {{curriculum.order}}
                {% endif %}
                {% if curriculum.subject.all %}
                  - {{curriculum.subject.all|join:", "}}
                {% endif %}
              </div>
              <div class="period">
                {% if curriculum.curriculum_type == 'U' %}
                  {% get_underlying_curriculum curriculum.id as underlying_curriculum %}
                  {{underlying_curriculum|length}} Lessons
                {% else %}
                  {{curriculum.time}}
                {% endif %}
              </div>
              <div class="title">{{curriculum.title}}</div>
              <div class="others">
                <div class="author">
                  {% if curriculum.curriculumcollaborator_set.all %}
                    {% if curriculum.curriculumcollaborator_set.all|get_authors|length > 1 %}
                      {{curriculum.curriculumcollaborator_set.all|get_authors|length}} Authors
                    {% else %}
                      {% with curriculum.curriculumcollaborator_set.all|get_authors|first as author %}
                        by {{author.user.get_full_name}}
                      {% endwith %}
                    {% endif %}
                  {% endif %}
                </div>
                <div class="used_by">
                  Used by {{curriculum.usage_by_student}} Students
                </div>
              </div>
              <div class="tags">
                {% if my_curriculum %}
                  <div class="my">
                    <i class="fas fa-user" title="My Curriculum"></i>
                  </div>
                {% endif %}

                {% if shared_curriculum %}
                  <div class="shared">
                    <i class="fas fa-user-friends" title="Shared Curriculum"></i>
                  </div>
                {% endif %}
                {% if user.administrator or my_curriculum or shared_curriculum %}
                  {% if curriculum.locked_by %}
                    <div class="locked">
                      <i class="fas fa-lock" title="Locked Curriculum"></i>
                    </div>
                  {% endif %}
                {% endif %}

                <div class="version title">
                  v{{curriculum.version}}
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if parent == 'curricula' %}
    {% include "ctstem_app/LoadMore.html" with model=curricula %}
  {% endif %}

{% else %}
  <p>No curricula exists for the selected category.</p>
{% endif %}
