{% load ctstem_extras %}
<div class="form-group collaborator_table">
  <label for="id_collaborator_table">Collaborator(s) (<span class="required">*</span>)</label>
  <button class="btn inbetween blue search_users" data-target="#userSearch" data-form="{% url 'ctstem:searchCollaborators' %}">
    <i class="fas fa-plus" aria-hidden="true"></i>
  </button>
  <div class="controls table_container">
    {{collaborator_formset.management_form}}
    <table class="table table-striped table-bordered table-condensed inner_table" id="collaborators">
      <thead>
        <tr>
          <th> Order </th>
          <th> Username </th>
          <th> Name </th>
          <th> Email </th>
          <th> Edit/View?</th>
          <th> Remove? </th>
        </tr>
      </thead>
      <tbody>
        {% for collaboratorForm in collaborator_formset %}
          <tr style="{% if forloop.last or collaboratorForm.DELETE.value %} display:none; {% endif %}" id="user_{{collaboratorForm.user.value}}">
            <td class="order">
              {{collaboratorForm.id}}
              {{collaboratorForm.ORDER}}
            </td>
            {% if collaboratorForm.user.value %}
              {% with collaborator=collaboratorForm.user.value|getUserInfo %}
              <td class="username">
                {{collaboratorForm.user.as_hidden}}
                <div>{{collaborator.username}}</div>
              </td>
              <td class="full_name">{{collaborator.get_full_name}}</td>
              <td class="email">{{collaborator.email}}</td>
              <td class="edit_view">
                {% if user != collaborator or user.administrator %}
                  {{collaboratorForm.privilege}}
                {% else %}
                  <div>{{collaboratorForm.privilege.value|get_collaborator_privilege_display}}</div>
                  {{collaboratorForm.privilege.as_hidden}}
                {% endif %}
              </td>
              <td class="delete">
                {% if user != collaborator or user.administrator %}
                  <button type="button" class="btn small red remove_collaborator" name="remove_collaborator" aria-label="Remove this collaborator" title="Remove this collaborator" href="#">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  {{collaboratorForm.DELETE.as_hidden}}
                {% endif %}
              </td>
              {% endwith %}
            {% else %}
              <td class="username">
                {{collaboratorForm.user.as_hidden}}
                <div></div>
              </td>
              <td class="full_name"></td>
              <td class="email"></td>
              <td class="edit_view">{{collaboratorForm.privilege}}</td>
              <td class="delete">
                <button type="button" class="btn small red remove_collaborator" name="remove_collaborator" aria-label="Remove this collaborator" title="Remove this collaborator" href="#">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                {{collaboratorForm.DELETE.as_hidden}}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="error">{{ collaborator_formset.non_form_errors }}</div>
  </div>
</div>

<script type="text/javascript">
  $(function (){
    $('button.remove_collaborator').click(function(){
      var collaborator = $(this);
      $(collaborator).next('input').val('on');
      $(collaborator).closest('tr').hide();
      rowAddorRemove( $(collaborator).closest('table.inner_table'));
    });

    $('select[id^="id_collaborator_form"][id$=privilege]').each(function(){
      if($(this).val() == 'V'){
        $(this).closest('tr').find('input[id^="id_collaborator_form"][id$="ORDER"]').val('').prop('disabled', 'disabled').hide();
      }
      if($(this).is(":visible")){
        $(this).find('option[value=""]').remove();
      }
    });

    $('select[id^="id_collaborator_form"][id$=privilege]').change(function(){
      var order_input = $(this).closest('tr').find('input[id^="id_collaborator_form"][id$="ORDER"]');
      if($(this).val() == 'V'){
        //disable order
        $(order_input).val('').prop('disabled', 'disabled').hide();
      }
      else{
        $(order_input).val('').prop('disabled', false).show();
        var order = 0;
        $(':input[id^="id_collaborator_form"][id$=privilege]').each(function(){
          if($(this).val() == 'E'){
            order++;
          }
        });
        $(order_input).val(order);
      }
    });
  });

</script>
