{% load ctstem_extras %}
<div class="row buttons">
  <!--div class="col">
    <a type="button" class="btn normal blue" href="#">Print</a>
  </div-->

  {% check_curriculum_permission curriculum.id 'assign' as has_assign_permission %}
  {% if has_assign_permission == True %}
    <div class="col">
      <a type="button" class="assign btn normal blue" aria-hidden="true" data-form="{% url 'ctstem:assignCurriculum' curriculum.id %}" aria-label="Assign Curriculum" title="Assign Curriculum">Assign</a>
    </div>
  {% endif %}

  <div class="col">
    {% if pem_code %}
      {% check_curriculum_permission curriculum.id 'copy' pem_code as has_copy_permission %}
    {% else %}
      {% check_curriculum_permission curriculum.id 'copy' as has_copy_permission %}
    {% endif %}
    {% if has_copy_permission == True %}
      <a type="button" class="btn normal blue copy_curriculum" aria-hidden="true"
          aria-label="Create New Copy" title="Create New Copy"
          href="{% if pem_code %}
                  {% url 'ctstem:copyCurriculum' curriculum.id pem_code %}
                {% else %}
                  {% url 'ctstem:copyCurriculum' curriculum.id %}
                {% endif %}">Make a Copy</a>
    {% else %}
      {% if user.is_authenticated %}
        {% with msg="You can only copy this curriculum at the unit level. Please go back to the unit overview page and copy from there." %}
          <a type="button" class="btn normal blue warning" data-message="{{msg}}" href="#">Make a Copy</a>
        {% endwith %}
      {% else %}
        {% with msg="Please login to make a copy of this curriculum" %}
          <a type="button" class="btn normal blue warning" data-message="{{msg}}" href="#">Make a Copy</a>
        {% endwith %}
      {% endif %}
    {% endif %}
  </div>

  <!-- Edit -->
  {% check_curriculum_permission curriculum.id 'modify' as has_modify_permission %}
  {% if has_modify_permission == True %}
    <div class="col">
      {% if curriculum.status == 'A' %}
        <a type="button" class="btn normal blue" aria-hidden="true" aria-label="Edit Curriculum" title="Edit Curriculum" href="{% url 'ctstem:curriculum' curriculum.id %}"
        onclick="return confirm('This curriculum has been archived.  Are you sure you want to edit this curriculum?');">
          Edit
        </a>
      {% else %}
        <a type="button" class="btn normal blue" aria-hidden="true" aria-label="Edit Curriculum" title="Edit Curriculum" href="{% url 'ctstem:curriculum' curriculum.id %}">Edit</a>
      {% endif %}
    </div>
    <div class="col">
      <a type="button" class="btn normal blue share" aria-hidden="true" aria-label="Share Curriculum" title="Share Curriculum" data-form="{% url 'ctstem:shareCurriculum' curriculum.id %}">Share</a>
    </div>
  {% endif %}

  <!-- Delete -->
  {% check_curriculum_permission curriculum.id 'delete' as has_delete_permission %}
  {% if has_delete_permission == True %}
    <div class="col">
      <a type="button" class="btn normal blue delete_curriculum" aria-hidden="true" aria-label="Delete Curriculum" title="Delete Curriculum" href="{% url 'ctstem:deleteCurriculum' curriculum.id %}">
        Delete
      </a>
     </div>
  {% endif %}

  <!-- Export Student Data -->
  {% check_curriculum_permission curriculum.id 'export_response' as has_export_permission %}
  {% if has_export_permission == True %}
    {% if curriculum|has_response:request.user %}
      <div class="col">
        <a type="button" class="btn normal blue" aria-hidden="true" aria-label="Export Student Response" title="Export Student Response" href="{% url 'ctstem:export_all_response' curriculum.id %}">
          Export Student Responses
        </a>
      </div>
    {% endif %}
  {% endif %}
  <!-- Export Student Data -->
  {% check_curriculum_permission curriculum.id 'restore' as has_restore_permission %}
  {% if has_restore_permission == True %}
    <div class="col">
      <a type="button" class="btn normal blue" aria-hidden="true" aria-label="Restore Curriculum" title="Restore Curriculum" href="{% url 'ctstem:restoreCurriculum' curriculum.id %}">
        Restore
      </a>
    </div>
  {% endif %}

</div>
