<div class="modal fade" id="emojiModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title left">Emojis</h3>
      </div>
      <div id="emojiMsg" class="msg">
        <ul class="errorlist">
          <li></li>
        </ul>
      </div>
      <form>
        <div class="modal-body">
          <input type="hidden" id="emoji_feedback_area"/>
          {% include "ctstem_app/Emojis.html" %}
        </div>
      </form>
      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="button" class="btn gray normal" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
