{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block title %}Feedback |{% endblock %}

{% block custom_media %}
  <link rel="stylesheet" href="/static/css/sketch.css">
  <script type="text/javascript" src="/static/js/sketch.js"></script>
  <script type="text/javascript" src="/static/js/sketch_custom.js"></script>
  <script type="text/javascript" src="/static/js/assignment.js"></script>
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2> Assignment Feedback </h2>
    {% include "ctstem_app/Tabs.html" with tab='assignment' group=form.instance.instance.assignment.group assignment=form.instance.instance.assignment %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.management_form }}
      {{form.id}}
      <table class="table table-striped table-bordered table-condensed inner_table" id="feedback_header">
        <thead>
          <tr>
            <th>Student</th>
            <th>Teammates</th>
            <th>Group</th>
            <th>Assignment</th>
            <th>Assigned Date</th>
            <th>Due Date </th>
            <th>Status</th>
            <th>Time Spent(hh:mm:ss)</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            {% if user.researcher %}
              {{form.instance.instance.student.user.id}}
            {% else %}
              {{form.instance.instance.student}}
            {% endif %}</td>
            <td>
              {% for teammate in form.instance.instance.teammates.all %}
                {{teammate}} <br>
              {% endfor %}
            </td>
            <td><a href="{% url 'ctstem:groupDashboard' form.instance.instance.assignment.group.id %}">{{form.instance.instance.assignment.group}}</a></td>
            <td><a href="{% url 'ctstem:assignmentDashboard' form.instance.instance.assignment.id %}">{{form.instance.instance.assignment.curriculum.title}}</a></td>
            <td>{{form.instance.instance.assignment.assigned_date|date}}</td>
            <td>{{form.instance.instance.assignment.due_date|date}}</td>
            <td>{{form.instance.instance.get_status_display}}</td>
            <td>{{form.instance.instance.time_spent|format_time}}</td>
            <td>{{form.instance.instance.modified_date|date}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        {{ formset.management_form }}
        {% for step in formset %}
          <div class="table feedback">
            {{step.id}}
            <h3> {{step.instance.step_response.step.title}} ({{step.instance.step_response.step.order}}/{{formset|length}})</h3>
            {{step.nested.management_form}}
            {% for question in step.nested %}
              <div class="row question_answer_feedback">
                {{question.id}}
                <div class="col-md-8">
                  <div>
                    <label>
                      Question:
                      {% if question.instance.response.curriculum_question.optional %}
                        <span class="optional">(optional)</span>
                      {% else %}
                        <span class="mandatory">*</span>
                      {% endif %}
                      :
                    </label>
                    <div class="question"> {{question.instance.response.curriculum_question.question|safe}}</div>
                  </div>
                  <div>
                    <label>Response: </label>
                    <div class="response">
                      {% if question.instance.response.response %}
                        {% if question.instance.response.curriculum_question.question.answer_field_type == 'MI' %}
                          <img src="{{question.instance.response.response}}" class="image_option"/>
                        {% elif question.instance.response.curriculum_question.question.answer_field_type == 'SK' %}
                          <canvas id="{{question.instance.id}}_sketch" width="900" height="500" class="assignment_sketch" style="{% if question.instance.response.curriculum_question.question.sketch_background %} background: url({{question.instance.response.curriculum_question.question.sketch_background.url}}) no-repeat;{% endif %}"></canvas>
                          <input type="hidden" name="{{question.instance.id}}_sketch_response" id="{{question.instance.id}}_sketch_response" value="{{question.instance.response.response}}"/>
                        {% elif question.instance.response.curriculum_question.question.answer_field_type == 'DT' %}
                          <div class="dt_input" id="dt_input_{{forloop.counter}}">
                            <input type="hidden" name="{{question.instance.id}}_dt_response" id="{{question.instance.id}}_dt_response" value='{{question.instance.response.response}}'/>
                            <input type="hidden" name="column_headers" id="dt_col_headers_{{forloop.counter}}" value="{{question.instance.response.curriculum_question.question.options}}"/>
                            <table class="table table-condensed table-bordered inner_table" id="dt_table_{{forloop.counter}}">
                              <thead>
                              </thead>
                              <tbody>
                              </tbody>
                            </table>
                          </div>
                        {% elif question.instance.response.curriculum_question.question.answer_field_type == 'TA' %}
                          {{question.instance.response.response|safe}}
                        {% else %}
                          {{question.instance.response.response}}
                        {% endif %}
                      {% elif question.instance.response.response_file.all %}
                        Uploaded file(s):
                        {% for response_file in question.instance.response.response_file.all %}
                          <div>
                            <a href="{{response_file.file.url}}" target="_blank">{{response_file.file}}</a>
                          </div>
                        {% endfor %}
                      {% else %}
                        <span style="font-style: italic;">No response yet</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  {% if form.instance.instance.status == 'P' or form.instance.instance.status == 'S' or form.instance.instance.status == 'F' %}
                    {% if question.instance.response.response or question.instance.response.response_file.all %}
                      <label>Feedback: </label>
                      <div class="feedback">
                        {% if form.instance.instance.status == 'P' or form.instance.instance.status == 'S' %}
                          {{question.feedback}}
                          <a data-toggle="modal" data-target="#emojis" class="emoji-modal" href="#" data-id="{{question.feedback.auto_id}}">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                          </a>
                        {% elif form.instance.instance.status == 'F' %}
                          {{question.feedback.value}}
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              <hr>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div>
        <input type="hidden" name="save_and_close" id="save_and_close" value="false" />
      </div>
      <div class="form-group button-group-fixed">
        {% if form.instance.instance.status == 'P' %}
          <input type="submit" class="btn btn-info" id="save" value="Save"/>
        {% elif form.instance.instance.status == 'S' %}
          <input type="submit" class="btn btn-info" id="save" value="Save"/>
          <br><br>
          <input type="button" class="btn btn-success" id="close" value="Save and Close"/>
          <br><br>
        {% endif %}
        {% if prevInstance %}
          <a type="button" class="btn btn-warning" id="prev" href="{% url 'ctstem:feedback' form.instance.instance.assignment.id prevInstance.id %}"> Previous Student </a>
          <br><br>
        {% endif %}
        {% if nextInstance %}
          <a type="button" class="btn btn-warning" id="prev" href="{% url 'ctstem:feedback' form.instance.instance.assignment.id nextInstance.id %}"> Next Student </a>
        {% endif %}
      </div>
    </form>
    {% include "ctstem_app/EmojiModal.html" %}

  </div>
  <script type="text/javascript">
    $(function(){
      $('#close').click(function(){
        $("input#save_and_close").val('true');
        this.form.submit();
      });
      $('a.emoji-modal').click(function(){
        $("div.modal#emojis input#emoji_feedback_area").val($(this).data('id'));
      });
      $('div.emoji').click(function(){
        var id = $('input#emoji_feedback_area').val();
        var val = $('textarea#'+id).val();
        $('textarea#'+id).val(val + $(this).html());
      });

      loadCanvasData();
      loadDataTable(false);

    });

  </script>
{% endblock %}
