{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
  <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block title %}Group Dashboard |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content" id="dashboard">
    <h2> {{group}} Assignments </h2>
      {% include "ctstem_app/Tabs.html" with tab='group' group=group role='group_dashboard' %}

      {% if assignments %}
      <table class="table table-striped table-bordered table-condensed dt" id="groups">
        <thead>
          <tr>
            <th width="20%"> Assignment </th>
            <th> Assigned Date </th>
            <th> Due Date </th>
            <th width="30%"> Status </th>
            <th width="10%"> Student Details </th>
          </tr>
          <tr id="filterrow">
            <th> Assignment </th>
            <th> Assigned Date </th>
            <th> Due Date </th>
            <th> Status </th>
            <th> Student Details </th>
          </tr>
        </thead>
        <tbody>
          {% for assignment in assignments %}
            <tr height="20px;">
              <td>
                {{assignment.assignment.curriculum.title}}
                <span>
                  {% if assignment.assignment.curriculum.curriculum_type == 'L' %}
                    <img src="/static/img/lesson.png" class="icon" alt="">
                  {% else %}
                    <img src="/static/img/assessment.png" class="icon" alt="">
                  {% endif %}
                </span>
                <div class="controls">
                  <a type="button" class="btn btn-warning preview" aria-label="Preview Curriculum" title="Preview Curriculum" data-form="{% url 'ctstem:previewCurriculum' assignment.assignment.curriculum.id %}" data-toggle="modal">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  </a>
                </div>
              </td>
              <td> {{assignment.assignment.assigned_date|date}} </td>
              <td> {{assignment.assignment.due_date|date}} </td>
              <td>
                <div id="chart_{{assignment.serial}}" class="chart" name="{{assignment.status}}"></div>
              </td>
              <td> <a type="button" class="btn btn-success" href="{% url 'ctstem:assignmentDashboard' assignment.assignment.id %}">Assignment Dashboard</a> </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No assignments available.</p>
    {% endif %}
  </div>

  <script type="text/javascript">
    $(".chart").each(function(){
      var id = $(this).attr('id');
      var status_str = $(this).attr('name').replace(/'/g, '"');
      var status = $.parseJSON(status_str);
      $("#"+id).highcharts({
        chart: {
          type: 'pie',
          height:175,
          backgroundColor: 'rgba(0,0,0,0)',
        },
        title: null,
        tooltip: false,
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.y}',
            },
          }
        },
        credits: {
          enabled: false
        },
        series: [{
          name: 'Status',
          data: status,
        }]
      });
    });
  </script>

{% endblock %}


