{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
  <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block title %}Class Dashboard |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content" id="dashboard">
    <h2> {{group}} - Dashboard </h2>
      {% include "ctstem_app/Tabs.html" with tab='group' group=group role='group_dashboard' %}

      {% if assignments %}
      <table class="table table-bordered table-condensed dt" id="groups">
        <thead>
          <tr>
            <th width="50%" colspan="2"> Assigned Curriculum </th>
            <th> Assigned On </th>
            <th width="30%"> Status </th>
            <th width="10%"> Student Activity </th>
          </tr>
        </thead>
        <tbody>
          {% for curriculum in keys %}
          {% with assignment_list=assignments|get_item:curriculum %}
            {% if curriculum.curriculum_type == 'U' %}
              <tr style="background-color: {% if forloop.counter|divisibleby:2 %}  white; {% else %} #f9f9f9; {% endif %}">
                <td rowspan="{{assignment_list|length}}">
                  <label>Unit:</label>
                  <div>{{curriculum.title}}</div>
                  <div class="controls">
                    <a type="button" class="btn btn-warning" title="Preview Assignment" href="{% url 'ctstem:previewCurriculum' curriculum.id %}" target="_blank">
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </a>
                    {% if curriculum|has_response:request.user %}
                      <a type="button" class="btn btn-info" href="{% url 'ctstem:export_all_response' curriculum.id %}" aria-label="Export Student Response" title="Export Student Response">
                         <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                      </a>
                    {% endif %}
                  </div>
                </td>
            {% endif %}
            {% for order, assignment in assignment_list.items|sort %}
              {% if curriculum.curriculum_type == 'U'  %}
                {% if forloop.counter > 1 %}
                <tr style="background-color: {% if forloop.parentloop.counter|divisibleby:2 %}  white; {% else %} #f9f9f9; {% endif %}">
                {% endif %}
                <td>
                  <label>Lesson:</label>
                  <div>{{assignment.assignment.curriculum.title}}</div>
                </td>
              {% else %}
                <tr style="background-color: {% if forloop.parentloop.counter|divisibleby:2 %}  white; {% else %} #f9f9f9; {% endif %}">
                  <td colspan="2">
                    {% if curriculum.curriculum_type == 'L' %}
                      <label>Lesson:</label>
                    {% elif curriculum.curriculum_type == 'A' %}
                      <label>Assessment:</label>
                    {% else %}
                      <label>Survey</label>
                    {% endif %}
                    <div>{{curriculum.title}}</div>

                    <div class="controls">
                      <a type="button" class="btn btn-warning" title="Preview Assignment" href="{% url 'ctstem:previewCurriculum' curriculum.id %}" target="_blank">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                      </a>
                    </div>
                  </td>
              {% endif %}

                  <td> {{assignment.assignment.assigned_date|date}} </td>
                  <td>
                    <div id="chart_{{assignment.serial}}" class="chart" name="{{assignment.status}}"></div>
                  </td>
                  <td>
                    <a type="button" class="btn btn-warning" href="{% url 'ctstem:assignmentDashboard' assignment.assignment.id %}" aria-label="View Assignment Dashboard" title="View Assignment Dashboard">
                      <img src="/static/img/dashboard.png" class="icon" />
                    </a>

                    <a type="button" class="btn btn-info" href="{% url 'ctstem:export_group_response' assignment.assignment.id %}" aria-label="Export Student Response" title="Export Student Response">
                       <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
            {% endfor %}
          {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No assignments available.</p>
    {% endif %}
  </div>

  <script type="text/javascript">
    $(".chart").each(function(){
      var id = $(this).attr('id');
      var status_str = $(this).attr('name').replace(/'/g, '"');
      var status = $.parseJSON(status_str);
      $("#"+id).highcharts({
        chart: {
          type: 'pie',
          height:175,
          backgroundColor: 'rgba(0,0,0,0)',
        },
        title: null,
        tooltip: false,
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.y}',
            },
          }
        },
        credits: {
          enabled: false
        },
        series: [{
          name: 'Status',
          data: status,
        }]
      });
    });
  </script>

{% endblock %}


