{% extends "ctstem_app/base.html" %}
{% load base_extras %}
{% load ctstem_extras %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="{% staticfile 'js/classie.js' %}"></script>
  <script src="{% staticfile 'js/cbpAnimatedHeader.js' %}"></script>
  <script src="{% staticfile 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% staticfile 'js/agency.js' %}"></script>
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content" id="home">
    <div class="block" id="one">
      <div class="col-container">
        <div class="col text">
          <div class="heading">
            <h2>Computational tools for STEM education</h2>
            <p>Empower learning and enrich your curriculum with free computational thinking lessons, assessments, and technology.</p>
            <div class="buttons">
              {% if user.is_anonymous %}
                <a type="button" class="btn big blue modal-open" data-toggle="modal" data-target="#register" data-href="{% url 'ctstem:register' %}" href="#" >REGISTER AS A TEACHER</a>
              {% endif %}
            </div>
          </div>
          <!--<div class="dialog">
            Learn why computational thinking is important
            <div class="triangle"></div>
          </div>-->
        </div>
        <div class="col graphic">
          <div id="video">
            <iframe src="https://northwestern.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=3e25cc92-36e6-48be-bff9-51b897189215&v=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" gesture=media allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="block" id="two">
      <div class="col-container">
        <div class="col one">
          <div class="graphic">
            <img src="/static/img/blue_illustration.svg">
          </div>
          <div class="text">
            <h3 class="center">Looking toward the future</h3>
            <p class="shaded">Computational thinking is a crucial science and engineering practice within the Next Generation Science Standards.</p>
          </div>
        </div>
        <div class="col two">
          <div class="graphic">
            <img src="/static/img/yellow_illustration.svg">
          </div>
          <div class="text">
            <h3 class="center">It's time for change</h3>
            <p class="shaded">Scientists, mathematicians and engineers all use computational thinking to solve problems and learn about the world.  Why should classrooms be different?</p>
          </div>
        </div>
        <div class="col three">
          <div class="graphic">
            <img src="/static/img/red_illustration.svg">
          </div>
          <div class="text">
            <h3 class="center">Feel empowered</h3>
            <p class="shaded">Our free classroom resources help teachers confidently integrate computational thinking into their classrooms.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="block" id="three">
      <h2 class="center">Browser-friendly CT lesson plans for your classroom</h2>
      <div class="col-container">
        {% for curriculum in curricula %}
        <div class="col col-{{forloop.counter}}">
          <div class="tile">
            <a href="{% url 'ctstem:previewCurriculum' curriculum.id %}">
            <div class="icon">
              {% if curriculum.icon %}
                <img src="{{curriculum.icon.url}}"/>
              {% elif curriculum.curriculum_type == 'L' or curriculum.curriculum_type == 'U' %}
                <img src="/static/img/lesson.png">
              {% elif curriculum.curriculum_type == 'A' %}
                <img src="/static/img/assessment.png">
              {% endif %}
            </div>
            </a>
            <div class="detail">
              <div class="type">
                {{curriculum.get_curriculum_type_display}}
                {% if curriculum.subject.all %}
                  - {{curriculum.subject.all|join:", "}}
                {% endif %}
              </div>
              <div class="period">
                {% if curriculum.curriculum_type == 'U' %}
                  {% get_underlying_curriculum curriculum.id as underlying_curriculum %}
                  {{underlying_curriculum|length}} Lessons
                {% else %}
                  {{curriculum.time}}
                {% endif %}
              </div>
              <div class="title">{{curriculum.title}}</div>
              <div class="others">
                <div class="author">
                  {% if curriculum.curriculumcollaborator_set.all %}
                    {% if curriculum.curriculumcollaborator_set.all|get_authors|length > 1 %}
                      {{curriculum.curriculumcollaborator_set.all|get_authors|length}} Authors
                    {% else %}
                      {% with curriculum.curriculumcollaborator_set.all|get_authors|first as author %}
                        by {{author.user.get_full_name}}
                      {% endwith %}
                    {% endif %}
                  {% endif %}
                </div>
                <div class="standard">
                  Standards: {{curriculum.taxonomy.all|getStandards|join:", " }}
                </div>
              </div>
              <div class="action">
                {% if curriculum|is_teacher_authored %}
                  <i class="fa fa-code-fork" title="Teacher authored"></i>
                {% endif %}
                {% if user.teacher %}
                  {% with favorite=curriculum.id|is_favorite:user.teacher.id %}
                    <a class="bookmark fa fa-star" href="{% url 'ctstem:removeBookmark' curriculum.id %}" style="{% if favorite %} display: inline-block; {% else %} display: none; {% endif %}" title="Remove from Favorites"></a>
                    <a class="bookmark fa fa-star-o" href="{% url 'ctstem:bookmarkCurriculum' curriculum.id %}" style="{% if favorite %} display: none; {% else %} display: inline-block; {% endif %}" title="Add to Favorites"></a>
                  {% endwith %}
                {% endif %}
                <a class="fa fa-long-arrow-right" href="{% url 'ctstem:previewCurriculum' curriculum.id %}" target="_blank" title="Preview"></a>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <a class="btn normal darkblue" href="{% url 'ctstem:curricula' 'unit' %}">Browse All</a>
    </div>

    <div class="block" id="four">
      <div class="col-container">
        <div class="col text">
          <div>
            <h2>Teach with confidence</h2>
            <p>Our tried and tested lesson plan are NGSS-aligned, browser-friendly and free.
            </p>
            <p>
              Designed to integrate with conventional curricula, CT-STEM lesson plans can be implemented on their own, or used to supplement lessons that you already feel comfortable teaching. Either way, your students will explore authentic computational practices that enrich convententional subject matter learning and nurture computational literacy.
            </p>
            <p>
              Our content is co-designed with teachers, classroom tested, and backed by years of research at Northwestern University.
            </p>
            <p>
               In addition, we offer discipline-specific coaching to all computing abilities. Our CT-STEM consultations and workshops have helped teachers confidently address the Next Generation Science Standards and equip their students for the future.
         </p>
          </div>
          <div class="buttons">
            <a class="btn normal yellow" href="{% url 'ctstem:teacherSupport' %}">Teacher Support</a>
            &nbsp;&nbsp;
            <a class="btn normal white" href="{% url 'ctstem:help' %}">Help & FAQ</a>
          </div>
        </div>
        <div class="col graphic">
          <div class="tile yellow">
            <h3 class="center">You can use our lessons to...</h3>
            <ul>
                <li>
                  <span>
                    <span class="dark">Enrich conventional content</span><br>
                    <span class="light">no need to change what content you're teaching</span>
                  </span>
                </li>
                <li>
                  <span>
                    <span class="dark">Explore authentic CT practices</span><br>
                    <span class="light">as relied upon by scientists, mathematicians and engineers</span>
                  </span>
                </li>
                <li>
                  <span>
                    <span class="dark">Meet modern education standards</span><br>
                    <span class="light">guarantee your alignment with the NGSS</span>
                  </span>
                </li>
                <li>
                  <span>
                    <span class="dark">Nurture computational literacy</span><br>
                    <span class="light">see your students develop powerful and transferable computational skills</span>
                  </span>
                </li>
                <li>
                  <span>
                    <span class="dark">Spend your time where it matters most</span><br>
                    <span class="light">our browser-friendly lessons are ready to go</span>
                  </span>
                </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <hr>
    <div class="block" id="five">
      <div class="col-container">
        <div class="col graphic">
          <img src="/static/img/laptop_illustration.svg">
        </div>
        <div class="col text">
          <div>
            <h2>What is CT?</h2>
            <p>Computational thinking empowers us to frame problems in a way that computers can help us solve them.
            </p>
            <p>
              People are ingenious, but computers are lightning fast at processing information and following instructions. CT is about learning useful ways to compound our ingenuity with this raw, computational power.
            </p>
            <p>
              Because computation is changing the way we think and learn about the world, understanding and leveraging its abilities has never been a more important skill for students to develop.
            </p>
          </div>
          <div class="buttons">
            <a class="btn normal yellow" href="{% url 'ctstem:curricula' 'unit' %}">See CT Curricula</a>
            &nbsp;&nbsp;
            <a class="btn normal white" href="{% url 'ctstem:publications' %}">Our Research</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="block" id="six">
      <div class="col-container">
        <div class="col graphic">
          <img src="/static/img/tablet_illustration.svg">
        </div>
        <div class="col text">
          <div>
            <h2>Where does CT fit in?</h2>
            <p>By equipping students with modern tools and challenging them to actively construct their understanding, you can boost content engagement while nurturing vital computational skills for the future.</p>
            <p>Letting students explore and experiment before teaching them content can help to foster a genuine atmosphere of discovery in the classroom.</p>
            <p>This is important because it provides the ideal context within which students can utilize authentic computational practices: exploring new ideas and developing their own methods of inquiry.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="block" id="seven">
      <div class="col-container">
        <div class="col text">
          <div>
            <h2>Get started</h2>
            <p>Our site provides access to research-backed CT curricula along with a set of tools to easily manage, review and provide feedback to students on CT assignments.</p>
          </div>
          <div class="buttons">
            {% if user.is_anonymous %}
              <p>
                Click below to create your free account.
              </p>
              <a type="button" class="btn big blue modal-open" data-toggle="modal" data-target="#register" data-href="{% url 'ctstem:register' %}" href="#" >Create my Teacher Account</a>
            {% endif %}
          </div>
        </div>
        <div class="col graphic">
          <div class="tile blue">
            <h3 class="center">You can use our platform to...</h3>
            <ul>
              <li>
                <span>
                  <span class="dark">Create and manage student groups</span><br>
                  <span class="light">easily add students in bulk via email</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="dark">Set CT assignments and due dates</span><br>
                  <span class="light">stay organized and save your favorite lessons</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="dark">Track student progress and provide feedback</span><br>
                  <span class="light">view and export student responses</span>
                </span>
              </li>
              <!--<li>
                <span>
                  <span class="dark">Receive professional training</span><br>
                  <span class="light">via live workshops, discipline specific coaching and video resources</span>
                </span>
              </li>-->

            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function(){

      $('a.bookmark').on('click', function( e ){
        e.preventDefault();
        var url = $(this).attr('href');
        var action = $(this).closest('.action');

        $.ajax({
          type: "GET",
          url: url,
          success: function(data){
            $(action).find('a.bookmark').each(function(){
              $(this).toggle();
            });
            return false;
          },
          error: function(xhr, ajaxOptions, thrownError){
            alert("Something went wrong.  Try again later!");
          },
        });
      });
    });
  </script>

{% endblock %}
