
{% load ctstem_extras %}
{% block media %}

  <style type="text/css">
    @page {
      size: letter portrait;
      margin: 1.5cm, 1cm, 1.5cm, 1cm;
      -pdf-line-spacing: 1em;
      @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0cm;
        margin-left: 10cm;
        margin-right: 10cm;
        height: 1cm;
      }
    }
    @font-face {
     font-family: Helvetica;
    }

    div#content {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      font-size: 1em;
    }
    div.table#lessonMeta {
      font-size: 1.2em;
    }
    div.table#lessonMeta div.meta {
      margin-bottom: 1em;
    }
    div.table#lessonMeta div.meta div.label {
      font-weight: 700;
      text-decoration: underline;
    }
    div.table#lessonContent {
      font-size: 1.2em;
    }
    div.table#lessonContent img {
      width: 200px;
    }
    div.table#lessonActivity {
      font-size: 1.2em;
    }
    div.table#lessonActivity table.student_info {
      font-weight: 700;
      width: 100%;
    }
    div.table#lessonActivity table.question_table {
      font-size: 1em;
    }

    div.table#lessonActivity table.question_table .question_no{
      font-weight: 700;
    }
    div.table#lessonActivity h3.activity_title {
      text-decoration: underline;
    }
    div.table#lessonActivity .note {
      font-style: italic;
    }
    div.table#lessonActivity .answer_field  .input_container {
      margin-bottom: 15px;
      vertical-align: middle;
    }
    div.table#lessonActivity .answer_field .input_container .circle {
      border: 1px solid black;
      border-radius: 20px;
      height: 20px;
      width: 20px;
    }
    h2, h3 {
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}

  <div id="content" style="font-size: 1em;">
    <form>
      <div class="table" id="lessonMeta">
        {{form.management_form}}
        <h2>{{form.title.value|title}}</h2>
        <hr>
        <div class="meta">
          <div class="label">{{form.time.label}}</div>
          {{form.time.value}}
        </div>
        <div class="meta">
          <div class="label">{{form.level.label}}</div>
          <div>{{form.level.value}}</div>
        </div>
        <div class="meta">
          <div class="label">{{form.purpose.label}}</div>
          <div>{{form.purpose.value}}</div>
        </div>
        <div class="meta">
          <div class="label">{{form.overview.label}}</div>
          <div>{{form.overview.value}}</div>
        </div>
        <div class="meta">
          <div class="label">{{form.ngss_standards.label}}</div>
          {% for ngss in form|selected_labels:"ngss_standards" %}
            {{ngss}}
            <br>
          {% endfor %}
        </div>
        <div class="meta">
          <div class="label">{{form.ct_stem_practices.label}}</div>
          {% for ct_stem in form|selected_labels:"ct_stem_practices" %}
            {{ct_stem}}
            <br>
          {% endfor %}
        </div>
      </div>

      <hr>

      <div class="table" id="lessonContent">
        <div>{{form.content.value|format_iframe|safe}}</div>
      </div>

      <hr>
      <div>
        <pdf:nextpage />
      </div>

      <div class="table" id="lessonActivity">

        <h3> Lesson Activity </h3>
        <table class="student_info">
          <tr>
            <td width="40%">Name:_________________________</td>
            <td width="30%">Class:_________________</td>
            <td width="30%">Date:__________________</td>
          </tr>
        </table>

        {% for activity in formset %}
          <h3 class="activity_title"> {{ activity.title.value }} </h3>

          <div class="activity_content"> {{activity.content.value|safe}} </div>

          <table class="question_table">
            {% for questionForm in activity.nested %}
              <tr>
                <td width="5%" style="vertical-align: top;" class="question_no"> Q{{forloop.counter}}.</td>
                <td class="question_text"> {{questionForm.instance.question.question_text|safe }} </td>
              </tr>
              <tr>
                <td></td>
                <td class="answer_field">
                  {% with field_type=questionForm.instance.question.answer_field_type %}
                    {% if field_type == 'TA' %}
                      <br><br><br><br><br><br><br><br><br><br>
                    {% elif field_type == 'TF' %}
                      <br><br><br><br><br>
                    {% elif field_type == 'DD' or field_type == 'MC' %}
                      <div class="multiplechoice">
                        <div class="note"> Note: Select one answer </div>
                        {% for option in questionForm.instance.question.options|split:','%}
                          <div class="input_container">
                            <img src="https://s3-us-west-1.amazonaws.com/ct-stem/assets/images/Circle.gif" class="circle">&nbsp;&nbsp;{{option}}
                          </div>
                        {% endfor %}
                      </div>
                    {% elif field_type == 'MS' %}
                      <div class="multiselect">
                        <div class="note"> Note: Select all that apply </div>
                        {% for option in questionForm.instance.question.options|split:','%}
                          <div class="input_container">
                            <img src="https://s3-us-west-1.amazonaws.com/ct-stem/assets/images/Square.gif" class="square" style="width:25px;">&nbsp;&nbsp;{{option}}
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endwith %}
                </td>
              </tr>
            {% endfor %}
          </table>
          <div>
            <pdf:nextpage />
          </div>

        {% endfor %}
      </div>

    </form>
  </div>
  <div id="footerContent">
    {%block page_foot%}
        <pdf:pagenumber>
    {%endblock%}
  </div>
{% endblock %}

