{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block title %}Lesson |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2> Lesson Plan </h2>
    <form method="post">
      {% csrf_token %}
      {{form.media}}
      <div class="table" id="lesson">
        <h4>Lesson Meta
          <span class="controls">
            <span class="expand_collapse">
              <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-collapse-down" aria-hidden="true" style="display:none;"></span>
            </span>
          </span>
        </h4>

        <div class="curriculum_content">
          {{form.management_form}}
          {% for field in form %}
            <div class="form-group">
              <label for="id_{{field.name}}">{{ field.label }} {% if field.field.required %}(<span class="required">*</span>) {% endif %}</label>
              {% if field.name == 'questions' %}
                <div class="clearfix">
                  {{field}}
                </div>
              {% elif field.name == 'taxonomy' %}
                <button class="btn btn-primary search_taxonomy" name="search_taxonomy" data-form="{% url 'ctstem:searchTaxonomy' %}">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <div style="display:none;">
                  {{field}}
                </div>
                <div id="taxonomy_div">
                  <table class="table table-bordered table-striped table-condensed inner_table" id="taxonomy">
                    <thead>
                      <tr>
                        <th>Standard</th>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Code</th>
                        <th>Remove?</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for x in field.value %}
                        {% with taxonomy=x|getTaxonomy %}
                        <tr id="{{taxonomy.id}}">
                          <td>{{taxonomy.standard.short_name}}</td>
                          <td>{{taxonomy.category.name}}</td>
                          <td>{{taxonomy.title}}</td>
                          <td>{{taxonomy.code}}</td>
                          <td>
                            <button type="button" class="btn btn-warning remove_taxonomy" title="Remove Taxonomy">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                          </td>
                        </tr>
                        {% endwith %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

              {% else %}
                <div>
                  {{field}}
                </div>
              {% endif %}
              <div class="error">{{ field.errors }}</div>
            </div>
          {% endfor %}
        </div>
      </div>

      {{formset.management_form}}
      {% for activity in formset %}
        <div class="table activity">
          <h4>
            Lesson Activity
            <span class="activity_order">
              {% if activity.ORDER.value %}
                {{ activity.ORDER.value}}
              {% else %}
                {{forloop.counter}}
            {% endif %}
            </span>
            <span class="controls">
              <span class="expand_collapse">
                <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-collapse-down" aria-hidden="true" style="display:none;"></span>
              </span>
            </span>
          </h4>

          {{ activity.management_form }}
          {{activity.id}}
          <div class="form-group">
            <label for="id_{{activity.title.name}}">{{ activity.title.label }} {% if activity.title.field.required %}(<span class="required">*</span>) {% endif %}</label>
            <div>{{activity.title}}</div>
            <div class="error">{{ activity.title.errors }}</div>
          </div>
          <div class="curriculum_content">
            <div class="form-group">
              <label for="id_{{activity.content.name}}">{{ activity.content.label }} {% if activity.content.field.required %}(<span class="required">*</span>) {% endif %}</label>
              <div>
                {{activity.content}}
              </div>
              <div class="error">{{ activity.content.errors }}</div>
            </div>

            <div class="form-group question_table">
              {{activity.nested.management_form}}
              {{activity.nested.id}}
              <label for="id_question_table">Activity Question(s)</label>
              <button class="btn btn-primary edit_question" name="add_question" data-form="{% url 'ctstem:newQuestion' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
              <table class="table table-striped table-condensed question">
                <thead>
                  <tr>
                    <th></th>
                    <th style="width:60%;"></th>
                    <th></th>
                    <th>Order</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for questionForm in activity.nested %}
                    <tr style="{% if forloop.last %} display:none; {% endif %}" id="question_row_{{questionForm.question.value}}">
                      <td class="question_order">
                        {{questionForm.id}}
                        <div>
                          Q{{questionForm.ORDER.value}}.
                        </div>
                      </td>
                      <td class="question_text">
                        {% if questionForm.question.value and questionForm.question.value != 'None' %}
                          <input type="hidden" class="question_id" id="{{questionForm.question.auto_id}}" name="{{questionForm.question.html_name}}" value="{{questionForm.question.value}}"/>
                          <div> {{questionForm.question.value|selected_question|safe }} </div>

                        {% else %}
                          <input type="hidden" class="question_id" id="{{questionForm.question.auto_id}}" name="{{questionForm.question.html_name}}" value/>
                          <div></div>
                        {% endif %}
                      </td>
                      <td>
                        <button type="button" class="btn btn-success edit_question" name="edit_question" aria-label="Edit Question" data-form="{% url 'ctstem:question' questionForm.question.value|default:0 %}" >
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                      </td>
                      <td>{{questionForm.ORDER }}</td>
                      <td>{{questionForm.DELETE }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="form-group">
              <label for="id_{{activity.ORDER.name}}">{{ activity.ORDER.label }}</label>
              <div>{{activity.ORDER}}</div>
              <div class="error">{{ activity.ORDER.errors }}</div>
            </div>
            <div class="form-group">
              <label for="id_{{activity.DELETE.name}}">{{ activity.DELETE.label }}</label>
              <div>{{activity.DELETE}}</div>
              <div class="error">{{ activity.DELETE.errors }}</div>
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="form-group button-group-fixed">
          <input type="submit" class="btn btn-success" id="submit" value="Save"/>
          <input type="button" class="btn btn-primary" id="addActivity" value="Add Activity"/>

        </div>
    </form>
    <div class="modal fade" id="questionModal" role="dialog">
    </div>
    <div class="modal fade" id="taxonomyModal" role="dialog">
    </div>
  </div>
  <script type="text/javascript">
    $(function (){
      $("button.edit_question").click(function(e){
        e.preventDefault();
        var url = $(this).data("form");
        var activity_div = $(this).closest('.activity');
        var activity_id = $(activity_div).children(':hidden').first().attr('id');
        $("#questionModal").load(url, function() {
          $(this).modal('show');
          $("#questionModal input[id='id_activity']").val(activity_id);
        });

        return false;
      });

      $("button.search_taxonomy").click(function(e){
        e.preventDefault();
        var url = $(this).data("form");
        $("#taxonomyModal").load(url, function() {
          $(this).modal('show');
        });
        return false;
      });

      $("button.remove_taxonomy").click(function(e){
        var taxonomy_id = $(this).closest('tr').attr('id');
        $('#id_lesson-taxonomy option[value="'+taxonomy_id+'"]').prop('selected', false);
        $('div.curriculum_content div#taxonomy_div table#taxonomy tbody tr#'+taxonomy_id).remove();
      });

      $('#addActivity').click(function() {
        cloneMore('div.table:last', 'form');
        $('div.table:last').find('textarea').each(function(){
          if($(this).attr('name') !== undefined && $(this).attr('data-config') !== undefined){
            var config = {
              removePlugins: 'stylesheetparser',
              toolbar: 'None',
              height: 300,
              width: 950,
              allowedContent: true,
              filebrowserUploadUrl: "/ckeditor/upload/",
              filebrowserBrowseUrl: "/ckeditor/browse/",
              skin: "moono",
              mathJaxLib: '//cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML',
              extraPlugins: 'mathjax',
            }
            CKEDITOR.replace($(this).attr('name'), config);
          }
        });

        var activity_order_div = $('div.table:last span.activity_order');
        var activity_order = parseInt($(activity_order_div).html()) + 1;
        $(activity_order_div).html(activity_order);
        //alert('after clone');
        //bindWysiwyg();
        //rebind question clone
      });

      /*function bindWysiwyg(){
        //alert($(step).attr('class'));
        $('div.table:last').find('textarea').each(function(){
          var id = $(this).attr('id');
          var editor = $(this).attr('id')+'_editor';
          var config = null;
          django_wysiwyg.enable(editor, id, config);
          $(this).next().show();
        });
      }*/
    });
  </script>

{% endblock %}
