{% load ctstem_extras %}
<div class="pagination">
  <span class="counter1">
    Showing {{model.paginator|get_page_end_index:model.number}} of {{model.paginator.count}} entries.
  </span>
  <span class="step-links">
    {% if model.has_next %}
      <a type="button" href="?page={{ model.next_page_number }}&order_by={{ order_by }}&direction={{ direction }}" class="btn small blue page">Load More</a>
    {% endif %}
  </span>
  <span class="counter2">
    Showing {{model.paginator|get_page_end_index:model.number}} of {{model.paginator.count}} entries.
  </span>
</div>
