{% extends "ctstem_app/base.html" %}
{% load base_extras %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
  <link href="/static/css/circliful.css" rel="stylesheet" type="text/css" />
  <script src="/static/js/circliful.min.js"></script>
{% endblock %}
{% block title %}My Assignments |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content" id="assignments">
    <h2> My Assignments </h2>
    <ul class="nav nav-tabs">
      <li class="{% navactive request 'ctstem:assignments' 'inbox' %}"><a href="{% url 'ctstem:assignments' 'inbox' %}">Inbox ({{new}}/{{inbox}})</a></li>
      <li class="{% navactive request 'ctstem:assignments' 'archive' %}"><a href="{% url 'ctstem:assignments' 'archive' %}">Archive ({{archived}})</a></li>
    </ul>
    {% if assignment_list %}
    <section class="portfolio">
      <div class="container">
        <div class="row">
          {% for assignment_details in assignment_list %}
          <div class="col-md-4 col-sm-6 portfolio-item ">
            <a data-form="{% url 'ctstem:previewCurriculum' assignment_details.assignment.curriculum.id %}" class="portfolio-link preview" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              {% if assignment_details.assignment.curriculum.icon %}
                <img src="{{assignment_details.assignment.curriculum.icon.url}}" class="img-responsive" alt=""/>
              {% else %}
                <img src="/static/img/assessment.png" class="img-responsive" alt="">
              {% endif %}
            </a>
            <div class="portfolio-caption">
              <div class="assignment_title">
                <h4>{{assignment_details.assignment.curriculum.title}}</h4>
              </div>
              <div class="row">
                <div class="col-md-7 dates">
                  <div class="row">
                    <div class="col-md-4 title">Group:</div>
                    <div class="col-md-8">{{assignment_details.assignment.group}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 title">Assigned:</div>
                    <div class="col-md-8">{{assignment_details.assignment.assigned_date|date}}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 title">Due:</div>
                    <div class="col-md-8">{{assignment_details.assignment.due_date|date}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 title">Modified:</div>
                    <div class="col-md-8">{% if assignment_details.instance %}
                                {{assignment_details.instance.modified_date|date}}
                              {% else %}
                                -
                              {% endif %}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 title">Status:</div>
                    <div class="col-md-8">
                        {% if assignment_details.instance %}
                          {{assignment_details.instance.get_status_display}}
                        {% else %}
                          New
                        {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-md-5 chart_container">
                  <div id="chart_{{assignment_details.serial}}" class="chart" name={{assignment_details.percent_complete}}></div>
                </div>
              </div>
              <div class="row">
                {% if assignment_details.instance %}
                  {% if assignment_details.instance.status == 'P' %}
                    <a type="button" class="btn btn-warning btn-md" aria-label="Resume Assignment" title="Resume Assignment" href="{% url 'ctstem:resumeAssignment' assignment_details.assignment.id assignment_details.instance.id assignment_details.instance.last_step|add:'1' %}">
                      Resume <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </a>
                  {% else %}
                    <a type="button" class="btn btn-info btn-md" aria-label="Resume Assignment" title="Resume Assignment" href="{% url 'ctstem:resumeAssignment' assignment_details.assignment.id assignment_details.instance.id 1 %}">
                      View <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                  {% if assignment_details.instance.status == 'F' %}
                    <a type="button" class="btn btn-warning btn-md" aria-label="Archive Assignment" title="Archive Assignment" href="{% url 'ctstem:archiveAssignment' assignment_details.instance.id %}">
                      Archive <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                {% else %}
                  <a type="button" class="btn btn-success btn-md" aria-label="Start Assignment" title="Start Assignment" href="{% url 'ctstem:startAssignment' assignment_details.assignment.id %}">
                    Start <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% else %}
      <p>You do not have any assignments.</p>
    {% endif %}

    <div class="modal fade" id="assessmentModal" role="dialog">
    </div>

  </div>
  <script type="text/javascript">
    $(function (){
      $("a.assessment_info").click(function(e){
        e.preventDefault();
        var url = $(this).data("form");
        $("#assessmentModal").load(url, function() {
          $(this).modal('show');
        });
        return false;
      });
      $(".chart").each(function(){
        var id = $(this).attr('id');
        var percentage = $(this).attr('name');
        $("#"+id).circliful({
          animationStep: 10,
          foregroundBorderWidth: 25,
          backgroundBorderWidth: 25,
          percent: percentage,
          fontColor: '#000',
          foregroundColor: '#006000',
          text: 'Complete'
        });
      });

    });
  </script>
{% endblock %}


