{% extends "ctstem_app/base.html" %}
{% load base_extras %}
{% load ctstem_extras %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
  <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block title %}My Assignments |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content" id="assignments">
    <h2> My Assignments </h2>
    <div id="inbox_search">
      <div class="form-group" id="inbox_search_toggle">
        <label style="display:none;">Show Filters <span class="fa fa-plus-circle"></span></label>
        <label>Hide Filters <span class="fa fa-minus-circle"></span></label>
      </div>
      <form method="post" action="{% url 'ctstem:assignmenttiles' %}" id="inbox_search_form">
        {% csrf_token %}
        <div class="inbox_filter">
          <div class="form-group" id="id_bucket">
            {% for radio in filter_form.bucket %}
              <div>{{radio.tag}}&nbsp;&nbsp;<label>{{radio.choice_label}}</label></div>
            {% endfor %}
          </div>
          <div class="form-group">
            <label>{{filter_form.teacher.label|title}}</label>
            <div>{{filter_form.teacher}}</div>
          </div>
          <div class="form-group">
            <label>{{filter_form.group.label|title}}</label>
            <div>{{filter_form.group}}</div>
          </div>
          <div class="form-group">
            <label>{{filter_form.assignment.label|title}}</label>
            <div>{{filter_form.assignment}}</div>
          </div>
          <div class="form-group">
            <label>{{filter_form.sort_by.label|title}}</label>
            <div>{{filter_form.sort_by}}</div>
          </div>
          <div class="form-group">
            <input type="button" class="btn normal gray" id="clear" value="Clear Filter"/>
          </div>
        </div>
      </form>
    </div>
    <div class="row" id="assignment_tiles">
    </div>

    <div class="modal fade" id="assessmentModal" role="dialog"></div>


  </div>
  <script type="text/javascript">
    $(function (){

      $('input#clear').on("click", function(){
        $('#inbox_search_form').find(':radio, :checkbox').removeAttr('checked').end()
            .find('textarea, :text, select').val('');
        $('#inbox_search_form #id_bucket input[name="bucket"][value="active"]').prop('checked', true);
        $('#inbox_search_form select#id_sort_by').val('title');
        auto_submit_search();
      });

      //on page load, apply existing filters and load results
      auto_submit_search();

      //add a class to checkbox and radio button in search form on Safari only
      if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
        $('#inbox_search_form :radio, #inbox_search_form :checkbox').addClass('safari');
      }

      var timeout = null;
      $('#inbox_search_form select, #inbox_search_form :radio').on('change', function(){
        if($(this).attr('id') == 'id_teacher'){
          $('select#id_group').val('');
          $('select#id_assignment').val('');
        }
        if($(this).attr('id') == 'id_group'){
          $('select#id_assignment').val('');
        }
        auto_submit_search();
      });

      function auto_submit_search() {
        clearTimeout(timeout);
        timeout = setTimeout(function(){
          var url = $('form').attr('action');
          submit_search(url);
        }, 800);
      }

      function submit_search(url) {
        $.ajax({
          type: "POST",
          url: url,
          data: $('form').serialize(),
          beforeSend: function(){
            $('#assignment_tiles').html('<div id="spinner"> \
                                          <img src="/static/img/page-loader.gif" class="icon"/>\
                                        </div>');
            $('#spinner').show();
          },
          complete: function(){
            $('#spinner').hide();
          },
          success: function(data){
            if(data['success'] == true){
              $("#inbox_search_form #id_bucket input[name='bucket'][value='active']").next().text(' Active ('+data['new']+'/'+data['active']+')');
              $("#inbox_search_form #id_bucket input[name='bucket'][value='archived']").next().text(' Archived ('+data['archived']+')');
              $('#assignment_tiles').html(data['html']);
              $('select#id_group').html(data['groups_html'])
              $('select#id_assignment').html(data['assignments_html']);
              $(".donut_chart").each(function(){
                render_donut_chart($(this));
              });
            }
            return false;
          },
          error: function(xhr, ajaxOptions, thrownError){
            alert("Something went wrong.  Try again later!");
          },
        });
      }


      $('#inbox_search_toggle label').click(function(){
        $('#inbox_search_toggle label').toggle();
        $('.inbox_filter').toggle();
      })

      $("a.assessment_info").click(function(e){
        e.preventDefault();
        var url = $(this).data("form");
        $("#assessmentModal").load(url, function() {
          $(this).modal('show');
        });
        return false;
      });

      $('a.lock_on_completion').on('click', function(){
        alert("You cannot view this assignment after submission");
      });

    });
  </script>
{% endblock %}


