
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Research Opt-in</h3>
    </div>
    <div id="optInMsg" class="msg">
    </div>
    <form class="form" id="optInForm" method="post" action="{% url 'ctstem:opt_in' %}">
      {% csrf_token %}
      <div class="modal-body">
        <p> Lorem ipsum dolor sit amet, id clita putant ius. Et nec iusto invenire. Cu habeo everti conclusionemque per. Sit no idque feugiat, sea ne dico laoreet persequeris. Ei diceret saperet necessitatibus mea, ut brute audire eos.

        Nullam iuvaret adipisci te nam, pri wisi habeo explicari ex. Vim te porro tempor singulis, iudico utinam vocibus te quo, qui idque errem aliquid no. Integre labores ex nec. Cum enim tantas honestatis an, ea vide legimus delicata his. Vel et exerci disputationi. Laoreet molestie lucilius mel no, quaerendum consequuntur est id.

        Id copiosae facilisi usu. Ut eos enim quando graecis, vel id mnesarchum sententiae, omnium aperiri accusam id per. Dicat exerci euismod cum an, cu quo erant referrentur, nam erat aeterno an. Voluptua consequat maiestatis has id, ex quas aperiri rationibus mei. Stet nominavi dissentias cum no, appareat verterem pri at, option diceret nominavi sea at.

        Cum an dicit nominavi, ne mea unum petentium. Mea alii facilis voluptaria ad, vix dicam viderer in. Ea cum novum nusquam. Partem evertitur concludaturque est ad, mea veritus graecis volumus id, vis in tale qualisque.
        </p>
        <div class="form-group">
         {{form.opt_in}}
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="submit" id="saveOptIn" class="btn btn-success">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
$(function (){

  $("#optInForm").submit(function(e) {

    e.preventDefault();
    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: $(this).serialize(),
      context: this,
      success: function(data){
        if(data['result'] == 'Success'){
          window.location.reload();
        }
        else{
          $('#optInMsg').html(data['message']);
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        alert(thrownError);
      },
    });
  });
});

</script>
