
{% extends "ctstem_app/base.html" %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content" id="home">
    <h2>Partners</h2>
    <p >Our team brings together unparalleled disciplinary expertise, existing K-12 school connections, and CT and STEM education experience. With their extensive work in computer simulation and technology innovation, as well as in the role of cyberinfrastructure in computational modeling, and in effective STEM education and curriculum development, they form a uniquely complementary team for undertaking the proposed CE21 program focused on embedded-CT.</p>
    <p><iframe src="http://ct-stem.northwestern.edu/assess/ct-stem-map.html" width="960px" height="674px" frameborder="0"></iframe></p>
    <p> </p>
    <h3><span style="font-weight: normal;">Lead Teachers</span></h3>
    <p> </p>
    <p><em>Our Lead Teachers each have over 20 years of teaching experience.</em></p>
    <p> </p>
    <p>Ami Lefevre - Chemistry teacher at Niles West High School<br></p>
    <p>Tim Miller – Math Modeling teacher from Niles West High School <br></p>
    <p> </p>
    <p>Mark Vondracek – AP Physics teacher from Evanston Township High School</p>
    <p>&nbsp;</p>
    <p> </p>
    <p> </p>
    <h3><span style="font-weight: normal;">Graduate Students</span></h3>
    <p> </p>
    <p>Each year, 10 Northwestern graduate students with a computational focus to their research are paired with 10 local secondary school teachers through the NSF-funded&nbsp;<a href="http://osep.northwestern.edu/projects/reach-for-the-stars">Reach for the Stars</a>&nbsp;GK12 program. These graduate student - teacher pairs develop and pilot test the raw materials used in this project.</p>
    <p> </p>
    <p><br></p>
    <p> </p>
    <h3><span style="font-weight: normal;">External Advisory Board</span></h3>
    <p> </p>
    <p> </p>
    <p>Dr. Amber Settle</p>
    <p> </p>
    <p>DePaul University Associate Professor of Computer Science, Director   of the Innovation in Technology Education Center, and PI of the NSF   CPATH project ‘Computational Thinking Across the Curriculum,’ serves as   head of our external advisory board.</p>
    <p>Dr. Valerie Barr</p>
    <p>  </p>
    <p>Chair of the Union College CS department and PI on a similar NSF CPATH project at Union and Lafayette Colleges, and Mr. Baker Franke, AP CS teacher at the University of Chicago Lab School. Mr. Franke leads an RET supplement to translate the DePaul embedded CT undergraduate CT curricular materials into the high-school level.&nbsp;</p>
    <p>&nbsp;</p>
    <h3>Affiliated Research Groups and Organizations</h3>
    <div style="width: 853px; text-align: center;">
      <p style="text-align: center;"><a href="http://tidal.sesp.northwestern.edu"><img src="assets/tidal.png" width="98" height="101" alt="" title=""></a><a href="http://osep.northwestern.edu/">&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="http://osep.northwestern.edu/">&nbsp;&nbsp; <img src="assets/osep.png" width="194" height="91" alt="" title=""></a><a href="http://ciera.northwestern.edu/">&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/ciera.png" width="263" height="83" alt="" title=""></a><br><br><a href="http://www.adlerplanetarium.org/">&nbsp; <img src="assets/adler.png" width="106" height="109" alt="" title="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a><a href="http://ccl.northwestern.edu/"><img src="assets/ccl.png" width="291" height="107" alt="" title=""></a><a href="http://gk12.ciera.northwestern.edu/"><img src="assets/_resampled/resizedimage208107-reach-for-stars.png" width="208" height="107" alt="" title=""></a></p>
    </div>




  </div>

</div>

{% endblock %}
