{% load ctstem_extras %}

<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">{{category.name}}</h3>
    </div>
    <div class="modal-body">
      <div>
        <p>{{category.description}}</p>
      </div>
      <div>
        <ul>
          {% for subcategory in subcategories %}
            <li><p>{{subcategory.title}}</p></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>

