{% extends "ctstem_app/base.html" %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Research |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2>Research</h2>
    <p class="text-muted" style="margin: 0 10em 3em;">STEM education faces two related challenges. First, our education system is not producing enough computational professionals to fill demand. Second, women and minorities remain significantly underrepresented. We are conducting a Design-Based Implementation Research project to study a model in which computational literacy curricula are embedded throughout required biology, chemistry, physics, and mathematics coursework. This would ensure that every high school student is exposed to computational literacy activities in a context that demonstrates its relevance to real world career paths. We are interested how such curriculum affects student and teachers’ attitudes, identity, and learning. We are also working to understand individual and institutional factors that affect the success of this model in resource-constrained public schools.</p>

    {% if user.administrator %}
      <div class="btn-group">
        <a type="button" class="btn btn-info" href="{% url 'ctstem:newPublication' %}" title="Create new publication">Create Publication</a>

        <label class="switch">
          <input class="switch-input" type="checkbox" />
          <span class="switch-label" data-on="Table" data-off="Bibliography"></span>
          <span class="switch-handle"></span>
        </label>
      </div>

    {% endif %}
    {% if publications %}
      {% if user.administrator %}
        <div id="publications_table">
          <table class="table table-striped table-bordered table-condensed dt" id="publications">
            <thead>
              <tr>
                <th> Title </th>
                <th> Year </th>
                <th> Author(s) </th>
                <th> URL </th>
                <th> Type </th>
              </tr>
              <tr id="filterrow">
                <th> Title </th>
                <th> Year </th>
                <th> Author(s) </th>
                <th> URL </th>
                <th> Type </th>
              </tr>
            </thead>
            <tbody>
              {% for pub in publications %}
                <tr>
                  <td class="title">{{pub.title}}
                    <div class="controls">
                      {% if user.administrator %}
                        <a type="button" class="btn btn-success" aria-label="Edit Publication" title="Edit Publication" href="{% url 'ctstem:publication' pub.slug %}">
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a type="button" class="btn btn-danger" aria-label="Delete Publication" title="Delete Publication" href="{% url 'ctstem:deletePublication' pub.slug %}">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                      {% endif %}
                      {% if pub.local_copy %}
                        <a type="button" class="btn btn-default" aria-label="Download Publication" title="Download Publication" href="{{pub.local_copy.url}}" download target="_blank">
                          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        </a>
                      {% endif %}
                    </div>
                  </td>
                  <td>{{pub.year}}</td>
                  <td>{{pub.authors}}</td>
                  <td><a href="{{pub.web_link}}" target="_blank">Link</a></td>
                  <td>{{pub.get_publication_type_display}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      <div id="publications_bib">
        <h4>Publications</h4>
        <ul id="publications">
          {% for pub in publications %}
            <li class="publication">
              <span class="authors">{{pub.authors}} </span>
              <span class="year">({{pub.year}}). </span>
              <span class="title">
                {% if pub.web_link %}
                  <a href="{{pub.web_link}}" target="_blank">{{pub.title}}</a>
                {% else %}
                  {{pub.title}}
                {% endif %}
              </span>
              <span class="journal">{{pub.journal}}</span>
              <span class="pages"> {% if pub.pages %} ({{pub.pages}}) {% endif %}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <p>No publications available.</p>
    {% endif %}
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $("div#publications_table").hide();
      $("div#publications_bib").show();

      $('.switch-input').change(function() {
        $("div#publications_table").toggle();
        $("div#publications_bib").toggle();

        /*if($(this).is(":checked")) {
          $("div#publications_table").show();
          $("div#publications_bib").hide();
        }
        else{
          $("div#publications_table").hide();
          $("div#publications_bib").show();
        }*/
      });
    });
  </script>

{% endblock %}


