{% extends "ctstem_app/base.html" %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Research |{% endblock %}

{% block content %}
  {{block.super}}
 <div class="content" id="publication">
  <div class="page-blurb">

    <h2>Research</h2>
    <p>STEM education faces two related challenges. First, our education system is not producing enough computational professionals to fill demand. Second, women and minorities remain significantly underrepresented. We are conducting a Design-Based Implementation Research project to study a model in which computational literacy curricula are embedded throughout required biology, chemistry, physics, and mathematics coursework. This would ensure that every high school student is exposed to computational literacy activities in a context that demonstrates its relevance to real world career paths. We are interested how such curriculum affects student and teachers’ attitudes, identity, and learning. We are also working to understand individual and institutional factors that affect the success of this model in resource-constrained public schools.</p>

    <div>
      <h3 class="left">Publications</h3>
      {% if user.administrator or user.researcher %}
        <div class="btn-group">
          <a class="btn normal blue" href="{% url 'ctstem:newPublication' %}" title="Create new publication">Create Publication</a>
        </div>

      {% endif %}
      {% if publications %}
        <table id="publications">
          {% for pub in publications %}
            <tr class="publication">
              <td class="description">
                {{pub.description|safe}}
                {% if pub.web_link %}
                  <p>&nbsp;&nbsp;<a href="{{pub.web_link}}" target="_blank">Link</a></p>
                {% endif %}
              </td>
              <td class="action">
                {% if user.administrator or user.researcher %}
                  <a class="fa fa-pencil" title="Edit Publication" href="{% url 'ctstem:publication' pub.id %}"></a>
                  <a class="fa fa-trash" title="Delete Publication" href="{% url 'ctstem:deletePublication' pub.id %}" onclick="return confirm('Are you sure you want to delete {{pub.title}}?')"></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>No publications available.</p>
      {% endif %}



      <!-- EXTERNAL PUBLICATIONS -->
      <h3 class="left">Other Useful CT Publications</h3>
      <ul class="publication-list">
        <li class="publication">
          <span class="authors">Jeannette M. Wing</span>
          <span class="year">(2006).</span>
          <span class="title">
            <a href="https://www.cs.cmu.edu/afs/cs/usr/wing/www/publications/Wing06.pdf" target="_blank">Computational Thinking.</a>
          </span>
          <span class="journal">Communications of the ACM, Vol. 49, No. 3</span>
          <span class="pages">(33-35).</span>
        </li>

        <li class="publication">
          <span class="authors">Mark Guzdial</span>
          <span class="year">(2008).</span>
          <span class="title">
            <a href="https://dl.acm.org/citation.cfm?id=1378713" target="_blank">Education: Paving the way for computational thinking.</a>
          </span>
          <span class="journal">Communications of the ACM, Vol. 51, Issue 8</span>
          <span class="pages">(25-27).</span>
        </li>

        <li class="publication">
          <span class="authors">Jeannette M. Wing</span>
          <span class="year">(2008).</span>
          <span class="title">
            <a href="https://www.cs.cmu.edu/%7Ewing/publications/Wing08a.pdf" target="_blank">Computational thinking and thinking about computing.</a>
          </span>
          <span class="journal">Philosophical Transactions of the Royal Society A, 366</span>
          <span class="pages">(3717-3725).</span>
        </li>

        <li class="publication">
          <span class="authors">Seymour Papert</span>
          <span class="year">(1993).</span>
          <span class="title"><i>Mindstorms: Children, Computers, and Powerful Ideas</i></span>. Basic Books
        </li>
      </ul>


      <h3 class="left">Tools, Software, &amp; Curricula</h3>

      <ul class="links">
        <li><a href="https://ccl.northwestern.edu/netlogo/" target="_blank">NetLogo</a>, Northwestern CCL Lab's multi-agent programming environment. Lessons in biology, genetics, physics, chemistry, etc.</li>

        <li><a href="https://www.ilabcentral.org/" target="_blank">iLab</a></span>, Northwestern's access to real physics, chemistry, and biology labs through the internet</li>

        <li><a href="http://www.concord.org/activities" target="_blank">Concord Consortium</a>, CT lesson plans and simulation environments for topics across STEM</li>

        <li><a href="http://mw.concord.org/modeler/showcase/index.html" target="_blank">Molecular Workbench</a>, by concord consortium</li>

        <li><a href="http://www.kcvs.ca/site/index.html" target="_blank">The King's Centre for Visualization in Science</a> has a lot of high-quality applets covering many areas of science.</li>

        <li><a href="http://phet.colorado.edu/" target="_blank">PHET</a>, has lots of high-quality applets covering many areas of science</li>

        <li><a href="http://www.searchingspot.com/datadiscovery/index.htm" target="_blank">Data Discovery Lessons</a>: using real-world data and computer-based technology, such as  spreadsheets and Python programs, students learn how to gather,  organize, analyze and interpret data; Python lessons guide students in  computational thinking. Lessons provide teachers and students with  instructions and guidance in using these technologies.</li>

        <li><a href="http://www.merlot.org/" target="_blank">MERLOT</a></span>, repository for STEM lesson plans, applets, resources, etc.</li>

        <li><a href="http://ccl.northwestern.edu/curriculum/ConnectedChemistry/" target="_blank">Connected Chemistry</a></li>

        <li><a rel="nofollow" href="http://CSunplugged.org" target="_blank">CSunplugged.org</a></li>

        <li><a href="http://www.nsf.gov/nsb/sei/edTool/" target="_blank">NSF STEM Education Data Resources</a></li>

      </ul>

      <h3 class="left">Videos</h3>
      <ul class="links">
        <li><a href="http://www.nsf.gov/news/news_videos.jsp?cntn_id=123607&amp;media_id=72174&amp;org=NSF" target="_blank">http://www.nsf.gov/news/news_videos.jsp?cntn_id=123607&amp;media_id=72174&amp;org=NSF</a></li>
        <li><a href="http://www.youtube.com/user/ECEILLINOIS" target="_blank">ECE Illinois Media Center</a></li>
        <li><a href="http://www.youtube.com/watch?v=qaOvHKG0Tio" target="_blank">Microsoft Super Bowl Ad - Technology Empower</a></li>
      </ul>
    </div>
  </div>
</div>
<br clear="all">

{% endblock %}


