{% block media %}
  {{ form.media }}
{% endblock %}
<div class="modal-dialog modal-xlg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="left">Search Questions</h3>
    </div>
    <div id="questionMsg" class="msg">
      <ul class="errorlist">
        <li></li>
      </ul>
    </div>
    <form class="form" id="questionSearchForm" method="post" action="{% url 'ctstem:searchQuestion' %}">
      {% csrf_token %}
      <input id="id_step" type="hidden" value=""/>
      <input id="id_curriculum" type="hidden" value=""/>
      <input id="id_unit" type="hidden" value=""/>
      <div class="modal-body">
        <div class="form-inline">
          <div class="form-group">
            <label for="id_research_category">Research Category</label>
            <div>{{form.research_category}}</div>
          </div>
          <div class="form-group">
            <label for="id_answer_field_type">Answer Field Type</label>
            <div>{{form.answer_field_type}}</div>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <label for="id_question_text">Question Text</label>
            <div>{{form.question_text}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="submit" id="search" class="btn normal yellow">
            Search
          </button>
        </div>
      </div>
    </form>
    <div id="questionResults" style="display:none;" class="results">
      <table class="table table-bordered table-striped table-condensed inner_table">
        <thead>
          <tr>
            <th>Question Text</th>
            <th>Select?</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function (){

  $("#questionSearchForm").submit(function(e) {

    e.preventDefault();
    var id_step = $("#questionSearchForm input[id='id_step']").val();
    $("#questionResults table tbody").empty();
    data = {}
    data['research_category'] = $("#id_research_category").val();
    data['answer_field_type'] = $("#id_answer_field_type").val();
    data['question_text'] = $("#id_question_text").val();
    data['curriculum_id'] = $("#id_curriculum").val();
    data['unit_id'] = $("#id_unit").val();
    data['csrfmiddlewaretoken'] = $('#questionSearchForm').find('input:hidden').eq(0).val();
    var data = $.param(data);
    //ajax call to search question
    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: data,
      context: this,
      success: function(data){
        if('error' in data){
          $('#questionMsg ul.errorlist li').addClass('error').html(data['error']);
        }
        else {
          var questions = "";
          $.each(data, function(key, value){
            var research_category = value['research_category'];
            research_category = research_category.join("<br />");
            questions += "<tr><td>"+value['question_text']+"</td><td><button type='button' class='btn small blue select_question' id='"+value['id']+"''>Add</a></td></tr>";
          });
          if(questions.length == 0){
            $('#questionMsg ul.errorlist li').addClass('error').html('No matching questions found');
            $("#questionResults").hide();
          }
          else{
            $('#questionMsg ul.errorlist li').removeClass('error').html('');
            $("#questionResults table tbody").html(questions);
            $("#questionResults").show();
            $("#questionResults button.select_question").click(function(){
              var formset_div = $("input[id="+id_step+"]").parent();
              var question_table = $(formset_div).find("table.table.question");
              //ajax call to copy selected question and add to curriculum
              $.ajax({
                type: 'GET',
                url: "/question/copy/"+$(this).attr('id'),
                success: function(data) {
                  if('success' in data && data['success'] == true) {
                    add_to_question_table($(question_table), data['question_id'], data['question_text']);
                    rowAddorRemove($(question_table));
                    $(this).attr('disabled', 'disabled');
                  }
                },
                error: function(xhr, ajaxOptions, thrownError){
                  $('#questionMsg ul.errorlist li').addClass('error').html(thrownError);
                },
              });
            });
          }
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        $('#questionMsg ul.errorlist li').addClass('error').html(thrownError);
      },
    });
  });

});

</script>
