
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close">&times;</button>
      <h3 class="modal-title">{{title}}</h3>
    </div>
    <div id="questionMsg" class="msg">
      <ul class="errorlist">
        <li></li>
        {% if disable_fields %}
        <li class="warning">The curriculum has already been assigned and so some of the fields below cannot be modified</li>
        {% endif %}
      </ul>
    </div>
    <form class="form" id="questionForm" method="post" enctype="multipart/form-data" action="{% if questionForm.instance.id %} {% url 'ctstem:question' questionForm.instance.id %} {% else %} {% url 'ctstem:newQuestion' %} {% endif %}">
      {% csrf_token %}
      {{questionForm.media}}
      <input id="id_question" type="hidden" value="{{questionForm.instance.id}}"/>
      <input id="id_step" type="hidden" value=""/>
      <input id="is_public" type="hidden" value="false"/>
      <div class="modal-body">
        {% for field in questionForm %}
          <div class="form-group {% if field.name == 'sketch_background' %}
                                      sketch
                                 {% elif field.name == 'display_other_option' %}
                                    other
                                 {% endif %}" >
            <label for="id_{{field.name}}">
              {{ field.label|title }} <span class="required_or_optional">{% if field.field.required %} (<span class="required">*</span>) {% endif %}</span>
              {% if field.name == 'options' %}
                <a href="#" class="info" id="options_info" rel="popover" data-content="">
                  <i class="fa fa-info-circle" aria-hidden="true" />
                </a>
              {% elif field.name == 'display_other_option' %}
                <a href="#" class="info" id="other_info" rel="popover" data-content="">
                  <i class="fa fa-info-circle" aria-hidden="true" />
                </a>
              {% endif %}
            </label>
            <div class="question_input">
              {{field}}
              {% if field.name == 'question_text' %}
                <input type="hidden" id="question_html" name="question_html" />
              {% elif field.name == 'answer_field_type' or field.name == 'options' %}
                {% if disable_fields %}
                  {{field.as_hidden}}
                {% endif %}
              {% endif %}
              <div class="help warning">{{field.help_text|safe}}</div>
            </div>

            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
        <div id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="submit" id="saveQuestion" class="btn normal yellow">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
$(function (){
  $("#options_info").popover({
    placement: 'right',
    title: 'Options Guide',
    html: true ,
    content: function(){
      return '<ul> \
                <li><b>Dropdown, Multi-Select, Multiple Choice</b></li> \
                <div> Provide one option per line. </div> \
                <li><b>Multiple Choice w/Images</b></li> \
                <div> Provide one image url per line. </div> \
                <li><b>Multiple Choice w/Horizontal Layout</b></li> \
                <div> Provide one option per line.  Radio buttons will be displayed horizontally. </div> \
                <li><b>Sketch</b></li> \
                <div> You may optionally provide a background image for the sketch pad in the Sketch Background field. </div> \
                <li><b>Data Table</b></li> \
                <ul> \
                 <li>Data Table w/fixed columns and variable rows </li> \
                 <div>Provide one column header per line. </div> \
                 <li>Data Table w/fixed columns and rows </li>\
                 <div>Provide one column header and one row header per line separated by |.  <br> \
                 See example below. </br> \
                   Col 1 | Row 1 <br> \
                   Col 2 | Row 2 <br> \
                   Col 3 | Row 3 <br> \
                   Col 4 | \
                 </div> \
                 <div>If you need the headers to be blank, replace the header names with &amp;nbsp;  <br> \
                 See example below. </br> \
                   &amp;nbsp; | &amp;nbsp; <br> \
                   &amp;nbsp; | &amp;nbsp; <br> \
                   &amp;nbsp; | &amp;nbsp; <br> \
                   &amp;nbsp; | \
                 </div> \
                </ul>\
              </ul>';

    }
  });
  $("#other_info").popover({
    placement: 'right',
    title: 'Other option',
    html: true ,
    content: function(){
      return 'Select this checkbox if you would like to give students the option to provide their own answer other than the ones provided in the Options field';

    }
  });

  $(".info").click(function (e) {
    e.preventDefault();
    e.stopPropagation();
  });

  $(document).click(function (e) {
    if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
      $(".info").popover('hide');
    }
  });
  //hide sketch background field and other option field by default
  $('div.form-group.sketch').hide();
  $('div.form-group.other').hide();

  $('select#id_answer_field_type').on('change', function(){
    if($(this).val() == 'SK'){
      $('div.form-group.sketch').show();
      $('div.form-group.other').hide();
    }
    else {
      $('div.form-group.sketch').hide();
      if($(this).val() == 'DD' || $(this).val() == 'MC' || $(this).val() == 'MS' || $(this).val() == 'MI' || $(this).val() == 'MH' || $(this).val() == 'DT'){
         $('#id_options').closest('.form-group').find('label .required_or_optional').html('(<span class="required">*</span>)');
      }
      else {
        $('#id_options').closest('.form-group').find('label .required_or_optional').html('');
      }

      if($(this).val() == 'DD' || $(this).val() == 'MC'){
        $('div.form-group.other').show();
      }
      else {
        $('div.form-group.other').hide();
      }
    }

  });

  $('select#id_answer_field_type').trigger('change');


  $('button.close').on('click', function(){
    close = confirm('The question has not been saved. Do you want to close the window?');
    if(close) {
      $("#questionForm")[0].reset();
      $("#questionModal").modal('toggle');
    }
  });

  $("#questionForm").submit(function(e) {

    e.preventDefault();
    var question_text = CKEDITOR.instances.id_question_text.getData(); //tinymce.get('id_question_text').getContent();
    var formData = new FormData(this);
    formData.append('question_text', question_text);
    formData.append('is_public', $("#is_public").val());

    if($("#id_answer_field_type").val() != 'SK'){
      formData.append('sketch_background-clear', 'on');
    }
    var question_id = $("#id_question").val();
    var id_step = $("#id_step").val();
    var is_public = $("#is_public").val();

    /*var url = "{% url 'ctstem:newQuestion' %}";*/
    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: formData,
      context: this,
      cache:false,
      contentType: false,
      processData: false,
      beforeSend: function(){
        $('#questionForm #spinner').show();
      },
      complete: function(){
        $('#questionForm #spinner').hide();
      },
      success: function(data, status){
        if(data['success'] == true){
          if(id_step) {
            var question_table = $("table.table.question");

            if(question_id != 'None'){
              $(question_table).find("tr#question_row_"+question_id+" td.question_text div").html(data['question_text']);
              $(question_table).find("tr#question_row_"+question_id+" td.research_categories").html(data['research_categories'].join('<br>'));
            }
            else {
              question_id = data['question_id'];
              add_to_question_table($(question_table), data['question_id'], data['question_text'], data['research_categories'].join('<br>'));
            }
            rowAddorRemove($(question_table));
            highlight_div($("tr#question_row_"+question_id));
          }
          else {
            location.reload();
          }
          $("#questionForm")[0].reset();
          $("#questionModal").modal('toggle');

        }
        else{
          $('#questionModal').html(data['html']);
          $("#questionForm input[id='id_step']").val(id_step);
          $('#questionMsg .errorlist li:first-child').addClass('error').html(data['error']);
          if(is_public == 'false') {
            $("#questionModal input[id='id_is_active']").closest('.form-group').hide();
          }
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        alert(thrownError);
      },
    });
  });


  //for each error message highlight the field causing the error
  $('div.error').each(function(){
    var error_length = $.trim($(this).text()).length;
    if(error_length > 0) {
      $(this).closest('.form-group').find('label, .question_input .form-control:input, .question_input .django-ckeditor-widget').addClass('input_error');
    }
  });

});

</script>
