
<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">{{title}}</h3>
    </div>
    <div id="questionMsg">
    </div>
    <form class="form" id="questionForm" method="post" action="{% if questionForm.instance.id %} {% url 'ctstem:question' questionForm.instance.id %} {% else %} {% url 'ctstem:newQuestion' %} {% endif %}">
      {% csrf_token %}
      {{questionForm.media}}
      <input id="id_question" type="hidden" value="{{questionForm.instance.id}}"/>
      <input id="id_activity" type="hidden" value=""/>
      <input id="id_step" type="hidden" value=""/>
      <div class="modal-body">
        {% for field in questionForm %}
          <div class="form-group">
            <label for="id_{{field.name}}">{{ field.label|title }} {% if field.field.required %} (*) {% endif %}</label>
            <div>
              {{field}}
              {% if field.name == 'question_text' %}
                <input type="hidden" id="question_html" name="question_html" />
              {% endif %}
            </div>
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="submit" id="saveQuestion" class="btn btn-success">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
$(function (){

  $("#questionForm").submit(function(e) {

    e.preventDefault();
    var question_text = CKEDITOR.instances.id_question_text.getData(); //tinymce.get('id_question_text').getContent();
    data = {}
    data['question_text'] = question_text;
    data['answer_field_type'] = $("#id_answer_field_type").val();
    data['options'] = $("#id_options").val();
    data['answer'] = $("#id_answer").val();
    data['csrfmiddlewaretoken'] = $('#questionForm').find('input:hidden').eq(0).val();
    var data = $.param(data);
    var question_id = $("#id_question").val();
    var id_activity = $("#questionForm input[id='id_activity']").val();
    var id_step = $("#questionForm input[id='id_step']").val();

    /*var url = "{% url 'ctstem:newQuestion' %}";*/
    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: data,
      context: this,
      success: function(data){
        if('error' in data){
          $('#questionMsg').html(data['error']);
        }
        else {
          if(id_activity !== ""){
            var formset_div = $("input[id="+id_activity+"]").parent();
          }
          else{
            var formset_div = $("input[id="+id_step+"]").parent();
          }
          var question_table = $(formset_div).find("table.table");

          if(question_id != 'None'){
            $(question_table).find("tr#question_row_"+question_id+" td.question_text div").html(data['question_text']);
          }
          else {
            //cloneMore($(question_table).find('tr:last'), 'form');
            if(id_activity !== ""){
              cloneSomeMore($(question_table).find('tr:last'), 'form', 'lessonquestion_set');
            }
            else{
              cloneSomeMore($(question_table).find('tr:last'), 'form', 'assessmentquestion_set');
            }

            var question_order = $(question_table).find("tbody > tr").length;
            $(question_table).find("tr:nth-last-child(2)").attr('id', 'question_row_'+data['question_id']);
            $(question_table).find("tr:nth-last-child(2) td.question_text input[type=hidden]").val(data['question_id']);
            $(question_table).find("tr:nth-last-child(2) td.question_text div").html(data['question_text']);
            $(question_table).find("tr:nth-last-child(2) button.edit_question").attr("data-form", '/question/'+data['question_id']+'/');
            $(question_table).find("tr:nth-last-child(2)").show();
          }
          $("#questionForm")[0].reset();
          $("#questionModal").modal('toggle');
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        alert(thrownError);
      },
    });
  });
});

</script>
