
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close">&times;</button>
      <h3 class="modal-title">{{title}}</h3>
    </div>
    <div id="questionMsg" class="msg">
      <ul class="errorlist">
        <li></li>
      </ul>
    </div>
    <form class="form" id="questionForm" method="post" enctype="multipart/form-data" action="{% if questionForm.instance.id %} {% url 'ctstem:question' questionForm.instance.id %} {% else %} {% url 'ctstem:newQuestion' %} {% endif %}">
      {% csrf_token %}
      {{questionForm.media}}
      <input id="id_question" type="hidden" value="{{questionForm.instance.id}}"/>
      <input id="id_step" type="hidden" value=""/>
      <div class="modal-body">
        {% for field in questionForm %}
          <div class="form-group {% if field.name == 'sketch_background' %} sketch {% endif %}" style="{% if field.name == 'sketch_background' %} display: none; {% endif %}" >
            <label for="id_{{field.name}}">
              {{ field.label|title }} {% if field.field.required %} (*) {% endif %}
              {% if field.name = 'options' %}
                <a href="#" class="options_info" rel="popover" data-content="">
                  <i class="fa fa-info-circle" aria-hidden="true" />
                </a>
              {% endif %}
            </label>
            <div>
              {{field}}
              {% if field.name == 'question_text' %}
                <input type="hidden" id="question_html" name="question_html" />
              {% endif %}
              <div class="help warning">{{field.help_text|safe}}</div>
            </div>
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="submit" id="saveQuestion" class="btn normal yellow">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
$(function (){
  $(".options_info").popover({
    placement: 'right',
    title: 'Options Guide',
    html: true ,
    content: function(){
      return '<ul> \
                <li><b>Dropdown, Multi-Select, Multiple Choice</b></li> \
                <p> Provide one option per line. </p> \
                <li><b>Multiple Choice w/Images</b></li> \
                <p> Provide one image url per line. </p> \
                <li><b>Multiple Choice w/Horizontal Layout</b></li> \
                <p> Provide one option per line.  Radio buttons will be displayed horizontally. </p> \
                <li><b>Sketch</b></li> \
                <p> You may optionally provide a background image for the sketch pad in the Sketch Background field. </p> \
                <li><b>Data Table</b></li> \
                <ul> \
                 <li>Data Table w/fixed columns and variable rows </li> \
                 <p>Provide one column header per line. </p> \
                 <li>Data Table w/fixed columns and rows </li>\
                 <p>Provide one column header and one row header per line separated by |.  <br> \
                 See example below. </br> \
                   Col 1 | Row 1 <br> \
                   Col 2 | Row 2 <br> \
                   Col 3 | Row 3 <br> \
                   Col 4 | \
                 </p> \
                 <p>If you need the headers to be blank, replace the header names with &amp;nbsp;  <br> \
                 See example below. </br> \
                   &amp;nbsp; | &amp;nbsp; <br> \
                   &amp;nbsp; | &amp;nbsp; <br> \
                   &amp;nbsp; | &amp;nbsp; <br> \
                   &amp;nbsp; | \
                 </p> \
                </ul>\
              </ul>';

    }
  });

  $(".options_info").click(function (e) {
    e.stopPropagation();
  });

  $(document).click(function (e) {
    if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
      $(".options_info").popover('hide');
    }
  });

  $('select#id_answer_field_type').on('change', function(){
    if($(this).val() == 'SK'){
      $('div.form-group.sketch').show();
    }
    else{
      $('div.form-group.sketch').hide();
    }
  });

  if($('select#id_answer_field_type').val() =='SK'){
    $('div.form-group.sketch').show();
  }


  $('button.close').on('click', function(){
    close = confirm('The question has not been saved. Do you want to close the window?');
    if(close) {
      $("#questionForm")[0].reset();
      $("#questionModal").modal('toggle');
    }
  });

  $("#questionForm").submit(function(e) {

    e.preventDefault();
    var question_text = CKEDITOR.instances.id_question_text.getData(); //tinymce.get('id_question_text').getContent();
    /*data = {}
    data['question_text'] = question_text;
    data['answer_field_type'] = $("#id_answer_field_type").val();
    data['options'] = $("#id_options").val();
    data['answer'] = $("#id_answer").val();
    data['csrfmiddlewaretoken'] = $('#questionForm').find('input:hidden').eq(0).val();
    var data = $.param(data); */
    var formData = new FormData(this);
    formData.append('question_text', question_text);

    if($("#id_answer_field_type").val() != 'SK'){
      formData.append('sketch_background-clear', 'on');
    }
    var question_id = $("#id_question").val();
    var id_step = $("#questionForm input[id='id_step']").val();

    /*var url = "{% url 'ctstem:newQuestion' %}";*/
    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: formData,
      context: this,
      cache:false,
      contentType: false,
      processData: false,
      success: function(data){
        if('error' in data){
          $('#questionMsg .errorlist li').addClass('error').html(data['error']);
        }
        else {
          var formset_div = $("input[id="+id_step+"]").parent();
          var question_table = $(formset_div).find("table.table.question");

          if(question_id != 'None'){
            $(question_table).find("tr#question_row_"+question_id+" td.question_text div").html(data['question_text']);
          }
          else {
            cloneSomeMore($(question_table).find('tr:last'), 'form', 'curriculumquestion_set');
            $(question_table).find("tr:nth-last-child(2)").attr('id', 'question_row_'+data['question_id']);
            $(question_table).find("tr:nth-last-child(2) td.question_text input[type=hidden]").val(data['question_id']);
            $(question_table).find("tr:nth-last-child(2) td.question_text div").html(data['question_text']);
            $(question_table).find("tr:nth-last-child(2) button.edit_question").attr("data-form", '/question/'+data['question_id']+'/');
            $(question_table).find("tr:nth-last-child(2)").show();
            var question_order = $(question_table).find("tbody > tr:visible").length;
            $(question_table).find("tr:nth-last-child(2) td.order input[id$='ORDER']").val(question_order);
          }
          $("#questionForm")[0].reset();
          $("#questionModal").modal('toggle');
          rowAddorRemove($(question_table));
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        alert(thrownError);
      },
    });
  });
});

</script>
