<div class="switch_container assignment-setting {% if not is_class_active %} inactive {% endif %}">
  <label class="switch">
    <input class="switch-input" type="checkbox" id="id_realtime_feedback"
           {% if assignment_id %} data-assignment-id="{{assignment_id}}" {% endif %}
           {% if realtime_feedback %} checked {% endif %} {% if not is_class_active %} disabled {% endif %}/>
    <span class="switch-label" data-on="" data-off=""></span>
    <span class="switch-handle"></span>
  </label>
  <div class="info" rel="popover" data-title="Realtime Feedback" data-content="Students will be given correctness feedback for Drop down and Multiple choice questions on Save" data-trigger="hover">
    <div class="switch_label">Provide Realtime Feedback</div>
  </div>
</div>
