{% extends "ctstem_app/base.html" %}

{% block title %}Registration |{% endblock %}


{% block styles %}
  #sidebar {
    display: none;
  }
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    {% if user.is_authenticated %}
      <h2>Create User</h2>
    {% else %}
      <h2>Sign Up</h2>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="table" id="register">
        <fieldset>
          {{form.management_form}}
          {% for field in form %}
            {% if group_id and field.name == 'account_type' %}
              <input id="id_account_type" name="account_type" type="hidden" value="S">
            {% elif group_id and field.name == 'school' %}
              <input id="id_school" name="school" type="hidden" value="{{school_id}}">
            {% else %}
              <div class="form-group" id="div_{{field.name}}">
                <label for="id_{{field.name}}">{{ field.label|title }}
                  {% if field.field.required  or field.name == 'user_code' %}(<span class="required">*</span>) {% endif %}
                </label>
                {% if field.name == 'captcha' %}
                  <div>
                    {{field}}
                    <button class='js-captcha-refresh btn btn-default'><i class="fa fa-refresh" aria-hidden="true"></i></button>
                  </div>
                {% else %}
                  {{field}}
                {% endif %}
                <div class="error">{{ field.errors }}</div>
              </div>
            {% endif %}
          {% endfor %}
          {% if user.is_authenticated %}
            <div class="form-group button-group">
              <input type="submit" class="btn btn-success" id="submit" value="Add User"/>
            </div>
          {% else %}
            <div class="form-group">
              <label>
                <input type="checkbox" id="agree"/> I agree to the <a data-toggle="modal" data-target="#terms" class="terms" href="#">Terms of Use</a>
              </label>
            </div>
            <div class="form-group button-group">
              <input type="submit" class="btn btn-success" id="submit" value="Sign Up" disabled/>
            </div>
          {% endif %}
        </fieldset>
      </div>
    </form>

    <script type="text/javascript">
      $(document).ready(function(){
        set_user_fields();
      });
      $('#id_account_type').change(function() {
        set_user_fields();
      });

      function set_user_fields(){
        var account_type = $('#id_account_type').val();
        var restricted_accounts = ['A', 'R', 'C'];
        if(restricted_accounts.indexOf(account_type) !== -1){
          $('#div_school').hide();
        }
        else {
          $('#div_school').show();
        }
      }

      $("#signupTerms").popover({
          placement: 'right',
          title: 'Terms of Use',
          html: true ,
          content: ''
       });

      // popoverPropogationEvent(){
      $("#signupTerms").click(function (e) {
          e.stopPropagation();
      });
      /**************************/

      // closePopoverEvent(){
      $(document).click(function (e) {
        if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
          $("#signupTerms").popover('hide');
        }
      });

      $('#agree').change(function(){
          if( $(this).is(':checked') ){
            $('#submit').removeAttr('disabled');
          } else {
            $('#submit').attr("disabled","disabled");
          }
      });
      /**************************/

      $('.js-captcha-refresh').click(function(){
        $form = $(this).parents('form');

        var url = location.protocol + "//" + window.location.hostname + ":"
                  + location.port + "/captcha/refresh/";

        // Make the AJAX-call
        $.getJSON(url, {}, function(json) {
            $form.find('input[name="captcha_0"]').val(json.key);
            $form.find('img.captcha').attr('src', json.image_url);
        });

        return false;
      });
    </script>
  </div>
{% endblock %}
