{% extends "ctstem_app/base.html" %}


{% block title %}Registration |{% endblock %}


{% block styles %}
  #sidebar {
    display: none;
  }
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2>Sign Up</h2>
    <form method="post">
      {% csrf_token %}
      <div class="table" id="register">
        <fieldset>
          {{form.management_form}}
          {% for field in form %}
            <div class="form-group">
              <label for="id_{{field.name}}">{{ field.label|title }}</label>
              {{field}}
              <div class="error">{{ field.errors }}</div>
            </div>
          {% endfor %}
          <div class="checkbox">
            <label>
              <input type="checkbox" id="agree" /> I agree all your <a href="#" rel="popover" id="signupTerms">Terms of Use</a>
            </label>
          </div>
          <div class="form-group button-group">
            <input type="submit" class="btn btn-success" id="submit" value="Sign Up" disabled/>
          </div>
        </fieldset>
      </div>
    </form>

    <script type="text/javascript">
      $('#id_account_type').change(function() {
        if($(this).val() === 'A'){
          $('#div_school').hide();
          $('#div_permission_code').hide();
          $('#div_user_code').hide();
        }
        else if($(this).val() === 'R'){
          $('#div_permission_code').hide();
          $('#div_user_code').show();
        }
        else if($(this).val() === 'T'){
          $('#div_school').show();
          $('#div_permission_code').show();
          $('#div_user_code').show();
        }
        else {
          $('#div_permission_code').show();
          $('#div_user_code').hide();
        }
      });

      $("#signupTerms").popover({
          placement: 'right',
          title: 'Terms of Use',
          html: true ,
          content: ''
       });

      // popoverPropogationEvent(){
      $("#signupTerms").click(function (e) {
          e.stopPropagation();
      });
      /**************************/

      // closePopoverEvent(){
      $(document).click(function (e) {
        if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
          $("#signupTerms").popover('hide');
        }
      });

      $('#agree').change(function(){
          if( $(this).is(':checked') ){
            $('#submit').removeAttr('disabled');
          } else {
            $('#submit').attr("disabled","disabled");
          }
      });
      /**************************/
    </script>
  </div>
{% endblock %}
