{% extends "ctstem_app/base.html" %}

{% block title %}Registration |{% endblock %}


{% block styles %}
  #sidebar {
    display: none;
  }
{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    {% if user.is_authenticated %}
      <h2>Create User</h2>
    {% else %}
      <h2>Sign Up</h2>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="table" id="register">
        <fieldset>
          {{form.management_form}}
          {% for field in form %}
            <div class="form-group" id="div_{{field.name}}">
              <label for="id_{{field.name}}">{{ field.label|title }}
                {% if field.field.required  or field.name == 'user_code' %}(<span class="required">*</span>) {% endif %}
              </label>
              {% if field.name == 'user_code' %}
                <div class="input-group">
                  {{field}}
                  <span class="input-group-btn">
                    <input type="button" class="btn btn-primary" id="generate_code" value="Generate"/>
                  </span>
                </div>
              {% else %}
                {{field}}
              {% endif %}
              <div class="error">{{ field.errors }}</div>
            </div>
          {% endfor %}
          {% if user.is_authenticated %}
            <div class="form-group button-group">
              <input type="submit" class="btn btn-success" id="submit" value="Add"/>
            </div>
          {% else %}
            <div class="checkbox">
              <label>
                <input type="checkbox" id="agree" /> I agree all your <a href="#" rel="popover" id="signupTerms">Terms of Use</a>
              </label>
            </div>
            <div class="form-group button-group">
              <input type="submit" class="btn btn-success" id="submit" value="Sign Up" disabled/>
            </div>
          {% endif %}
        </fieldset>
      </div>
    </form>

    <script type="text/javascript">
      $(document).ready(function(){
        set_user_fields();
      });
      $('#id_account_type').change(function() {
        set_user_fields();
      });

      function set_user_fields(){
        var account_type = $('#id_account_type').val();
        if(account_type === 'A'){
          $('#div_school').hide();
          $('#div_permission_code').hide();
          $('#div_user_code').hide();
        }
        else if(account_type === 'R'){
          $('#div_school').show();
          $('#div_permission_code').hide();
          $('#div_user_code').show();
        }
        else if(account_type === 'T'){
          $('#div_school').show();
          $('#div_permission_code').show();
          $('#div_user_code').show();
        }
        else if(account_type === 'C'){
          $('#div_school').hide();
          $('#div_permission_code').hide();
          $('#div_user_code').hide();
        }
        else {
          $('#div_school').show();
          $('#div_permission_code').show();
          $('#div_user_code').hide();
        }
      }

      $("#signupTerms").popover({
          placement: 'right',
          title: 'Terms of Use',
          html: true ,
          content: ''
       });

      // popoverPropogationEvent(){
      $("#signupTerms").click(function (e) {
          e.stopPropagation();
      });
      /**************************/

      // closePopoverEvent(){
      $(document).click(function (e) {
        if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
          $("#signupTerms").popover('hide');
        }
      });

      $('#agree').change(function(){
          if( $(this).is(':checked') ){
            $('#submit').removeAttr('disabled');
          } else {
            $('#submit').attr("disabled","disabled");
          }
      });
      /**************************/
    </script>
  </div>
{% endblock %}
