{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Research Categories |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2> Research Categories </h2>
    <div class="btn-group">
      <a type="button" class="btn blue normal" href="{% url 'ctstem:newCategory' %}" title="Create new category">Create Research Category</a>
    </div>
    {% if categories %}
      <table class="table table-striped table-bordered table-condensed dt" id="categories">
        <thead>
          <tr>
            <th> Category </th>
            <th> Abbreviation </th>
            <th> Description </th>
            <th> Flag </th>
            <th> Questions </th>
          </tr>
          <tr id="filterrow">
            <th> Category </th>
            <th> Abbreviation </th>
            <th> Description </th>
            <th> Flag </th>
            <th> Questions </th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
            <tr>
              <td class="title">{{category.category}}
                <div class="controls">
                  <a type="button" class="btn blue" aria-label="Edit Category" title="Edit Category" href="{% url 'ctstem:research_category' category.id %}">
                      <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                  </a>
                  <a type="button" class="btn red delete" aria-label="Delete Category" title="Delete Category" href="{% url 'ctstem:deleteCategory' category.id %}" onclick="return confirm('Are you sure you want to delete {{category.category}}? This category is used in {{category.questions.all|length}} questions.')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </div>
              </td>
              <td>{{category.abbrevation}}</td>
              <td>
                {{ category.description}}
              </td>
              <td>{{category.get_flag_display}}</td>
              <td>
                {{category.questions.all|length}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No research categories available.</p>
    {% endif %}
  </div>

{% endblock %}


