{% extends "ctstem_app/base.html" %}

{% block title %}School |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2>School</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="table" id="publication">
        {{form.management_form}}
        {% for field in form %}
          <div class="form-group">
            <label for="id_{{field.name}}">{{ field.label|title }} {% if field.field.required %}(<span class="required">*</span>){% endif %} </label>
            {% if field.name == 'school_code' %}
              <div class="input-group">
                {{field}}
                <span class="input-group-btn">
                  <input type="button" class="btn btn-primary" id="generate_code" value="Generate"/>
                </span>
              </div>
            {% else %}
              <div>
                {{field}}
              </div>
            {% endif %}
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
        <div class="form-group button-group-fixed">
          <input type="submit" class="btn btn-success" id="submit" value="Save School"/>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
