{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Schools |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2> Schools </h2>
    {% if user.administrator or user.researcher%}
      <div class="btn-group">
        <a type="button" class="btn blue normal" href="{% url 'ctstem:newSchool' %}" title="Create new school">Create School</a>
      </div>
    {% endif %}
    {% if schools %}
      <table class="table table-striped table-bordered table-condensed dt" id="schools">
        <thead>
          <tr>
            <th> School </th>
            <th> City </th>
            <th> School Code </th>
            <th> Status </th>
          </tr>
          <tr id="filterrow">
            <th> School </th>
            <th> City </th>
            <th> School Code </th>
            <th> Status </th>
          </tr>
        </thead>
        <tbody>
          {% for school in schools %}
            <tr>
              <td class="title">{{school.name}}
                <div class="controls">
                  <a type="button" class="btn green" aria-label="Edit School" title="Edit School" href="{% url 'ctstem:school' school.id %}">
                      <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                  </a>
                  <a type="button" class="btn red delete" aria-label="Delete School" title="Delete School" href="{% url 'ctstem:deleteSchool' school.id %}" onclick="return confirm('Are you sure you want to delete {{school.name}}?')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </div>
              </td>
              <td>
                {{ school.city}}
              </td>
              <td>
                {{ school.school_code}}
              </td>
              <td> {{school.is_active|yesno:"Active,Inactive"}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No schools available.</p>
    {% endif %}
  </div>

{% endblock %}


