{% load ctstem_extras %}
<div class="form-group shared_with_table">
  <label for="id_{{form.shared_with.name}}">{{ form.shared_with.label|title }} {% if form.shared_with.field.required %}(<span class="required">*</span>) {% endif %}</label>
  <button class="btn btn-info search_users" data-target="#userSearch" data-form="{% url 'ctstem:searchTeachers' %}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
  <div class="controls table_container">
    <div style="display:none;">
      {{form.shared_with}}
    </div>
    <table class="table table-striped table-bordered table-condensed inner_table" id="teachers">
      <thead>
        <tr>
          <th> Username </th>
          <th> Name </th>
          <th> Email </th>
          <th> Unshare </th>
        </tr>
      </thead>
      <tbody>
        {% for x in form.shared_with.value %}
          {% with teacher=x|getTeacherInfo %}
          <tr id="{{teacher.id}}">
            <td>{{teacher.user.username}}</td>
            <td>{{teacher.user.get_full_name}}</td>
            <td>{{teacher.user.email}}</td>
            <td>
              <button type="button" class="btn btn-warning remove" aria-label="Unshare resource with this teacher" title="Unshare resource with this teacher" href="#">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
