{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% block title %}Standard |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="standard_container">
        <div class="left-navigation">
          <div class="form-group group-navigation">
            <ul>
              <li>
                <h5 class="left">
                  <a href="#standard_overview" class="page-scroll">
                    Standard Overview
                  </a>
                </h5>
              </li>
              {% for category in formset %}
                {% if forloop.last == False %}
                  <li>
                    <h5 class="left">
                      <a href="#category_{{forloop.counter}}" class="page-scroll">
                        Category {{forloop.counter}}
                      </a>
                    </h5>
                  </li>
                {% endif%}
              {% endfor %}
              <li>
                <h5 class="left">
                  <a href="#" class="page-scroll addCategory">
                    Add New Category
                  </a>
                </h5>
              </li>
            </ul>
          </div>
        </div>
        <div class="standard_components">
          <div class="table" id="standard">
            {{form.management_form}}
            <div class="section_header" id="standard_overview">
              <div class="button-container"></div>
              <h4 class="standard_name" style="font-weight: bold; text-decoration: underline;">{{form.name.value|default_if_none:"  "}}</h4>
              <div class="button-container">
                <input type="submit" class="btn yellow inbetween" id="submit" value="Save"/>
                <input type="button" class="btn yellow inbetween addCategory" id="addCategory" value="Add New Category"/>
              </div>
            </div>
            <div class="form-group">
              <label for="id_standard_name">Standard/Practice Name {% if form.name.field.required %} (<span class="required">*</span>) {% endif %}</label>
              <div id="id_standard_name">{{form.name}}</div>
              <div class="error">{{ form.name.errors }}</div>
            </div>
            <div class="form-group">
              <label for="id_short_name">{{ form.short_name.label }} {% if form.short_name.field.required %} (<span class="required">*</span>) {% endif %}</label>
              <div>{{form.short_name}}</div>
              <div class="error">{{ form.short_name.errors }}</div>
            </div>
            <div class="form-group">
              <label for="id_primary">{{ form.primary.label }} {% if form.primary.field.required %} (<span class="required">*</span>) {% endif %}</label>
              <div>{{form.primary}}</div>
              <div class="error">{{ form.primary.errors }}</div>
            </div>
          </div>
          <div id="categories">
            {{formset.management_form}}
            {% for category in formset %}
              <div class="table step" style="{% if forloop.last %} display:none; {% endif %}">
                <div class="section_header" id="category_{{forloop.counter}}">
                  <div class="button-container"></div>
                  <h4 class="subcategory_title" style="font-weight: bold; text-decoration: underline;">{{category.name.value|default_if_none:"  "}}</h4>
                  <div class="button-container">
                    <button type="button" class="btn red delete_category" name="delete_category" aria-label="Delete Category" title="Delete Category">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    {{category.DELETE.as_hidden}}
                  </div>
                </div>
                <div>
                  {{category.management_form}}
                  {{category.id}}
                  <div class="form-group">
                    <label for="id_{{category.ORDER.name}}">Order {% if category.ORDER.field.required %}(<span class="required">*</span>) {% endif %}</label>
                    <div id="id_{{category.ORDER.name}}">{{category.ORDER}}</div>
                    <div class="error">{{ category.ORDER.errors }}</div>
                  </div>
                  <div class="form-group">
                    <label for="id_{{category.name.name}}">Category Name {% if category.name.field.required %}(<span class="required">*</span>) {% endif %}</label>
                    <div id="id_{{category.name.name}}">{{category.name}}</div>
                    <div class="error">{{ category.name.errors }}</div>
                  </div>
                  <div class="form-group">
                    <label for="id_{{category.description.name}}">Category Description {% if category.description.field.required %}(<span class="required">*</span>) {% endif %}</label>
                    <div id="id_{{category.description.name}}">{{category.description}}</div>
                    <div class="error">{{ category.description.errors }}</div>
                  </div>
                  <div class="form-group">
                    <label for="id_{{category.icon.name}}">Icon {% if category.icon.field.required %}(<span class="required">*</span>) {% endif %}</label>
                    <div id="id_{{category.icon.name}}">{{category.icon}}</div>
                    <div class="help warning">{{category.icon.help_text|safe}}</div>
                    <div class="error">{{ category.icon.errors }}</div>
                  </div>
                  <div class="form-group">
                    {{category.nested.management_form}}
                    {{category.nested.id}}
                    <label for="id_question_table">Subcategories</label>
                    <button class="btn blue add_subcategory" name="add_subcategory" aria-label="Add Subcategory" title="Add Subcategory">
                      <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>

                    <table class="table table-striped table-condensed table-bordered subcategories inner_table">
                      <thead>
                        <tr>
                          <th width="30%">Title</th>
                          <th width="30%">Description</th>
                          <th width="10%">Code</th>
                          <th width="20%">Link</th>
                          <th width="10%">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for subcategoryForm in category.nested %}

                          <tr style="{% if forloop.last %} display:none; {% endif %}">
                            {{subcategoryForm.id}}
                            <td class="subcategory_title">
                              {% if subcategoryForm.title.value and subcategoryForm.title.value != 'None' %}
                                <div class="title_text">{{subcategoryForm.title.value}}</div>
                                {{subcategoryForm.title.as_hidden}}
                              {% else %}
                                <div class="title_text"></div>
                                {{subcategoryForm.title.as_hidden}}
                              {% endif %}
                            </td>
                            <td class="subcategory_description">
                              {% if subcategoryForm.description.value and subcategoryForm.description.value != 'None' %}
                                <div class="description_text">{{subcategoryForm.description.value}}</div>
                                {{subcategoryForm.description.as_hidden}}
                              {% else %}
                                <div class="description_text"></div>
                                {{subcategoryForm.description.as_hidden}}
                              {% endif %}
                            </td>
                            <td class="subcategory_code">
                              {% if subcategoryForm.code.value and subcategoryForm.code.value != 'None' %}
                                <div class="code_text"> {{subcategoryForm.code.value}} </div>
                                {{subcategoryForm.code.as_hidden}}
                              {% else %}
                                <div class="code_text"> </div>
                                {{subcategoryForm.code.as_hidden}}
                              {% endif %}
                            </td>

                            <td class="subcategory_link">
                              {% if subcategoryForm.link.value and subcategoryForm.link.value != 'None' %}
                                <div class="link_text">{{subcategoryForm.link.value}}</div>
                                {{subcategoryForm.link.as_hidden}}
                              {% else %}
                                <div class="link_text"></div>
                                {{subcategoryForm.link.as_hidden}}
                              {% endif %}

                            </td>
                            <td class="subcategory_edit">
                              <div class="controls">
                                <button type="button" class="btn blue edit_subcategory" name="edit_subcategory" aria-label="Edit Subcategory" title="Edit Subcategory">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn red delete_subcategory" name="delete_subcategory" aria-label="Delete Subcategory" title="Delete Subcategory">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                {{subcategoryForm.DELETE.as_hidden}}
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </form>
    <div class="modal fade" id="subcategoryModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title"></h3>
          </div>
          <div id="subcategoryMsg">
          </div>
          <form class="form" id="subcategoryForm" method="post">
            <input id="id_row" type="hidden" value=""/>
            <div class="modal-body">
              <div class="form-group">
                <label for="id_title">Title (*)</label>
                <input type="text" id="id_title" class="form-control" required/>
              </div>
              <div class="form-group">
                <label for="id_description">Description</label>
                <textarea id="id_description" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="id_code">Code</label>
                <input type="text" id="id_code" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="id_link">Link</label>
                <input type="url" id="id_link" class="form-control"  pattern="https?://.+"/>
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-group button-row">
                <button type="submit" id="saveSubcategory" class="btn yellow normal">
                  Save Subcategory
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function (){
      $("button.edit_subcategory").click(function(e){
        e.preventDefault();
        //load subcategory content onto the modal
        $("#subcategoryModal form")[0].reset();
        var row = $(this).closest('tr');
        var title = $(row).find('td.subcategory_title input').val();
        var description = $(row).find('td.subcategory_description input').val();
        var code = $(row).find('td.subcategory_code input').val();
        var link = $(row).find('td.subcategory_link input').val();
        var row_id = $(row).children('input:first').attr('id');

        $('#subcategoryModal input#id_title').val(title);
        $('#subcategoryModal textarea#id_description').html(description);
        $('#subcategoryModal input#id_code').val(code);
        $('#subcategoryModal input#id_link').val(link);
        $('#subcategoryModal h3.modal-title').html('Edit Subcategory');
        $('#subcategoryModal input#id_row').val(row_id);
        $('#subcategoryModal').modal('show');
        //var subcategories_table = $(this).parent().find('table.subcategories');
        //cloneSomeMore($(subcategories_table).find('tr:last'), 'form', 'subcategory');

      });

      $("button.add_subcategory").click(function(e){
        e.preventDefault();
        $("#subcategoryModal form")[0].reset();
        var subcategories_table = $(this).parent().find('table.subcategories');
        cloneSomeMore($(subcategories_table).find('tr:last'), 'form', 'subcategory');
        var row = $(subcategories_table).find('tr:last').prev();
        var row_id = $(row).children('input:first').attr('id');
        $("#subcategoryModal form")[0].reset();
        $('#subcategoryModal input#id_row').val(row_id);
        $('#subcategoryModal h3.modal-title').html('Add Subcategory');
        $('#subcategoryModal').modal('show');


      });
      $("button#saveSubcategory").click(function(e){
        e.preventDefault();
        var title = $('#subcategoryModal input#id_title').val();
        var link = $('#subcategoryModal input#id_link').val();
        var regex = new RegExp(/https?:\/\/(?:www\.|(?!www))[^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,}/);
        if(title == ''){
          $("#subcategoryModal #subcategoryMsg").html("Title is required");
        }
        else if(link != '' && !link.match(regex)){
          $("#subcategoryModal #subcategoryMsg").html("The url format is not valid");
        }
        else{
          var row_id = $('#subcategoryModal input#id_row').val();
          var row = $('#'+row_id).parent();

          var description = $('#subcategoryModal textarea#id_description').val();
          var code = $('#subcategoryModal input#id_code').val();
          var link = $('#subcategoryModal input#id_link').val();
          $(row).find('td.subcategory_title input').val(title);
          $(row).find('td.subcategory_description input').val(description);
          $(row).find('td.subcategory_code input').val(code);
          $(row).find('td.subcategory_link input').val(link);

          $(row).find('td.subcategory_title div.title_text').html(title);
          $(row).find('td.subcategory_description div.description_text').html(description);
          $(row).find('td.subcategory_code div.code_text').html(code);
          $(row).find('td.subcategory_link div.link_text').html(link);
          $("#subcategoryModal").modal('toggle');
          $(row).show();
          rowAddorRemove($(row).closest('table'));
        }

      });

      $('.addCategory').click(function() {
        cloneMore('div.table:last', 'form');
        var new_category_div = $('div.table:last').prev();
        $(new_category_div).toggle();
        $('html, body').animate({
          scrollTop: $(new_category_div).offset().top - 110,
        }, 1000,'swing');

      });

      $('div#id_name input').on('input', function(){
        $(this).closest('div.table.step').find('h4 span.subcategory_title').html($(this).val());
      });

      $('div#id_standard_name input').on('input', function(){
        $(this).closest('div.table').find('h4.standard_name').html($(this).val());
      });

      $('button.delete_subcategory').click(function(){
        var r = confirm("Are you sure you want to delete this subcategory?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('tr').hide();
          rowAddorRemove($(this).closest('table'));
        }
      });
      $('button.delete_category').click(function(){
        var r = confirm("Are you sure you want to delete this category?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('div.table.step').hide();
        }
      });
      $('.page-scroll').click(function(){
        $('html, body').animate({
          scrollTop: $($(this).attr('href')).offset().top - 110,
        }, 1000,'swing');
      });

    });
  </script>

{% endblock %}
