{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Standards |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    {% if user.administrator or user.researcher or user.author %}
      <h2> Standards </h2>
      <div class="btn-group">
        <a type="button" class="btn blue normal" href="{% url 'ctstem:newStandard' %}" title="Create new Standard">Create Standard</a>
      </div>

      {% if standards %}
        <table class="table table-striped table-bordered table-condensed dt" id="standards">
          <thead>
            <tr>
              <th width="30%"> Standard Name </th>
              <th> Categories/Subcategories </th>
            </tr>
            <tr id="filterrow">
              <th> Standard Name </th>
              <th> Categories/Subcategories </th>
            </tr>
          </thead>
          <tbody>
            {% for standard in standards %}
              <tr>
                <td class="title">{{standard.name}}
                  <div class="controls">
                    {% if user.administrator or user.researcher or user.author %}
                      <a type="button" class="btn green" aria-label="Edit Standard" title="Edit Standard" href="{% url 'ctstem:standard' standard.id %}">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                      </a>
                      <a type="button" class="btn red delete" aria-label="Delete Standard" title="Delete Standard" href="{% url 'ctstem:deleteStandard' standard.id %}" onclick="return confirm('Are you sure you want to delete {{standard.name}}?')">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    {% endif %}
                  </div>
                </td>
                <td>
                  <ul class="standard">
                    {% for category in standard.category.all %}
                      <li>
                        {{category.name}}
                        <span class="ec">
                          <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-collapse-up" aria-hidden="true" style="display:none;"></span>
                        </span>
                      </li>
                      <ul class="category" style="display:none;">
                        {% for subcategory in category.subcategory.all %}
                          <li>
                            {{subcategory.title}}
                            <span class="ec">
                              <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                              <span class="glyphicon glyphicon-collapse-up" aria-hidden="true" style="display:none;"></span>
                            </span>
                          </li>
                          {% if subcategory.description %}
                            <ul class="taxonomy" style="display:none;">
                              <li>{{subcategory.description}} </li>
                            </ul>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No Standards available</p>
      {% endif %}
    {% else %}
      {% if standard %}
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{standard.name}} Practices</h2>
          </div>
        </div>
        <div id="standard_tile">
          <section id="standard" class="portfolio">
            <div class="container">
              <div class="row">
                {% for practice in standard.category.all %}
                <div class="col-md-3 col-sm-6 portfolio-item">
                  <a data-form="{% url 'ctstem:subcategories' practice.id %}" class="portfolio-link preview" data-toggle="modal">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                      </div>
                    </div>
                    {% if practice.icon %}
                      <img src="{{practice.icon.url}}" class="img-responsive" alt="">
                    {% endif %}
                  </a>
                  <div class="portfolio-caption bg-light-gray">
                    <h5>{{practice.name}}</h5>
                    <!--p class="text-muted">{{assessment.overview|truncatechars:50 }}</p-->
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </section>
        </div>
      {% endif %}
    {% endif %}

  </div>

  <script type="text/javascript">
  $(function(){
    $("section.practice").hide();
    $("a.portfolio-link").click(function(){
      $("section.practice").hide();
      var id = $(this).attr('id');
      $("section.practice#"+id).show();
    });
  });
  </script>

{% endblock %}


