<div class="modal fade" id="studentSearch" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="left">Search Students</h3>
      </div>
      <div id="studentMsg" class="msg">
        <ul class="errorlist">
          <li></li>
        </ul>
      </div>
      <form class="form" id="studentForm" method="post" action="{% url 'ctstem:searchStudents' %}">
        {% csrf_token %}
        <input type="hidden" name="group_id" value="{{form.instance.id}}"/>
        <div class="modal-body">
          <div class="form-inline">
            <div class="form-group">
              <label for="id_username">Username</label>
              <div>{{studentSearchForm.username}}</div>
            </div>
            <div class="form-group">
              <label for="id_first_name">First Name</label>
              <div>{{studentSearchForm.first_name}}</div>
            </div>
            <div class="form-group">
              <label for="id_last_name">Last Name</label>
              <div>{{studentSearchForm.last_name}}</div>
            </div>
            <div class="form-group">
              <label for="id_email">Email</label>
              <div>{{studentSearchForm.email}}</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <a type="button" class="btn normal red" data-dismiss="modal">Close</a>
            <button type="submit" id="search" class="btn normal yellow">
              Search
            </button>
          </div>
        </div>
      </form>
      <div id="studentResults" style="display:none;" class="results">
        <table class="table table-bordered table-striped table-condensed inner_table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>Email</th>
              <th>Status</th>
              <th>Last Login </th>
              <th>Select?</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function (){
  $('#studentSearch').on('hidden.bs.modal', function () {
   location.reload();
  })

  $("#studentForm").submit(function(e) {
    e.preventDefault();
    $("#studentResults table tbody").empty();
    /*var url = "{% url 'ctstem:newQuestion' %}";*/
    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: $(this).serialize(),
      context: this,
      success: function(data){
        if('error' in data){
          $('#studentMsg .errorlist li').removeClass('success').addClass('error').html(data['error']);
        }
        else {
          var student_row = "";
          $.each(data, function(key, value){
            //if the student isn't already added

            if($('tr#'+value['student_id']).length == 0){
              student_row = "<tr><td>"+value['username']+"</td><td>"+value['name']+"</td><<td>"+value['email']+"</td><td>"+value['status']+"</td><td>"+value['last_login']+"</td><td><button type='button' class='btn small blue select_student' id='"+value['student_id']+"''>Add to Class</a></td></tr>";

              $("#studentResults table tbody").append(student_row);
              $("#studentResults button.select_student#"+value["student_id"]).click(function(){
                // ajax add student to group
                var data = {};
                data['csrfmiddlewaretoken'] = $('#studentForm').find('input:hidden').eq(0).val();
                //add_student_to_data_table(value, data['csrfmiddlewaretoken']);
                $.ajax({
                  type: 'POST',
                  url: '/student/add/'+value['group']+'/'+value['student_id'],
                  data: data,
                  context: this,
                  success: function(data){
                    if('error' in data){
                      $('#studentMsg .errorlist li').removeClass('success').addClass('error').html(data['error']);
                    }
                    else {
                      bind_user_removal();
                      $('#studentMsg .errorlist li').removeClass('error').addClass('success').html(value['username']+" added to class");
                    }
                    return false;
                  },
                });
                $(this).attr('disabled', 'disabled');
              });
            }
          });
          if(student_row.length == 0){
            $('#studentMsg .errorlist li').removeClass('success').addClass('error').html('No matching students found');
            $("#studentResults").hide();
          }
          else{
            $('#studentMsg .errorlist li').html('');
            $("#studentResults").show();


          }
          //$("#studentForm")[0].reset();
          //$("#studentModal").modal('toggle');
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        alert(thrownError);
      },
    });
  });

});

</script>
