{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Subjects |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2> Subjects </h2>
    {% if user.administrator or user.researcher%}
      <div class="btn-group">
        <a type="button" class="btn blue normal" href="{% url 'ctstem:newSubject' %}" title="Create new subject">Create Subject</a>
      </div>
    {% endif %}
    {% if subjects %}
      <table class="table table-striped table-bordered table-condensed dt" id="subjects">
        <thead>
          <tr>
            <th> Subject </th>
            <th> Abbreviation </th>
            <th> Icon </th>
          </tr>
          <tr id="filterrow">
            <th> Subject </th>
            <th> Abbreviation </th>
            <th> Icon </th>
          </tr>
        </thead>
        <tbody>
          {% for subject in subjects %}
            <tr>
              <td class="title">{{subject.name}}
                <div class="controls">
                  <a type="button" class="btn green" aria-label="Edit Subject" title="Edit Subject" href="{% url 'ctstem:subject' subject.id %}">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                  </a>
                  <a type="button" class="btn red delete" aria-label="Delete Subject" title="Delete Subject" href="{% url 'ctstem:deleteSubject' subject.id %}" onclick="return confirm('Are you sure you want to delete {{subject.name}}?')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </div>
              </td>
              <td>
                {{ subject.abbrevation}}
              </td>
              <td>
                {% if subject.icon %}
                  <a target="_blanl" href="{{subject.icon.url}}"><img class="icon" src="{{subject.icon.url}}"/></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No subjects available.</p>
    {% endif %}

  </div>

{% endblock %}


