<ul class="nav nav-tabs top">
  {% if tab == 'user' or tab == 'group' or tab == 'assignment' %}
    {% if user.administrator %}
      <li {% if role == 'admins' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'admins' %}">Admins</a></li>
      <li {% if role == 'researchers' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'researchers' %}">Researchers</a></li>
      <li {% if role == 'authors' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'authors' %}">Content Authors</a></li>
    {% endif %}
    {% if user.administrator or user.researcher %}
      <li {% if role == 'school_administrators' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'school_administrators' %}">School Administrators</a></li>
    {% endif %}
    {% if user.administrator or user.researcher or user.school_administrator %}
      <li {% if role == 'teachers' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'teachers' %}">Teachers</a></li>
      <li {% if role == 'students' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'students' %}" class="students">Students</a></li>
    {% endif %}
    {% if user.administrator or user.researcher or user.school_administrator or user.teacher %}
      {% if role != 'groups' %}
        <li><a href="{% url 'ctstem:groups' 'active' %}">{% if user.teacher %} My {% endif %} Classes</a>
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if tab == 'group' or tab == 'assignment' %}
    {% if user.administrator or user.researcher or user.school_administrator or user.teacher %}
      {% if group.id %}
        {% if not user.researcher %}
          <li {% if role == 'group' %} class="active"{% endif %}><a href="{% url 'ctstem:group' group.id %}">Class Details</a></li>
        {% endif %}
        <li {% if role == 'group_dashboard' %} class="active"{% endif %}><a href="{% url 'ctstem:groupDashboard' group.id 'active' %}">Class Dashboard</a></li>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if tab == 'assignment' %}
    {% if user.administrator or user.researcher or user.school_administrator or user.teacher %}
      <li {% if role == 'assignment_dashboard' %} class="active"{% endif %}><a href="{% url 'ctstem:assignmentDashboard' assignment.id %}">Assignment Dashboard</a></li>
    {% endif %}
  {% endif %}
  {% if tab == 'user' or tab == 'group' %}
    {% if searchForm %}
      <div class="search">
        {{searchForm.search_criteria}}
        <input type="submit" class="btn small blue" id="submit" value="Search"/>
        <input type="submit" class="btn small gray" id="clear" value="Clear"/>
      </div>
    {% endif %}
  {% endif %}
</ul>
{% if tab == 'group' %}
  {% if user.administrator or user.researcher or user.school_administrator or user.teacher %}
    {% if role == 'groups' %}
      <ul class="nav nav-tabs bottom">
        <li {% if group_status == 'active' %} class="active"{% endif %}><a href="{% url 'ctstem:groups' 'active' %}">Active Classes</a></li>
        <li {% if group_status == 'inactive' %} class="active"{% endif %}><a href="{% url 'ctstem:groups' 'inactive' %}">Inactive Classes</a></li>
      </ul>
    {% endif %}
  {% endif %}
{% endif %}

{% if tab == 'group' or tab == 'assignment' %}
  {% if user.administrator or user.researcher or user.school_administrator or user.teacher %}
    {% if group.id %}
      <ul class="nav nav-tabs bottom">
        <li {% if curriculum_status == 'active' %} class="active"{% endif %}><a href="{% url 'ctstem:groupDashboard' group.id 'active' %}">Active Assignments</a></li>
        <li {% if curriculum_status == 'archived' %} class="active"{% endif %}><a href="{% url 'ctstem:groupDashboard' group.id 'archived' %}">Archived Assignments</a></li>
        {% if curriculum_status %}
          {% if curriculum.curriculum_type == 'U' %}
            <div class="filter dropdown">
               <div class="dropdown-toggle form-control"
                      id="filter_assigned_lesson_columns" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                  Select Lessons To Display
                  <span class="caret"></span>
                </div>
                <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="filter_assigned_lesson_columns" id="lessons_in_unit">
                  <li>
                    <label><a href="#" id="select_all_lessons"> Select All</a> </label>
                  </li>
                {% for curr in assignment_header %}
                  <li class="active">
                    <label ><input type="checkbox" name="lesson_in_unit" class="lesson_in_unit" value="lesson_{{curr.id}}" checked/> {{curr.title|title|truncatechars:60}} </label>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="search">
            <select class="form-control" id="group_assignment_select">
              <option {% if not curriculum %} selected {% endif %} value="{% url 'ctstem:groupDashboard' group.id curriculum_status %}">All {{curriculum_status|title}} Assignments</option>
              {% for assignment in assignments_by_unit %}
                <option {% if curriculum and assignment.id == curriculum.id %} selected {%endif%} value="{% url 'ctstem:groupCurriculumDashboard' group.id assignment.id curriculum_status %}">{{assignment.title|title|truncatechars:60}}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
      </ul>
    {% endif %}
  {% endif %}
{% endif %}
