<ul class="nav nav-tabs top">
  {% if tab == 'user' or tab == 'group' or tab == 'assignment' %}
    {% if user.administrator %}
      <li {% if role == 'admins' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'admins' %}">Admins</a></li>
      <li {% if role == 'researchers' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'researchers' %}">Researchers</a></li>
      <li {% if role == 'authors' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'authors' %}">Content Authors</a></li>
    {% endif %}
    {% if user.administrator or user.researcher %}
      <li {% if role == 'school_administrators' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'school_administrators' %}">School Administrators</a></li>
    {% endif %}
    {% if user.administrator or user.researcher or user.school_administrator %}
      <li {% if role == 'teachers' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'teachers' %}">Teachers</a></li>
      <li {% if role == 'students' %} class="active"{% endif %}><a href="{% url 'ctstem:users' 'students' %}" class="students">Students</a></li>
    {% endif %}
    {% if user.administrator or user.researcher or user.school_administrator or user.teacher %}
      {% if role != 'groups' %}
        <li><a href="{% url 'ctstem:groups' 'active' %}">{% if user.teacher %} My {% endif %} Classes</a>
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if tab == 'group' or tab == 'assignment' %}
    {% if user.administrator or user.researcher or user.school_administrator or user.teacher %}
      {% if group.id %}
        {% if not user.researcher %}
          <li {% if role == 'group' %} class="active"{% endif %}><a href="{% url 'ctstem:group' group.id %}">Class Details</a></li>
        {% endif %}
        <li {% if role == 'group_dashboard' %} class="active"{% endif %}><a href="{% url 'ctstem:groupDashboard' group.id %}">Class Dashboard</a></li>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if tab == 'assignment' %}
    {% if user.administrator or user.researcher or user.school_administrator or user.teacher %}
      <li {% if role == 'assignment_dashboard' %} class="active"{% endif %}><a href="{% url 'ctstem:assignmentDashboard' assignment.id %}">Assignment Dashboard</a></li>
    {% endif %}
  {% endif %}
</ul>
{% if tab == 'group' %}
  {% if user.administrator or user.researcher or user.school_administrator or user.teacher %}
    {% if role == 'groups' %}
      <ul class="nav nav-tabs bottom">
        <li {% if group_status == 'active' %} class="active"{% endif %}><a href="{% url 'ctstem:groups' 'active' %}">Active Classes</a></li>
        <li {% if group_status == 'inactive' %} class="active"{% endif %}><a href="{% url 'ctstem:groups' 'inactive' %}">Inactive Classes</a></li>
      </ul>
    {% endif %}
  {% endif %}
{% endif %}
