{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Taxonomy |{% endblock %}
{% block content %}
  {{block.super}}
  <div class="content">
    <h2> Taxonomy </h2>
    <div class="table taxonomy">
      <h3>CT-STEM Practices</h3>
      <ul>
      {% for key, value in ctstem_practices.items|sort %}
        <li><a href="#">{{key}}</a></li>
        <ul style="display: none;">
          {% for v in value %}
            <li><a href="#">{{v.title}}</a></li>
            <div style="display: none;">{{v.overview}}</div>
          {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    </div>
    <div class="table taxonomy">
      <h3>Next Generation Science Standards (NGSS) Practices</h3>
      <ul>
        {% for np in ngss_standards %}
          <li><a href="#">{{np.title}}</a></li>
          <div style="display: none;">{{np.description}}</div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <script type="text/javascript">
    $('.taxonomy li a').click(function(){
      $(this).parent().next().toggle();
      return false;
    });
  </script>

{% endblock %}


