{% block media %}
  {{ form.media }}
{% endblock %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">{{title}}</h3>
    </div>
    <div id="taxonomyMsg">
    </div>
    <form class="form" id="taxonomyForm" method="post" action="{% url 'ctstem:searchTaxonomy' %}">
      {% csrf_token %}

      <div class="modal-body">
        <div class="form-group">
          <label for="id_standard">Standard</label>
          <div>{{form.standard}}</div>
        </div>
        <div class="form-group">
          <label for="id_category">Category</label>
          <div>{{form.category}}</div>
        </div>

        <div class="form-inline">
          <div class="form-group">
            <label for="id_title">Title</label>
            <div>{{form.title}}</div>
          </div>
          <div class="form-group">
            <label for="id_code">Code</label>
            <div>{{form.code}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="submit" id="search" class="btn btn-success">
            Search
          </button>
        </div>
      </div>
    </form>
    <div id="taxonomyResults" style="display:none;">
      <table class="table table-bordered table-striped table-condensed inner_table">
        <thead>
          <tr>
            <th>Standard</th>
            <th>Category</th>
            <th>Title</th>
            <th>Code</th>
            <th>Select?</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function (){

  $("#id_standard").change(function(){
    var html = "<option value 'selected'>----------</option>";
    if($(this).val() != ''){
      var url = "{% url 'ctstem:categories' 0 %}".replace('0', $(this).val());
      $.ajax({
        type: 'GET',
        url: url,
        context: this,
        success: function(data){
          data['category_list'].forEach(function(element, index, array){
            html += "<option value='"+element['id']+"'>"+element['category']+"</option>";
          });
          $('select#id_category').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError){
          alert(thrownError);
        },
      });
    }
    else{
      $('select#id_category').html(html);
    }
  });

  $("#taxonomyForm").submit(function(e) {

    e.preventDefault();
    $("#taxonomyResults table tbody").empty();
    data = {}
    data['standard'] = $("#id_standard").val();
    data['category'] = $("#id_category").val();
    data['title'] = $("#id_title").val();
    data['code'] = $("#id_code").val();
    data['csrfmiddlewaretoken'] = $('#taxonomyForm').find('input:hidden').eq(0).val();
    var data = $.param(data);
    /*var url = "{% url 'ctstem:newQuestion' %}";*/
    $.ajax({
      type: $(this).attr('method'),
      url: this.action,
      data: data,
      context: this,
      success: function(data){
        if('error' in data){
          $('#taxonomyMsg').html(data['error']);
        }
        else {
          var taxonomy = "";
          $.each(data, function(key, value){
            taxonomy += "<tr><td>"+value['standard']+"</td><<td>"+value['category']+"</td><<td>"+value['title']+"</td><td>"+value['code']+"</td><td><button type='button' class='btn btn-primary select_taxonomy' id='"+value['id']+"''>Select</a></td></tr>";
          });
          $("#taxonomyResults table tbody").html(taxonomy);
          $("#taxonomyResults").show();
          $("#taxonomyResults button.select_taxonomy").click(function(){
            //if the taxonomy isn't already selected
            if($('select[id^="id"][id$="taxonomy"] option[value="'+$(this).attr('id')+'"]').prop('selected') == false){
              //select the taxonomy in the lesson plan taxonomy dropdown with is hidden
              $('select[id^="id"][id$="taxonomy"] option[value="'+$(this).attr('id')+'"]').prop('selected', true);
              //add the selected taxonomy to the lesson plan taxonomy table
              var taxonomy_row = $(this).closest('tr');
              taxonomy = "<tr id='"+$(this).attr('id')+"'>";
              $(taxonomy_row).find('td:not(:last)').each(function(){
                taxonomy += "<td>"+$(this).html()+"</td>";
              });
              taxonomy += "<td> <button type='button' class='btn btn-danger remove_taxonomy' title='Remove Taxonomy'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></td>";
              $('div.curriculum_content div#taxonomy_div table#taxonomy tbody').append(taxonomy);

              //bind remove function
              $("button.remove_taxonomy").click(function(e){
                var taxonomy_id = $(this).closest('tr').attr('id');
                $('select[id^="id"][id$="taxonomy"] option[value="'+taxonomy_id+'"]').prop('selected', false);
                $('div.curriculum_content div#taxonomy_div table#taxonomy tbody tr#'+taxonomy_id).remove();
              });
            }
          });
          //$("#taxonomyForm")[0].reset();
          //$("#taxonomyModal").modal('toggle');
        }
        return false;
      },
      error: function(xhr, ajaxOptions, thrownError){
        alert(thrownError);
      },
    });
  });

});

</script>
