<div class="consent body">
  <div class="header">STUDY TITLE:</div>
  <div>CT-STEM: Classroom Observations and Assessment</div>

  <div class="header">PRINCIPAL INVESTIGATOR:</div>
  <div>Michael Horn, PhD, Northwestern University, School of Education and Social Policy</div>

  <div class="header">STUDY FUNDED BY:</div>
  <div>National Science Foundation and the Spencer Foundation </div>
  <div>&nbsp;</div>
  <div>
  We are working to improve computational thinking lessons for high school science and math classrooms. Computational thinking (CT) is the thinking process a person would use when they are solving math or science problems with computational tools. We have developed CT lessons for high school biology, chemistry, physics, and math classes. The goal of our lessons is to help teachers prepare students for careers in science and math.
  </div>
  <div>&nbsp;</div>
  <div>
  The title of our study is “CT-STEM: Classroom Observations and Assessment.” Dr. Michael Horn is the lead researcher. When your student creates an account to access our online curriculum and assessments they will be invited to participate in our research study. All students in your class will be invited to participate because we would like to gather as much information as possible. We hope this information will help us determine whether our CT lessons help students develop CT skills plus a positive attitude towards pursuing careers in science and/or math.
  </div>
  <div>&nbsp;</div>
  <div>
  Participation in this study will involve no cost to you or your students. Neither you nor your students will be paid for participating in this study. Your students are free to stop being in the study at any time and they may skip any questions that they prefer to not answer.
  </div>
  <div>&nbsp;</div>
  <div>
  If you or you or your students have any questions about this research, please call Michael Horn at (617) 803-5501 on Monday through Friday, from 9am – 5pm.
  </div>
</div>
