{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
  <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block title %}Dashboard |{% endblock %}

{% block content %}
{{block.super}}
<div class="content" id="teacher_dashboard">
  <div id="dashboard_header">
    <h3 class="left welcome">Howdy, {{teacher.user.get_full_name}}</h3>
    <div class="quick_links">
        <h5><a href="{% url 'ctstem:help' %}"><i class="far fa-question-circle"></i> Help </a></h5>
        <h5><a href="{% url 'ctstem:curriculatiles' %}?bucket=my_curricula">My Curricula</a></h5>
        <h5><a href="{% url 'ctstem:curriculatiles' %}?bucket=favorite_curricula"><i class="far fa-star"></i> Favorites</a></h5>
    </div>
  </div>

  <div id="dashboard_classes">
    <div class="title">
      <h3 class="left">{{status|title}} Classes (<span class="class_count">{% if groups|length > 6 %}6{% else %}{{groups|length}} {% endif %}</span> of {{groups|length}})</h3>
      <div class="controls">
        {% if status == 'active' %}
          <a type="button" class="btn inbetween blue" href="{% url 'ctstem:teacherDashboard' teacher.id 'inactive' %}" title="View inactive classes"> View Inactive Classes</a>
        {% else %}
          <a type="button" class="btn inbetween blue"href="{% url 'ctstem:teacherDashboard' teacher.id 'active' %}" title="View active classes"> View Active Classes</a>
        {% endif %}
        <a type="button" class="btn inbetween blue" href="/group/new/" title="Create new class">Add New</a>
      </div>
    </div>
    <hr>
    <div id="class_tiles">
      {% for grp in groups %}
      {% with group=grp|get_item:'group' percent_complete=grp|get_item:'percent_complete' group_assignment_status=grp|get_item:'assignment_status' total=grp|get_item:'total' %}
      {% get_chart_config group_assignment_status 'stacked_bar' as group_assignment_chart_config %}
      <div class="col tile {% if forloop.counter > 6%} extra {% endif %}" {% if forloop.counter == 6%} id="last_tile" {% elif forloop.last %} id="last_tile" {% endif %} data-href="{% url 'ctstem:group' group.id %}">
        <div class="class_icon">
          {% if group.icon %}
            <img src="{{group.icon.url}}" class="icon" alt="">
          {% elif group.subject and group.subject.icon %}
            <img src="{{group.subject.icon.url}}" class="icon" alt="">
          {% else %}
            <img src="/static/img/class.png" class="icon" alt="">
          {% endif %}
        </div>
        <div class="class_details">
          <h5 class="left class_title">{{group.title}}</h5>
          <!--div class="assignment_status_chart">
            <div id="assignment_chart_group_{{group.id}}" class="progress_chart" data-percent-complete="{{percent_complete}}"></div>
          </div-->
          <div class="class_detail">
            <h6 class="left">
              <a class="student_dashboard" href="{% url 'ctstem:teacherStudentDashboard' teacher.id status %}?group={{group.id}}">
                View Student Progress ({{group.members.count}})
              </a>
            </h6>
            <h6 class="left">
              <a class="assignment_dashboard" href="{% url 'ctstem:teacherAssignmentDashboard' teacher.id status %}?group={{group.id}}">
                View Assignment Progress ({{group.assignments.count}})
              </a>
            </h6>
          </div>
          <div class="class_detail">
            <div class="class_actions">
              {% if group.is_active %}
                <button class="btn small blue add_student" data-target="#addStudentModal" data-form="{% url 'ctstem:addStudentsToClass'  group.id %}" title="Search and Add existing Students to this class">
                    <i class="fa fa-user-plus"></i> Add
                </button>
              {% endif %}
            </div>
            <div class="class_actions">
              {% if group.is_active %}
                <button class="assignment-modal action btn small blue assign" href="#" data-toggle="modal" data-target="#assignment" data-id="{{group.id}}" data-title="{{group.title}}" data-subject="{{group.subject.id}}" title="Search and Add Assignments">
                  <i class="fa fa-tasks"></i> Assign
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
    </div>
    {% if groups|length > 6 %}
      <div class="view_all center">
        <a type="button" class="view_all_class btn inbetween blue">View All</a>
      </div>
    {% endif %}
  </div>
  {% if status == 'active' %}
    <div id="dashboard_assignments">
      <div class="title">
        <h3 class="left">Assignments ({{assignment_count}})</h3>
        <div class="controls">
          <form method="post" action="{% url 'ctstem:teacherDashboard' teacher.id status %}#last_tile" id="assignment_grouping">
            {% csrf_token %}
            <div class="assignment_filter">
              <div class="form-group">
                {{groupingForm.group_by}}
              </div>
            </div>
          </form>
          <a type="button" class="btn inbetween blue assignment-modal" href="#" data-toggle="modal" data-target="#assignment" title="Search and Add Assignments">Add New</a>
          {% if assignment_count > 0 %}
           <a type="button" class="btn inbetween blue" href="{% url 'ctstem:teacherAssignmentDashboard' teacher.id status %}">View Assignment Dashboard</a>
          {% endif %}
        </div>
      </div>
      <hr>
      {% if group_by == 'C' %}
        <div id="assignments">
          {% for curriculum_key, assignment in assignments.items %}
             {% with curriculum_id=assignment|get_item:'curriculum_id' curriculum_title=assignment|get_item:'curriculum_title' curriculum_type=assignment|get_item:'curriculum_type' curriculum_groups=assignment|get_item:'groups' %}

              <div class="assignment tile">
                <h5 class="left">
                  {{curriculum_type|title}}: {{curriculum_title}}
                </h5>
                {% for group_key, curriculum_group in curriculum_groups.items %}
                {% with curriculum_group_id=curriculum_group|get_item:'group_id' curriculum_group_assignment_status=curriculum_group|get_item:'assignment_status' %}
                {% get_chart_config curriculum_group_assignment_status 'stacked_bar' as curriculum_group_chart_config %}
                <div class="assignment_info">
                  {% if curriculum_type == 'unit' %}
                    <div class="assigned_class">
                      <a href="{% url 'ctstem:unitProgressDashboard' teacher.id %}?group={{curriculum_group_id}}&assignment={{curriculum_id}}">
                        Class: {{curriculum_group|get_item:'group_title'}}
                      </a>
                    </div>
                  {% else %}
                    <div class="assigned_class">
                      <a href="{% url 'ctstem:assignmentProgressDashboard' teacher.id %}?group={{curriculum_group_id}}&assignment={{curriculum_id}}">
                        Class: {{curriculum_group|get_item:'group_title'}}
                      </a>
                    </div>
                  {% endif %}
                  <div class="lesson_count">
                    {% if curriculum_type == 'unit' %}
                      {{curriculum_group|get_item:'assigned_lesson_count'}}/{{assignment|get_item:'underlying_lesson_count'}} Lessons Assigned
                    {% endif %}
                  </div>
                  <div class="last_updated">Last Updated: {{curriculum_group|get_item:'last_updated'|date|default:'N/A'}}</div>
                  <div class="awaiting_feedback_count">{{curriculum_group|get_item:'awaiting_feedback_count'}} Awaiting Feedback</div>
                  <div class="assignment_status_chart">
                    {% if curriculum_type == 'unit' %}
                      <a href="{% url 'ctstem:unitProgressDashboard' teacher.id %}?group={{curriculum_group_id}}&assignment={{curriculum_id}}">
                        <div id="assignment_chart_{{curriculum_key}}_{{group_key}}" class="stacked_bar_chart" name="{{curriculum_group_chart_config}}" data-total="{{curriculum_group|get_item:'total'}}"></div>
                      </a>
                    {% else %}
                      <a href="{% url 'ctstem:assignmentProgressDashboard' teacher.id %}?group={{curriculum_group_id}}&assignment={{curriculum_id}}">
                        <div id="assignment_chart_{{curriculum_key}}_{{group_key}}" class="stacked_bar_chart" name="{{curriculum_group_chart_config}}" data-total="{{curriculum_group|get_item:'total'}}"></div>
                      </a>
                    {% endif %}
                  </div>
                </div>
                {% endwith %}
                {% endfor %}
              </div>
            {% endwith %}

          {% endfor %}

        </div>
      {% else %}
        <div id="assignments">
          {% for group_key, assignment in assignments_by_class.items %}
             {% with group_id=assignment|get_item:'group_id' group_title=assignment|get_item:'group_title' curricula=assignment|get_item:'curricula' %}

              <div class="assignment tile">
                <h5 class="left">Class: {{group_title}}</h5>
                {% for curriculum_key, curriculum in curricula.items %}
                {% with curriculum_title=curriculum|get_item:'curriculum_title' assignment_status=curriculum|get_item:'assignment_status' curriculum_type=curriculum|get_item:'curriculum_type' curriculum_id=curriculum|get_item:'curriculum_id'%}
                {% get_chart_config assignment_status 'stacked_bar' as curriculum_chart_config %}
                <div class="assignment_info">
                  {% if curriculum_type == 'unit' %}
                    <div class="assigned_class">
                      <a href="{% url 'ctstem:unitProgressDashboard' teacher.id %}?group={{group_id}}&assignment={{curriculum_id}}">
                        Unit: {{curriculum_title}}
                      </a>
                    </div>
                  {% else %}
                    <div class="assigned_class">
                      <a href="{% url 'ctstem:assignmentProgressDashboard' teacher.id %}?group={{group_id}}&assignment={{curriculum_id}}">
                        Lesson: {{curriculum_title}}
                      </a>
                    </div>
                  {% endif %}
                  <div class="lesson_count">
                    {% if curriculum_type == 'unit' %}
                      {{curriculum|get_item:'assigned_lesson_count'}}/{{curriculum|get_item:'underlying_lesson_count'}} Lessons Assigned
                    {% endif %}
                  </div>
                  <div class="last_updated">Last Updated: {{curriculum|get_item:'last_updated'|date|default:'N/A'}}</div>
                  <div class="awaiting_feedback_count">{{curriculum|get_item:'awaiting_feedback_count'}} Awaiting Feedback</div>
                  <div class="assignment_status_chart">
                    {% if curriculum_type == 'unit' %}
                      <a href="{% url 'ctstem:unitProgressDashboard' teacher.id %}?group={{group_id}}&assignment={{curriculum_id}}">
                        <div id="assignment_chart_{{group_key}}_{{curriculum_key}}" class="stacked_bar_chart" name="{{curriculum_chart_config}}" data-total="{{curriculum|get_item:'total'}}"></div>
                      </a>
                    {% else %}
                       <a href="{% url 'ctstem:assignmentProgressDashboard' teacher.id %}?group={{group_id}}&assignment={{curriculum_id}}">
                        <div id="assignment_chart_{{group_key}}_{{curriculum_key}}" class="stacked_bar_chart" name="{{curriculum_chart_config}}" data-total="{{curriculum|get_item:'total'}}"></div>
                      </a>
                    {% endif %}
                  </div>
                </div>
                {% endwith %}
                {% endfor %}
              </div>
            {% endwith %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="view_all right">
        {% if assignment_count > 0 %}
          <a type="button" class="btn inbetween blue" href="{% url 'ctstem:teacherAssignmentDashboard' teacher.id status %}">View Assignment Dashboard</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
{% block assignment %}
  {% include "ctstem_app/AssignmentSearch.html" %}
{% endblock %}

<script type="text/javascript">
  $(function(){

    $("#class_tiles .tile").click(function(e){
      if($(e.target).hasClass('student_dashboard') ||
         $(e.target).hasClass('assignment_dashboard') ||
         $(e.target).hasClass('add_student') ||
         $(e.target).hasClass('assign')) {

      }
      else{
        href = $(this).data("href");
        window.location = href;
      }
    });

    $('.stacked_bar_chart').each(function(){
      render_stacked_bar_chart($(this));
    });
    $('.progress_chart').each(function(){
      render_progress_chart($(this));
    });
    $('.view_all_class').click(function(){
      $('#class_tiles div.tile.extra').removeClass('extra');
      $('.class_count').html('{{groups|length}}');
      $(this).parent().toggle();
    })

    //add a class to checkbox and radio button in search form on Safari only
    if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
      $('#assignment_grouping :radio, #assignment_grouping :checkbox').addClass('safari');
    }

    var timeout = null;
    $('#assignment_grouping select').on('change', function(){
      auto_submit_search();
    });

    function auto_submit_search() {
      clearTimeout(timeout);
      timeout = setTimeout(function(){
        $('#assignment_grouping').submit();
      }, 800);
    }

  });

</script>

{% endblock %}


