{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
  <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block title %}Dashboard |{% endblock %}

{% block content %}
{{block.super}}
<div class="content" id="teacher_dashboard">
  <div id="dashboard_header">
    <h3 class="left welcome">Howdy, {{teacher.user.get_full_name}}</h3>
    <div class="quick_links">
        <h5><a href="{% url 'ctstem:help' %}"><i class="far fa-question-circle"></i> Help </a></h5>
        <h5><a href="{% url 'ctstem:curriculatiles' %}?bucket=my_curricula">My Curricula</a></h5>
        <h5><a href="{% url 'ctstem:curriculatiles' %}?bucket=favorite_curricula"><i class="far fa-star"></i> Favorites</a></h5>
    </div>
  </div>

  <div id="dashboard_classes">
    <div class="title">
      <h3 class="left">{{status|title}} Classes (<span class="class_count">{% if groups|length > 6 %}6{% else %} {{groups|length}} {% endif %}</span> of {{groups|length}})</h3>
      <a type="button" class="btn normal yellow" href="/group/new/" title="Create new class"> Add New</a>
    </div>
    <hr>
    <div id="class_tiles">
      {% for grp in groups %}
      {% with group=grp|get_item:'group' percent_complete=grp|get_item:'percent_complete' group_assignment_status=grp|get_item:'assignment_status' total=grp|get_item:'total' %}
      {% get_chart_config group_assignment_status 'stacked_bar' as group_assignment_chart_config %}
      <div class="col tile {% if forloop.counter > 6%} extra {% endif %}">
        <div class="class_icon">
          {% if group.icon %}
            <img src="{{group.icon.url}}" class="icon" alt="">
          {% elif group.subject and group.subject.icon %}
            <img src="{{group.subject.icon.url}}" class="icon" alt="">
          {% else %}
            <i class="fa fa-sitemap icon" aria-hidden="true"></i>
          {% endif %}
        </div>
        <div class="class_details">
          <h5 class="left class_title"><a href="{% url 'ctstem:group' group.id %}">{{group.title}}</a></h5>
          <div class="assignment_status_chart">
            <div id="assignment_chart_group_{{group.id}}" class="progress_chart" data-percent-complete="{{percent_complete}}"></div>
          </div>
          <div class="class_detail">
            <h6 class="left">
              <a href="{% url 'ctstem:teacherStudentDashboard' teacher.id status %}?group={{group.id}}">
                {{group.members.count}} Student{% if group.members.count > 1 %}s{% endif %}
              </a>
            </h6>
            <h6 class="left">
              <a href="{% url 'ctstem:teacherAssignmentDashboard' teacher.id status %}?group={{group.id}}">
                {{group.assignments.count}} Assignment{% if group.assignments.count > 1 %}s{% endif %}
              </a>
            </h6>
          </div>
          <div class="class_detail">
            <div class="class_actions">
              {% if group.is_active %}
                <a class="invite-modal action btn small lightyellow" href="#" data-toggle="modal" data-target="#invite" data-invite-link="https://{{domain}}/?next=/preregister/group/{{group.group_code}}/" data-title="{{group.title}} Invitation Link" title="Student Invitation Link">
                  <i class="fa fa-link"></i> Invite
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="upload-modal action btn small lightyellow" href="#" data-toggle="modal" data-target="#upload" data-id="{{group.id}}" data-title="{{group.title}}" title="Add Students">
                  <i class="fa fa-user-plus"></i> Add
                </a>
              {% endif %}
            </div>
            <div class="class_actions">

              {% if group.is_active %}
                <a class="assignment-modal action btn small lightyellow" href="#" data-toggle="modal" data-target="#assignment" data-id="{{group.id}}" data-title="{{group.title}}" data-subject="{{group.subject.id}}" title="Search and Add Assignments">
                  <i class="fa fa-tasks"></i> Assign
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
    </div>
    {% if groups|length > 6 %}
      <div class="view_all">
        <a type="button" class="view_all_class btn inbetween darkblue">View All</a>
      </div>
    {% endif %}
  </div>
  <div id="assignments_students">
    <div id="dashboard_assignments">
      <div class="title">
        <h3 class="left">Assignments ({{assignments|length}} of {{assignment_count}})</h3>
        <a type="button" class="btn normal yellow assignment-modal" href="#" data-toggle="modal" data-target="#assignment" title="Search and Add Assignments">Add New</a>
      </div>
      <hr>
      <div id="assignments">
        {% for assignment in assignments %}
        {% get_assignment_status_chart_config assignment.id 'stacked_bar' as assignment_status %}
          <div class="assignment tile">
            <h5 class="left"><a href="{% url 'ctstem:assignmentProgressDashboard' teacher.id %}?assignment={{assignment.id}}">
              {{assignment.curriculum.title}}</a>
            </h5>
            <h6 class="left">Class: {{assignment.group.title}}</h6>
            <div class="assignment_status_chart">
              <div id="assignment_chart_{{assignment.id}}" class="stacked_bar_chart" name="{{assignment_status}}" data-total="{{assignment.group.members.count}}"></div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if assignments|length > 0 %}
        <div class="view_all">
          <a type="button" class="btn inbetween darkblue" href="{% url 'ctstem:teacherAssignmentDashboard' teacher.id status %}">View All</a>
        </div>
      {% endif %}
    </div>

    <div id="dashboard_students">
      <div class="title">
        <h3 class="left">Students ({{students|length}} of {{student_count}})</h3>
        <a type="button" class="btn normal yellow upload-modal" href="#" data-toggle="modal" data-target="#upload" title="Upload Students">
          Add New
        </a>
      </div>
      <hr>
      <div id="students">
        {% for student in students %}
          {% get_student_assignment_status_chart_config student.id teacher.id 'stacked_bar' as student_assignment_status %}
          {% get_student_assignment_count student.id teacher.id as assignment_count %}
          <div class="student tile">

              <h5 class="left">{{student.user.last_name}}, {{student.user.first_name}}</h5>
              <a class="btn small lightyellow" href="#" title="View Student Work" onClick="TODO">
                <i class="fas fa-chart-bar"></i> View Work
              </a>

            <div class="assignment_status_chart">
              <div id="assignment_chart_{{student.id}}" class="stacked_bar_chart" name="{{student_assignment_status}}" data-total="{{assignment_count}}"></div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if students|length > 0 %}
        <div class="view_all">
          <a type="button" class="btn inbetween darkblue" href="{% url 'ctstem:teacherStudentDashboard' teacher.id status %}">View All</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% block upload %}
{% include "ctstem_app/UserUploadModal.html" %}
{% endblock %}
{% block assignment %}
{% include "ctstem_app/AssignmentSearch.html" %}
{% endblock %}

<script type="text/javascript">
  $(function(){
    $(".expand_collapse2").click(function(){
      $(this).next().toggle();
      $(this).children().each(function(){
        $(this).toggle();
      })
    });

    $('.stacked_bar_chart').each(function(){
      render_stacked_bar_chart($(this));
    });
    $('.progress_chart').each(function(){
      render_progress_chart($(this));
    });
    $('.view_all_class').click(function(){
      $('#class_tiles div.tile.extra').removeClass('extra');
      $('.class_count').html('{{groups|length}}');
      $(this).toggle();
    })

  });

</script>

{% endblock %}


