{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
  <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block title %}Dashboard |{% endblock %}

{% block content %}
{{block.super}}
<div class="content teacher_detailed_dashboard" id="teacher_student_dashboard">
  <h2>
    {% if group %}
      {{group.title}} -
    {% else %}
      All
    {% endif %}
    Students
  </h2>
  <div id="dashboard_header">
    <div class="navigation">
      <h5 class="left"><a href="{% url 'ctstem:teacherDashboard' teacher.id status %}"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i> Back to Teacher Dashboard</a></h5>
    </div>
    <div class="quick_links">
        <h5><a href="{% url 'ctstem:help' %}"><i class="far fa-question-circle"></i> Help </a></h5>
        <h5><a href="{% url 'ctstem:curriculatiles' %}?bucket=my_curricula">My Curricula</a></h5>
        <h5><a href="{% url 'ctstem:curriculatiles' %}?bucket=favorite_curricula"><i class="far fa-star"></i> Favorites</a></h5>
    </div>
  </div>
  <div id="dashboard_search">
    <form method="post" action="{% url 'ctstem:teacherStudentDashboard' teacher.id status %}" id="assignment_search">
      {% csrf_token %}
      <div class="assignment_filter">
        <div class="form-group">
          <label>{{searchForm.group.label|title}}</label>
          <div>{{searchForm.group}}</div>
        </div>
        <div class="form-group">
          <label>{{searchForm.student.label|title}}</label>
          <div>{{searchForm.student}}</div>
        </div>
        <div class="form-group">
          <label>{{searchForm.assignment.label|title}}</label>
          <div>{{searchForm.assignment}}</div>
        </div>

        <div class="form-group">
          <button type="button" id="reset" class="btn gray normal">
            Clear Filter
          </button>
        </div>

      </div>

    </form>
  </div>
  <div class="student header">
    <div class="student_details">
      <h5 class="left">
        {% if user.researcher %}
          Student ID/Assigned Curriculum
        {% else %}
          Student/Assigned Curriculum
        {% endif %}
      </h5>
    </div>
    {% if not group %}
    <div class="assignment_class">
      <h5 class="left">Class</h5>
    </div>
    {% endif %}
    <div class="assignment_status_chart">
      <h5 class="left">Status</h5>
    </div>
    <div class="assignment_stats">
      <h5 class="left">Last Opened</h5>
    </div>
    <div class="assignment_stats">
      <h5 class="left">Assigned Date</h5>
    </div>
  </div>
  {% for id, student in students.items %}
  {% with user_id=student|get_item:'user_id' student_id=student|get_item:'student_id' name=student|get_item:'name' assignments=student|get_item:'assignments' student_assignment_status=student|get_item:'assignment_status' student_groups=student|get_item:'student_groups' %}
  {% get_chart_config student_assignment_status 'stacked_bar' as student_chart_config %}
  <div class="student">
    <div class="student_details">
      <h5 class="expanded_collapsed collapsed" title="Expand student assignments">
        <i class="fas fa-plus-circle"></i>
        <i class="fas fa-minus-circle"></i>
      </h5>
      <h5 class="left">
        {% if user.researcher %}
          {{user_id}}
        {% else %}
          {{name}}
        {% endif %}
      </h5>
    </div>
    {% if not group %}
    <div class="assignment_class">
      <h6 class="left" title="{{student_groups|join:', '}}">{{student_groups|length}} Class{{student_groups|pluralize:'es'}}</h6>
    </div>
    {% endif %}
    <div class="assignment_status_chart">
      <div id="assignment_chart_student_{{student_id}}" class="stacked_bar_chart rendered" name="{{student_chart_config}}" data-total="{{student|get_item:'total'}}"></div>
    </div>
    <div class="assignment_stats">
    </div>
    <div class="assignment_stats">
    </div>
  </div>

  <div class="dashboard_assignments">
    <div class="assignments">
      {% for key, assignment in assignments.items %}
        {% with assignment_id=assignment|get_item:'assignment_id' curriculum_id=assignment|get_item:'curriculum_id' assignment_group=assignment|get_item:'group' assignment_status=assignment|get_item:'assignment_status' instance=assignment|get_item:'instance' curriculum_type=assignment|get_item:'curriculum_type' %}
        <div class="assignment tile standalone">
          <div class="assignment_title">
            <h5 class="expanded_collapsed collapsed" title="Expand underlying lessons">
              {% if curriculum_type == 'Unit' %}
                <i class="fas fa-plus-circle"></i>
                <i class="fas fa-minus-circle"></i>
              {% endif %}
            </h5>
            <h5 class="left">
              {% if curriculum_type == 'Unit' %}
                {{assignment|get_item:'title'}}
              {% elif assignment_id and instance %}
                <a href="{% url 'ctstem:assignmentStudentFeedback' teacher.id %}?group={{assignment_group.id}}&assignment={{curriculum_id}}&student={{instance.student.user.id}}" title="Review student response">
                  {{assignment|get_item:'title'}}
                </a>
              {% else %}
               <a onclick='alert("Student hasn&apos;t started this assignment");' title="Review student response">
                  {{assignment|get_item:'title'}}
                </a>
              {% endif %}
            </h5>
          </div>
          {% if not group %}
          <div class="assignment_class">
            <h6 class="left">{{assignment_group.title}}</h6>
          </div>
          {% endif %}
          <div class="assignment_status_chart">
            {% if curriculum_type == 'Unit' %}
              {% get_chart_config assignment_status 'stacked_bar' as assignment_chart_config %}
              <div id="assignment_chart_student_{{student_id}}_curriculum_{{key}}" class="stacked_bar_chart unrendered" name="{{assignment_chart_config}}" data-total="{{assignment|get_item:'total'}}"></div>
            {% else %}
              {% get_chart_color assignment_status as color %}
              <div id="assignment_chart_student_{{student_id}}_curriculum_{{key}}" class="progress_chart unrendered" data-percent-complete="" data-color="{{color}}" data-student-id="{{student_id}}" data-assignment-id="{{assignment_id}}"></div>
            {% endif %}
          </div>
          <div class="assignment_stats">
            <h6 class="left last_opened">{{assignment|get_item:'last_opened'|date:'M j, Y'|default_if_none:''}}</h6>
          </div>
          <div class="assignment_stats">
            <h6 class="left assigned_date">{{assignment|get_item:'assigned_date'|date:'M j, Y'|default_if_none:''}}</h6>
          </div>
        </div>
        {% endwith %}

        {% if assignment|get_item:'lessons' %}
          <div class="underlying_lesson_assignments">
            {% with lessons=assignment|get_item:'lessons'|sort %}
            {% for order, lesson in lessons.items %}
              {% with assignment_status=lesson|get_item:'assignment_status' assignment_id=lesson|get_item:'assignment_id' instance=lesson|get_item:'instance'%}
               <div class="assignment tile">
                <div class="assignment_title">
                  <h5 class="left">
                    {% if instance %}
                      <a href="{% url 'ctstem:assignmentStudentFeedback' teacher.id %}?group={{instance.assignment.group.id}}&assignment={{instance.assignment.curriculum.id}}&student={{instance.student.user.id}}" title="Review student response">{{order}}. {{lesson|get_item:'title'}}</a>
                    {% else %}
                      <a onclick='alert("Student hasn&apos;t started this assignment");' title="Review student response">{{order}}. {{lesson|get_item:'title'}}</a>
                    {% endif %}
                  </h5>
                </div>
                {% if not group %}
                <div class="assignment_class">
                </div>
                {% endif %}
                <div class="assignment_status_chart">
                  {% get_chart_color assignment_status as color %}
                  <div id="assignment_chart_student_{{student_id}}_curriculum_{{key}}_lesson_{{order}}" class="progress_chart unrendered" data-percent-complete="" data-color="{{color}}" data-student-id="{{student_id}}" data-assignment-id="{{lesson|get_item:'assignment_id'}}"></div>

                </div>
                <div class="assignment_stats">
                  <h6 class="left last_opened">{{lesson|get_item:'last_opened'|date:'M j, Y'|default_if_none:''}}</h6>
                </div>
                <div class="assignment_stats">
                  <h6 class="left assigned_date">{{lesson|get_item:'assigned_date'|date:'M j, Y'|default_if_none:''}}</h6>
                </div>
              </div>
              {% endwith %}
            {% endfor %}
            {% endwith %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endwith %}
  {% endfor %}
</div>


<script type="text/javascript">
  $(function(){
    $(".assignment .expanded_collapsed").click(function(){
      $(this).closest('.assignment').next('.underlying_lesson_assignments').toggle();
      $(this).toggleClass('expanded').toggleClass('collapsed');
      if($(this).hasClass('expanded')) {
        $(this).closest('.assignment').next('.underlying_lesson_assignments').find('.stacked_bar_chart.unrendered').each(function(){
          $(this).toggleClass('unrendered').toggleClass('rendered');
          render_stacked_bar_chart($(this));
        });
        $(this).closest('.assignment').next('.underlying_lesson_assignments').find('.progress_chart.unrendered').each(function(){
          $(this).toggleClass('unrendered').toggleClass('rendered');
          render_progress_chart($(this));
        });
      }

    });
    $(".student .expanded_collapsed").click(function(){
      $(this).closest('.student').next('.dashboard_assignments').toggle();
      $(this).toggleClass('expanded').toggleClass('collapsed');
      if($(this).hasClass('expanded')) {
        $(this).closest('.student').next('.dashboard_assignments').find('.standalone .stacked_bar_chart.unrendered').each(function(){
          $(this).toggleClass('unrendered').toggleClass('rendered');
          render_stacked_bar_chart($(this));
        });
        $(this).closest('.student').next('.dashboard_assignments').find('.standalone .progress_chart.unrendered').each(function(){
          $(this).toggleClass('unrendered').toggleClass('rendered');
          render_progress_chart($(this));
        });
      }
    });

    $('button#reset').click(function(){
      $('#assignment_search :input').not(':button, :submit, :reset, :hidden').val('');
      $('#assignment_search').submit();
    });

    //on page load, apply existing filters and load results
    //auto_submit_search();

    //add a class to checkbox and radio button in search form on Safari only
    if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
      $('#assignment_search :radio, #assignment_search :checkbox').addClass('safari');
    }

    var timeout = null;
    $('#assignment_search select').on('change', function(){
      auto_submit_search();
    });

    function auto_submit_search() {
      clearTimeout(timeout);
      timeout = setTimeout(function(){
        $('#assignment_search').submit();
      }, 800);
    }
    $('.stacked_bar_chart.rendered').each(function(){
      render_stacked_bar_chart($(this));
    });

  });

</script>

{% endblock %}


