<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="left">Search Teachers</h3>
    </div>
    <div id="teacherMsg" class="msg">
      <ul class="errorlist">
        <li></li>
      </ul>
    </div>
    <form class="form" id="teacherForm" method="post" action="{% url 'ctstem:searchTeachers' %}">
      {% csrf_token %}
      <input type="hidden" name="group_id" value="{{form.instance.id}}"/>
      <div class="modal-body">
        <div class="form-inline">
          <div class="form-group">
            <label for="id_username">Username</label>
            <div>{{teacherSearchForm.username}}</div>
          </div>
          <div class="form-group">
            <label for="id_first_name">First Name</label>
            <div>{{teacherSearchForm.first_name}}</div>
          </div>
          <div class="form-group">
            <label for="id_last_name">Last Name</label>
            <div>{{teacherSearchForm.last_name}}</div>
          </div>
          <div class="form-group">
            <label for="id_email">Email</label>
            <div>{{teacherSearchForm.email}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group button-row">
          <button type="submit" id="search" class="btn normal yellow">
            Search
          </button>
        </div>
      </div>
    </form>
    <div id="teacherResults" style="display:none;" class="results">
      <table class="table table-bordered table-striped table-condensed inner_table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Share?</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function (){
    var new_shared_with = [];
    $("#teacherForm").submit(function(e) {
      e.preventDefault();
      $("#teacherResults table tbody").empty();
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        context: this,
        success: function(data){
          if('error' in data){
            $('#teacherMsg .errorlist li').addClass('error').html(data['error']);
          }
          else {
            var teacher = "";
            var teacher_row = "";
            $.each(data, function(key, value){
              if($('select[id^="id"][id$="shared_with"] option[value="'+value['teacher_id']+'"]').prop('selected') == false){
                teacher += "<tr><td>"+value['username']+"</td><td class='teacher_name'>"+value['name']+"</td><<td>"+value['email']+"</td><td><button type='button' class='btn small blue select_teacher' id='"+value['teacher_id']+"'>Share</a></td></tr>";
              }
            });

            if(teacher.length == 0){
              $('#teacherMsg .errorlist li').addClass('error').html('No matching teachers found');
              $("#teacherResults").hide();
            }
            else{
              $('#teacherMsg .errorlist li').html('');
              $("#teacherResults table tbody").append(teacher);
              $("#teacherResults").show();
              $("#teacherResults button.select_teacher").click(function(){
                //select the teacher id in the hidden select field
                $('select[id^="id"][id$="shared_with"] option[value="'+$(this).attr('id')+'"]').prop('selected', true);
                //add the selected teacher to the shared with table
                teacher_row = $(this).closest('tr');
                teacher_name = $(teacher_row).find('td.teacher_name')[0].innerText;
                teacher = "<tr id='"+$(this).attr('id')+"'>";
                $(teacher_row).find('td:not(:last)').each(function(){
                  teacher += "<td>"+$(this).html()+"</td>";
                });
                teacher += "<td> <button type='button' class='btn red unshare' aria-label='Unshare resource with this teacher' title='Unshare resource with this teacher'> \
                            <i class='fa fa-trash' aria-hidden='true'></i>\
                          </button></td>";
                $('table#teachers tbody').append(teacher);
                rowAddorRemove($('table#teachers'));

                //bind remove function
                $("button.unshare").click(function(e){
                  var teacher_id = $(this).closest('tr').attr('id');
                  $('select[id^="id"][id$="shared_with"] option[value="'+teacher_id+'"]').prop('selected', false);
                  $('table#teachers tbody tr#'+teacher_id).remove();
                  rowAddorRemove($('table#teachers'));
                });
                //add the teacher to a list
                new_shared_with.push(teacher_name);
                $(this).attr('disabled', 'disabled');
              });
            }
            //$("#teacherForm")[0].reset();
            //$("#teacherModal").modal('toggle');
          }
          return false;
        },
        error: function(xhr, ajaxOptions, thrownError){
          alert(thrownError);
        },
      });
    });

    $('button.close').on('click', function(){
      if(new_shared_with.length){
        var text = "<p>This class has been shared with the following users:</p> <br> <ul><li><p>";
        text = text + new_shared_with.join('</p></li><li><p>');
        text = text + '</p></li></ul>';
        new_shared_with = [];
        $('#notification .modal-body').html(text);
        $('#notification').modal('toggle');
      }
    });
  });

</script>
