{% extends "ctstem_app/base.html" %}

{% block content %}
  {{block.super}}

<div class="content">
  <div class="col-lg-12">

    <h2>Our Team</h2>
    <p class="page-blurb">
      We are a team of learning scientists, computer scientists, educators, and curriculum developers centered at Northwestern University.
    </p>

    <!-- Team Section -->
    <div class="container">
      <div class="row">
        {% for member in team %}
        <div class="col-md-3 col-sm-6">
          <div class="team-member">
            <a data-form="{% url 'ctstem:teamProfile' member.id %}" data-toggle="modal" class="profile">
              <img class="profile" src="{{member.image.url}}" class="img-responsive img-circle" alt="">
            </a>
            <h4>{{member.name}}</h4>
            <p class="text-muted">{{member.role}}</p>
          </div>
        </div>
        {% endfor %}
      </div>


      <!-- PARTICIPAtING ORGANIZATIONS -->
      <h3 class="left">Affiliated Research Groups and Organizations</h3>
      <div class="row">
        <div class="col-md-4 affiliated">
          <a href="https://osep.northwestern.edu/" target="_blank">
            <img src="/static/img/osep.png" alt="Office of STEM Education Partnerships">
          </a>
        </div>
        <div class="col-md-4 affiliated">
          <a href="http://ccl.northwestern.edu" target="_blank">
            <img src="/static/img/ccl.png" alt="Center for Connected Learning and Computer-Based Modeling">
          </a>
        </div>
        <div class="col-md-4 affiliated">
          <a href="http://ciera.northwestern.edu/" target="_blank">
            <img src="/static/img/ciera.png" alt="Center for Interdisciplinary Exploration and Research in Astrophysics">
          </a>
        </div>
        <div class="col-md-4 affiliated">
          <a href="http://gk12.ciera.northwestern.edu/" target="_blank">
            <img src="/static/img/reach-for-stars.png" alt="Project Reach for the Stars">
          </a>
        </div>
        <div class="col-md-4 affiliated">
          <a href="http://tidal.northwestern.edu" target="_blank">
            <img src="/static/img/tidal-logo-blue-300x300.png" alt="Tangible Interaction Desig and Learning (TIDAL) Lab">
          </a>
        </div>
        <div class="col-md-4 affiliated">
          <a href="http://www.adlerplanetarium.org/" target="_blank">
            <img src="/static/img/adler.png" alt="Adler Planetarium and Astronomy Museum">
          </a>
        </div>
      </div>

      <!-- PARTNER SCHOOLS -->
      <h3 class="left">Partner Schools</h3>
      <ul class="links">
        <li><a href="http://www.carvermilitary.org/" target="_blank">Carver Military Academy</a></li>
        <li><a href="http://www.eths.k12.il.us/" target="_blank">Evanston Township High School</a></li>
        <li><a href="http://www.lakeviewhs.com/" target="_blank">Lakeview High School</a></li>
        <li><a href="http://lindblomeagles.org/" target="_blank">Lindblom Math and Science Academy</a></li>
        <li><a href="http://www.schurzhs.org/" target="_blank">Schurz High School</a></li>
      </ul>
    </div>

  </div>
</div>
<br clear="all">
{% endblock %}
