{% extends "ctstem_app/base.html" %}
{% load base_extras %}

{% block title %}Team Roles |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2>Team Roles</h2>
    {% if user.administrator or user.researcher%}
      <div class="btn-group">
        <a type="button" class="btn btn-info" href="{% url 'ctstem:newMember' %}" title="Create new team member">Create Team Member</a>
      </div>
      <ul class="nav nav-tabs">
        <li class="{% navactive request 'ctstem:teamMembers' %}"><a href="{% url 'ctstem:teamMembers' %}">Team Members</a></li>
        <li class="{% navactive request 'ctstem:teamRoles' %}"><a href="{% url 'ctstem:teamRoles' %}">Team Roles</a></li>
      </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="table">
        {{formset.management_form}}
        <table class="table table-bordered table-striped table-condensed inner_table" id="roles">
          <thead>
            <tr>
              <th width="80%">Role(*)</th>
              <th>Weight(*)</th>
              <th>Delete?</th>
            </tr>
          </thead>
          <tbody>
          {% for form in formset %}
            <tr>
              <td>
                {{form.id}}
                {{form.role}}
                <div class="error">{{ form.role.errors }}</div>
              </td>
              <td>
                {{form.ORDER}}
                <div class="error">{{ form.ORDER.errors }}</div>
              </td>
              <td>
                <button type="button" class="btn btn-danger delete_role" name="delete_role" aria-label="Delete Role" title="Delete Role">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                {{form.DELETE.as_hidden}}
                <div class="error">{{ form.DELETE.errors }}</div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
        <div class="form-group button-group">
          <input type="button" class="btn btn-info" id="add" value="Add Role"/>
          <input type="submit" class="btn btn-success" id="submit" value="Save Roles"/>
        </div>
      </div>
    </form>
  </div>
  <script type="text/javascript">
    $(function (){
      $('input#add').click(function() {
        cloneMore('table.table#roles tr:last', 'form');
      });

      $('button.delete_role').click(function(){
        var r = confirm("Are you sure you want to delete this role?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('tr').hide();
        }
      });
    });
  </script>
{% endblock %}
