{% extends "ctstem_app/base.html" %}

{% block content %}
  {{block.super}}

  <div class="content">
    <h2>Our Team</h2>

    {% for role in roles %}
      {% if role.members.all %}
        <div>
          <h3 class="page-header">{{role.role}}</h3>
          <div class="row portfolio">
            {% for member in role.members.all %}
              <div class="table item" id="team">
                <div class="tile-icon-holder">
                  <img src="{{member.image.url}}"/>
                </div>
                <div class="text-holder">
                  <h4> {{member.name}} </h4>
                  <p>{{member.description}}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
