{% extends "ctstem_app/base.html" %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Training |{% endblock %}

{% block content %}
  {{block.super}}
 <div class="content">
  <div class="col-lg-12">

    <h2>Professional Development Training</h2>
    {% if user.is_authenticated and user.administrator %}
      <h4><a href="{% url 'ctstem:training_requests' %}" >View Training Requests</a></h4>
    {% endif %}

    {% if user.is_anonymous or user.teacher %}
      <div class="request_training">
        <!--button class="btn btn-success btn-lg request_training" name="request_training" data-form="{% url 'ctstem:request_training' %}" aria-label=" Request Training" title="Request Training"> Register for Training </button-->
      </div>
      <div class="modal fade" id="trainingModal" role="dialog"></div>
    {% endif %}
    <p class="page-blurb">
      From spreadsheets to high-performance simulations, computational thinking (CT) tools permeate the way that scientists, engineers, and mathematicians conduct research and make sense of the world. CT has allowed for breakthroughs in sequencing the human genome, predicting hurricane paths, modeling black holes, and optimizing food pantry routes.
      Support your students in acquiring these essential 21st century skills by attending Northwestern’s “Computational Thinking in STEM” summer workshop and our continuing education Saturday workshops. Fill out this form to join our mailing list and receive updates about future workshops.
    </p>

    <img src="/static/img/training.png" class="page-blurb-image">

    <div class="page-blurb">
      Upon completion of the summer workshop, 9th–12th grade science and math teachers will be able to:
      <ul style="margin-top: 1em;">
        <li>Enhance student STEM learning with existing CT tools </li>
        <li>Guide student analysis of computational problems with and without a computer</li>
        <li>Support students in developing algorithms and models to analyze real-world data and problems</li>
        <li>Expose their students to a broad range of CT-STEM careers & Northwestern’s CT-STEM research</li>
        <li>Advance their own understanding of CT in STEM</li>
      </ul>
    </div>

    <div class="page-blurb">
      Discipline-specific (math, physics, biology, & chemistry) breakout sessions will provide training in teaching 5 existing CT lesson plans (designed for use within conventional curricula and addressing the Next Generation Science Standards). We also offer structured brainstorming and coaching in developing new CT lesson plans for your classroom.
    </div>

    <div class="page-blurb">
      To date, we’ve trained over 50 teachers from many Chicago-area schools in three summer CT-STEM workshops. Each summer workshop is followed by continuing education Saturday workshops during the academic year.
    </div>

    <div class="page-blurb" id="help_videos">
      <h3 class="left">Help Videos</h3>
      <ul class="links">
        <li><a href="https://www.youtube.com/watch?v=puQlTZvCqZA" target="_blank">Creating User Groups</a></li>
        <li><a href="https://www.youtube.com/watch?v=EPZq6KVL2s8" target="_blank">Adding Lessons to Student Groups</a></li>
      </ul>
    </div>

    <div class="page-blurb">
      For more information, contact <a href="mailto:ctstem@northwestern.edu">ctstem@northwestern.edu</a>.
    </div>
  </div>
</div>
<br clear="all">

<script type="text/javascript">
$(function(){
  $("button.request_training").click(function(e){
    e.preventDefault();
    var url = $(this).data("form");
    $("#trainingModal").load(url, function() {
      $(this).modal('show');
    });

    return false;
  });
});
</script>
{% endblock %}


