
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="left">CT-STEM Training Request</h3>
      </div>
      <div id="trainingMsg" class="msg">
      </div>
      <form class="form" id="trainingForm" method="post" action="{% url 'ctstem:request_training' %}">
        {% csrf_token %}
        <div class="modal-body">
          {{form.management_form}}
          <div class="form-group">
            <label for="id_{{form.name.name}}">{{ form.name.label }}</label>
            {{form.name}}
            <div class="error">{{ form.name.errors }}</div>
          </div>
          <div class="form-group">
            <label for="id_{{form.email.name}}">{{ form.email.label }}</label>
            {{form.email}}
            <div class="error">{{ form.email.errors }}</div>
          </div>
          <div class="form-group">
            <label for="id_{{form.school.name}}">{{ form.school.label }}</label>
            {{form.school}}
            <div class="error">{{ form.school.errors }}</div>
          </div>
          <div class="form-group">
            <label for="id_{{form.subject.name}}">{{ form.subject.label }}</label>
            {{form.subject}}
            <div class="error">{{ form.subject.errors }}</div>
          </div>
          {% if user.is_anonymous %}
          <div class="col-container center">
            <div class="form-group col left">
            </div>
            <div class="form-group col right" id="recaptcha">
              <script src='https://www.google.com/recaptcha/api.js'></script>
              <div class="g-recaptcha" data-sitekey="6Lfiv1oUAAAAAO4uGoHA7t8Psp8mATiML0bKg9oc"></div>
              <div class="error" id="recaptcha_error">
                <ul class="errorlist">
                  <li>{{recaptcha_error}}</li>
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="form-group" id="spinner">
            <img src="/static/img/page-loader.gif" class="icon"/>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group button">
            <button type="submit" class="btn normal yellow">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>


<script type="text/javascript">
  $(function (){

    $("#trainingForm").submit(function(e) {
      e.preventDefault();
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        context: this,
        beforeSend: function(){
          $('#trainingForm #spinner').show();
        },
        complete: function(){
          $('#trainingForm #spinner').hide();
        },
        success: function(data){
          if(data['success'] == true){
            $('#trainingModal').modal('toggle');
            window.location.reload();
          }
          else{
            $('#trainingModal').html(data['html']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError){
          alert(thrownError);
        },
      });
    });

  });
  </script>

