{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
  <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block title %}Class Dashboard |{% endblock %}

{% block content %}
  {{block.super}}
 <div class="content teacher_detailed_dashboard" id="assignment_progress_dashboard">
    <h2> Unit Progress </h2>
    {% with class_status=group.is_active|yesno:"active,inactive"%}
    <div id="dashboard_header">
      <div class="navigation">
        <h5 class="left"><a href="{% url 'ctstem:teacherDashboard' teacher_id class_status %}"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i> Back to Teacher Dashboard</a></h5>
        &nbsp; &nbsp;&nbsp; &nbsp;
        <h5 class="left"><a href="{% url 'ctstem:teacherAssignmentDashboard' teacher_id class_status %}"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i> Back to All Assignments </a></h5>
      </div>
      <div class="quick_links">
          <h5><a href="{% url 'ctstem:help' %}"><i class="far fa-question-circle"></i> Help </a></h5>
          <h5><a href="{% url 'ctstem:curriculatiles' %}?bucket=my_curricula">My Curricula</a></h5>
          <h5><a href="{% url 'ctstem:curriculatiles' %}?bucket=favorite_curricula"><i class="far fa-star"></i> Favorites</a></h5>
      </div>
    </div>
    <div class="legends_and_settings">
      <div class="legends_container">
        <h5 class="left">Legends</h5>
        <div class="legends">
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fas fa-tachometer-alt"></i></a>
            <div>Lesson Progress Dashboard</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fas fa-comment-dots"></i> </a>
            <div>Feedback Given</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="far fa-comment-dots"></i> </a>
            <div>Feedback Pending</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fas fa-file-download"></i> </a>
            <div>Download Student Response</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fa fa-unlock" aria-hidden="true"></i> </a>
            <div>Unlock Assignment</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fa fa-link" aria-hidden="true"></i> </a>
            <div>Assignment Link</div>
          </div>
          <div class="legend">
            <a type="button" class="btn tiny blue"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
            <div>Curriculum Preview</div>
          </div>
          <div class="legend">
            <i class="far fa-window-minimize"></i>
            <div>Not Yet Started</div>
          </div>
          <div class="legend">
            <div class="crossed"></div>
            <div>Not Assigned</div>
          </div>
        </div>
      </div>
      <div class="settings_container">
        <h5 class="left">Assignment Settings</h5>
        <div class="settings">
          {% include "ctstem_app/AnonymizeStudentSwitch.html" with anonymize_student=anonymize_student assignment_ids=assignment_ids is_class_active=group.is_active %}
        </div>
      </div>
      <div class="shortcut_container">
        <h5 class="left">Assignment Metadata</h5>
        <div class="shortcuts">
          <div class="shortcut">
            <label>Class:</label>
            <div class="title">
              {% if group %}
                {{group.title}}
                <a type="button" class="btn blue" href="{% url 'ctstem:group' group.id %}" title="Edit Class">
                  <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
          </div>
          <div class="shortcut">
            <label>Unit:</label>
            <div class="title">
              {% if curriculum %}
                {{curriculum.title}}
                <a type="button" class="btn blue" href="{% url 'ctstem:previewCurriculum' curriculum.id %}" title="Preview Curriculum">
                  <i class="fas fa-eye" aria-hidden="true"></i>
                </a>
                <a type="button" class="btn blue" href="{% url 'ctstem:export_all_response' curriculum.id %}" title="Export Student Response">
                  <i class="fas fa-file-download"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <form method="post" action="{% url 'ctstem:unitProgressDashboard' teacher_id %}" id="progress_search_form">
      {% csrf_token %}
      <div class="progress_filter">
        <div class="form-group">
          <label>{{filter_form.group.label|title}}</label>
          <div>{{filter_form.group}}</div>
        </div>
        <div class="form-group-horizontal">
          <div class="form-group">
            <label>{{filter_form.assignment.label|title}}</label>
            <div>{{filter_form.assignment}}</div>
          </div>
          {% if curriculum %}
          {% get_underlying_curriculum curriculum.id 'preview' as underlying_curriculum %}
            <div class="form-group filter dropdown">
              <div class="dropdown-toggle form-control"
                    id="filter_assigned_lesson_columns" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Select Lessons in Unit To Display
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="filter_assigned_lesson_columns" id="lessons_in_unit">
                <li>
                  <label><a href="#" id="select_all_lessons"> Select All</a> </label>
                </li>
                {% for curr in underlying_curriculum %}
                  <li class="active">
                    <label ><input type="checkbox" name="lesson_in_unit" class="lesson_in_unit" value="lesson_{{curr.id}}" checked/> Lesson {{curr.order}} </label>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          <label>{{filter_form.sort_by.label|title}}</label>
          <div>{{filter_form.sort_by}}</div>
        </div>
      </div>
    </form>
    {% if student_assignment_details %}
    <div class="dashboard_container">
      <table class="table table-bordered table-condensed" id="unit_progress">
        <thead>
          <tr>
            <th class="student_col">
              Student
            </th>
            {% for curr, assignment in assignment_header.items %}
              <th class="lesson_{{curr.id}} top">
                <div>
                  {% if curr.order %}
                    <div class="info" rel="popover" data-title="Lesson {{curr.order}}" data-content="{{curr.title}}" data-trigger="hover">
                      Lesson {{curr.order}}
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </div>
                  {% endif %}
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                      {% if assignment %}
                        <li>
                          <a href="{% url 'ctstem:assignmentProgressDashboard' teacher_id %}?group={{group.id}}&assignment={{curr.id}}" title="Assignment Progress Dashboard for Lesson {{curr.order}}">
                            View Lesson Progress
                          </a>
                        </li>
                        {% if class_status == 'active' %}
                          <li>
                            <a class="assignment_link" href="#" data-toggle="modal" data-target="#assignmentLinkModal" data-invite-link="https://{{domain}}/?next=/login?next=/assignments?assignment={{assignment.id}}" data-title="Direct Student Assignment Link" title="Direct Assignment Link">
                              View Assignment Link
                            </a>
                          </li>
                        {% endif %}
                      {% endif %}
                      <li>
                        <a href="{% url 'ctstem:previewCurriculum' curr.id %}" target="_blank" title="Preview Curriculum">
                          Preview Curriculum
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for student, assignment_details in student_assignment_details.items %}
            <tr style="background-color: {% if forloop.counter|divisibleby:2 %}  white; {% else %} #f9f9f9; {% endif %}">
              <td class="student_col">
                <div class="student_name">
                  {% if user.researcher %}
                    <b>{{student.user.id}}</b><br>
                  {% else %}
                    <b>{{student}}</b><br>
                  {% endif %}
                </div>
                <div class="student_mask">
                  xxxxxxxxxxx
                </div>
              </td>
              {% for student_assignment in assignment_details %}
                {% if student_assignment.assignment is None %}
                  <td class="lesson_{{student_assignment.curriculum_id}}" style="width: 10em;">
                    <div class="crossed"></div>
                  </td>
                {% else %}
                  <td class="lesson_{{student_assignment.curriculum_id}}" style="width: 10em;">
                    <div class="assignment_status_chart">
                      <div id="chart_{{student_assignment.serial}}" class="donut_chart" data-percent-complete="{{student_assignment.percent_complete}}"></div>

                      {% if student_assignment.instance.status == 'P' %}
                        <!--div> In Progress </div-->
                        <div class="controls">
                           <a type="button" class="btn blue" href="{% url 'ctstem:assignmentStudentFeedback' teacher_id %}?group={{student_assignment.assignment.group.id}}&assignment={{student_assignment.assignment.curriculum.id}}&student={{student.user.id}}"
                          title="Give Feedback"> <i class="far fa-comment-dots" aria-hidden="true"></i> </a>
                        </div>
                      {% elif student_assignment.instance.status == 'S' %}
                        <!--div> Submitted </div-->
                        <div class="controls">
                          <a type="button" class="btn blue" href="{% url 'ctstem:assignmentStudentFeedback' teacher_id %}?group={{student_assignment.assignment.group.id}}&assignment={{student_assignment.assignment.curriculum.id}}&student={{student.user.id}}" title="Give Feedback"> <i class="far fa-comment-dots" aria-hidden="true"></i> </a>

                          {% if student_assignment.instance.assignment.curriculum.curriculum_type == 'L' %}
                            <a type="button" class="btn blue" href="{% url 'ctstem:unlockAssignment' student_assignment.assignment.id  student_assignment.instance.id %}" title="Unlock Assignment" onclick="return confirm('Are you sure you want to unlock this assignment? Unlocking the assignment will allow the student to edit his/her responses and resubmit.');"> <i class="fa fa-unlock" aria-hidden="true"></i> </a>
                          {% endif %}
                        </div>
                      {% elif student_assignment.instance.status == 'F' %}
                        <!--div> Feedback Completed </div-->
                        <div class="controls">
                          <a type="button" class="btn blue" href="{% url 'ctstem:assignmentStudentFeedback' teacher_id %}?group={{student_assignment.assignment.group.id}}&assignment={{student_assignment.assignment.curriculum.id}}&student={{student.user.id}}" title="View/Give Feedback"> <i class="fas fa-comment-dots" aria-hidden="true"></i> </a>
                        </div>
                      {% elif student_assignment.instance.status == 'A' %}
                        <!--div> Archived </div-->
                        <div class="controls">
                          <a type="button" class="btn blue" href="{% url 'ctstem:assignmentStudentFeedback' teacher_id %}?group={{student_assignment.assignment.group.id}}&assignment={{student_assignment.assignment.curriculum.id}}&student={{student.user.id}}" title="View/Give Feedback"> <i class="fas fa-comment-dots" aria-hidden="true"></i> </a>
                        </div>
                      {% else %}
                        <i class="far fa-window-minimize"></i>
                      {% endif %}
                    </div>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <script type="text/javascript">

    $('#progress_search_form select').on('change', function(){

      if($(this).attr('id') == 'id_group'){
        $('select#id_assignment').val('');
      }

      $('#progress_search_form').submit();
    });

    $(".info").click(function (e) {
      e.preventDefault();
      e.stopPropagation();
      $(".info").not(this).popover('hide');
    });

    $(document).click(function (e) {
      if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
        $(".info").popover('hide');
      }
    });
    $(".info").popover({
      placement: 'bottom',
      html: true,
      container: 'body',
    });

    $('.donut_chart').each(function(){
      render_donut_chart($(this));
    });

  </script>

{% endblock %}


