{% extends "ctstem_app/base.html" %}
{% load ctstem_extras %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block title %}User Group |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    {% if form.instance %}
      <h2>{{form.instance.title|title}}</h2>
    {% else %}
      <h2>Student Group</h2>
    {% endif %}
    {% include "ctstem_app/Tabs.html" with tab='group' group=form.instance role='group'%}
    <form method="post" id="userGroupForm">
      {% csrf_token %}
      <div class="table" id="group">
        {{form.management_form}}

        <div class="form-group">
          <label for="id_{{title}}">{{ form.title.label }} {% if form.title.field.required %}(<span class="required">*</span>){% endif %} </label>
          <div class="controls">{{form.title}}</div>
          <div class="error">{{ form.title.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{title}}">{{ form.subject.label }} {% if form.subject.field.required %}(<span class="required">*</span>){% endif %} </label>
          <div class="controls">{{form.subject}}</div>
          <div class="error">{{ form.subject.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{title}}">{{ form.time.label }} {% if form.time.field.required %}(<span class="required">*</span>){% endif %} </label>
          <div class="controls">{{form.time}}</div>
          <div class="error">{{ form.time.errors }}</div>
        </div>
        {% if user.teacher %}
          <input type="hidden" id="id_group-teacher" name="group-teacher" value="{{user.teacher.id}}"/>
        {% else %}
          <div class="form-group">
            <label for="id_{{title}}">{{ form.teacher.label }} {% if form.teacher.field.required %}(<span class="required">*</span>){% endif %} </label>
            <div class="controls">{{form.teacher}}</div>
            <div class="error">{{ form.teacher.errors }}</div>
          </div>
        {% endif %}
        <div class="form-group">
          <label for="id_{{title}}">{{ form.description.label }} {% if form.description.field.required %}(<span class="required">*</span>){% endif %} </label>
          <div class="controls">{{form.description}}</div>
          <div class="error">{{ form.description.errors }}</div>
        </div>

        {% if form.instance.id %}
          <div class="form-group assignment_table">
            {{formset.management_form}}
            {{formset.id}}
            <div>
              <label for="id_assignment_table">Assignments</label>
              <!--a type="button" class="btn btn-info add_assignment" name="add_assignment" title="Add Assignment" id="addAssignment">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a-->
              <a type="button" class="btn btn-success assignment-modal" href="#" data-toggle="modal" data-target="#assignment" data-id="{{form.instance.id}}" title="Search Assignment">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>
            </div>
            <div class="table_container">
              <table class="table table-striped table-condensed table-bordered inner_table">
                <thead>
                  <tr>
                    <th style="width:60%;">Lesson Plan/Assessment</th>
                    <th>Assigned Date</th>
                    <th>Due Date</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for assignmentForm in formset %}
                    <tr style="{% if forloop.last %} display:none; {% endif %}">
                      <td>
                        {{assignmentForm.id}}
                        {{assignmentForm.curriculum.as_hidden}}
                        <div class="assignment_title">
                          {% if assignmentForm.curriculum.value %}
                            {{assignmentForm.curriculum.value|get_curriculum_title}}
                          {% endif %}</div>
                        <div class="error">
                          {{assignmentForm.curriculum.errors}}
                        </div>
                      </td>
                      <td style="vertical-align:middle;">{{assignmentForm.get_assigned_date|date}}</td>
                      <td>
                        {{assignmentForm.due_date }}
                        <div class="error">
                          {{assignmentForm.due_date.errors }}
                        </div>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger delete_assignment" name="delete_assignment" aria-label="Delete Assignment" title="Delete Assignment">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        {{assignmentForm.DELETE.as_hidden}}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="form-group">
            <label for="id_{{title}}"> Students {% if form.members.field.required %}(<span class="required">*</span>){% endif %} </label>
            <a type="button" class="btn btn-success upload-modal" href="#" data-toggle="modal" data-target="#upload" data-id="{{form.instance.id}}" title="Upload Students">
              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            </a>
            <a type="button" class="btn btn-info upload-modal" href="#" data-toggle="modal" data-target="#studentSearch" data-id="{{form.instance.id}}" title="Search Students">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>
            <div class="controls table_container">
              {{form.members.as_hidden}}
              <table class="table table-striped table-bordered table-condensed inner_table" id="members">
                <thead>
                  <tr>
                    <th> Username </th>
                    <th> Name </th>
                    <th> Email </th>
                    <th> Status </th>
                    <th> Last Login </th>
                  </tr>
                </thead>
                <tbody>
                  {% for x in form.members.value %}
                    {% with student=x|getStudentInfo %}
                    <tr id="{{student.id}}">
                      <td>{{student.user.username}}
                      <div class="controls">
                        <a type="button" class="btn btn-success edit" aria-label="Edit User" title="Edit User" href="{% url 'ctstem:userProfile' student.user.id %}">
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a type="button" class="btn btn-warning removeUser" aria-label="Remove Student" title="Remove Student" href="{% url 'ctstem:removeStudent' form.instance.id student.id  %}" data-id="{{forloop.counter0}}">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                      </div>
                      </td>
                      <td>{{student.user.get_full_name}}</td>
                      <td>{{student.user.email}}</td>
                      <td>{{student.user.is_active|yesno:"Active,Inactive"}}</td>
                      <td>{{student.user.last_login|date}}</td>
                    </tr>
                    {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="error">{{ form.members.errors }}</div>
          </div>
        {% else %}
          <h4> Save the Group to add Assignments and Students </h4>
          {{formset.management_form}}
          {{formset.id}}
          {{formset.as_hidden}}
        {% endif %}

        <div class="form-group button-group-fixed">
          <input type="submit" class="btn btn-success" id="submit" value="Save Group"/>
        </div>
      </div>
    </form>
  </div>

  {% block upload %}
    {% include "ctstem_app/UserUploadModal.html" %}
  {% endblock %}

  {% block assignment %}
    {% include "ctstem_app/AssignmentSearch.html" %}
  {% endblock %}

  {% block student %}
    {% include "ctstem_app/StudentSearch.html" %}
  {% endblock %}
  <script type="text/javascript">
    $(function (){
      function add_assignment(){
        cloneMore('div.assignment_table table.table tr:last', 'form');
        var new_assignment_row = $('div.assignment_table table.table tr:nth-last-child(2)');
        $(new_assignment_row).toggle();
        $(new_assignment_row).find('.datepicker').removeClass('hasDatepicker');
        $(new_assignment_row).find('.datepicker').datepicker({dateFormat: 'M d, yy'});
      }

      $('button.delete_assignment').click(function(){
        var r = confirm("Are you sure you want to delete this assignment?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('tr').hide();
        }
      });

      $('.datepicker').datepicker({dateFormat: 'M d, yy'});

      $('a.upload-modal').click(function(){
        $("div.modal#upload select#id_group option:selected").prop('selected', false);
        $("div.modal#upload select#id_group option[value='"+$(this).data('id')+"']").prop('selected', true);
        $("div.modal#upload select#id_group").closest('.form-group').hide();
      });
    });
  </script>
{% endblock %}
