{% extends "ctstem_app/base.html" %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}User Profile |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    {% if user.id = userform.instance.id %}
      <h2>My Profile</h2>
    {% else %}
      <h2>{{role|title}} Profile</h2>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="table" id="userProfile">
        {{userform.management_form}}
        {{profileform.management_form}}
        {% for field in userform %}
          {% if user.student and field.name == 'is_active' %}
            {{field.as_hidden}}
          {% else %}
            <div class="form-group">
              <label for="id_{{field.name}}">{{ field.label|title }} (<span class="required">*</span>)
              {% if field.name == 'username' %}
                <span data-toggle="tooltip" data-placement="top" title="Please enter your username in lowercase.">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </span>
              {% endif %}
              </label>

              {{field}}
              <div class="error">{{ field.errors }}</div>
            </div>
          {% endif %}
        {% endfor %}
        {% for field in profileform %}
          <div class="form-group">
            <label for="id_{{field.name}}">
              {% if field.name == 'consent' %}
                <a data-toggle="modal" data-target="#consent" href="#">{{ field.label }}</a>
              {% else %}
                {{ field.label }}
              {% endif %}
              {% if field.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <!-- do not allow school admin, teacher and student to modify the school in their or their subordinates profile -->
            {% if user.school_administrator or user.teacher or user.student %}
              {% if field.name == 'school' %}
                {{field.as_hidden}}
                <div class="disabled">
                  {{field}}
                </div>
              {% else %}
                {{field}}
              {% endif %}
            {% else %}
              {{field}}
            {% endif %}
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
        <div class="form-group button-group">
          <input type="submit" class="btn btn-success" id="submit" value="Save Profile"/>
        </div>
      </div>

    </form>
    <div class="modal fade" id="consent" role="dialog">
      {% include 'ctstem_app/ConsentModal.html' with parent='profile' %}
    </div>
  </div>
{% endblock %}
