{% extends "ctstem_app/base.html" %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}User Groups |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    {% if user.teacher %}
      <h2> My Student Groups </h2>
    {% else %}
      <h2> Student Groups </h2>
    {% endif %}
    {% include "ctstem_app/UserControls.html" %}
    {% include "ctstem_app/Tabs.html" with tab='user'%}

    {% if groups %}
      <table class="table table-striped table-bordered table-condensed dt" id="groups">
        <thead>
          <tr>
            <th width="20%"> Group Name </th>
            <th width="15%"> Subject </th>
            <th width="10%"> Time </th>
            {% if not user.teacher %}
              <th width="15%"> Teacher </th>
            {% endif %}
            {% if not user.teacher and not user.school_administrator %}
              <th width="15%"> School </th>
            {% endif %}
            <th> Students </th>
            <th> Assignments </th>
          </tr>
          <tr id="filterrow">
            <th> Group Name </th>
            <th> Subject </th>
            <th> Time </th>
            {% if not user.teacher %}
              <th> Teacher </th>
            {% endif %}
            {% if not user.teacher and not user.school_administrator %}
              <th width="15%"> School </th>
            {% endif %}
            <th> Students </th>
            <th> Assignments </th>
          </tr>
        </thead>
        <tbody>
          {% for group in groups %}
            <tr>
              <td class="title">
                {{group.title}}
                {% if not user.researcher %}
                  <div class="controls">
                    <a type="button" class="btn btn-info" aria-label="Edit Group" title="Edit Group" href="{% url 'ctstem:group' group.id %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <a type="button" class="btn btn-danger" aria-label="Delete Group" title="Delete Group" href="{% url 'ctstem:deleteGroup' group.id %}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                    <a type="button" class="btn btn-success upload-modal" href="#" data-toggle="modal" data-target="#upload" data-id="{{group.id}}" title="Upload Students">
                      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                    </a>
                  </div>
                {% endif %}
              </td>
              <td>{{group.subject}}</td>
              <td>{{group.time}}</td>
              {% if not user.teacher %}
                <td>{{group.teacher}}</td>
              {% endif %}
              {% if not user.teacher and not user.school_administrator %}
                <td> {{group.teacher.school}} </td>
              {% endif %}
              <td>
                 <div>
                  {% if group.members.count > 0 %}
                    {{group.members.count}} Members
                  {% else %}
                    No Member
                  {% endif %}
                </div>
              </td>
              <td>
                <div>
                  {% if group.assignments.count > 0 %}
                    {{group.assignments.count}} Assignments
                    <div>
                      <a type="button" class="btn btn-warning" href="{% url 'ctstem:groupDashboard' group.id %}" aria-label="View Group Dashboard" title="View Group Dashboard">
                        <img src="/static/img/dashboard.png" class="icon" />
                      </a>
                    </div>
                  {% else %}
                    No Assignment
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No groups available.</p>
    {% endif %}
  </div>
  {% block upload %}
    {% include "ctstem_app/UserUploadModal.html" %}
  {% endblock %}

  <script type="text/javascript">
    $(function(){
      $(".expand_collapse2").click(function(){
        $(this).next().toggle();
        $(this).children().each(function(){
          $(this).toggle();
        })
      });

      $('a.upload-modal').click(function(){
        $("div.modal#upload select#id_group option:selected").prop('selected', false);
        $("div.modal#upload select#id_group option[value='"+$(this).data('id')+"']").prop('selected', true);

        if($(this).data('id') != null){
          $("div.modal#upload select#id_group").closest('.form-group').hide();
        }
      });
    });

  </script>

{% endblock %}


