{% extends "ctstem_app/base.html" %}

{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block title %}User Group |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2>Student Group</h2>
    <form method="post">
      {% csrf_token %}
      <div class="table" id="group">
        {{form.management_form}}
        {% for field in form %}
          <div class="form-group">
            {% if field.name != 'teacher' or user.teacher == '' %}
              <label for="id_{{field.name}}">{{ field.label|title }} {% if field.field.required %}(<span class="required">*</span>){% endif %} </label>
            {% endif %}
            <div class="controls">
              {% if field.name == 'teacher' %}
                {% if user.teacher %}
                  <input type="hidden" id="id_group-teacher" name="group-teacher" value="{{user.teacher.id}}"/>
                {% else %}
                  {{field}}
                {% endif %}
              {% else %}
                {{field}}
              {% endif %}
            </div>
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}

        <div class="form-group assignment_table">
          {{formset.management_form}}
          {{formset.id}}
          <div>
            <label for="id_assignment_table">Assignments</label>
            <a type="button" class="btn btn-info add_assignment" name="add_assignment" title="Add Assignment" id="addAssignment">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          </div>
          <table class="table table-striped table-condensed table-bordered inner_table">
            <thead>
              <tr>
                <th style="width:60%;">Lesson Plan/Assessment</th>
                <th>Assigned Date</th>
                <th>Due Date</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for assignmentForm in formset %}
                <tr style="{% if forloop.last %} display:none; {% endif %}">
                  <td class="assessment_title">
                    {{assignmentForm.id}}
                    {{assignmentForm.curriculum}}
                    <div class="error">
                      {{assignmentForm.curriculum.errors}}
                    </div>
                  </td>
                  <td style="vertical-align:middle;">{{assignmentForm.get_assigned_date|date}}</td>
                  <td>
                    {{assignmentForm.due_date }}
                    <div class="error">
                      {{assignmentForm.due_date.errors }}
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger delete_assignment" name="delete_assignment" aria-label="Delete Assignment" title="Delete Assignment">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    {{assignmentForm.DELETE.as_hidden}}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="form-group button-group-fixed">
          <input type="submit" class="btn btn-success" id="submit" value="Save Group"/>
        </div>
      </div>
    </form>
  </div>
  <script type="text/javascript">
    $(function (){

      $('a#addAssignment').click(function() {
        cloneMore('div.assignment_table table.table tr:last', 'form');
        var new_assignment_row = $('div.assignment_table table.table tr:nth-last-child(2)');
        $(new_assignment_row).toggle();
        $(new_assignment_row).find('.datepicker').removeClass('hasDatepicker');
        $(new_assignment_row).find('.datepicker').datepicker({dateFormat: 'M d, yy'});
      });

      $('button.delete_assignment').click(function(){
        var r = confirm("Are you sure you want to delete this assignment?");
        if (r == true) {
          $(this).next('input').val('on');
          $(this).closest('tr').hide();
        }
      });

      $('.datepicker').datepicker({dateFormat: 'M d, yy'});

    });
  </script>
{% endblock %}
