{% extends "ctstem_app/base.html" %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}User Profile |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2>{{role|title}} Profile</h2>
    <form method="post">
      {% csrf_token %}
      <div class="table" id="userProfile">
        {{userform.management_form}}
        {{profileform.management_form}}
        {% for field in userform %}
          {% if user.student and field.name == 'is_active' %}
            {{field.as_hidden}}
          {% else %}
            <div class="form-group">
              <label for="id_{{field.name}}">{{ field.label|title }} (<span class="required">*</span>)</label>
              {{field}}
              <div class="error">{{ field.errors }}</div>
            </div>
          {% endif %}
        {% endfor %}
        {% for field in profileform %}
          <div class="form-group">
            <label for="id_{{field.name}}">
              {% if field.name == 'consent' %}
                <a data-toggle="modal" data-target="#consent" href="#">{{ field.label }}</a>
              {% else %}
                {{ field.label }}
              {% endif %}
              {% if field.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            {{field}}
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
        <div class="form-group button-group">
          <input type="submit" class="btn btn-success" id="submit" value="Save Profile"/>
        </div>
      </div>

    </form>
    <div class="modal fade" id="consent" role="dialog">
      {% include 'ctstem_app/ConsentModal.html' with parent='profile' %}
    </div>
  </div>
{% endblock %}
