{% load ctstem_extras %}
<div class="form-group">
  {% if user.administrator or user.school_administrator%}
    <a type="button" class="btn btn-info" href="{% url 'ctstem:register' %}" title="Add a new user">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Create User
    </a>
  {% endif %}
  {% if user.administrator or user.school_administrator or user.teacher %}
    <!--a type="button" class="btn btn-warning" href="/static/excel/Student_Template.csv" title="Download Student Template">
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download Student Template
    </a-->
    <a type="button" class="btn btn-success upload-modal" href="#" data-toggle="modal" data-target="#upload" title="Upload Students">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Students
    </a>
    <a type="button" class="btn btn-info" href="{% url 'ctstem:newGroup' %}" title="Create new group">Create Group</a>
    {% if user.administrator %}
      {% if role == 'students' %}
        {% student_actions %}
      {% elif role == 'teachers' or role == 'school_administrators' %}
        {% teacher_actions %}
      {% elif tab == 'user' %}
        {% user_actions %}
      {% endif %}
    {% else %}
      {% if tab == 'user' %}
        {% user_actions %}
      {% endif %}
    {% endif %}
  {% endif %}
</div>

