{% extends "ctstem_app/base.html" %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}User Profile |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2>{{role|title}} Profile</h2>
    <form method="post">
      {% csrf_token %}
      <div class="table" id="userProfile">
        {{userform.management_form}}
        {{profileform.management_form}}
        {% for field in userform %}
          <div class="form-group">
            <label for="id_{{field.name}}">{{ field.label|title }} (<span class="required">*</span>)</label>
            {{field}}
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
        {% for field in profileform %}
          <div class="form-group">
            <label for="id_{{field.name}}">{{ field.label }} {% if field.field.required %}(<span class="required">*</span>) {% endif %} </label>
            {% if field.name == 'user_code' %}
              <div class="input-group">
                {{field}}
                <span class="input-group-btn">
                  <input type="button" class="btn btn-primary" id="generate_code" value="Generate"/>
                </span>
              </div>
            {% else %}
              {{field}}
            {% endif %}
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
        <div class="form-group button-group">
          <input type="submit" class="btn btn-success" id="submit" value="Save Profile"/>
        </div>
      </div>

    </form>
  </div>
{% endblock %}
