{% extends "ctstem_app/base.html" %}
{% block media %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% block title %}Account Validation |{% endblock %}

{% block content %}
  {{block.super}}
  <div class="content">
    <h2>Account Validation</h2>
    <form method="post">
      {% csrf_token %}
      <div class="table" id="userProfile">
        {% for field in form %}
          <div class="form-group">
            <label for="id_{{field.name}}">
              {{ field.label }}
              {% if field.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            {{field}}
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
        <div class="form-group button-group">
          <input type="submit" class="btn btn-success" id="submit" value="Submit"/>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
