<div class="bulk_actions">
    <select id="action" name="action" class="form-control" onchange='update_subaction($("option:selected", this).attr("value"), $("form").find("input:hidden").eq(0).val())'>
      {% for action in actions %}
        <option value="{{action.value}}">{{action.description}}</option>
      {% endfor %}
    </select>
    &nbsp;
    <select id="subaction" name="subaction" class="form-control">
        <option value="">---------</option>
    </select>
    &nbsp;
    <input class="btn blue" name="index" title="Perform en masse the selected action" type="submit" onClick="return confirmAction()" value="Go">
</div>


