/* Page Element Styles */
html {
  height: 100%;
}
body {
  font-size:1em;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.5em;
  height: 100%;
}

/* basic layout Styles */
.innerWrap{
  width: 80em;
  margin: 0 auto;
  text-align: left;
}

/***************************************
            *   HEADER   *
 ***************************************/
#header {
  color:#9752A5;
  line-height:1em;
  height:148px;
  background-color:white;
}
#header .innerWrap{
  text-align:center;
}
#header a{
  color:#520063;
}
#header a:hover, #header a:visited {
  text-decoration: none;
}
#header #logo{
  float:left;
  width: 15em;
  padding-top: 14px;
}
#header #banner {
  float:left;
  width: 60em;
  padding: 1em 8em;
  text-align: left;
}
#header #banner #title {
  line-height:1em;
  font-size: 3.3em;
  padding: 0.25em 0 0.35em 0.5em;
  text-align: center;
}
#header #banner h3 {
  line-height:1em;
  margin-left:1em;
  font-size: 1.5em;
}

a {
  color: #337ab7;
}
/***********   HEADER END   ************/

/***************************************
            *   FOOTER   *
 ***************************************/
footer {
  font-size: 1.3em;
}
/***********   FOOTER END   ************/


/***************************************
            *   NAVBAR   *
 ***************************************/
 @media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
 .navbar-default {
  background-image: none !important;
  border: none;
  background-color: #222;
  padding: 10px 0;
  margin-bottom: 10px;
}

.navbar-default .navbar-nav {
  font-size: 1.1em;
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar-default a.navbar-brand {
  font-family: 'Roboto Slab, serif';
}
.navbar-default a.navbar-brand span {
  font-family: 'Montserrat, sans-serif';
  font-size-adjust: 0.5;
}
.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover{
  background-image: none !important;
}
.navbar-default .dropdown-menu{
  background-image: none !important;
  border: none;
  background-color: #222;
  padding: 0;
  font-size: 1em;
}
#intro-image-caption {
  font-size: 0.8em;
  font-family: sans-serif;
  position: absolute;
  bottom: 8px;
  right: 8px;
  text-align: right;
  width: 90%;
  color: rgba(255, 255, 255, 0.7);
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
  color: white;
}
.navbar-login p {
  font-family: 'Montserrat, sans-serif';
  font-weight: 400;
  letter-spacing: 1px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size{
  font-size: 87px;
}
/***********   NAVBAR END   ************/


/***************************************
            *   CONTENT DIV   *
 ***************************************/
@media (min-width: 400px) and (max-width: 768px){
  div.table {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 1200px){
  div.table {
    width: 90% !important;
  }
}
@media (min-width: 1200px){
  div.table {
    min-width: 800px !important;
  }
}
div.table {
  border: solid #ccc 1px;
  padding: 30px 10px 10px 10px;
  margin: auto;
  width: 60%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(204,204,204, 1);
}

div.table#register, div.table#userProfile, div.table#password {
  width: 50%;
  padding: 3em 4em;
}
div.table#curriculum, div.table.step,
div.table#curriculumQuestions, div.table.activity, div.table#metadata, div.table#group, div.table#standard {
  width: 70%;
  padding: 3em 4em;
}
div.table.step, div.table.activity, div.table.ngss, div.table.taxonomy, div.table#curriculumQuestions, div.table#curriculumPreview, div.table.stepPreview {
  margin-top: 3em;
}
div.table#curriculumPreview, div.table.stepPreview {
  width: 90%;
  text-align: left !important;
  padding: 3em 4em;
}

div.table.step div.row.question {
  margin-bottom: 1em;
}

div.table#curriculum span.controls, div.table.activity span.controls, div.table#assessment span.controls, div.table.step span.controls {
  float: right;
}
div.curriculum_content div#taxonomy_div {
  max-height: 40%;
  overflow-y: auto;
}
div.curriculum_content div#taxonomy_div
span.expand_collapse_other {
  font-size: 16px;
}
div.table.activity .question_table {
  margin-top: 3em;
}

div.table#curriculumPreview .meta {
  margin-bottom: 1em;
}
div.table#curriculumPreview, div.table.stepPreview {
  background-color: #eee;
}
table.question_table {
  margin-bottom: 1em;
}
table.question_table .question_no{
  font-weight: 700;
}
div.table.stepPreview h3.activity_title {
  text-decoration: underline;
}
div.table.stepPreview .note {
  font-style: italic;
}
div.table.stepPreview .answer_field .input_container {
  margin-bottom: 10px;
  vertical-align: middle;
}
div.table.stepPreview .answer_field .input_container .circle {
  border: 1px solid black;
  border-radius: 20px;
  height: 20px;
  width: 20px;
}
table.question_table td.answer_field {
  padding-bottom: 0.5em;
}
table.question_table td.error {
  padding-bottom: 1em;
}

div.table#curriculumPreview, div.table#curriculumQuestions, div.table#curriculumPreview, div.table.stepPreview{
  font-size: 1.5em;
}

div.table#curriculumPreview div.curriculum-row, div.table#curriculumQuestions div.question-row{
  margin-bottom: 2em;
}

div.table#assignment {
  padding: 3em 4em;
  background-color: #eee;
  font-size: 1.5em;
}

div.table#curriculumPreview hr, div.table.stepPreview hr, div.table#assignment hr {
  border-top: 1px solid #949494;
}

div.table#assignment .row .back, div.table.stepPreview .row .back {
  text-align: left;
}
div.table#assignment .row .next, div.table.stepPreview .row .next {
  text-align: right;
}
div.table#assignment .row .title, div.table.stepPreview .row .title {
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
}
div.table#assignment .row .title .curriculum_title, div.table.stepPreview .row .title .curriculum_title {
  font-size: 1.1em;
  text-decoration: underline;
  margin-bottom: 1em;
}

div.table#assignment div.assessment_content {
  min-height: 50%;
}

div.question_container div.question {
  margin-bottom: 2em;
}

div.question_container div.question div.question_text {
  font-weight: 700;
}

div.table#assignment div.question_container div.question div.answer_field input:disabled,
div.table#assignment div.question_container div.question div.answer_field select:disabled,
div.table#assignment div.question_container div.question div.answer_field textarea:disabled {
  color: blue;
}

div.table.standard table.subcategories {
  font-size: 0.8em;
}

div.table.taxonomy {
  font-size: 1.5em;
}

div.table.taxonomy li {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

div.table.taxonomy h3 {
  text-decoration: underline;
}

div.table.item {
  width: 17%;
  text-align: center;
  margin: 2em;
  display: inline-table;
  height: 30%;
  max-height: 30%;
  overflow-y: scroll;

}
div.table.item a {
  text-decoration: none;
}

div.table.item  .tile-icon-holder {
  text-align: center;
  vertical-align:middle;
}
div.row.portfolio div.table.item  .tile-icon-holder {
  height: 40%;
}
div.row.standards div.table.item  .tile-icon-holder {
  height: 70%;
}
div.table.item .text-holder {
  margin-top: 2em;
  text-align: center;
  color: #f2f2f2;
  font-size: 0.9em;
  vertical-align:bottom;
}
div.row.portfolio div.table.item .text-holder {
  height: 60%;
}
div.row.standards div.table.item .text-holder {
  height: 30%;
}
div.table.item#team {
  width: 16%;
  text-align: center;
  margin: 2em;
  display: inline-table;
  height: 41%;
}

div.table.item#team .text-holder {
  color: black;
}

div.table.item#taxonomy, div.table#category_1 {
  background-color: #E51400;
}
table.table#subcategory_1 thead {
  background-color: #990d00;
  color: #f2f2f2;
}
div.table.item#taxonomy:hover, div.table#category_1:hover {
  background-color: #990d00;
  cursor: pointer;
}
div.table.item#lessons, div.table#category_2 {
  background-color: #2E8BCC;
}
table.table#subcategory_2 thead {
  background-color: #20608e;
  color: #f2f2f2;
}
div.table.item#lessons:hover, div.table#category_2:hover {
  background-color: #20608e;
  cursor: pointer;
}
div.table.item#assessments, div.table#category_3 {
  background-color: #F09609;
}
table.table#subcategory_3 thead {
  background-color: #a66806;
  color: #f2f2f2;
}
div.table.item#assessments:hover, div.table#category_3:hover {
  background-color: #a66806;
  cursor: pointer;
}
div.table.item#workshops, div.table#category_4 {
  background-color: #8CBF26;
}
table.table#subcategory_4 thead {
  background-color: #5d7f19;
  color: #f2f2f2;
}
div.table.item#workshops:hover, div.table#category_4:hover {
  background-color: #5d7f19;
  cursor: pointer;
}
div.table[id^='category_'] {
  background-color: #9752A5;
}
div.table[id^='category_']:hover {
  background-color: #5a3163;
  cursor: pointer;
}

div.table.item .glyphicon {
  font-size: 2.5em;
  color: white;
}
div.table.item .icon {
  height: 150px;
}
ul#publications{
  font-size: 1.5em;
  list-style: none;
  width: 100%;
  margin: auto;
}

ul#publications li.publication{
  margin: 1em;
}

ul#publications li.publication span.journal {
  font-style: italic;
}

div#categories {
  margin-top: 2em;
}

div.standards img.icon {
  max-width: 100%;
}
table.table#assignments img.icon {
  width: 50%;
}
/***********   CONTENT DIV END   ************/

/******************
 * ABOUT US
*******************/
div.row.portfolio, div.row.standards {
  text-align: center;
}
/***********   ABOUT US END   ************/

/***************** input fields ************/
textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
select {
  width: auto !important;
}
/***************** end input *******************/

/***************************************
            *   TABLE VIEW   *
 ***************************************/
 table.table {
  margin: auto;
  border-radius: 10px;
  border-collapse:collapse;
  border: inherit !important;
}
table.table thead {
  /*font-family: 'Montserrat, sans-serif';*/ /*'QuaTrocento Regular';*/
  font-size: 1.5em;
  font-weight: 400;
}
table.table thead tr#filterrow th{
  font-size: 1em;
}
table.table thead tr#filterrow th input{
  width: 100%;
}
table.table tbody {
  /*font-family: 'Roboto Condensed Light';*/
  font-size: 1.4em;
}

table.table tr:first-child th:first-child {
    border-top-left-radius: 10px;
    -moz-border-top-left-radius:: 10px;
}
table.table tr:first-child th:last-child {
  border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
}
table.table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
}
table.table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
}

table.table td.status {
  font-weight: bold;
}
table.table td > div.title {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1em;
}

table.table.dt thead tr:not(#filterrow), table.table.inner_table thead tr {
  background-color: #666666;
  color: #e5e5e5;
}
table.table.inner_table {
  margin-top: 1em;
}
table.table.inner_table thead tr {
  font-size: 0.9em;
}

table.table thead tr:not(#filterrow) th{
  text-align: center;
}
table.table[id^='subcategory_'] thead {
  background-color: #5a3163;
  color: #f2f2f2;
}

table.table#assignments {
  text-align: center;
}
table.table#assignments td.thumb {
  width: 7%;
  vertical-align: middle;
}

table.table.sub {
  display:none;
  max-width: 60%;
  min-width: 40%;
  text-align: center;
}
table.table.sub a:hover {
  cursor: pointer;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  font-size: 1.4em;
}

.dataTables_wrapper .dataTables_filter input {
  width: 15em;
  border-radius: 5px;
}
/***********   TABLE VIEW END   ************/

/***************************************
            *   FORM GROUP   *
 ***************************************/
div.form-group {
  overflow: auto;
  margin-bottom: 2.5em;
  margin-top: 1em;
}
div.form-group label{
  font-size: 1.6em;
}

div.form-group label .required{
  color: red;
}

div.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 120px;
  min-height: 90%;
}

div.content#home header{
  background-image:url(/static/img/header-bg3.jpg);
  position: relative;
  background-blend-mode: ;
}
div.content#home header .intro-text {
  padding-top: 200px;
  padding-bottom: 150px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
div.content section {
  padding: 80px 0px;
}

div.content#home section h3.section-subheading {
  line-height: 150%;
  padding: 0 150px;
  font-style: normal;
}
div.content section.portfolio .portfolio-caption {
  background-color: #f7f7f7;
}
div.content section.portfolio.bg-light-gray .portfolio-caption {
  background-color: #fff;
}

div.content#home section#research .portfolio-item .portfolio-caption{
  text-align: left !important;
  max-width: 100%;
}
div.content#home section#research .portfolio-item .portfolio-caption div {
  margin-bottom: 0.5em;
}
div.content#home section#research .portfolio-item .portfolio-caption .title {
  font-weight: bold;
  font-size: 1.2em;
}
div.content#home section#research .portfolio-item .portfolio-caption .authors {
  font-style: italic;
}
div.content#home section#research .portfolio-item .portfolio-caption .authors .journal {
  font-style: normal;
}
div.content#home {
  width: 100%;
  font-size: 1.5em;
  /*background-color: rgba(204,204,204, 1);
  border-radius: 2em;*/
  margin: 0 0 1em 0;
}

div.content#home section#practices img.img-circle {
  height: 100%;
  width: 100%;
}

div.content#home section .explore_more {
  text-align: center;
}

div.content#assignments {
  width: 80%;
}

div.content#assignments .assignment_title {
  margin-bottom: 1em;
}
div.content#assignments .portfolio-item a {
  border: 2px solid #f7f7f7;
  border-radius: 6px;
}
div.content#assignments  .dates {
  font-size: 1.3em;
}
div.content#assignments  .dates .row {
  margin-bottom: 0.5em;
}
div.content#assignments  .dates .row .title {
  font-weight: bold;
}
div.content#assignments .chart_container {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
div.btn-group {
  margin-bottom: 10px;
  width: 100%;
}
div.btn-group a{
  margin-right: 1em;
}
a.btn.pdf img {
  height: 20px;
}

div.button-group-fixed {
  position: fixed;
  top: 30%;
  left: 87%;

}

.form-inline > * {
   margin: 1em;
}
/***********   FORM GROUP END   ************/

/******** Button ***********/
.btn-primary, .btn-default, .btn-success, .btn-danger, .btn-warning, .btn-info {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700
}

div.content #pagination {
  text-align: center;
  font-size: 2em;
}
/********************/

/***************************************
            *   MODAL FORM   *
 ***************************************/
div.modal-content {
  max-height: 90%;
  overflow-y: scroll;
}
div.modal-content div#loginMsg , div.modal-content div#uploadMsg, div.modal-content div#questionMsg, div.modal-content div#subcategoryMsg
{
  text-align: center;
  color: red;
}
div.modal-content div#taxonomyResults {
  padding: 0 2em 1em 2em;
}
div.modal-content span.time {
  color: red;
}
/***********   FORM GROUP END   ************/

/***************************************
            *   HEADINGS   *
 ***************************************/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/*.h1, h1 {
  font-size: 36px;
}*/
/***********   HEADINGS END   ************/

/***************************************
            *   MESSAGES AND COLORS   *
 ***************************************/
ul.messages {
  list-style-type: none;
  font-size: 1.5em;
  width: 100%;
  position: fixed;
  top: 90px;
  z-index: 99;
}

ul.messages li {
  text-align: center;
  padding: 0.5em 0;
}
.error {
  color: red;
}
.success {
  color: green;
}
.warning {
  color: orange;
}
.info {
  color: blue;
}
/***********   MESSAGES AND COLORS END   ************/

/***************************************
            *   MULTISELECT WIDGET   *
 ***************************************/

 .form-group .selector {
  width: 100%;
 }
.selector-available , .selector-chosen {
  border: solid #ccc 1.5px;
  border-radius: 5px;
  overflow-wrap: break-word;
  width: 48%;
}
.selector-available select, .selector-chosen select{
  border: 0px;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  padding: 10px;
}
.selector .selector-available input, .selector .selector-chosen input{
  width: 90%;
}
.selector-available h5, .selector-chosen h5 {
  font-weight: 700;
  font-size: 1em;
}

a.selector-chooseall, a.selector-clearall {
  display: inline;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/***********   MULTISELECT WIDGET END   ************/

/*********** TOGGLE SWITCH ***********************/
.switch {
  position: relative;
  display: block;
  vertical-align: top;
  float: right;
  width: 150px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 150px;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #337ab7;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: white;
  /*text-shadow: 0 1px rgba(255, 255, 255, 0.5);*/
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  /*text-shadow: 0 1px rgba(0, 0, 0, 0.2);*/
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #5cb85c;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 120px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

/************* TOGGLE SWITCH END ***************/

/********* Tabs **********/

.nav-tabs {
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: 700;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border-left: 1px solid #4d4d4d;
  border-top: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
  border-bottom: 1px solid #999999;
}

.nav-tabs>li>a {
  border: 1px solid #999999;
  background-color: #e6e6e6;
}

/******* glyphicon colors and behavior ********/
.glyphicon {
  cursor: pointer;
}

span.ec .glyphicon-collapse-down {
  color: #3e8f3e;
}

span.ec .glyphicon-collapse-up{
  color: #e38d13;
}

.order input[type='number'] {
  width: 5em;
}
/*************************************/

