/* Page Element Styles */
body {
  color:#434547;
  font-family:Verdana,helvetica,Arial,sans-serif;
  font-size:1em;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.5em;
}

/* basic layout Styles */
.innerWrap{
  width: 80em;
  margin: 0 auto;
  text-align: left;
}

/***************************************
            *   HEADER   *
 ***************************************/
#header {
  color:#9752A5;
  line-height:1em;
  height:148px;
  background-color:white;
}
#header .innerWrap{
  text-align:center;
}
#header a{
  color:#520063;
}
#header a:hover, #header a:visited {
  text-decoration: none;
}
#header #logo{
  float:left;
  width: 15em;
  padding-top: 14px;
}
#header #banner {
  float:left;
  width: 60em;
  padding: 1em 8em;
  text-align: left;
}
#header #banner #title {
  line-height:1em;
  font-size: 3.3em;
  padding: 0.25em 0 0.35em 0.5em;
  text-align: center;
}
#header #banner h3 {
  line-height:1em;
  margin-left:1em;
  font-size: 1.5em;
}
/***********   HEADER END   ************/

/***************************************
            *   FOOTER   *
 ***************************************/
#footer {
  background: lightgray; /*#273138 url(../images/footer-bg.gif) repeat-x scroll left top;*/
  color: black;
  font-weight: 700;
  padding: 15px 0;
  float:left;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  bottom: 0;
}
#footer div {
  text-align: center;
}

/***********   FOOTER END   ************/


/***************************************
            *   NAVBAR   *
 ***************************************/
.navbar {
  line-height: 1em;
  font-size: 1.5em;
  padding-left: 5em;
  padding-right: 5em;
  min-height:20px !important;
  background-color: #520063;
}

.navbar-default {
  background-image: none !important;
}

.navbar-default .navbar-nav > li > a, .navbar-default .pull-right > li > a {
  padding-top: 10px;
  padding-bottom: 5px;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .pull-right > li > a:hover{
  background-color: #c097c9;
  color: black;
}

.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover{
  background-color: #9752a5;
  background-image: none;
  color: white;
  text-shadow: none;
}
.navbar-default .navbar-brand {
  float: left;
  height: 1em;
  padding: 8px 0 0 0;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

.navbar-default .navbar-header {
  margin-right: 5em;
}

/***********   NAVBAR END   ************/


/***************************************
            *   CONTENT DIV   *
 ***************************************/
div.table {
  border: solid #ccc 1px;
  padding: 30px 10px 10px 10px;
  margin: auto;
  width: 60%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(204,204,204, 1);
}

div.table#register, div.table#userProfile, div.table#password {
  width: 50%;
  padding: 3em 4em;
}
div.table#lesson, div.table#lessonPreview, div.table#assessment, div.table.step, div.table#assessmentPreview, div.table.stepPreview, div.table#lessonQuestions, div.table.activity{
  width: 70%;
  padding: 3em 4em;

}
div.table.step, div.table.activity, div.table.ngss, div.table.taxonomy, div.table#lessonQuestions, div.table#assessmentPreview, div.table.stepPreview {
  margin-top: 3em;
}

div.table.step div.row.question {
  margin-bottom: 1em;
}

div.table#lesson div.controls, div.table.activity div.controls {
  margin-left: 98%;
  font-size: 2em;
  margin-bottom: 1em;
}

div.table.activity .question_table {
  margin-top: 3em;
}

div.table#assessmentPreview .meta {
  margin-bottom: 1em;
}
div.table.stepPreview table.question_table .question_no{
  font-weight: 700;
}
div.table.stepPreview h3.activity_title {
  text-decoration: underline;
}
div.table.stepPreview .note {
  font-style: italic;
}
div.table.stepPreview .answer_field .input_container {
  margin-bottom: 10px;
  vertical-align: middle;
}
div.table.stepPreview .answer_field .input_container .circle {
  border: 1px solid black;
  border-radius: 20px;
  height: 20px;
  width: 20px;
}

div.table#lessonPreview, div.table#lessonQuestions, div.table#assessmentPreview, div.table.stepPreview{
  font-size: 1.5em;
}

div.table#lessonPreview div.lesson-row, div.table#lessonQuestions div.question-row{
  margin-bottom: 2em;
}

div.table.taxonomy {
  font-size: 1.5em;
}

div.table.taxonomy li {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

div.table.taxonomy h3 {
  text-decoration: underline;
}

div.table.portfolio-item {
  width: 16%;
  text-align: center;
  margin: 2em;
  display: inline-table;
  height: 41%;
}

ul#publications{
  font-size: 1.5em;
  list-style: none;
  width: 80%;
  margin: auto;
}

ul#publications li.publication{
  margin: 1em;
}

ul#publications li.publication span.journal {
  font-style: italic;
}
/***********   CONTENT DIV END   ************/

/******************
 * ABOUT US
*******************/
div.row.portfolio {
  text-align: center;
}
/***********   ABOUT US END   ************/

/***************************************
            *   TABLE VIEW   *
 ***************************************/
table.table {
  margin: auto;
}
table.table tfoot th {
  font-weight: 400;
  font-size: smaller;
}
table.table tfoot th input {
  width: 90%;
}
table.table td {
  font-size: smaller;
}
table.table td.title {
  font-weight: bold;
}
table.table td.title div.controls {
  margin-top: 0.5em;
}
/***********   TABLE VIEW END   ************/

/***************************************
            *   FORM GROUP   *
 ***************************************/
div.form-group label{
  font-size: 1.3em;
}

div.form-group label .required{
  color: red;
}

div.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 80px;
  min-height: 75%;
}

div.content#home {
  width: 60%;
  font-size: 1.3em;
}

div.btn-group {
  margin-bottom: 10px;
  width: 100%;
}

div.btn-group input {
  margin-left: 90%;
}

div.button-group-fixed {
  position: fixed;
  top: 30%;
  left: 87%;

}
/***********   FORM GROUP END   ************/

/***************************************
            *   LOGIN FORM   *
 ***************************************/
div.modal-content div#loginMsg {
  text-align: center;
  color: red;
}
/***********   FORM GROUP END   ************/

/***************************************
            *   HEADINGS   *
 ***************************************/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 10px;
}
/***********   HEADINGS END   ************/

/***************************************
            *   MESSAGES AND COLORS   *
 ***************************************/
ul.messages {
  list-style-type: none;
  text-align: center;
  font-size: 1.5em;
  top: 50px;
  position: absolute;
  width: 100%;
}

ul.messages li {
  text-align: center;
}
.error {
  color: red;
}
.success {
  color: green;
}
.warning {
  color: orange;
}
.info {
  color: blue;
}
/***********   MESSAGES AND COLORS END   ************/

/***************************************
            *   MULTISELECT WIDGET   *
 ***************************************/

 .form-group .selector {
  width: 100%;
 }
.selector-available , .selector-chosen {
  border: solid #ccc 1.5px;
  border-radius: 5px;
  overflow-wrap: break-word;
  width: 48%;
}
.selector-available select, .selector-chosen select{
  border: 0px;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  padding: 10px;
}
.selector .selector-available input, .selector .selector-chosen input{
  width: 90%;
}
.selector-available h5, .selector-chosen h5 {
  font-weight: 700;
  font-size: 1em;
}

a.selector-chooseall, a.selector-clearall {
  display: inline;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/***********   MULTISELECT WIDGET END   ************/

/*********** TOGGLE SWITCH ***********************/
.switch {
  position: relative;
  display: block;
  vertical-align: top;
  float: right;
  width: 150px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 150px;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #337ab7;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: white;
  /*text-shadow: 0 1px rgba(255, 255, 255, 0.5);*/
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  /*text-shadow: 0 1px rgba(0, 0, 0, 0.2);*/
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #5cb85c;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 120px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

/************* TOGGLE SWITCH END ***************/

/********* Tabs **********/

.nav-tabs {
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: 700;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border-left: 1px solid #4d4d4d;
  border-top: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
  border-bottom: 1px solid #999999;
}

.nav-tabs>li>a {
  border: 1px solid #999999;
  background-color: #e6e6e6;
}

