/*
 * Special styles for the landing page
 */
* {
}

#home header {
  margin: 10rem 0;
}


#home h1, #home h2, #home h3 { color: black; }


#home h1 {
  font-size: 3rem;
  line-height: 130%;
  margin: 3rem 0;
  padding: 0;
}


#home h2 {
  font-size: 2.6rem;
  line-height: 130%;
  margin: 3rem 0 1rem 0;
  padding: 0;
}


#home h3 {
  font-size: 2rem;
  line-height: 130%;
  text-transform: none;
  text-align: left;
  margin-top: 2rem;
}


#home a:hover {
  text-decoration: none;
}


#home .tagline {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2rem;
  font-size: 1.7rem;
  line-height: 160%;
  text-transform: none;
  color: black;
}


#home img.institution {
  height: 65px;
  margin: 20px 40px 40px 40px;
}


#home hr {
  width: 35em;
  border-top: 1px solid #999;
}


#home .ctstem-content {
  height: auto;
  margin: 0 auto;
  min-width: 650px;
  width: 75%;
  color: black;
}


#home .ctstem-content p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 150%;
  text-align: justify;
  margin: 1rem;
}


#home img.section-splash {
  margin: 0 0 7rem 0;
  width: 100%;
}


#home #offerings {
  margin: 10rem 0 0 0;
  padding: 5rem 0 10rem 0;
  background-color: #eee;
}


#home .offering {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding: 20px;
  margin: 0;
  text-align: left;
}


#home .offering p {
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}


#home #practices {
  margin: 0;
  padding: 0;
}

#home #practices #video {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

#home .practice {
  margin: 4rem 0 0 1rem;
  display: block;
}


#home .practice p {
  font-size: 1.5rem;
  margin: 0;
  width: 75%;
}

#home #assessments {
  margin: 0 0 5rem 0;
}
