/* ----------- smartphone ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 667px) {
  body {
    font-size: 8px !important;
  }
}
@media only screen and (min-width: 668px) and (max-width: 767px) {
  body {
    font-size: 8.5px !important;
  }
}
/* ----------- tablet ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 9px !important;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  body {
    font-size: 9.5px !important;
  }
}
/* ----------- laptop and desktop ----------- */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  body {
    font-size: 10px !important;
  }
}
@media screen and (min-width: 1601px) and (max-width: 1919px) {
  body {
    font-size: 10.5px !important;
  }
}

/* ----------- larger screens ----------- */
@media screen and (min-width: 1920px) {
  body {
    font-size: 11px !important;
  }
}
