/***************************************
            *   MESSAGES AND COLORS   *
 ***************************************/
ul.messages {
  list-style-type: none;
  font-size: 1.5em;
  width: 100%;
  position: fixed;
  top: 70px;
  z-index: 1002;
  padding-left: 0;
}

ul.errorlist {
  list-style-type: none;
  padding-left: 0;
  padding-top: 0.5em;
  font-size: 1.4em;
}
table ul.errorlist {
  font-size: inherit !important;
}

div.modal .msg {
  padding: 0 15px;
  text-align: center;
}
ul.messages li {
  text-align: center;
  padding: 0.5em 0;
}
ul.messages i {
  position: absolute;
  right: 1em;
  top: 0.5em;
  color: gray;
  cursor: pointer;
}

ul.errorlist li, ul.messages li {
  line-height: 1em;
}
.error {
  color: var(--ctstem-color-red);
}
.success {
  color: var(--ctstem-color-green);
}
.warning {
  color: var(--ctstem-color-orange);
}
.info {
  color: var(--ctstem-color-blue);;
}
.default {
  color: black;
}
.help {
  font-size: 1.2em;
  font-style: italic;
}

#signup_note {
  text-align: center;
  padding: 0.25em 0;
  font-size: 1.5em;
}

