/***************************************
            *   MESSAGES AND COLORS   *
 ***************************************/
ul.messages {
  list-style-type: none;
  font-size: 1.5em;
  width: 100%;
  position: fixed;
  top: 90px;
  z-index: 99;
}

ul.messages li {
  text-align: center;
  padding: 0.5em 0;
}
.error {
  color: red;
}
.success {
  color: green;
}
.warning {
  color: orange;
}
.info {
  color: blue;
}
.help {
  font-size: 1.2em;
  font-style: italic;
}

#signup_note {
  text-align: center;
  padding: 0.25em 0 0.75em 0;
  font-size: 1.5em;
}
