/***************************************
            *   MODAL FORM   *
 ***************************************/
 div.modal div.modal-dialog {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  margin-top: 10em;
}
div.modal div.modal-dialog hr{
  border-top: 2px solid var(--ctstem-color-light-gray);
}
div.modal div.modal-dialog div.hr {
  flex: 0 0 45%;
}
div.modal div.modal-dialog div.or {
  flex: 0 0 10%;
}

div.modal .modal-sm {
  width: 37em;
}
div.modal .modal-md {
  width: 70em;
}

div.modal .btn {
  margin-bottom: 0.5em !important;
}

div.modal#terms {
  z-index: 2000;
}
div.modal#register input[type="checkbox"] {
  zoom: 2;
}
div.modal#register #agree_terms {
  display: table !important;
}
div.modal#register #agree_terms #agree, div.modal#register #agree_terms #terms {
  display: table-cell !important;
  vertical-align: middle !important;
  margin: 0 1em 0 0 !important;
}
div.modal #recaptcha {
  width: auto !important;
  max-width: none !important;
}
div.modal-content {
  max-height: 90%;
  overflow-y: auto;
  padding: 0 1em;
  border-radius: 3px;
  box-shadow: -0.8em 0.8em var(--ctstem-color-dark-gray);
}
div.modal-content div.modal-header {
  border-bottom: 0;
}
div.modal-content div.modal-header .close{
  font-size: 6em;
}
div.modal-content div.modal-footer {
  border-top: 0;
}
div.modal-content div.results{
  padding: 0 2em 1em 2em;
  height: auto;
  max-height: 50em;
  overflow-y: auto;
  position: relative;
  margin-bottom: 1em;
}
div.modal-content div.results div.assignment_status, div.assignment_table div.assignment_status{
  font-weight: bold;
}

div.modal-content div.results td.public {
  background: url(/static/img/logo/svg/dark/logomark_social.svg) center / 5em no-repeat;
  width: 5em;
}
div.modal-content span.time {
  color: var(--ctstem-color-red);;
}

div.modal-content div.link {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  line-height: 1.25em;
  overflow-wrap: break-word;
  padding: 0 5%;
}

div.modal-content div.modal-body p {
  font-size: 1.5em;
}

div.modal-content div#widget-div {
  vertical-align: middle !important;
}

/***** Consent Form Modal *****/
div.modal#consent div.modal-content form#consentForm div.modal-body{
  padding: 2.5em 2.5em 1em 2.5em;
}

div.modal#consent div.modal-content form#consentForm div.modal-body  div.body{
  font-size: 1.5em;
}
div.modal#consent div.modal-content form#consentForm div.modal-body div.consent {
  max-height: 30em;
  overflow-y: auto;
  border: 2px solid #ccc;
  margin: 2em 1em;
  padding: 1em;
}
div.modal#consent div.modal-content form#consentForm div.modal-body div.consent div.header {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

div.modal#consent div.modal-content form#consentForm div.modal-body div.form-group{
  margin-bottom: 0em !important;
}
div.modal#consent div.modal-content form#consentForm div.modal-footer div.form-group button{
  margin-bottom: 0em !important;
}
/***** ********* *****/

div.modal#questionModal div.modal-content form#questionSearchForm div.form-inline {
  display: flex;
  flex-wrap: wrap;
}
div#publicQuestionResults caption,
div#privateQuestionResults caption {
  font-size: 1.5em;
}

div.modal .form-group {
  margin-bottom: 1.5em;
}
div.modal .form-group.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.modal .form-group.button {
  padding: 0.5em 0;
}
div.modal .form-group.button a{
  width: 100%;
}
/***** ********* *****/

div.modal .form-group.button.right {
  text-align: right;
}
@media only screen and (min-width: 768px) {
  div.modal .col-container {
    display: flex !important;
    justify-content: space-between;
  }
  div.modal .col-container.center {
    align-items: center;
  }
  div.modal .col-container .col {
    width: 30em !important;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  div.modal .col-container {
    display: block !important;
  }
  div.modal .col {
    display:inline-block !important;
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
div.modal-content div.modal-footer div.extra {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
div#reset_password .modal-content .modal-body .form-group div {
  font-size: 1.5em;
}

div#profile .modal-content .modal-body {
  font-size: 1.3em;
  font-family: "proxima-nova", sans-serif;
}
div#profile .modal-content .modal-body h4{
  text-align: left !important;
}
div#profile .modal-content .modal-body div {
  margin-bottom: 0.5em;
}

div.modal-xlg {
  width: 1024px;
}
div.modal-xxlg {
  width: 1200px;
}
div.bootbox.modal .modal-title {
  font-size: 2.4em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul#id_student-consent {
  list-style: none;
}
ul#id_student-consent li {
  margin-bottom: 1em;
}

.popover {
    max-width: 80%;
    width: auto;
    position: absolute;
    z-index: 1030;
    display: block;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
}

.popover-title, .popover-content {
    padding: 8px;
    /*color: #ffffff;*/
    text-align: left;
    text-decoration: none;
    /*background-image: linear-gradient(to bottom, #353535, #414141);*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.popover-content div {
  margin-bottom: 1em;
}
.popover-title {
    text-align: center;
}
.info[rel="popover"] {
  cursor: pointer;
  color: inherit;
}

/***** FEEDBACK MODAL *****/
#feedbackModal .emoji_container {
  display: none;
}
#emojiModal .emojis,
#feedbackModal .emojis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5em;
  padding-top: 1em;
}
#feedbackModal .emojis {
  height: 15em;
  overflow-y: scroll;
}
.emojis .emoji {
  font-size: 3rem;
  height: auto;
  cursor: pointer;
  padding: 0.5em 0.25em;
}
.emojis .emoji:hover {
  background-color: var(--ctstem-color-light-gray) !important;
}
#feedbackModal .emoji_link {
  text-align: right;
}
a.emoji-modal {
  float: right;
  font-size: 1.5em;
  margin-top:.5em;
}

div.modal .form-control {
  font-size: 1.6em;
}
div.modal select.form-control {
  width: 100% !important;
  height: auto;
}
