@media print {
  body {
    margin: 2cm;
    font-family: "proxima-nova", sans-serif;
  }
  .for_screen {
    display: none !important;
  }
  .for_print {
    display: block !important;
  }
  div.content.single_page_preview#preview .row {
    margin: unset !important;
  }
  div.content.single_page_preview#preview span.response_label {
    font-size: unset;
    font-weight: unset;
  }
  div.content.single_page_preview#preview span.other_response {
    display: inline-block;
  }
  div.content.single_page_preview#preview table.table th {
    vertical-align: middle !important;
    background-color: #666666 !important;
    color: #e5e5e5 !important;
  }

  div.content.single_page_preview#preview img.for_print {
    width: 900px;
    height: auto;
  }
  div.content.single_page_preview#preview img.image_option {
    width: 300px;
    height: auto;
  }

  div.content.single_page_preview#preview iframe,
  div.content.single_page_preview#preview video {
    max-width: 300px !important;
    max-height: 200px !important;
  }
  div.content.single_page_preview#preview div.embedded_url {
    display: inline-block;
  }
  div.content.single_page_preview#preview .link {
    text-decoration: underline;
    color: #00ADFF !important;
  }

  div.content.single_page_preview#preview .page-break {
    page-break-after: always;
  }

  div.content.single_page_preview#preview #toc ul,
  div.content.single_page_preview#preview ol {
    list-style-type: none;
    padding-left: 0;
  }
  /* LIKERT ITEM SET */
  table.likert .likert-option {
    font-size: 0.7em !important;
    word-break: break-all;
  }
  th.likert-instructions {
    font-size: 0.7em !important;
  }

}


