canvas {
  border: 1px solid #ccc;
  background-size: 100% 100% !important;
  max-width: 100%;
  width: 900px;
 }
.sketch_tools { margin-bottom: 10px; }
.sketch_tools a {
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-weight: bold;
}
.activeTool {
  border: solid 5px #f00;
  background : yellow;
}

.activeSize {
  border-style:solid !important;
  border-color:red !important;
  border-width:5px !important;
}

.activecolor  {
  border-style:solid !important;
  border-color:amber !important;
  border-width:5px !important;
}

.popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}
