/***************************************
            *   TABLE VIEW   *
 ***************************************/
 table.table {
  margin: auto;
  border-collapse: separate;
  border: inherit !important;
  position: relative;
}
table.table thead {
  /*font-family: 'Montserrat, sans-serif';*/ /*'QuaTrocento Regular';*/
  font-size: 1.5em;
  font-weight: 400;
}
table.table thead tr#filterrow th{
  font-size: 1em;
}
table.table thead tr#filterrow th input{
  width: 100%;
}
table.table tbody {
  /*font-family: 'Roboto Condensed Light';*/
  font-size: 1.4em;
}
table.table th {
  vertical-align: middle !important;
  position: sticky;
  top: 92px;
  z-index: 1000;
  background-color: #666666;
  color: #e5e5e5 !important;
}
div.response table.table th {
  position: unset;
}
table.table th.top {
  vertical-align: top !important;
}
table.table td {
  vertical-align: middle !important;
  z-index: 1;
}
table.table td.status {
  font-weight: bold;
}
table.table td > div.title {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1em;
}
div.dt_input {
  display: block;
  max-width: 100%;
  overflow-x: scroll;
}

table.table.dt thead tr:not(#filterrow),
table.table.inner_table thead tr,
table.table.inner_table tbody tr th,
table.table.unit_lesson thead tr {
  background-color: #666666;
  color: #e5e5e5;
}
table.table.inner_table {
  margin-top: 1em;
}
table.table.inner_table thead tr {
  font-size: 0.9em;
}
table.table.inner_table tbody tr {
  font-size: 0.9em;
}

div#feedback table.table.inner_table tr, div#question_review table.table.inner_table tr {
  font-size: 14px !important;
}
table.table.unit_lesson {
  font-size: 0.7em;
}
table.table thead tr:not(#filterrow) th{
  text-align: center;
}

table.table thead a {
  color: #e5e5e5 !important;
}
table.table.inner_table thead th {
  top: 0;
}

table.table.inner_table img {
  max-width: 50% !important;
  height: auto !important;
}
table.table[id^='subcategory_'] thead {
  background-color: #5a3163;
  color: #f2f2f2;
}

table.table#assignments {
  text-align: center;
}
table.table#assignments td.thumb {
  width: 7%;
  vertical-align: middle;
}

table.table.sub {
  display:none;
  max-width: 60%;
  min-width: 40%;
  text-align: center;
}
table.table.sub a:hover {
  cursor: pointer;
}

table.table#assignment_info, table.table#feedback_header {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2em;
}

table.table#question_header {
  text-align: left;
  margin-bottom: 2em;
}

table.table#assignment_info .switch {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

table.table#feedback_header {
  width: 100%;
}

table.table#feedback_header td {
  width: auto;
}

table.table#subcategory_1 thead {
  background-color: #990d00;
  color: #f2f2f2;
}

table.table#subcategory_2 thead {
  background-color: #20608e;
  color: #f2f2f2;
}

table.table#subcategory_3 thead {
  background-color: #a66806;
  color: #f2f2f2;
}

table.table#subcategory_4 thead {
  background-color: #5d7f19;
  color: #f2f2f2;
}

table.table#assignments img.icon {
  width: 50%;
}
table.table#curricula td {
  padding: 1em;
}
table.table#curricula td.icon,  table.table#curricula td.action{
  text-align: center;
}
table td.action a {
  display: inline-block;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin: 0.5rem 1rem 0 0;
  background-color: transparent;
  color: black;

}
table td.action a:hover {
  color: rgb(70, 160, 215);
  text-decoration: none;
  cursor: pointer;
}
table td.action a.fa-trash:hover { color: red; }

table.table#curricula td.action a.fa-star {
  color: orange;
}
table.table#curricula td.information div.row {
  margin-bottom: 0.5em;
}
table.table#curricula td.information div.title {
  font-weight: bold;
}

table.table#team img.icon {
  max-width: 100px;
  height: auto;
}

table.mc_horiz_question_table {
  width: 100%;
  font-size: 0.8em;
}
table.mc_horiz_question_table:nth-of-type(odd){
  background-color: white;
}
table.mc_horiz_question_table td {
  padding: 0.5em;
}
table.mc_horiz_question_table  td.mc_horiz_question {
  width: 70%;
}
table.mc_horiz_question_table  td:not(.mc_horiz_question) {
  width: 6%;
  text-align: center;
}
table.table ul {
  padding-left: 1em;
}

table.table tr.odd {
  background-color: #f9f9f9;
}
table.table tr.even {
  background-color: white;
}
table.table.question th.order {
  width: 5%;
}
table.table.question th.question_text {
  width: 65%;
}
table.table.question th.referenced_by {
  width: 10%;
}
table.table.question th.optional {
  width: 5%;
}
table.table.question td.optional, table.table.question td.question_edit {
  text-align: center;
}
table.table th .fa-sort, table.table th .fa-sort-asc, table.table th .fa-sort-desc {
  float: right;
  color: white;
  font-size: 1.2em;
}
table.table th .fa-sort-asc, table.table th .fa-sort-desc {
  color: var(--ctstem-color-green);
}

table.table td.donotwrap {
  white-space: nowrap;
}
table caption {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

/*
 * PUBLICATION LISTS
 */
table#publications {
  color: #777;
  width: 100%;
}
table#publications td {
  padding: 0.5em 0;
}
table#publications td.description {
  width: 93%;
  line-height: 1.5em;
  padding-right: 0.5em;
}
table#publications td.description p {
  display: inline;
}
table#publications td.action {
  width: 7%;
}

div.dashboard_container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  height: 80vh;
}

table#group_curriculum_dashboard td.assignment_status_chart {
  vertical-align: unset !important;
  width: 13em;
}

div.dashboard_container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
div.dashboard_container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

div.dashboard_container .student_col {
  position: sticky;
  left: 0;
  background-color: #666666 !important;
  color: white;
}
div.dashboard_container thead th {
  top: 0;
}
div.dashboard_container thead th.student_col {
  z-index: 1001;
}
div.dashboard_container tbody th.student_col {
  z-index: 999;
}

table.table#page_reorder tr.current {
  background-color: var(--ctstem-color-pale-gray);
}

table.table#page_reorder td.page_number, table.table#page_reorder td.action {
  text-align: center;
}
