.tile {
  border: 2px solid white;
  margin: 1em;
  border-radius: 0.5em;
  width: 35em;
  /*height: 45em;*/
 }

.tile .icon {
  background-color: var(--ctstem-color-light-gray);
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  /*height: 24em;*/
}
.tile .icon img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  cursor: pointer;
}

.tile .trash {
  margin: auto;
  position: absolute;
  top: 15%; left: 0; bottom: 0; right: 0;
  font-size: 11em;
  color: var(--ctstem-color-red);
  z-index: 999;
}

.tile .detail {
  background-color: white;
  height: 21em;
  text-align: left;
  padding: 1em;
  position: relative;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.tile .detail .tags {
  position: absolute;
  bottom: 0.8em;
  right: 0.8em;
  font-size: 1.5em;
  display: flex;
  width: 5em;
  justify-content: flex-end;
  align-items: center;
}
.tile .detail .tags .fa, .tile .detail .tags .fas {
  margin-right: 0.75em;
}
.tile .detail .tags .version {
  font-size: 1em;
}
.tile .detail .type {
  text-transform: uppercase;
  margin-bottom: 0.6em;
  font-size: 1.4em;
  font-weight: 600;
}
.tile .detail .period {
  color: #7d7d7d;
  margin-bottom: 1.6em;
  font-size: 1.3em;
  font-weight: 400;
}
.tile .detail .title {
  font-size: 1.7em;
  font-weight: 600;
  line-height: 1em;
}
.tile .detail .others {
  color: #ccc;
  position: absolute;
  bottom: 0.8em;
  font-size: 1.3em;
  font-weight: 400;
}

.tile .detail .others .author {
  margin-bottom: 0.6em;
}
.tile .detail .action {
  position: absolute;
  bottom: 0.8em;
  right: 0.8em;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.25em 1em;
  width: 10em;
  display: flex;
  justify-content: space-between;
}
.tile .detail .action .fa-code-fork {
  color: black;
  font-size: 2em;
  margin-top: 2px;
}
.tile .detail .action .fa-star-o {
  color: #ccc;
  font-size: 2em;
  margin-top: 2px;
}
.tile .detail .action .fa-star {
  color: var(--ctstem-color-yellow);
  font-size: 2em;
  margin-top: 2px;
}
.tile .detail .action .fa-long-arrow-right {
  color: var(--ctstem-color-blue);
  font-size: 2.5em;
}
