.tile {
  border: 2px solid white;
  margin: 1em;
  border-radius: 4px;
  width: 35em;
  /*height: 45em;*/
  box-shadow: -0.8em 0.8em var(--ctstem-color-medium-blue);
}

.tile .icon {
  background-color: lightgray;
  /*height: 24em;*/
}
.tile .icon img {
  max-width: 100%;
  max-height: 100%;
}

.tile .detail {
  background-color: white;
  height: 21em;
  text-align: left;
  padding: 1.6em;
  position: relative;
}
.tile .detail .type {
  text-transform: uppercase;
  margin-bottom: 0.6em;
  font-size: 1.4em;
  font-weight: 600;
}
.tile .detail .period {
  color: #7d7d7d;
  margin-bottom: 1.6em;
  font-size: 1.3em;
  font-weight: 400;
}
.tile .detail .title {
  font-size: 1.7em;
  font-weight: 600;
  line-height: 1em;
}
.tile .detail .others {
  color: #ccc;
  position: absolute;
  bottom: 0.8em;
  font-size: 1.3em;
  font-weight: 400;
}
.tile .detail .others .author {
  margin-bottom: 0.6em;
}
.tile .detail .action {
  position: absolute;
  bottom: 0.8em;
  right: 0.8em;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.25em 1em;
  width: 10em;
  display: flex;
  justify-content: space-between;
}
.tile .detail .action .fa-code-fork {
  color: black;
  font-size: 2em;
  margin-top: 2px;
}
.tile .detail .action .fa-star-o {
  color: #ccc;
  font-size: 2em;
  margin-top: 2px;
}
.tile .detail .action .fa-star {
  color: var(--ctstem-color-yellow);
  font-size: 2em;
  margin-top: 2px;
}
.tile .detail .action .fa-long-arrow-right {
  color: var(--ctstem-color-blue);
  font-size: 2.5em;
}
