{% extends "ctstem_app/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
  <div class="content">
  	<form method="post" action="{{ url }}" id="password_reset">
  		{% csrf_token %}
      <div class="table" id="password">
    		{% for field in form %}
          <div class="form-group">
            <label for="id_{{field.name}}">{{ field.label|title }} {% if field.field.required %}(<span class="required">*</span>){% endif %} </label>
            <div>
              {{field}}
            </div>
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
  		  <input type="submit" value="{% trans "Recover my password" %}" class="btn btn-info">
      </div>
  	</form>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('input[type="text"]').addClass('form-control');

      $('input[type="submit"]').on("click", function(e){
        e.preventDefault();
        var username_email = $('input#id_username_or_email').val();
        //check if username was entered
        if(username_email.indexOf('@') == -1){
          //convert only usernames to lowercase
          $('input#id_username_or_email').val(username_email.toLowerCase())
        }
        $('form#password_reset').submit();
      });
    });
  </script>
{% endblock %}
